Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

implement claude feedback
  apps/assessments/shared/package.json
  apps/assessments/shared/variantPicker.js
  apps/assessments/shared/variantPicker.test.js
Due: none

remove trigger comment, deliberately skip pr previews on forked branches
  .github/workflows/ci.yml
  apps/assessments/roar-pa/src/index.js
Due: none

Lint
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update tests
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

enh: Add PR preview links when assessment changes are detected (#2027)
  .github/workflows/ci.yml
Due: none

Remove console logs
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add roam-apps config, domains, score-names, and variants in assessment-schema
  package-lock.json
  packages/assessment-schema/src/roam-apps/config.ts
  packages/assessment-schema/src/roam-apps/domains.ts
  packages/assessment-schema/src/roam-apps/index.ts
  packages/assessment-schema/src/roam-apps/score-names.ts
  packages/assessment-schema/src/roam-apps/variants.test.ts
  packages/assessment-schema/src/roam-apps/variants.ts
Due: none

switch to assessment:preview environment
  .github/workflows/ci.yml
Due: none

consolidate pr previews into single comment
  .github/workflows/ci.yml
Due: none

revert back to assessment:staging environment
  .github/workflows/ci.yml
Due: none

remove deprecated comment in ci.yml
  .github/workflows/ci.yml
Due: none

remove duplicate links in bot comment
  .github/workflows/ci.yml
Due: none

update bot comment
  .github/workflows/ci.yml
Due: none

Implement score-entries
  packages/assessment-schema/src/roam-apps/index.ts
  packages/assessment-schema/src/roam-apps/score-entries.test.ts
  packages/assessment-schema/src/roam-apps/score-entries.ts
  packages/assessment-schema/src/roam-apps/score-names.ts
Due: none

Refactor firebase anon sign in
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/roam-apps/webpack.config.cjs
  package-lock.json
Due: none

updating spanish tabs text
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

enh: Add variant picker to assessments in staging/dev environments (#2028)
  .github/workflows/ci.yml
  apps/assessments/roar-letter/eslint.config.mjs
  apps/assessments/roar-letter/serve/serve.js
  apps/assessments/roar-levante-tasks/eslint.config.mjs
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-multichoice/eslint.config.mjs
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-readaloud/eslint.config.mjs
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-sre/eslint.config.mjs
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-swr/eslint.config.mjs
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-ran/eslint.config.mjs
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/shared/eslint.config.mjs
  apps/assessments/shared/package.json
  apps/assessments/shared/variantPicker.js
  apps/assessments/shared/variantPicker.test.js
  apps/assessments/shared/vitest.config.js
  package-lock.json
Due: none

Fix missing roam-alpaca run_scores and uncomment resolveTaskId
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.js
Due: none

adding displayCategory and displayScores for the new added apps
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/swr-de.ts
  apps/backend/src/services/scoring/configs/swr-it.ts
  apps/backend/src/services/scoring/configs/swr-pt.ts
  apps/backend/src/services/scoring/configs/trog.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove hardcoded labels, added tests, and completed the missing configs
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

npm i
  package-lock.json
Due: none

fixing tests
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Run npm run format
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.js
Due: none

Use constants, create reusable functions
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Create tests for new util function
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.10
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix lint error by adding roam-apps to exports
  package-lock.json
  packages/assessment-schema/package.json
Due: none

Update import statements
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

reconcile schema and backend scoring configs
  apps/backend/src/services/scoring/configs/fluency.json
  apps/backend/src/services/scoring/configs/roam-alpaca.json
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/subscore-columns.test.ts
  packages/assessment-schema/src/roam-apps/domains.ts
  packages/assessment-schema/src/roam-apps/score-entries.test.ts
  packages/assessment-schema/src/roam-apps/score-entries.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use constants where possible
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix serve.js, move roam-firekit-facade
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.js
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.test.js
  apps/assessments/roam-apps/src/sdk/score-entries.js
Due: none

replace string literals with assessment-schema constants at scores boundary
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.js
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.test.js
  apps/assessments/roam-apps/src/tasks/fluency/helpers/initStore.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.js
Due: none

set assessment-schema version
  apps/assessments/roam-apps/package.json
Due: none

format, fresh install
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.test.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.js
  package-lock.json
  packages/assessment-schema/src/roam-apps/config.ts
  packages/assessment-schema/src/roam-apps/domains.ts
  packages/assessment-schema/src/roam-apps/index.ts
  packages/assessment-schema/src/roam-apps/score-entries.test.ts
  packages/assessment-schema/src/roam-apps/score-entries.ts
  packages/assessment-schema/src/roam-apps/score-names.ts
  packages/assessment-schema/src/roam-apps/variants.ts
Due: none

Score Report: Add a per-task display descriptor to the score-report responses (#2029)
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/phonics.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/sre.ts
  apps/backend/src/services/scoring/configs/swr-de.ts
  apps/backend/src/services/scoring/configs/swr-es.ts
  apps/backend/src/services/scoring/configs/swr-it.ts
  apps/backend/src/services/scoring/configs/swr-pt.ts
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/configs/trog.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/scoring.types.ts
  package-lock.json
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add normed spanish assessments charts and tabs (#2017)
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

replace hard-coded json config with .ts enforced config
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.test.js
  apps/backend/src/services/scoring/configs/fluency.ts
  apps/backend/src/services/scoring/configs/roam-alpaca.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

delete old configs
  apps/backend/src/services/scoring/configs/fluency.json
  apps/backend/src/services/scoring/configs/roam-alpaca.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

chore: update roav-apps to contemplate portuguese language
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
