Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

exclude readloud for retake (#1394)
  apps/dashboard/src/constants/tasksExcludedFromRetake.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Updating readloud (#1396)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Adding more information to the User Feedback button (#1387)
  apps/dashboard/src/sentry.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

WIP making partners page
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

WIP making partners pages
  apps/dashboard/src/components/auth/SignInPartners.vue
  apps/dashboard/src/pages/SignInPartners.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update query to access subcollection
  apps/dashboard/src/helpers/query/administrations.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update rules to allow access to administration subcollections
  apps/dashboard/firebase/admin/firestore.rules
Due: none

whitespace
  apps/dashboard/firebase/admin/firestore.rules
Due: none

Update rules for administration stats subcollection
  apps/dashboard/firebase/admin/firestore.rules
Due: none

Prevent users from resubmitting users multiple times (#1400)
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor administration orgs into subcollections (#1386)
  apps/dashboard/firebase/admin/firestore.rules
  apps/dashboard/package.json
  apps/dashboard/src/helpers/query/administrations.js
  apps/dashboard/src/helpers/query/administrations.test.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update version in apps/dashboard/package.json in preparation for npm version minor
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.16.0
  package-lock.json
  package.json
Due: none

Only show settings button if user is not nycps user
  apps/dashboard/src/composables/useIsNycpsUser.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add docstring to Nycps composable
  apps/dashboard/src/composables/useIsNycpsUser.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix navigation tests
  apps/dashboard/src/composables/useIsNycpsUser.test.js
  apps/dashboard/src/containers/Navigation/Navigation.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`ENH` NYCPS Settings Page (#1403)
  apps/dashboard/src/composables/useIsNycpsUser.js
  apps/dashboard/src/composables/useIsNycpsUser.test.js
  apps/dashboard/src/containers/Navigation/Navigation.test.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update support categories returned by getDialColor using scoringVersions
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update if statements to reject null and undefined in getSupportLevel
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

readaloud rerouting back but not doing complete
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update support categories for new student score report
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove unrelated code for pr 1404
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add palabra and frase to individual score reports
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Ensure palabra & frase come after en assessments
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix levante task launcher
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Task #643 Disable edit assignment and enable delete assignment (#650)
  src/components/CardAdministration.vue
  src/pages/HomeAdministrator.vue
  src/router/index.ts
Due: none

Task picker Search Update (#642)
  src/components/TaskPicker.vue
  src/helpers/query/administrations.js
Due: none

Fixing progress report: User type, creator name, and username. (#639)
  src/components/RoarDataTable.vue
  src/helpers/query/assignments.js
  src/pages/ProgressReport.vue
Due: none

Update score card list style
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix letter values when numCorrect = 0 & numAttempted > 0 and missing phonics tag
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix letter-es values when numCorrect = 0 & numAttempted > 0
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding function to skip broken run docs
  apps/dashboard/src/helpers/query/assignments.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

modifying languageSelector component
  apps/dashboard/src/components/LanguageSelector.vue
  apps/dashboard/src/components/auth/SignInPartners.vue
  apps/dashboard/src/pages/SignInPartners.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

finished student and educator signin
  apps/dashboard/src/components/auth/SignInPartners.vue
  apps/dashboard/src/pages/SignInPartners.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixing language selector
  apps/dashboard/src/components/LanguageSelector.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

changing singin adding helper popOver and translations
  apps/dashboard/src/components/LanguageSelector.vue
  apps/dashboard/src/components/auth/SignIn.vue
  apps/dashboard/src/components/auth/SignInPartners.vue
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/pages/SignInPartners.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding translations to popOver
  apps/dashboard/src/components/LanguageSelector.vue
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/pages/SignInPartners.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

make signInPartners the main page and fix cypress login
  apps/dashboard/cypress/e2e/launch-admin/viewScoreReport.cy.js
  apps/dashboard/cypress/e2e/parent/default-tests/addChild.spec.cy.js
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/auth.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/individualReports.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/longitudinalChart.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/orgs.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/progressReports.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/cypress/e2e/partner-admin/network-tests/viewScoreReports-3G.spec.cy.js
  apps/dashboard/cypress/e2e/partner-admin/network-tests/viewScoreReports-HighLatency.spec.cy.js
  apps/dashboard/cypress/e2e/partner-admin/network-tests/viewScoreReports-LowBandwidth.spec.cy.js
  apps/dashboard/cypress/support/commands.js
  apps/dashboard/src/components/auth/SignIn.vue
  apps/dashboard/src/components/auth/SignInPartners.vue
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/pages/SignInPartners.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixing cypress tests
  apps/dashboard/cypress/e2e/partner-admin/default-tests/progressReports.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Hide score report and subscore tables for districts admin
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/pages/ProgressReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
