Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Remove unused imports
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Alias canCreateOrg to isSuperAdmin instead of re-wrapping in computed
  apps/dashboard/src/components/CreateOrgs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Filter catalog-absent variants out of bundle variant data
  apps/dashboard/src/components/TaskBundleCard/TaskBundleCard.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating test for new Clever UI
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix emulator first-navigation bounce by reading super-admin from /me
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add JSON file upload for variant parameters in create-variant form
  apps/dashboard/src/components/tasks/components/CreateVariantForm.vue
  apps/dashboard/src/helpers/parseVariantParametersFile.js
  apps/dashboard/src/helpers/parseVariantParametersFile.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cover array-entry rejection in variant params parser test
  apps/dashboard/src/helpers/parseVariantParametersFile.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Clarify super-admin fallback wording in nav guard comment
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixing the formula
  apps/backend/src/services/foundational-composite/foundational-composite.service.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

check for scoringVersion in scores.js when task id is espanol
  apps/assessments/roar-sre/src/experiment/scores.js
Due: none

tighten condition for useAgeForScoring
  apps/assessments/roar-sre/src/experiment/scores.js
Due: none

Migrate user-profile read queries to GET /v1/users/:id
  apps/dashboard/src/composables/queries/useUserDataQuery.js
  apps/dashboard/src/composables/queries/useUserDataQuery.test.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.test.js
  apps/dashboard/src/helpers/mappers/mapUser.js
  apps/dashboard/src/helpers/mappers/mapUser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Return nested studentData shape from useUserStudentDataQuery (fix Task players)
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Keep useUserDataQuery on Firestore for portal/consent/SSO consumers
  apps/dashboard/src/composables/queries/useUserDataQuery.js
  apps/dashboard/src/composables/queries/useUserDataQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add GET /groups (list) and GET /groups/:groupId (get) read endpoints (#1891)
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/groups.controller.ts
  apps/backend/src/controllers/utils/is-present.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/src/test-support/repositories/group.repository.ts
  apps/backend/src/test-support/route-test.helper.ts
  packages/api-contract/src/v1/groups/contract.ts
  packages/api-contract/src/v1/groups/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add POST /v1/users/import contract (bulk create/update/unenroll)
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add Firebase scrypt hashing util, findByEmails, and importUsers mock
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/utils/firebase-password-hash.test.ts
  apps/backend/src/services/user/utils/firebase-password-hash.ts
  apps/backend/src/test-support/mocks/firebase-admin.mock.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add GET /families/:familyId read endpoint (#1892)
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/controllers/families.controller.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/services/family/family.service.test.ts
  apps/backend/src/services/family/family.service.ts
  packages/api-contract/src/v1/families/contract.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add POST /v1/users/import service (create bin), route, and controller
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/index.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/services/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add GET /classes/:classId read endpoint (#1893)
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/classes/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Apply review nits: batch Firebase getUsers, within-batch PID dedupe, comments
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/test-support/mocks/firebase-admin.mock.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Document FIREBASE_SCRYPT_* env vars for the bulk-import create bin
  apps/backend/.env.example
Due: npx dotenvx ext precommit

Omit absent location and identifier fields when flattening backend org detail
  apps/dashboard/src/composables/queries/useDistrictsListQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Make user factory emails unique to avoid integration-test collisions
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add UserRepository.endAllEnrollments for the bulk-import unenroll bin
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement the bulk-import unenroll bin
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply unenroll-bin review nits: fix stale test, add class-skip + groups coverage
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate district read composables to the ts-rest backend client (#1894)
  apps/backend/src/test-support/factories/user.factory.ts
  apps/dashboard/src/composables/queries/useDistrictSchoolsQuery.js
  apps/dashboard/src/composables/queries/useDistrictSchoolsQuery.test.js
  apps/dashboard/src/composables/queries/useDistrictsListQuery.js
  apps/dashboard/src/composables/queries/useDistrictsQuery.js
  apps/dashboard/src/composables/queries/useDistrictsQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement the bulk-import update bin (profile + auth fields)
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply update-bin review fixes: reject archived users, flag membership deltas, fix nameMiddle
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

F5: cut RegisterStudents CSV upload over to POST /v1/users/import
  apps/dashboard/src/helpers/csvRowToImportRow.js
  apps/dashboard/src/helpers/csvRowToImportRow.test.js
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Implement update-bin membership reconciliation with FGA sync
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate school read composables to the ts-rest backend client (#1895)
  apps/dashboard/src/composables/queries/useSchoolClassesQuery.js
  apps/dashboard/src/composables/queries/useSchoolClassesQuery.test.js
  apps/dashboard/src/composables/queries/useSchoolsQuery.js
  apps/dashboard/src/composables/queries/useSchoolsQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Apply reconciliation review fixes: transactional update + fail-safe FGA order
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement tests for plotting functions
  apps/dashboard/src/helpers/plotting.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix emulator first-navigation bounce by reading super-admin from /me (#1905)
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
