Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

solving type check
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove character slicing on y label
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Type Errors Fixed
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update raw score ranges and refactor getRawScoreRange tests to include new ranges
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete legacy Firestore individual-report query composables
  apps/dashboard/src/composables/queries/useUserAdministrationAssignmentsQuery.js
  apps/dashboard/src/composables/queries/useUserAdministrationAssignmentsQuery.test.js
  apps/dashboard/src/composables/queries/useUserLongitudinalRunsQuery.js
  apps/dashboard/src/composables/queries/useUserRunPageQuery.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove composite score columns from CSv export
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix PDF export error (#2098)
  apps/dashboard/src/components/reports/AtAGlanceCharts.vue
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Mock fetch for seedFirebaseAuthEmulator unit tests in firebase-emulator-test.ts
  apps/backend/src/test-support/firebase-emulator.test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

lint
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove the dead ScoreList legacy useScoreListData branch
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update directory structureexample in frontend-layer-architecture.md
  .ai/rules/frontend-layer-architecture.md
Due: none

Fix normed letter individual score report card dial color and value shown for grade >= 6
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update standard score test to use normed task
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update dial text display for normed letter runs
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix missing Palabra distribution graphs (#2097)
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update Picture Syntax and Inference TaskReport subheaders
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update raw score ranges and refactor getRawScoreRange tests to include new ranges (#2106)
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding spanish scores
  apps/backend/src/services/aggregation/aggregation.service.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating scoringversion for spanish apps
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Small bug fixes (#469). roar-levante-tasks: 153dd76, core-tasks: 2ea922c
  apps/assessments/roar-levante-tasks/src/styles/components/_buttons.scss
  apps/assessments/roar-levante-tasks/src/tasks/intro/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/matrix-reasoning/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/memory-game/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/afcMatch.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/legacyStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/stimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/appTimer.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/childSurveyResponses.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/afcStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/practiceTransition.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/repeatInstructions.ts
Due: none

allow downex tasks to run if language is es-AR (#468). roar-levante-tasks: 6b8db6c, core-tasks:447f241
  apps/assessments/roar-levante-tasks/src/taskStore/index.ts
  apps/assessments/roar-levante-tasks/src/tasks/memory-game/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/catTimeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/checkFallbackCriteria.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/checkLocale.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/index.ts
Due: none

Save input type ('mouse/keyboard' or 'touch') to trial data (#472). roar-levante-tasks: 070f385, core-tasks: 85f57b3
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
Due: none

Standardize mental rotation instructions for all ages (#458). roar-levante-tasks: 49565ab, core-tasks: 61b5941
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/catTimeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/trials/downexInstructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/trials/legacyInstructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/index.ts
Due: none

`[Fix]` Score Report Export Button (#2105)
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`[FIX]` Remove composite score columns from CSV export (#2107)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix individual score report cards for normed letter scores (#2110)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bug fixes for jun release (#477). roar-levante-tasks: f489794, core-tasks: f38c387
  apps/assessments/roar-levante-tasks/src/styles/abstracts/_mixins.scss
  apps/assessments/roar-levante-tasks/src/styles/components/_buttons.scss
  apps/assessments/roar-levante-tasks/src/styles/layout/_response-row.scss
  apps/assessments/roar-levante-tasks/src/styles/pages/_corsi-blocks.scss
  apps/assessments/roar-levante-tasks/src/styles/pages/_roar-inference.scss
  apps/assessments/roar-levante-tasks/src/tasks/child-survey/helpers/stimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/catTimeline.ts
Due: none

Limit math random start items to 3 trials of <= -3 difficulty (#481). roar-levante-tasks: 8e7a97a, core-tasks: 4ef2475
  apps/assessments/roar-levante-tasks/src/tasks/adult-reasoning/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/math/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/catTimeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/prepareCat.ts
Due: none

Fix es-CO and de-DE mental rotation (#485). roar-levante-tasks: 443a793, core-tasks: f4145cb
  apps/assessments/roar-levante-tasks/src/tasks/mental-rotation/catTimeline.ts
Due: none

Cherry-picked relevant code from commit 754246f (#486). roar-levante-tasks: 4b19bf5
  apps/assessments/roar-levante-tasks/src/tasks/math/trials/sliderStimulus.ts
Due: none

Add individual replay buttons to survey responses (#483). roar-levante-tasks: 406252a, core-tasks: 5d919fa
  apps/assessments/roar-levante-tasks/src/styles/abstracts/_colors.scss
  apps/assessments/roar-levante-tasks/src/styles/components/_buttons.scss
  apps/assessments/roar-levante-tasks/src/styles/layout/_containers.scss
  apps/assessments/roar-levante-tasks/src/tasks/child-survey/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/child-survey/helpers/stimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/heavyInstructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/legacyStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/getCorpus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/staggerButtons.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/afcStimulus.ts
Due: none

Improve responsiveness of sds response buttons and add touch listeners (#488). roar-levante-tasks: ac793b7, core-tasks: f94fe55
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/afcMatch.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/getCorpus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/index.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/isTaskFinished.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/wrapListeners.ts
Due: none

Remove unused or hardcoded strings (#489). roar-levante-tasks: 315d16a, core-tasks: 60e26ef
  apps/assessments/roar-levante-tasks/src/tasks/matrix-reasoning/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/afcMatch.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/heavyInstructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/legacyStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/stimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/addUtilityButtons.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/afcStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/feedback.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/finishExperiment.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/fullScreen.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/taskFinished.ts
  apps/assessments/roar-levante-tasks/src/utils/initPageSetup.ts
Due: none

fix(mental-rotation): prevent repeat instructions bug and erroring out of task immediately after instructions (#493). roar-levante-tasks: 32c554a, core-tasks: 4804c15
  apps/assessments/roar-levante-tasks/src/tasks/matrix-reasoning/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/matrix-reasoning/trials/instructions.ts
Due: none

SDS bugfixes (#495). roar-levante-tasks: 1ee6b5b, core-tasks: 4e38f5f
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/legacyStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/stimulus.ts
Due: none

Update same different selection default corpus and add optional chaining
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/appTimer.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
Due: none

Fix sds matching trials and missing final response (#503). roar-levante-tasks: 786d071, core-tasks: d806707
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/trials/afcMatch.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/appTimer.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/getStimulus.ts
Due: none

Minor improvements to buttons on touch screens (#502). roar-levante-tasks: 59aa1ad, core-tasks: c3ae563
  apps/assessments/roar-levante-tasks/src/styles/components/_buttons.scss
  apps/assessments/roar-levante-tasks/src/tasks/matrix-reasoning/trials/downexStimulus.ts
  apps/assessments/roar-levante-tasks/src/tasks/matrix-reasoning/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/handlePracticeButtons.ts
Due: none

Prevent end screen from being cut off (#508). roar-levante-tasks: ef2d0e3, core-tasks: 93deac3
  apps/assessments/roar-levante-tasks/src/styles/components/_buttons.scss
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/taskFinished.ts
Due: none

Use the same string keys for both audio and text in feedback trials (#509). roar-levante-tasks: 90ad279, core-tasks: 02730c2
  apps/assessments/roar-levante-tasks/src/tasks/math/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/memory-game/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/catTimeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/same-different-selection/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/trials/feedback.ts
Due: none
