Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix: add scoringVersion to the longitudinal charts (#1698)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update roar-utils package (#1701)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-readaloud to 1.4.2 (#1696)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix Longitudinal Reports and Export (#1564)
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/__snapshots__/ScoreCard.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update Roav MP to 0.2.5 (#1706)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix Clever cypress auth test (#1711)
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove unreachable v0 percentile cutoffs and add coverage for unnormed versions
  apps/backend/src/services/scoring/configs/sre-es.json
  apps/backend/src/services/scoring/configs/swr-es.json
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix imports in apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove unused imports
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address review: rename percentileMaxGrade, clarify getRawScoreThreshold JSDoc
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use consistent positive assertions in if guards
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

-run-related commands now accept and pass participantId to the API -update tests
  apps/backend/src/routes/runs.integration.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/commands/finish-run.command.test.ts
  packages/assessment-sdk/src/commands/finish-run.command.ts
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Fix tests failures passing valid run, to pass targetUser
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Expand progress tracking to 7-level status scheme with per-student completion (#1689)
  apps/backend/src/constants/progress-status.ts
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/enums/progress-status.enum.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- Added verifyUserAccess check to RunEventService - Updated Error Messages to Use ApiErrorMessage Enum - Added Authorization Test - Updated Command Constructor Calls
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/write-trial.command.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add config-driven scoring classification service (#1658)
  apps/backend/src/services/scoring/configs/letter.json
  apps/backend/src/services/scoring/configs/pa.json
  apps/backend/src/services/scoring/configs/phonics.json
  apps/backend/src/services/scoring/configs/roam-alpaca.json
  apps/backend/src/services/scoring/configs/sre-es.json
  apps/backend/src/services/scoring/configs/sre.json
  apps/backend/src/services/scoring/configs/swr-es.json
  apps/backend/src/services/scoring/configs/swr.json
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/scoring.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Updated all test expectations to include userId: 'participant-123' in the params object
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/write-trial.command.test.ts
Due: none

tests updates
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update expectation from UNPROCESSABLE_ENTITY to BAD_REQUEST
  apps/backend/src/routes/runs.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

The run is now created with the correct targetUserId
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Removed Redundant Try/Catch - Updated Contract Documentation - Added Test for Cross-User Run Creation
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run/run.service.ts
  packages/api-contract/src/v1/runs/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- Corrected Contract Description - Removed Dead Code - Added Test Coverage Gap Note
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run/run.service.ts
  packages/api-contract/src/v1/runs/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix duplicate JSDoc steps from merge conflict resolution
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Restored Ownership Verification - Removed False Positive Unit Test
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run/run.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- query the test database and verify the run ownership
  apps/backend/src/routes/runs.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Changed from getById(runId) to getById({ id: runId })
  apps/backend/src/routes/runs.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address review: extract shared types, simplify tree methods
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Import TreeNodeStats from api-contract rather than service
  apps/backend/src/controllers/administrations.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add API contract for score overview endpoint
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/reports/index.ts
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/index.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add report repository methods for score aggregation
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/test-support/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add report service getScoreOverview with FGA can_read_scores authorization
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Wire score overview controller method and route handler
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/routes/administrations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add service unit tests for getScoreOverview
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add controller unit tests for getScoreOverview
  apps/backend/src/controllers/administrations.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for score overview endpoint
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fill score overview test coverage gaps for edge cases and end-to-end paths
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address review: clarify controller type contract and cover site_admin tier
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address bot review: merge multiple taskId filters, short-circuit before DB, enrich error context
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Document supportLevels percentage-sum caveat and getAllStudentsInScope two-query window
  apps/backend/src/repositories/report.repository.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
