Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add set_updated_at function
  apps/backend/migrations/assessment/0002_add_set_updated_at_fn.sql
  apps/backend/migrations/assessment/meta/0002_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0002_add_set_updated_at_fn.sql
  apps/backend/migrations/core/meta/0002_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add add_get_school_level_from_grade and add_get_school_levels_from_grades_array fns
  apps/backend/migrations/core/0003_add_get_school_level_from_grade_fn.sql
  apps/backend/migrations/core/0004_add_get_school_levels_from_grades_array_fn.sql
  apps/backend/migrations/core/meta/0003_snapshot.json
  apps/backend/migrations/core/meta/0004_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add users table migration
  apps/backend/migrations/core/0005_add_users_table.sql
  apps/backend/migrations/core/meta/0005_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add orgs table migration
  apps/backend/migrations/core/0006_add_orgs_table.sql
  apps/backend/migrations/core/meta/0006_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add groups table migration
  apps/backend/migrations/core/0007_add_groups_table.sql
  apps/backend/migrations/core/meta/0007_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add courses table migration
  apps/backend/migrations/core/0008_add_courses_table.sql
  apps/backend/migrations/core/meta/0008_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add classes table migration
  apps/backend/migrations/core/0009_add_classes_table.sql
  apps/backend/migrations/core/meta/0009_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/classes.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add families table migration
  apps/backend/migrations/core/0010_add_families_table.sql
  apps/backend/migrations/core/meta/0010_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/families.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add validate_class_org_refs fn
  apps/backend/migrations/core/0011_add_validate_class_org_refs_fn.sql
  apps/backend/migrations/core/meta/0011_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix launching tasks (#728)
  src/components/GameTabs.vue
  src/components/RoarGameCard.vue
  src/components/tests/NavBar.test.js
  src/router/navbarActions.ts
Due: none

enable longitudinal reports (#1452)
  apps/dashboard/src/constants/featureFlags.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add agreements table migration
  apps/backend/migrations/core/0012_add_agreements_table.sql
  apps/backend/migrations/core/meta/0012_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreements.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add agreement versions table migration
  apps/backend/migrations/core/0013_add_agreement_versions_table.sql
  apps/backend/migrations/core/meta/0013_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreement-versions.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add tasks and task_bundle table migrations
  apps/backend/migrations/core/0014_add_tasks_table.sql
  apps/backend/migrations/core/0015_add_task_variants_table.sql
  apps/backend/migrations/core/0016_add_task_variant_parameters_table.sql
  apps/backend/migrations/core/0017_add_task_bundles_table.sql
  apps/backend/migrations/core/0018_add_task_bundle_variants_table.sql
  apps/backend/migrations/core/meta/0014_snapshot.json
  apps/backend/migrations/core/meta/0015_snapshot.json
  apps/backend/migrations/core/meta/0016_snapshot.json
  apps/backend/migrations/core/meta/0017_snapshot.json
  apps/backend/migrations/core/meta/0018_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/task-bundle-variants.ts
  apps/backend/src/db/schema/core/task-bundles.ts
  apps/backend/src/db/schema/core/task-variant-parameters.ts
  apps/backend/src/db/schema/core/task-variants.ts
  apps/backend/src/db/schema/core/tasks.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add run_demographics table migrations
  apps/backend/migrations/core/0019_add_run_demographics_table.sql
  apps/backend/migrations/core/meta/0019_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/run-demographics.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add administration and administration_task_variants table migrations
  apps/backend/migrations/core/0020_add_administrations_table.sql
  apps/backend/migrations/core/0021_add_administration_task_variants_table.sql
  apps/backend/migrations/core/meta/0020_snapshot.json
  apps/backend/migrations/core/meta/0021_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/administration-task-variants.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add administration join tables
  apps/backend/migrations/core/0022_add_administration_agreements_table.sql
  apps/backend/migrations/core/0023_add_administration_classes_table.sql
  apps/backend/migrations/core/0024_add_administration_groups_table.sql
  apps/backend/migrations/core/0025_add_administration_orgs_table.sql
  apps/backend/migrations/core/meta/0022_snapshot.json
  apps/backend/migrations/core/meta/0023_snapshot.json
  apps/backend/migrations/core/meta/0024_snapshot.json
  apps/backend/migrations/core/meta/0025_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/administration-agreements.ts
  apps/backend/src/db/schema/core/administration-classes.ts
  apps/backend/src/db/schema/core/administration-groups.ts
  apps/backend/src/db/schema/core/administration-orgs.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add user join tables
  apps/backend/migrations/core/0026_add_user_agreements_table.sql
  apps/backend/migrations/core/0027_add_user_classes_table.sql
  apps/backend/migrations/core/0028_add_user_families_table.sql
  apps/backend/migrations/core/0029_add_user_groups_table.sql
  apps/backend/migrations/core/0030_add_user_orgs_table.sql
  apps/backend/migrations/core/meta/0026_snapshot.json
  apps/backend/migrations/core/meta/0027_snapshot.json
  apps/backend/migrations/core/meta/0028_snapshot.json
  apps/backend/migrations/core/meta/0029_snapshot.json
  apps/backend/migrations/core/meta/0030_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/user-agreements.ts
  apps/backend/src/db/schema/core/user-classes.ts
  apps/backend/src/db/schema/core/user-families.ts
  apps/backend/src/db/schema/core/user-groups.ts
  apps/backend/src/db/schema/core/user-orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update JSDoc for core schema
  apps/backend/src/db/schema/core/administration-agreements.ts
  apps/backend/src/db/schema/core/administration-classes.ts
  apps/backend/src/db/schema/core/administration-groups.ts
  apps/backend/src/db/schema/core/administration-orgs.ts
  apps/backend/src/db/schema/core/administration-task-variants.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/db/schema/core/agreement-versions.ts
  apps/backend/src/db/schema/core/agreements.ts
  apps/backend/src/db/schema/core/classes.ts
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/families.ts
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/orgs.ts
  apps/backend/src/db/schema/core/run-demographics.ts
  apps/backend/src/db/schema/core/task-bundle-variants.ts
  apps/backend/src/db/schema/core/task-bundles.ts
  apps/backend/src/db/schema/core/task-variant-parameters.ts
  apps/backend/src/db/schema/core/task-variants.ts
  apps/backend/src/db/schema/core/tasks.ts
  apps/backend/src/db/schema/core/user-agreements.ts
  apps/backend/src/db/schema/core/user-classes.ts
  apps/backend/src/db/schema/core/user-families.ts
  apps/backend/src/db/schema/core/user-groups.ts
  apps/backend/src/db/schema/core/user-orgs.ts
  apps/backend/src/db/schema/core/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix task_variant_parameters primary key definition
  apps/backend/migrations/core/0031_fix_task_variant_parameters_pkey.sql
  apps/backend/migrations/core/meta/0031_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/task-variant-parameters.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix groups abbreviation constraint name
  apps/backend/migrations/core/0032_fix_groups_abbreviation_constraint_name.sql
  apps/backend/migrations/core/meta/0032_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/groups.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add validate_org_hierarchy fn
  apps/backend/migrations/core/0033_add_validate_org_hierarchy_fn.sql
  apps/backend/migrations/core/meta/0033_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Standardize comment format in migrations
  apps/backend/migrations/core/0005_add_users_table.sql
  apps/backend/migrations/core/0006_add_orgs_table.sql
  apps/backend/migrations/core/0007_add_groups_table.sql
  apps/backend/migrations/core/0008_add_courses_table.sql
  apps/backend/migrations/core/0009_add_classes_table.sql
  apps/backend/migrations/core/0010_add_families_table.sql
  apps/backend/migrations/core/0012_add_agreements_table.sql
  apps/backend/migrations/core/0013_add_agreement_versions_table.sql
  apps/backend/migrations/core/0014_add_tasks_table.sql
  apps/backend/migrations/core/0015_add_task_variants_table.sql
  apps/backend/migrations/core/0016_add_task_variant_parameters_table.sql
  apps/backend/migrations/core/0017_add_task_bundles_table.sql
  apps/backend/migrations/core/0018_add_task_bundle_variants_table.sql
  apps/backend/migrations/core/0019_add_run_demographics_table.sql
  apps/backend/migrations/core/0020_add_administrations_table.sql
  apps/backend/migrations/core/0021_add_administration_task_variants_table.sql
  apps/backend/migrations/core/0022_add_administration_agreements_table.sql
  apps/backend/migrations/core/0023_add_administration_classes_table.sql
  apps/backend/migrations/core/0024_add_administration_groups_table.sql
  apps/backend/migrations/core/0025_add_administration_orgs_table.sql
  apps/backend/migrations/core/0026_add_user_agreements_table.sql
  apps/backend/migrations/core/0027_add_user_classes_table.sql
  apps/backend/migrations/core/0028_add_user_families_table.sql
  apps/backend/migrations/core/0029_add_user_groups_table.sql
  apps/backend/migrations/core/0030_add_user_orgs_table.sql
Due: none

Bump roav-ran to 1.0.34
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Clean node_modules
  package-lock.json
Due: none

Add runs, run_trials and run_trial_interactions table migrations
  apps/backend/migrations/assessment/0003_add_runs_table.sql
  apps/backend/migrations/assessment/0004_add_run_trials_table.sql
  apps/backend/migrations/assessment/0005_add_run_trial_interactions_table.sql
  apps/backend/migrations/assessment/meta/0003_snapshot.json
  apps/backend/migrations/assessment/meta/0004_snapshot.json
  apps/backend/migrations/assessment/meta/0005_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/run-trial-interactions.ts
  apps/backend/src/db/schema/assessment/run-trials.ts
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add run_scores table migrations
  apps/backend/migrations/assessment/0006_add_run_scores_table.sql
  apps/backend/migrations/assessment/meta/0006_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add relations definitions for assessment db
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/relations.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/db/schema/assessment/run-trial-interactions.ts
  apps/backend/src/db/schema/assessment/run-trials.ts
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add rostering_runs, rostering_run_entities and rostering_provider_ids table migrations
  apps/backend/migrations/core/0034_add_rostering_runs_table.sql
  apps/backend/migrations/core/0035_add_rostering_run_entities_table.sql
  apps/backend/migrations/core/0036_add_rostering_provider_ids_table.sql
  apps/backend/migrations/core/meta/0034_snapshot.json
  apps/backend/migrations/core/meta/0035_snapshot.json
  apps/backend/migrations/core/meta/0036_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/rostering-provider-ids.ts
  apps/backend/src/db/schema/core/rostering-run-entities.ts
  apps/backend/src/db/schema/core/rostering-runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Introduce db:migrate cmd
  apps/backend/package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add relations definitions for core db
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add validate_rostering_entity_fk and prevent_rostered_entity_delete
  apps/backend/migrations/core/0037_add_validate_rostering_entity_fk_fn.sql
  apps/backend/migrations/core/0038_add_prevent_rostered_entity_delete_fn.sql
  apps/backend/migrations/core/meta/0037_snapshot.json
  apps/backend/migrations/core/meta/0038_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Renable logging temp
  apps/dashboard/src/pages/HomeSelector.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix progress report page (#740)
  src/composables/queries/useAdministrationAssignmentsQuery.ts
  src/helpers/query/assignments.js
  src/pages/ProgressReport.vue
Due: none

Add exceptions column to rostering-run-entities
  apps/backend/migrations/core/0039_add_exceptions_support_to_rostering_run_entities.sql
  apps/backend/migrations/core/meta/0039_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/rostering-run-entities.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add run_type column to rostering_runs
  apps/backend/migrations/core/0040_add_run_type_support_to_rostering_runs.sql
  apps/backend/migrations/core/meta/0040_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/rostering-runs.ts
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Bug #726 Create and edit assignments duplication issue (#727)
  src/components/GroupPicker.vue
  src/components/TaskPicker.vue
  src/composables/queries/useAssignmentExistsQuery.ts
  src/constants/toasts.ts
  src/helpers/query/assignments.js
  src/pages/CreateAssignment.vue
  src/pages/tests/CreateAssignment.test.js
Due: none

Add partnerId to rostering_provider_ids and fix constraints
  apps/backend/migrations/core/0041_add_rostering_provider_partner_id.sql
  apps/backend/migrations/core/meta/0041_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/rostering-provider-ids.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix cross-origin frame error on /sso page
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix SSO polling with exponential backoff and error handling UI
  apps/dashboard/package.json
  apps/dashboard/public/assets/img/roar-empty-state.png
  apps/dashboard/public/assets/img/roar-error-state.png
  apps/dashboard/src/components/AppMessageState/AppMessageState.test.js
  apps/dashboard/src/components/AppMessageState/AppMessageState.vue
  apps/dashboard/src/components/AppMessageState/__snapshots__/AppMessageState.test.js.snap
  apps/dashboard/src/components/AppMessageState/index.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/constants/logMessages.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/pages/HomeParticipant.vue
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/pages/SSOAuthPage.vue
  apps/dashboard/src/styles.css
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
