Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Return consistent response shape from health check catch-all
  apps/backend/src/health/health-routes.test.ts
  apps/backend/src/health/health-routes.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Redirect to view assignments instead of welcome page after Create Assignment (#946)
  src/constants/routes.ts
  src/pages/CreateAssignment.vue
Due: none

Split startup and readiness health probes per Kubernetes best practices
  apps/backend/src/health/health-checks.test.ts
  apps/backend/src/health/health-checks.ts
  apps/backend/src/health/health-routes.test.ts
  apps/backend/src/health/health-routes.ts
  apps/backend/src/health/shutdown-state.test.ts
  apps/backend/src/health/shutdown-state.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add comment to docker-compose.researcher.yml regarding demo firebase project
  docker-compose.researcher.yml
Due: none

rename researcher environment to assessment environment
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/seeds/pa.seed.ts
  assessment.Dockerfile
  docker-compose.assessment.yml
  scripts/assessment-env-up.sh
  scripts/init-assessment-db.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement firekit compat
  apps/assessments/roar-pa/.env.example
Due: npx dotenvx ext precommit

Move roar-pa source files from monorepo root to apps/assessments/roar-pa/
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

consolidate dependencies
  apps/assessments/roar-pa/eslint.config.mjs
Due: none

remove deployment details from this PR
  apps/assessments/roar-pa/package.json
Due: none

clean up monorepo
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
Due: none

implement build and deployment migration
  apps/assessments/roar-pa/firebase.json
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add firebase-tools to roar-pa devDependencies
  apps/assessments/roar-pa/package.json
Due: none

implement staging deployment pipeline for assessments
  .github/actions/build-assessment/action.yml
  .github/actions/deploy-firebase-hosting/action.yml
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-assessments-staging.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

set custom hosting fields in package.json which are dynamically injected into assessment staging deployment workflow
  .github/actions/deploy-firebase-hosting/action.yml
  .github/workflows/deploy-assessments-staging.yml
  apps/assessments/roar-pa/package.json
Due: none

add workflow_dispatch option back to assessment staging deployment workflow
  .github/workflows/deploy-assessments-staging.yml
Due: none

use dashboard cypress project id instead of roar-pa project
  apps/assessments/roar-pa/cypress.config.js
Due: none

remove hadcoded cypress project id and rely on record key secret
  apps/assessments/roar-pa/cypress.config.js
Due: none

update envs in turbo.json
  turbo.json
Due: none

set fetch depth to 0
  .github/workflows/ci.yml
  .github/workflows/deploy-assessments-staging.yml
Due: none

temporarily add this branch to deployment on push
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-staging.yml
Due: none

Default ROAR_API_BASE_URL to /v1
  apps/assessments/roar-pa/webpack.config.cjs
Due: none

add cypress project id to turbo json
  apps/assessments/roar-pa/turbo.json
Due: none

test commit
  apps/assessments/roar-pa/package.json
Due: none

change hosting target for testing
  apps/assessments/roar-pa/package.json
Due: none

fix linting warnings
  apps/assessments/roar-pa/turbo.json
  turbo.json
Due: none

set roar api base url in workflow
  .github/actions/build-assessment/action.yml
  .github/workflows/deploy-assessments-staging.yml
Due: none

rename ROAR_API_URL to ROAR_API_BASE_URL
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/turbo.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/dashboard/.env.example
Due: npx dotenvx ext precommit

add cypress project id env variable and secret
  .github/workflows/ci.yml
Due: none

set roar-pa staging site to roar-phoneme-monorepo
  apps/assessments/roar-pa/package.json
Due: none

change actions checkout from v4 to v6
  .github/workflows/deploy-assessments-staging.yml
Due: none

run dev from current directory in assessment cypress tests
  .github/workflows/ci.yml
Due: none

clean up workflows, stale env variablse
  .github/workflows/ci.yml
  .github/workflows/deploy-assessments-staging.yml
  apps/assessments/roar-pa/.env.example
Due: npx dotenvx ext precommit

add tag to assessment cypress workflow
  .github/workflows/ci.yml
Due: none

remove markdown files
  apps/assessments/roar-pa/firebase.json
  package-lock.json
Due: none

add commit info
  .github/workflows/ci.yml
Due: none

refresh package-lock.json
  package-lock.json
Due: none

use researcher env in CI for e2e testing
  .github/workflows/ci.yml
Due: none

rename references to researcher env
  .github/workflows/ci.yml
Due: none

clean up monorepo
  .github/workflows/deploy-assessment.yml
  .github/workflows/pr-preview-assessments.yml
  .npmignore
  apps/assessments/roar-pa/package.json
Due: none

implement staging deployment pipeline for assessments
  .github/workflows/deploy-assessments-staging.yml
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
