Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Add /me smoke spec exercising seeded local backend
  apps/dashboard/cypress/e2e/smoke/me.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add frontend-e2e-testing-pattern AI rule
  .ai/rules/README.md
  .ai/rules/frontend-e2e-testing-pattern.md
Due: none

refresh package-lock.json
  package-lock.json
Due: none

refresh package-lock.json again
  package-lock.json
Due: none

updating corpus with foundational composite
  apps/assessments/roar-pa/src/experiment/config/corpus.js
  apps/assessments/roar-pa/src/experiment/config/corpus/en/phoneme_foundational_composite.csv
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/i18n.js
  apps/assessments/roar-pa/src/experiment/scores.js
Due: none

implement claude feedback
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/scripts/seed-pa.ts
  docker-compose.yml
  migrate.Dockerfile
  package-lock.json
  package.json
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

changing === to ==
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
Due: none

minor nits
  scripts/init-researcher-db.sh
  scripts/researcher-env-up.sh
Due: none

move optimization-js to dev dependencies
  package-lock.json
  package.json
Due: none

remove optimization-js
  package-lock.json
  package.json
Due: none

Move QueryClient into a module-scoped singleton
  apps/dashboard/src/plugins.js
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/queryClient.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add useCurrentUser composable
  apps/dashboard/src/composables/useCurrentUser.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate /me consumers to TanStack Query
  apps/dashboard/src/containers/SignTos/SignTos.vue
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.js
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.test.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove meData from auth store and gate router-view on /me settlement
  apps/dashboard/src/App.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

npm run format
  apps/backend/scripts/create-test-databases.ts
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/firebase-emulator.test.ts
  apps/backend/src/test-support/firebase-emulator.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Run server-test under NODE_ENV=production in CI
  .github/workflows/ci.yml
Due: none

Use pino-pretty in sync mode to avoid ESM worker-thread crash
  .github/workflows/ci.yml
  apps/backend/src/logger.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fail loudly when a fixture user has no authId
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

npm run format
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Split deploy build into dep-pass + dashboard-pass
  .github/actions/build/action.yml
Due: none

Thread Vite build mode through the MODE env var
  .github/actions/build/action.yml
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Resolve server-test asset paths in the e2e-tests CI job
  .github/workflows/ci.yml
Due: none

Bump ran to 2.1.0
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump ran to 2.1.0 (#1798)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.28.0
  package-lock.json
  package.json
Due: none

Anchor test-support paths to BACKEND_ROOT / MONOREPO_ROOT
  .github/workflows/ci.yml
  apps/backend/src/test-support/db/migrate.ts
  apps/backend/src/test-support/fga/index.ts
  apps/backend/src/test-support/paths.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Port FDW provisioning to TypeScript so server-test boots without psql
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/db/index.ts
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move OpenFGA from in-container background process to a service container
  .github/workflows/ci.yml
Due: none

Sort tasks case-insensitively by name and slug
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Start OpenFGA via docker run in the e2e CI job
  .github/workflows/ci.yml
Due: none

Pin Start OpenFGA step to bash for set -o pipefail
  .github/workflows/ci.yml
Due: none

remove deployment details from this PR
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  .github/workflows/pr-preview-assessments.yml
  .npmignore
  apps/assessments/roar-pa/package.json
  package-lock.json
  package.json
Due: none

revert actions and workflow files
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

formatting
  apps/assessments/roar-pa/package.json
Due: none

create assessment-schema abstraction layer
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/backend/package.json
  apps/backend/src/services/scoring/configs/pa.json
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/config.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/score-names.ts
  packages/assessment-schema/src/pa/subscores.ts
  packages/assessment-schema/tsconfig.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add default export to assessment-sdk package.json
  packages/assessment-sdk/package.json
Due: none

add root level .prettierignore
  .prettierignore
  apps/dashboard/.prettierignore
  packages/api-contract/.prettierignore
Due: none

implement build and deployment migration
  .github/workflows/deploy-platform-staging.yml
  monorepo-example.md
  package-lock.json
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add monorepo build step in ci
  .github/workflows/ci.yml
Due: none

create anonymous users in standalone mode
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/types/express.d.ts
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn
