Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Centralize the dev Auth emulator host in a shared constant
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-letter/webpack.config.cjs
  apps/assessments/roar-levante-tasks/webpack.config.cjs
  apps/assessments/roar-multichoice/webpack.config.cjs
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roar-sre/webpack.config.cjs
  apps/assessments/roar-survey/vite.config.js
  apps/assessments/roar-swr/webpack.config.cjs
  apps/assessments/roav-apps/webpack.config.cjs
  apps/assessments/roav-ran/webpack.config.cjs
  apps/assessments/shared/devEmulatorHost.cjs
  apps/assessments/shared/eslint.config.mjs
Due: none

Cover every bundler config with the emulator-host leak test
  apps/assessments/roav-ran/emulator-host-build.test.js
  apps/assessments/roav-ran/package.json
  apps/assessments/shared/emulatorHostBuild.test.js
Due: none

Preflight npm run dev and launch it through each package's dev script
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  scripts/assessment-env-up.sh
  scripts/assessment-predev.sh
Due: none

Point the FDW migration comment at the current provisioners
  apps/backend/migrations/assessment/0017_add_fdw_views.sql
Due: none

Close the sign-out races and error conflation in the token lifecycle
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/composables/useAssessmentAuthCallbacks.js
  apps/dashboard/src/composables/useAssessmentAuthCallbacks.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor grade argument for resolveScoreFieldNames
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Hard-reload from Try Again when the auth bootstrap never completed
  apps/dashboard/src/pages/GenericError.test.js
  apps/dashboard/src/pages/GenericError.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add grade from run demographics
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Correct the recovery comment: a sign-out reset also clears the listener handle
  apps/dashboard/src/pages/GenericError.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Hold the claims error state while a refetch is in flight
  apps/dashboard/src/pages/HomeSelector.test.js
  apps/dashboard/src/pages/HomeSelector.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): restore SSO sign-in on the AuthService stack (#2214)
  apps/dashboard/package.json
  apps/dashboard/src/App.vue
  apps/dashboard/src/components/auth/AuthClassLink.vue
  apps/dashboard/src/components/auth/AuthClever.vue
  apps/dashboard/src/components/auth/AuthNycps.vue
  apps/dashboard/src/components/auth/AuthSSO.test.js
  apps/dashboard/src/components/auth/AuthSSO.vue
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/composables/queries/useUserClaimsQuery.test.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.provisioning.test.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/constants/logMessages.js
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.test.js
  apps/dashboard/src/containers/SignIn/composables/useSignInForm.js
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/pages/SSOAuthPage.vue
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/test-support/setWindowPath.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
  apps/dashboard/src/utils/api-errors.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Log the post-sign-in bootstrap failure at warn level
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Unify the error pages on AppMessageState
  apps/dashboard/src/pages/AccessEnded.vue
  apps/dashboard/src/pages/GenericError.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Dispose the Firebase session when a terminal auth error is classified
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/queryClient.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Handle the backend's auth/token-invalid code in the token error path
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/queryClient.test.js
  apps/dashboard/src/utils/api-errors.js
  apps/dashboard/src/utils/api-errors.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Force emulator image rebuilds and relax the platform emulator healthcheck
  docker-compose.assessment.yml
  docker-compose.yml
Due: none

Heal partial stacks in env-up and close the predev context gaps
  scripts/assessment-env-up.sh
  scripts/assessment-predev.sh
Due: none

Share the dev emulator webpack fragment across all assessments
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-letter/webpack.config.cjs
  apps/assessments/roar-levante-tasks/webpack.config.cjs
  apps/assessments/roar-multichoice/webpack.config.cjs
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roar-sre/webpack.config.cjs
  apps/assessments/roar-swr/webpack.config.cjs
  apps/assessments/roav-apps/webpack.config.cjs
  apps/assessments/roav-ran/webpack.config.cjs
  apps/assessments/shared/devEmulatorWebpackConfig.cjs
  apps/assessments/shared/package.json
  package-lock.json
Due: none

Discover vite app configs in the emulator-host leak test
  apps/assessments/shared/emulatorHostBuild.test.js
Due: none

Serve roar-survey on port 8000
  apps/assessments/roar-survey/vite.config.js
Due: none

Correct the dev proxy default in the assessment integration rule
  .ai/rules/assessment-integration-pattern.md
Due: none

fix(dashboard): correctly surface auth bootstrap failures (#2199)
  apps/dashboard/src/App.test.js
  apps/dashboard/src/App.vue
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/composables/useGlobalErrorRedirect.js
  apps/dashboard/src/composables/useGlobalErrorRedirect.test.js
  apps/dashboard/src/constants/globalErrorTypes.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.test.js
  apps/dashboard/src/helpers/resolveUserClaims.globalError.test.js
  apps/dashboard/src/pages/AccessEnded.vue
  apps/dashboard/src/pages/GenericError.test.js
  apps/dashboard/src/pages/GenericError.vue
  apps/dashboard/src/pages/HomeSelector.test.js
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/queryClient.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
  apps/dashboard/src/styles.css
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
  apps/dashboard/src/utils/api-errors.js
  apps/dashboard/src/utils/api-errors.test.js
  apps/dashboard/src/utils/sanitize-query-key.js
  apps/dashboard/src/utils/sanitize-query-key.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Close the researcher-journey gaps in the assessment scripts
  scripts/assessment-common.sh
  scripts/assessment-env-build.sh
  scripts/assessment-env-down.sh
  scripts/assessment-env-up.sh
  scripts/assessment-predev.sh
  scripts/assessment-seed-tasks.sh
  scripts/assessment-setup.sh
Due: none

Rebuild api-contract in npm run update
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
Due: none

Update the guides for the script changes
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
Due: none

Shrink the Docker build context and keep nested .env files out
  .dockerignore
Due: none

Add project-scoped agents and commands under .ai
  .ai/agents/backend-reviewer.md
  .ai/agents/code-quality-reviewer.md
  .ai/agents/frontend-reviewer.md
  .ai/agents/security-authz-reviewer.md
  .ai/agents/test-coverage-reviewer.md
  .ai/commands/commit-and-pr.md
  .ai/commands/review-pr.md
  .ai/rules/README.md
  .claude/agents
  .claude/commands
  AGENTS.md
Due: none

fix(dashboard): harden the frontend token lifecycle (#2215)
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/composables/useAssessmentAuthCallbacks.js
  apps/dashboard/src/composables/useAssessmentAuthCallbacks.test.js
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Allow the review-pr fan-out in tag-mode CI runs
  .ai/agents/backend-reviewer.md
  .ai/agents/code-quality-reviewer.md
  .ai/agents/frontend-reviewer.md
  .ai/agents/security-authz-reviewer.md
  .ai/agents/test-coverage-reviewer.md
  .github/workflows/claude.yml
Due: none

Constrain review-pr output to terse findings
  .ai/commands/review-pr.md
Due: none

Drop the finding-filter bullet from review-pr
  .ai/commands/review-pr.md
Due: none

Scope the /me TOS requirement to admins, educators, and family parents
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Share the TOS requirement predicate between /me and agreement recording
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

feat(api-contract): add public registration endpoints
  packages/api-contract/src/v1/auth/contract.ts
  packages/api-contract/src/v1/auth/index.ts
  packages/api-contract/src/v1/auth/schema.test.ts
  packages/api-contract/src/v1/auth/schema.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

feat(backend): validate and persist registration agreements
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/repositories/agreement-version.repository.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/family/family.service.ts
  apps/backend/src/services/registration/registration.service.test.ts
  apps/backend/src/services/registration/registration.service.ts
  apps/backend/src/test-support/repositories/agreement-version.repository.ts
  apps/backend/src/test-support/services/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

feat(backend): expose public registration routes
  apps/backend/src/controllers/auth.controller.test.ts
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): cover registration HTTP lifecycle
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): reject incomplete registration locales
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replace the assessment environment shell scripts with a Node CLI
  .ai/rules/assessment-integration-pattern.md
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  docker-compose.assessment.yml
  package-lock.json
  packages/assessment-cli/eslint.config.mjs
  packages/assessment-cli/package.json
  packages/assessment-cli/prettier.config.mjs
  packages/assessment-cli/src/commands/predev.mjs
  packages/assessment-cli/src/commands/rebuild.mjs
  packages/assessment-cli/src/commands/restart.mjs
  packages/assessment-cli/src/commands/seed-tasks.mjs
  packages/assessment-cli/src/commands/setup.mjs
  packages/assessment-cli/src/commands/start.mjs
  packages/assessment-cli/src/commands/stop.mjs
  packages/assessment-cli/src/context.mjs
  packages/assessment-cli/src/context.test.mjs
  packages/assessment-cli/src/docker.mjs
  packages/assessment-cli/src/help.mjs
  packages/assessment-cli/src/index.mjs
  packages/assessment-cli/src/net.mjs
  packages/assessment-cli/src/proc.mjs
  packages/assessment-cli/src/ui.mjs
  scripts/assessment-common.sh
  scripts/assessment-env-build.sh
  scripts/assessment-env-down.sh
  scripts/assessment-env-up.sh
  scripts/assessment-predev.sh
  scripts/assessment-restart.sh
  scripts/assessment-seed-tasks.sh
  scripts/assessment-setup.sh
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
