Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Change COEP to report-only to ensure there is no functionality change before enforcement
  apps/dashboard/firebase/admin/firebase.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement claude feedback
  apps/backend/src/controllers/task-variants.controller.ts
  apps/backend/src/services/task-variant/task-variant.service.ts
  apps/backend/src/utils/camelize-keys.util.test.ts
  apps/backend/src/utils/sanitize-jsonb.util.test.ts
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  packages/assessment-sdk/src/commands/get-variant-by-id.command.test.ts
  packages/assessment-sdk/src/test-support/roar-api.ts
  scripts/assessment-env-up.sh
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add assessment name to start assessment infrastructure step
  .github/workflows/ci.yml
Due: none

prepare task variant json in workflow for db seeding
  .github/workflows/ci.yml
Due: none

updating to have age
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roam to 1.3.9
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Rename skills assessed to problem types assessed
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add percentCorrect to subscore table tooltip, change subscore tag from percentCorrect to rawScore, format subscore tooltips
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add percentCorrect to overall score, update exports
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Return isSuperAdmin from the /me endpoint
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/me.test.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add surveyjs license key (#952)
  .github/workflows/deploy-hotfix-prod.yml
  .github/workflows/deploy-to-dev.yml
  .github/workflows/deploy-to-prod.yml
  .github/workflows/firebase-hosting-preview.yml
Due: none

upgrading letter
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement pr feedback
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/services/task-variant/task-variant.service.ts
  apps/backend/src/services/utils/validations.utils.ts
  apps/backend/src/utils/camelize-keys.util.test.ts
  apps/backend/src/utils/camelize-keys.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update validateGamerParameters cypress test
  apps/assessments/roar-swr/cypress/e2e/default-tests/validateGameParameters.cy.js
Due: none

Add clarifying comment about fields
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

restore @ts-expect-error directive in /routes
  .gitignore
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
  package-lock.json
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

restore canvers to 3.2.3 in lock file
  package-lock.json
Due: none

clean up package lock
  package-lock.json
Due: none

write scores in writeTrial
  packages/assessment-sdk/src/commands/write-trial.command.test.ts
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

clean up package lock again
  package-lock.json
Due: none

wire roar-swr to write scores
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  packages/assessment-schema/src/enums/assessment-stage.enum.ts
  packages/assessment-schema/src/enums/score-type.enum.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-swr/index.ts
  packages/assessment-schema/src/roar-swr/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

ageMonths numbered
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

wire roar-pa to write scores and make score service 'domain aware'
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-pa/subscores.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

don't report thetaSE in roar-swr computed scores
  apps/assessments/roar-swr/src/experiment/scores.js
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: none

Privacy Page
  .cursor/rules/context-mode.mdc
  src/pages/Login.vue
  src/pages/PrivacyPage.vue
  src/pages/SignIn.vue
  src/router/index.ts
Due: none

Allow privacy page access without authentication.
  src/constants/auth.ts
Due: none

Initial tweaks to privacy page
  src/pages/PrivacyPage.vue
Due: none

Refine privacy page participant-focused wording.
  src/pages/PrivacyPage.vue
Due: none

Inline missing researcher privacy policy sections.
  src/pages/PrivacyPage.vue
Due: none

tweaks to the page
  src/pages/PrivacyPage.vue
Due: none

Refine policy wording across privacy page.
  src/pages/PrivacyPage.vue
Due: none

clarify data bullets
  src/pages/PrivacyPage.vue
Due: none

refresh package-lock.json
  package-lock.json
Due: none

Update Roar Letter Composite foundational CLowder and Norming Scores Table (#1821)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

linting and formatting
  apps/assessments/roar-swr/src/experiment/trials/getUserData.js
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
