Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

refactor controller tests to properly map errors
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/controllers/agreements.controller.ts
  apps/backend/src/routes/agreements.integration.test.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

agreement service/controller
  apps/backend/src/controllers/agreements.controller.ts
  apps/backend/src/repositories/agreement.repository.integration.test.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
  apps/backend/src/test-support/services/agreement.service.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

resolve type errors in test files
  apps/backend/src/repositories/agreement.repository.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove api-contract types from service and repository layers
  apps/backend/src/constants/sort-order.ts
  apps/backend/src/repositories/agreement.repository.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

agreement infra
  apps/backend/src/repositories/agreement.repository.test.ts
  apps/backend/src/test-support/repositories/agreement.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

phase 1
  apps/backend/src/enums/agreement-type.enum.test.ts
  apps/backend/src/repositories/agreement.repository.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/agreements/contract.ts
  packages/api-contract/src/v1/agreements/index.ts
  packages/api-contract/src/v1/agreements/schema.ts
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement agreement integration tests and export route
  apps/backend/src/routes/agreements.integration.test.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add unit tests to agreements controller
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/controllers/agreements.controller.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/agreements/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- Fixed Type Cast Issue - Added Compat Layer Tests - Fixed Pre-existing Enum Errors
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

- Add Regression Tests
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

- Fixed Type Cast in Error Path - Removed Redundant Type Annotation
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
Due: none

- emoved unsafe type cast and used explicit status code checks
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
Due: none

respond to review comments (remove unused code, extract code to constant, remove unnecessary comments and update no assignment message
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/StudentCardSimple.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
  apps/dashboard/src/composables/queries/useMultipleUserAssignmentsQuery.js
  apps/dashboard/src/constants/activation.js
  apps/dashboard/src/pages/HomeParent.vue
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update error type
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/pages/HomeParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`SDK` WriteTrialInteraction Command (#1626)
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
  packages/assessment-sdk/src/types/write-trial.ts
Due: none

- changed the command to throw an error on 409 Conflict instead of treating it as success
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

Separate inline type imports across backend source files
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/db/schema/core/orgs.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/org.access-controls.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/repositories/invitation-code.repository.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/factories/org.factory.ts
  apps/backend/src/test-support/fixtures/index.ts
  apps/backend/src/utils/build-filter-conditions.util.test.ts
  apps/backend/src/utils/condition-to-sql.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

syntax errors fix
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

create separate enum for agreement versions and add sync test
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/enums/agreement-embed-option.enum.test.ts
  apps/backend/src/enums/agreement-embed-option.enum.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove console logs
  apps/dashboard/src/pages/HomeParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update auth tests
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

- rename the enum value from UPDATE_ENGAGEMENT_FLAGS_FAILED to UPDATE_RUN_ENGAGEMENT_FLAGS_FAILED - update tests to use the enum
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
Due: none

- bring back tests lost in merge
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

updating flags expectations on tests
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
Due: none

add 409 route
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/user-agreement.repository.integration.test.ts
  apps/backend/src/repositories/user-agreement.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/user-agreement.repository.ts
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Enable Progress Task Status Sort and Filter (#1636)
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/db/schema/core/orgs.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/org.access-controls.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/repositories/invitation-code.repository.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/factories/org.factory.ts
  apps/backend/src/test-support/fixtures/index.ts
  apps/backend/src/utils/build-filter-conditions.util.test.ts
  apps/backend/src/utils/build-filter-conditions.util.ts
  apps/backend/src/utils/condition-to-sql.test.ts
  apps/backend/src/utils/condition-to-sql.ts
  apps/backend/src/utils/get-grade-as-number.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add cypress test to register parent and validate code
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add `GET /v1/agreements` (#1662)
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/controllers/agreements.controller.ts
  apps/backend/src/enums/agreement-embed-option.enum.test.ts
  apps/backend/src/enums/agreement-embed-option.enum.ts
  apps/backend/src/enums/agreement-type.enum.test.ts
  apps/backend/src/repositories/agreement.repository.integration.test.ts
  apps/backend/src/repositories/agreement.repository.test.ts
  apps/backend/src/repositories/agreement.repository.ts
  apps/backend/src/routes/agreements.integration.test.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/agreement.repository.ts
  apps/backend/src/test-support/services/agreement.service.ts
  apps/backend/src/test-support/services/index.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/agreements/contract.ts
  packages/api-contract/src/v1/agreements/index.ts
  packages/api-contract/src/v1/agreements/schema.ts
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add `POST /v1/users/:userId/agreements` (#1660)
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/controllers/agreements.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/enums/agreement-embed-option.enum.test.ts
  apps/backend/src/enums/agreement-embed-option.enum.ts
  apps/backend/src/enums/agreement-type.enum.test.ts
  apps/backend/src/repositories/agreement-version.repository.integration.test.ts
  apps/backend/src/repositories/agreement-version.repository.ts
  apps/backend/src/repositories/agreement.repository.integration.test.ts
  apps/backend/src/repositories/agreement.repository.test.ts
  apps/backend/src/repositories/agreement.repository.ts
  apps/backend/src/repositories/user-agreement.repository.integration.test.ts
  apps/backend/src/repositories/user-agreement.repository.ts
  apps/backend/src/routes/agreements.integration.test.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/family.factory.ts
  apps/backend/src/test-support/factories/user-agreement.factory.ts
  apps/backend/src/test-support/factories/user-family.factory.ts
  apps/backend/src/test-support/repositories/agreement-version.repository.ts
  apps/backend/src/test-support/repositories/agreement.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/user-agreement.repository.ts
  apps/backend/src/test-support/services/agreement.service.ts
  apps/backend/src/test-support/services/index.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/agreements/contract.ts
  packages/api-contract/src/v1/agreements/index.ts
  packages/api-contract/src/v1/agreements/schema.ts
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove unused prop, update to use pvdialog in error message
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Support multi-filter progress status with integration tests
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add cross-task sort/filter integration test
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix task-variants count in administrations integration tests
  apps/backend/src/routes/administrations.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate report service authorization from SQL to OpenFGA
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/test-support/clients/fga.client.ts
  apps/backend/src/test-support/clients/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Defer FGA client resolution in ReportService to first use
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Mock FGA client in reports route integration tests
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Align FGA authorization with AuthorizationService pattern
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/helpers/extract-fga-object-id.helper.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/test-support/clients/fga.client.ts
  apps/backend/src/test-support/clients/index.ts
  apps/backend/src/test-support/services/authorization.service.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add scoring classification service ported from frontend
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.constants.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/scoring.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Overhaul scoring service with JSON config-driven architecture
  apps/backend/src/services/scoring/configs/letter.json
  apps/backend/src/services/scoring/configs/pa.json
  apps/backend/src/services/scoring/configs/phonics.json
  apps/backend/src/services/scoring/configs/roam-alpaca.json
  apps/backend/src/services/scoring/configs/sre-es.json
  apps/backend/src/services/scoring/configs/sre.json
  apps/backend/src/services/scoring/configs/swr-es.json
  apps/backend/src/services/scoring/configs/swr.json
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.constants.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Updated JSDoc to remove "Optional" - Simplified error handling - Changed markAsReliable?: boolean to markAsReliable: boolean = false
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none
