Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Consolidate Docker Compose and containerize Firebase Auth emulator
  .github/CONTRIBUTING.md
  docker-compose.local-dev.yml
  docker-compose.yml
  docker/firebase-auth-emulator/Dockerfile
  docker/firebase-auth-emulator/firebase.json
  scripts/dev-local-stack.sh
Due: none

Extract Firebase Auth from roar-firekit into dashboard-owned AuthService
  apps/dashboard/.env.example
  apps/dashboard/src/App.vue
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/constants/firebase.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/firekit.js
  apps/dashboard/src/pages/RegisterUser.vue
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/store/auth.js
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update Auth emulator: Node 24, enable UI on port 9999
  docker-compose.yml
  docker/firebase-auth-emulator/Dockerfile
  docker/firebase-auth-emulator/firebase.json
Due: none

Migrate create-administrator form to POST /users with a role selector
  apps/dashboard/src/components/CreateAdministrator.vue
  apps/dashboard/src/composables/mutations/useCreateUserMutation.js
  apps/dashboard/src/composables/mutations/useCreateUserMutation.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/helpers/createAdministratorForm.js
  apps/dashboard/src/helpers/createAdministratorForm.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate create-organization form to the typed create endpoints
  apps/dashboard/src/components/CreateOrgs.vue
  apps/dashboard/src/composables/mutations/useCreateOrgMutation.js
  apps/dashboard/src/composables/mutations/useCreateOrgMutation.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/helpers/createOrgForm.js
  apps/dashboard/src/helpers/createOrgForm.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate TaskPicker task-bundles catalog to the ts-rest backend
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.js
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.test.js
  apps/dashboard/src/helpers/adaptBundlesForPicker.js
  apps/dashboard/src/helpers/adaptBundlesForPicker.test.js
  apps/dashboard/src/helpers/query/tasks.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate variant mutations and rewrite ManageVariants (#1840)
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/composables/mutations/useAddTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useAddTaskVariantMutation.js
  apps/dashboard/src/composables/mutations/useAddTaskVariantMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskVariantMutation.js
  apps/dashboard/src/composables/mutations/useUpdateTaskVariantMutation.test.js
  apps/dashboard/src/composables/queries/useTaskVariantsByTaskQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantsByTaskQuery.test.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/constants/tasks.js
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
  apps/dashboard/src/helpers/taskConfig.js
  apps/dashboard/src/helpers/taskConfig.test.js
  apps/dashboard/src/pages/ManageTasksVariants.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add env-driven auth provider resolution to AuthService
  apps/backend/src/server.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/providers/test-auth.provider.ts
  apps/backend/src/services/auth/resolve-auth-provider.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add Docker-owned infrastructure: DB creation, FDW, persistent FGA
  docker-compose.yml
  docker/openfga/Dockerfile.init
  docker/openfga/init-store.sh
  docker/postgres/init-dev-databases.sh
Due: none

Add deterministic dev fixture with hardcoded UUIDs for local dev and Cypress
  apps/backend/tooling/dev-fixture.ts
  apps/backend/tooling/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add standalone dev:seed and dev:reset scripts
  apps/backend/package.json
  apps/backend/scripts/seed-dev.ts
  package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Delete dev-local-stack.sh and dev:local npm script
  package.json
  scripts/dev-local-stack.sh
Due: none

Eliminate server-test.ts and BUILD_TEST_SERVER flag
  .github/workflows/ci.yml
  apps/backend/rollup.config.mjs
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/db/migrate.ts
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/src/test-support/firebase-emulator.ts
  apps/backend/src/test-support/fixtures/index.ts
  apps/backend/src/test-support/paths.ts
  apps/backend/tooling/dev-fixture.ts
  apps/backend/vitest.integration.globalSetup.ts
  packages/api-contract/src/test-fixture.type.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
  turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add administrations search and convert the list to server-side pagination
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/dashboard/src/composables/queries/useAdministrationsListQuery.js
  apps/dashboard/src/composables/queries/useAdministrationsListQuery.test.js
  apps/dashboard/src/pages/HomeAdministrator.vue
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Paginate the administration org tree root level via the TreeTable paginator
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/composables/queries/useAdministrationTreeQuery.js
  apps/dashboard/src/composables/queries/useAdministrationTreeQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix possibly-undefined mock.calls access in administrations controller test
  apps/backend/src/controllers/administrations.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Route administration tree node-expansion through the query cache
  apps/dashboard/src/components/CardAdministration.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Seed task variant parameters for local dev
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Seed task bundles for local dev
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Route emulator non-super-admins to the admin dashboard via /me userType
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/helpers/resolveUserClaims.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Reload to sign-in on emulator sign-out to avoid re-login hang
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address review: super-admin edge-case test and location.replace on emulator sign-out
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/helpers/resolveUserClaims.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Show task names instead of UUIDs in the bundle picker card
  apps/dashboard/src/components/TaskBundleCard/TaskBundleCard.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix local dev setup: four databases, FGA env auto-loading, env examples
  apps/backend/.env.example
  apps/backend/.env.test.example
  apps/backend/package.json
  apps/backend/src/server.ts
  docker/postgres/init-dev-databases.sh
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move openfga-init to profiles: [init] to prevent docker compose --wait early exit
  docker-compose.yml
Due: none

Improve dev fixture credentials and Auth emulator seeding
  apps/backend/scripts/seed-dev.ts
  apps/backend/src/test-support/firebase-emulator.ts
  apps/backend/tooling/dev-fixture.ts
  docker-compose.yml
  package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update dashboard env loading and Auth emulator Dockerfile
  apps/dashboard/vite.config.js
  docker/firebase-auth-emulator/Dockerfile
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update dashboard .env.example for local dev stack
  apps/dashboard/.env.example
Due: npx dotenvx ext precommit

Migrate the administrations list view to the backend API (#1868)
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/server-test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/composables/queries/useAdministrationsListQuery.js
  apps/dashboard/src/composables/queries/useAdministrationsListQuery.test.js
  apps/dashboard/src/composables/queries/useTaskVariantQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/pages/HomeAdministrator.vue
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Require parent on fetchAdministrationTreeLevel (it only fetches child levels)
  apps/dashboard/src/composables/queries/useAdministrationTreeQuery.js
  apps/dashboard/src/composables/queries/useAdministrationTreeQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Eliminate TestAuthProvider in favor of Firebase Auth emulator
  .github/workflows/ci.yml
  apps/backend/scripts/seed-dev.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/services/auth/providers/test-auth.provider.ts
  apps/backend/src/services/auth/resolve-auth-provider.test.ts
  packages/api-contract/src/test-fixture.type.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
  turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix auth emulator for non-super-admins (#1888)
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/helpers/resolveUserClaims.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Relax authorization on task variant and task bundle list endpoints (#1842)
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/task-bundles.integration.test.ts
  apps/backend/src/routes/task-variants.integration.test.ts
  apps/backend/src/services/authorization/verify-platform-admin-access.test.ts
  apps/backend/src/services/authorization/verify-platform-admin-access.ts
  apps/backend/src/services/task-bundle/task-bundle.service.test.ts
  apps/backend/src/services/task-bundle/task-bundle.service.ts
  apps/backend/src/services/task-variant/task-variant.service.test.ts
  apps/backend/src/services/task-variant/task-variant.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  packages/api-contract/src/v1/task-bundles/contract.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

set irt_hyperparameters as a score config rather than as a .csv
  apps/assessments/roar-sre/src/experiment/corpus/en/irt_hyperparameters_sre.csv
  apps/assessments/roar-sre/src/experiment/scores.js
  packages/assessment-schema/src/constants/common-domains.ts
  packages/assessment-schema/src/roar-pa/domains.ts
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roar-sre/score-entries.test.ts
  packages/assessment-schema/src/roar-sre/score-entries.ts
  packages/assessment-schema/src/roar-sre/score-names.ts
Due: none

Refresh tasks-domain AI rules and add backend-only Cypress smoke coverage (#1843)
  .ai/rules/README.md
  .ai/rules/frontend-backend-api-client.md
  .ai/rules/frontend-composable-patterns.md
  apps/backend/src/routes/task.integration.test.ts
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.test.js
  apps/dashboard/src/composables/queries/useTaskVariantsByTaskQuery.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement claude feedback
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/src/tests/scores.integration.test.js
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roar-sre/sre-irt-params.test.ts
Due: none

Fix groups PATCH immutable-key test assertion and align org test style
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/schools.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Clarify groups integration test header for list/read tiers
  apps/backend/src/routes/groups.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Flatten org mappers to a single representation and document all-or-nothing
  apps/dashboard/src/composables/queries/useDistrictsQuery.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Flatten group org mapper to a single representation
  apps/dashboard/src/composables/queries/useGroupsListQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
