Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Add researcher environment getting started guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

Check port 5432 is free before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

Note port 5432 requirement in researcher environment guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

Fix sample queries: add app. schema prefix and use FDW for cross-DB joins
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

Warn that researcher-environment:down deletes data; clarify Ctrl+C preserves it
  apps/assessments/RESEARCHER_ENVIRONMENT.md
  scripts/researcher-env-down.sh
Due: none

Clarify guide is PA-specific; note each assessment has its own researcher env script and port
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

Adult survey progress not updating correctly (#928)
  src/components/GameTabs.vue
Due: none

add turbo json to roar-pa root
  apps/assessments/roar-pa/turbo.json
Due: none

implement feedback
  apps/assessments/roar-pa/README.md
  apps/dashboard/cypress/e2e/parent/default-tests/addChild.spec.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/assessments.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playARF.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playCALF.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playCVA.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playLetter.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playMorphology.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playOptionalGames.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playPA.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSRE.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSWR.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSyntax.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playVocab.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playARF-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playARF-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playCALF-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playCALF-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-letter/playLetter-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-letter/playLetter-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-morphology/playMorphology-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-vocab/playVocab-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-vocab/playVocab-HighLatency.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

address lint errors
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/instructions.js
  apps/assessments/roar-pa/src/experiment/trials/getUserData.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/webpack.config.cjs
  turbo.json
Due: none

create anonymous users in standalone mode
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/types/express.d.ts
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

create assessment-schema abstraction layer
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/backend/package.json
  apps/backend/src/services/scoring/configs/pa.json
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/config.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/score-names.ts
  packages/assessment-schema/src/pa/subscores.ts
  packages/assessment-schema/tsconfig.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add lint dependency in roar-pa
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/turbo.json
  tickets/1818-assessment-versioning-strategy.md
  tickets/assessment-deployment-ci-cd.md
Due: none

add default export to assessment-sdk package.json
  packages/assessment-sdk/package.json
Due: none

Scope ROAR_API_URL turbo cache key to roar-pa only
  apps/assessments/roar-pa/turbo.json
  turbo.json
Due: none

restore package-level .prettierignore files
  apps/assessments/roar-pa/.prettierignore
  apps/backend/.prettierignore
  apps/dashboard/.prettierignore
  packages/api-contract/.prettierignore
  packages/assessment-sdk/.prettierignore
Due: none

fix import resolution errors
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/subscores.ts
  packages/assessment-schema/tsconfig.json
Due: none

add monorepo build step in ci
  .github/workflows/ci.yml
Due: none

add root level .prettierignore
  .prettierignore
  apps/dashboard/.prettierignore
  packages/api-contract/.prettierignore
Due: none

refresh package-lock.json
  package-lock.json
Due: none

lint 'n format
  apps/assessments/roar-pa/package.json
Due: none

implement test suite for anonmyous user flow
  apps/backend/src/middleware/anon-token/anon-token.middleware.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/test-support/route-test.helper.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/pa/subscores.test.ts
  packages/assessment-schema/turbo.json
  packages/assessment-schema/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement various feedback fixes
  .ai/rules/sdk-layer-architecture.md
  .github/actions/build/action.yml
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/assessment-schema/src/pa/config.ts
  packages/assessment-schema/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove deployment details from this PR
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

handle cors locally
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/src/app.ts
  apps/backend/src/services/user/user.service.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use first publishe variant by default if not provided in url string
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/webpack.config.cjs
Due: npx dotenvx ext precommit

remove markdown files
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix known type error in users route
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement minor nits
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/controllers/users.controller.ts
  packages/assessment-schema/src/pa/config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement build and deployment migration
  .github/workflows/deploy-platform-staging.yml
  monorepo-example.md
  package-lock.json
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

formatting
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/instructions.js
  apps/assessments/roar-pa/src/experiment/trials/getUserData.js
  apps/assessments/roar-pa/webpack.config.cjs
Due: none

Welcome/homepage for researchers (#896)
  package-lock.json
  package.json
  src/assets/styles/root/variables.scss
  src/components/DocsButton.vue
  src/components/NavBar.vue
  src/components/UserActions.vue
  src/composables/mutations/useDeleteAdministrationMutation.test.js
  src/composables/mutations/useDeleteAdministrationMutation.ts
  src/composables/mutations/useUpdateUserMutation.test.js
  src/composables/mutations/useUpdateUserMutation.ts
  src/composables/mutations/useUpsertAdministrationMutation.ts
  src/composables/mutations/useUpsertOrgMutation.ts
  src/composables/queries/useGetSiteOverviewQuery.test.ts
  src/composables/queries/useGetSiteOverviewQuery.ts
  src/constants/queryKeys.ts
  src/firebase/repositories/AdministrationsRepository.ts
  src/firebase/repositories/UsersRepository.ts
  src/helpers/assignments.ts
  src/helpers/index.ts
  src/helpers/query/administrations.js
  src/pages/HomeAdministrator.test.js
  src/pages/HomeAdministrator.vue
  src/pages/ViewAssignments.test.js
  src/pages/ViewAssignments.vue
  src/pages/groups/ListGroups.vue
  src/pages/users/AddUsers.test.ts
  src/pages/users/AddUsers.vue
  src/router/index.ts
  src/router/navbarActions.ts
Due: none

implement feedback
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/index.js
  apps/backend/src/app.ts
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskPA.vue
  packages/api-contract/package.json
  packages/api-contract/src/v1/users/contract.ts
  packages/assessment-sdk/package.json
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

rename pa scores
  packages/assessment-schema/src/pa/config.ts
Due: none

fix failing fga integration test
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

wire local backend
  apps/backend/rollup.config.mjs
  apps/dashboard/.env.example
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/vite.config.js
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update .gitignore
  .gitignore
  tickets/1818-assessment-versioning-strategy.md
  tickets/assessment-deployment-ci-cd.md
Due: none
