Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Port changes from previous branch (rebase)
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add missing env var test and typeof guards on nested error paths
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/utils/api-errors.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix env var leak between test describes causing apiWithAuthRetry failures
  apps/dashboard/src/clients/roar-api/index.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add test for freshToken falsy branch in auth retry
  apps/dashboard/src/clients/roar-api/index.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address review feedback: fix redirect loop, use PvButton and useSignOutMutation, add tests
  apps/dashboard/src/composables/useGlobalError.test.js
  apps/dashboard/src/pages/AccessEnded.vue
  apps/dashboard/src/pages/GenericError.vue
  apps/dashboard/src/plugins.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/utils/api-errors.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add global error handling infrastructure with error pages and router guards
  apps/dashboard/src/composables/useGlobalError.js
  apps/dashboard/src/composables/useRoarApiError.js
  apps/dashboard/src/pages/AccessEnded.vue
  apps/dashboard/src/pages/GenericError.vue
  apps/dashboard/src/plugins.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/utils/api-errors.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire TanStack Query onError to setGlobalError for terminal API errors
  apps/dashboard/src/plugins.js
  apps/dashboard/src/plugins.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix flaky integration tests caused by UserFactory username collisions
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add tests for useRoarApiError composable
  apps/dashboard/src/composables/useRoarApiError.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix plugins.test.js module isolation issue causing CI failures
  apps/dashboard/src/plugins.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav-ran to 2.0.1
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump firekit to 9.17.0
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove unused errorMessage destructuring in useRoarApiError test
  apps/dashboard/src/composables/useRoarApiError.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump ran to 2.0.1 and firekit to 9.17.0 (#1674)
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskRan.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix test failures from missing AuthorizationService mock injection
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/test-support/mocks/fga-client.mock.ts
  apps/backend/vitest.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Unmock FgaClient in its own unit tests
  apps/backend/src/clients/fga.client.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update Parent Registration Flow (#1618)
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/StudentCard.vue
  apps/dashboard/src/components/StudentCardSimple.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/composables/queries/useMultipleUserAssignmentsQuery.js
  apps/dashboard/src/constants/activation.js
  apps/dashboard/src/pages/HomeParent.vue
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update getUsersByDistrictId to require path instead of id, eliminating need for extra query for district path
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename getUsersByDistrictId to getUsersByDistrictPath and update jsdocs for authorizeSubResourceAccess in district service
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/test-support/repositories/district.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Let contract return 400 for immutible fields
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Clean up repository tests
  apps/backend/src/repositories/district.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add validation case
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replace hardcoded auth error messages with ApiErrorMessage enum; use FgaType constants in tests
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/helpers/extract-fga-object-id.helper.test.ts
  apps/backend/src/services/authorization/helpers/extract-fga-object-id.helper.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify filter list conditional
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement docstrings
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.26.0
  package-lock.json
  package.json
Due: none

Add `withBody` to route-test helper
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove redundant type
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add service test for empty request body
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor listOrgs to consolidate org type dispatch into a single config object
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add OpenFGA integration test infrastructure
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/test-support/fga/fga-test-tuples.helper.ts
  apps/backend/src/test-support/fga/index.ts
  apps/backend/vitest.config.ts
  apps/backend/vitest.integration.globalSetup.ts
  apps/backend/vitest.integration.globalTeardown.ts
  apps/backend/vitest.setup.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Make the FGA client mock conditional in vitest.setup.ts so integration tests use the real FGA server
  apps/backend/vitest.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix OpenFGA CI startup by installing binary instead of service container
  .github/workflows/ci.yml
Due: none

Replace hardcoded auth error messages with ApiErrorMessage enum; use FgaType constants in tests
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/test-support/fga/fga-test-tuples.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update tests to conform to lint rules
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FGA integration tests for district service and listByIds repository method
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/test-support/repositories/district.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add OpenFGA integration test infrastructure (#1667)
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/test-support/fga/fga-test-tuples.helper.ts
  apps/backend/src/test-support/fga/index.ts
  apps/backend/vitest.config.ts
  apps/backend/vitest.integration.globalSetup.ts
  apps/backend/vitest.integration.globalTeardown.ts
  apps/backend/vitest.setup.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add back filter tests
  apps/backend/src/repositories/district.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate run service authorization from SQL access controls to OpenFGA
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
