Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add Vite proxy for /v1 to match webpack-dev-server approach
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove planning docs from git
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Explicitly cd into roar-pa for arm 3 of researcher-env-up.sh
  scripts/researcher-env-up.sh
Due: none

Add firebase-tools to roar-pa devDependencies
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

refresh package-lock.json again
  package-lock.json
Due: none

Switch e2e OpenFGA to in-container binary co-located with backend
  .github/workflows/ci.yml
Due: none

Build dashboard via turbo in Cypress jobs
  .github/actions/build/action.yml
  .github/workflows/ci.yml
Due: none

Build api-contract before Cypress jobs
  .github/workflows/ci.yml
Due: none

Initialize FirebaseCoreClient without creds when emulator host is set
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/src/clients/firebase-core.client.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Build api-contract in shared build action (carved out of dc48699f6)
  .github/actions/build/action.yml
Due: none

Seed Firebase Auth emulator from baseFixture in server-test
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/firebase-emulator.test.ts
  apps/backend/src/test-support/firebase-emulator.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

npm run format
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

npm run format
  apps/backend/scripts/create-test-databases.ts
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/firebase-emulator.test.ts
  apps/backend/src/test-support/firebase-emulator.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add /me smoke spec exercising seeded local backend
  apps/dashboard/cypress/e2e/smoke/me.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Run e2e Cypress against a seeded local backend
  .github/workflows/ci.yml
Due: none

Add frontend-e2e-testing-pattern AI rule
  .ai/rules/README.md
  .ai/rules/frontend-e2e-testing-pattern.md
Due: none

Run server-test under NODE_ENV=production in CI
  .github/workflows/ci.yml
Due: none

Use pino-pretty in sync mode to avoid ESM worker-thread crash
  .github/workflows/ci.yml
  apps/backend/src/logger.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fail loudly when a fixture user has no authId
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add create-test-databases bootstrap script
  apps/backend/package.json
  apps/backend/scripts/create-test-databases.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Sort tasks case-insensitively by name and slug
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Resolve server-test asset paths in the e2e-tests CI job
  .github/workflows/ci.yml
Due: none

Move OpenFGA from in-container background process to a service container
  .github/workflows/ci.yml
Due: none

Start OpenFGA via docker run in the e2e CI job
  .github/workflows/ci.yml
Due: none

Pin Start OpenFGA step to bash for set -o pipefail
  .github/workflows/ci.yml
Due: none

Port FDW provisioning to TypeScript so server-test boots without psql
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/db/index.ts
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Anchor test-support paths to BACKEND_ROOT / MONOREPO_ROOT
  .github/workflows/ci.yml
  apps/backend/src/test-support/db/migrate.ts
  apps/backend/src/test-support/fga/index.ts
  apps/backend/src/test-support/paths.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Split deploy build into dep-pass + dashboard-pass
  .github/actions/build/action.yml
Due: none

Thread Vite build mode through the MODE env var
  .github/actions/build/action.yml
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Rewrite e2e AI rule and README to read as shipped state
  .ai/rules/frontend-e2e-testing-pattern.md
  apps/dashboard/cypress/e2e/README.md
  apps/dashboard/cypress/support/e2e.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Pin Start OpenFGA and backend step to bash
  .github/workflows/ci.yml
Due: none

Defer FirebaseAuthClient initialization to first use
  apps/backend/src/clients/firebase-auth.clients.test.ts
  apps/backend/src/clients/firebase-auth.clients.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add regression tests for case-insensitive task sort
  apps/backend/src/repositories/task.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add unit tests for setup-fdw helpers
  apps/backend/src/test-support/db/setup-fdw.test.ts
  apps/backend/src/test-support/db/setup-fdw.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Trim e2e CI: drop unused VITE flag, single browser, set CYPRESS_ROAR_API_BASE_URL
  .github/workflows/ci.yml
Due: none

Reconcile e2e README with the rule on cy.loginAsTestUser
  apps/dashboard/cypress/e2e/README.md
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add health check endpoints for Cloud Run liveness, startup, and readiness probes
  apps/backend/src/app.ts
  apps/backend/src/health/health-checks.test.ts
  apps/backend/src/health/health-checks.ts
  apps/backend/src/health/health-routes.test.ts
  apps/backend/src/health/health-routes.ts
  apps/backend/src/health/shutdown-state.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.ts
  apps/backend/src/server.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Check for docker compose and java before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
