Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Move super_admin flag to separate column
  apps/backend/migrations/assessment/0010_remove_super_admin_from_user_type.sql
  apps/backend/migrations/assessment/meta/0010_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0048_move_super_admin_flag_into_separate_column.sql
  apps/backend/migrations/core/meta/0048_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

bump roam-apps to v1.3.4 (#1511)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix TS offenses
  apps/backend/src/errors/api-error.ts
  apps/backend/src/errors/database-error.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Deprecate use of filters
  apps/backend/src/filters/base.filter.ts
  apps/backend/src/filters/index.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/interfaces/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Copy foundational files from roar-firebase-functions/core
  apps/backend/src/enums/database-error-code.enum.ts
  apps/backend/src/errors/api-error.ts
  apps/backend/src/errors/database-error.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/filters/base.filter.ts
  apps/backend/src/filters/index.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/interfaces/index.ts
  apps/backend/src/services/auth/auth.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add AuthContext to req.user
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/repositories/index.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/user/index.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/types/express.d.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove initial /users test route
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/users.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/index.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Extract and enhance global error handler
  apps/backend/src/app.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix test cmd dependency
  turbo.json
Due: none

Use Set comparison in enum test
  apps/backend/src/enums/user-type.enum.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add /me endpoint
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/enums/user-type.enum.test.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/me/index.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix API description in me/contract.ts
  packages/api-contract/src/v1/me/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove barrel exports
  apps/backend/src/controllers/index.ts
  apps/backend/src/repositories/index.ts
  apps/backend/src/repositories/interfaces/index.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix error response for not found users
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix participant auth test to check for administration dropdown
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

skeleton sdk mapping
  packages/assessment-sdk/eslint.config.mjs
  packages/assessment-sdk/package.json
  packages/assessment-sdk/prettier.config.mjs
  packages/assessment-sdk/rollup.config.mjs
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/command/index.ts
  packages/assessment-sdk/src/command/invoker.test.ts
  packages/assessment-sdk/src/command/invoker.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/errors/sdk-error.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/assessment-sdk/tsconfig.json
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.setup.ts
Due: none

changing api contract from workspace to 000 and rollup plugin to 6
  package-lock.json
  packages/assessment-sdk/package.json
Due: none

Fix participant auth test to check for administration dropdown (#1514)
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Move super_admin flag to separate column (#1512)
  apps/backend/migrations/assessment/0010_remove_super_admin_from_user_type.sql
  apps/backend/migrations/assessment/meta/0010_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0048_move_super_admin_flag_into_separate_column.sql
  apps/backend/migrations/core/meta/0048_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix agreement_versions.locale varchar length to match BCP 47 constraint
  apps/backend/migrations/core/0049_fix_agreement_versions_locale_constraint.sql
  apps/backend/migrations/core/meta/0049_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreement-versions.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix agreement_versions.locale varchar length to match BCP 47 constraint (#1513)
  apps/backend/migrations/core/0049_fix_agreement_versions_locale_constraint.sql
  apps/backend/migrations/core/meta/0049_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreement-versions.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Bug #751 Cannot assign across schools (#758)
  src/components/GroupPicker.vue
Due: none

Update packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: none

Update packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Extend user_role enum with OneRoster v1.1 + v1.2 roles
  apps/backend/migrations/assessment/0011_extend_user_role_enum_oneroster.sql
  apps/backend/migrations/assessment/meta/0011_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0050_extend_user_role_enum_oneroster.sql
  apps/backend/migrations/core/meta/0050_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extend user_role enum with OneRoster v1.1 + v1.2 roles (#1516)
  apps/backend/migrations/assessment/0011_extend_user_role_enum_oneroster.sql
  apps/backend/migrations/assessment/meta/0011_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0050_extend_user_role_enum_oneroster.sql
  apps/backend/migrations/core/meta/0050_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

bump roam-apps to v1.3.5
  package-lock.json
  package.json
Due: none

Fix for #752 (#756)
  src/components/userInfo/LinkUsersInfo.vue
  src/constants/bucket.ts
Due: none

FIX: Survey translations (#741)
  src/pages/HomeParticipant.vue
Due: none

bump roam-apps to v1.3.5 (#1517)
  package-lock.json
  package.json
Due: none

Bug #737 Prohibit identical class names within site (#744)
  src/components/modals/AddGroupModal.vue
  src/helpers/query/orgs.js
  src/pages/groups/ListGroups.vue
Due: none

Bug #726 Avoid duplicate assignments (#755)
  src/composables/queries/useAssignmentExistsQuery.ts
  src/helpers/query/assignments.js
  src/pages/CreateAssignment.vue
Due: none

Add user context to auth middleware (#1500)
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/enums/database-error-code.enum.ts
  apps/backend/src/errors/api-error.ts
  apps/backend/src/errors/database-error.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/repositories/index.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/interfaces/index.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/user/index.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/types/express.d.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Feat #649 Display username for participant users (#759)
  src/components/UserActions.vue
Due: none

adding devDependecies
  package-lock.json
  packages/assessment-sdk/package.json
Due: none

lint and formt
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/command/index.ts
  packages/assessment-sdk/src/command/invoker.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/errors/sdk-error.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
