Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Install dotenv for drizzle config compatibility
  .github/actions/run-db-migrations/action.yml
Due: none

Rename migration workflow jobs for clarity
  .github/workflows/migrate-development.yml
Due: none

Restore super_admin to UserTypeSchema in api-contract
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Simplify bootstrap migrations for CloudSQL compatibility
  apps/backend/migrations/assessment/0000_set_base_config.sql
  apps/backend/migrations/core/0000_set_base_config.sql
Due: none

Remove test branch trigger and add database env vars to turbo.json
  .github/workflows/migrate-development.yml
  turbo.json
Due: none

Fix TypeScript errors in CI
  apps/backend/src/db/clients.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix dotenv version and async shutdown callback
  .github/actions/run-db-migrations/action.yml
  apps/backend/src/server.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Set role_app_migrator via PGOPTIONS for migrations
  .github/actions/run-db-migrations/action.yml
Due: none

Fix tabs not properly switching on pdf export
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Track a seperate variable for determing loading state for seperate export buttons
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Introduce backend integration testing infrastructure (#1529)
  .github/workflows/ci.yml
  apps/backend/.env.test.example
  apps/backend/package.json
  apps/backend/src/clients/firebase-auth.clients.test.ts
  apps/backend/src/db/clients.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.test.ts
  apps/backend/src/test-support/db/cleanup.ts
  apps/backend/src/test-support/db/db.integration.test.ts
  apps/backend/src/test-support/db/index.ts
  apps/backend/src/test-support/db/migrate.ts
  apps/backend/src/test-support/factories/administration-class.factory.ts
  apps/backend/src/test-support/factories/administration-group.factory.ts
  apps/backend/src/test-support/factories/administration-org.factory.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  apps/backend/src/test-support/factories/class.factory.ts
  apps/backend/src/test-support/factories/group.factory.ts
  apps/backend/src/test-support/factories/org.factory.ts
  apps/backend/src/test-support/factories/user-class.factory.ts
  apps/backend/src/test-support/factories/user-group.factory.ts
  apps/backend/src/test-support/factories/user-org.factory.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  apps/backend/src/test-support/fixtures/index.ts
  apps/backend/src/test-support/mocks/firebase-admin.mock.ts
  apps/backend/vitest.config.ts
  apps/backend/vitest.integration.globalSetup.ts
  apps/backend/vitest.setup.ts
  turbo.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add GET /administrations/:id endpoint with RBAC authorization
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/utils/format-api-error.util.ts
  apps/backend/src/utils/to-error-response.util.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/response.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Replace repository unit tests with integration tests
  apps/backend/src/repositories/administration-task-variant.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/base.repository.test.ts
  apps/backend/src/repositories/runs.repository.integration.test.ts
  apps/backend/src/repositories/runs.repository.test.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/test-support/factories/administration-task-variant.factory.ts
  apps/backend/src/test-support/factories/run.factory.ts
  apps/backend/src/test-support/factories/task-variant.factory.ts
  apps/backend/src/test-support/factories/task.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add SIS ID to score report CSV export (#1545) (#1547)
  apps/dashboard/src/constants/csvExport.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix user service test mock and add GET /:id unit tests
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/user/user.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add unit tests for API error utility functions
  apps/backend/src/utils/format-api-error.util.test.ts
  apps/backend/src/utils/to-error-response.util.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

[FIX] Export PDFs (#1546)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add GET /v1/districts/:id endpoint with RBAC and children embed support
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.ts
  packages/api-contract/src/v1/districts/contract.ts
  packages/api-contract/src/v1/districts/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add update engagement flags stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: none

update for code review suggestions
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: none

fix merge conflict
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Add `GET /administrations/:id` endpoint with RBAC authorization (#1548)
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/repositories/administration-task-variant.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/base.repository.test.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/runs.repository.integration.test.ts
  apps/backend/src/repositories/runs.repository.test.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/administration-task-variant.factory.ts
  apps/backend/src/test-support/factories/run.factory.ts
  apps/backend/src/test-support/factories/task-variant.factory.ts
  apps/backend/src/test-support/factories/task.factory.ts
  apps/backend/src/utils/format-api-error.util.test.ts
  apps/backend/src/utils/format-api-error.util.ts
  apps/backend/src/utils/to-error-response.util.test.ts
  apps/backend/src/utils/to-error-response.util.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/response.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

format
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

Fix score type and language for normed palabra tasks (#1528)
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add timezone handling documentation to isEnrollmentActive utility
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/utils/enrollment.utils.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract isAuthorizedMembership utility for access control queries
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/utils/membership.utils.test.ts
  apps/backend/src/repositories/utils/membership.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update to import districtQuery and district from api-contract
  apps/backend/src/controllers/districts.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update location attribute inclusion
  apps/backend/src/controllers/districts.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `updateEngagementFlags` stub (#1539)
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: none

Extract filterSupervisoryRoles utility for access control queries
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.test.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add update-user stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

update for PR review
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

update to add add-interaction stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
  packages/assessment-sdk/src/types/index.ts
Due: none

add write-trial stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/write-trial.ts
Due: none

Split repository utils into single-function files
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/utils/access-controls.utils.test.ts
  apps/backend/src/repositories/utils/is-ancestor-or-equal.utils.test.ts
  apps/backend/src/repositories/utils/is-ancestor-or-equal.utils.ts
  apps/backend/src/repositories/utils/is-descendant-or-equal.utils.test.ts
  apps/backend/src/repositories/utils/is-descendant-or-equal.utils.ts
  apps/backend/src/repositories/utils/ltree.utils.ts
  apps/backend/src/repositories/utils/parse-access-control-filter.utils.test.ts
  apps/backend/src/repositories/utils/parse-access-control-filter.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename membership.utils to is-authorized-membership.utils
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.test.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix merge conflicts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

implementing v1/runs endpoint
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/services/task/task.service.ts
  package-lock.json
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/runs/contract.ts
  packages/api-contract/src/v1/runs/index.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn
