Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Rename Admin → System across contract, controller, and route layers
  apps/backend/src/controllers/system.controller.test.ts
  apps/backend/src/controllers/system.controller.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/system.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/system/contract.ts
  packages/api-contract/src/v1/system/index.ts
  packages/api-contract/src/v1/system/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Handle null dates and invalid class roles in FGA backfill
  apps/backend/src/services/authorization/fga-constants.ts
  apps/backend/src/services/authorization/helpers/fga-tuples.test.ts
  apps/backend/src/services/authorization/helpers/fga-tuples.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Return 202 for non-dry-run FGA backfill (fire-and-forget)
  apps/backend/src/controllers/system.controller.test.ts
  apps/backend/src/controllers/system.controller.ts
  packages/api-contract/src/v1/system/contract.ts
  packages/api-contract/src/v1/system/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Suggestions for `ref/add-schools-endpoint` (#1656)
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/db/schema/common.ts
  apps/backend/src/db/schema/core/orgs.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/types/postgres.ts
  package-lock.json
  packages/api-contract/src/v1/districts/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add `PATCH /v1/users/:userId` (#1641)
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/services/user.service.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix group list_objects to include school+group administration
  packages/authz/tests/administration-permissions.fga.yaml
Due: none

Address comments: refactor UserJunctionTable
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add default code
  apps/dashboard/src/components/auth/RegisterChildren.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix lint error with enrolled-users-query.utils.test.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `GET /groups/:groupId/users` endpoint (#1629)
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/groups.controller.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/group.repository.integration.test.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.test.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/src/test-support/factories/group.factory.ts
  apps/backend/src/test-support/repositories/group.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/route-test.helper.ts
  packages/api-contract/src/v1/groups/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add progress students report backend layers with review feedback
  apps/backend/src/controllers/reports.controller.test.ts
  apps/backend/src/controllers/reports.controller.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/reports.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/report.repository.ts
  apps/backend/src/types/filter.ts
  apps/backend/src/utils/build-filter-conditions.util.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add integration tests for progress students report
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add SuperAdminAuthGuardMiddleware and remove inline auth check from system controller
  apps/backend/src/controllers/system.controller.test.ts
  apps/backend/src/controllers/system.controller.ts
  apps/backend/src/middleware/super-admin-auth-guard/super-admin-auth-guard.middleware.test.ts
  apps/backend/src/middleware/super-admin-auth-guard/super-admin-auth-guard.middleware.ts
  apps/backend/src/routes/system.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract shared mock FGA client factory into test-support/clients
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/test-support/clients/fga.client.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add diff-based FGA sync reconciliation
  apps/backend/src/controllers/system.controller.test.ts
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
  apps/backend/src/services/system/authorization/tuple-key.utils.test.ts
  apps/backend/src/services/system/authorization/tuple-key.utils.ts
  apps/backend/src/test-support/clients/fga.client.ts
  packages/api-contract/src/v1/system/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add `GET /v1/tasks/:taskId/variants/:variantId` (#1651)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/services/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use typed UserRole constants in FGA_CLASS_VALID_ROLES
  apps/backend/src/services/authorization/fga-constants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use StatusCodes.ACCEPTED constant for 202 response
  apps/backend/src/controllers/system.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add test for admin-tier role filtering in class membership tuples
  apps/backend/src/services/system/authorization/authorization.module.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add defensive-catch comment to outer syncFgaStore error handler
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix FGA read to use unfiltered query instead of per-type prefix
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

in task integration test, replace Date object with random UUID to guarantee uniqueness at run time
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

limit random task slugs to 32 characters, remove duplicate describe blocks in test files
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update regex to account for zero string
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Drop unique constraint on orgs.nces_id
  apps/backend/migrations/core/0060_drop_orgs_nces_id_unique_constraint.sql
  apps/backend/migrations/core/meta/0060_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add slug lookup support to GET and LIST routes (#1654)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Consolidate changes from previous branch
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add tests to cover new restrictions
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Correct lint issue
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove unneed 422 status code
  apps/backend/src/controllers/tasks.controller.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement integration tests
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add additional constraints
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Make create task schema more strict
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Drop unique index on classes(school_id, lower(name))
  apps/backend/migrations/core/0061_drop_classes_school_name_unique_index.sql
  apps/backend/migrations/core/meta/0061_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/classes.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Drop unique constraints on `orgs.nces_id` and `classes(school_id, name)` (#1659)
  apps/backend/migrations/core/0060_drop_orgs_nces_id_unique_constraint.sql
  apps/backend/migrations/core/0061_drop_classes_school_name_unique_index.sql
  apps/backend/migrations/core/meta/0060_snapshot.json
  apps/backend/migrations/core/meta/0061_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/classes.ts
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add progress students report backend layers with review feedback
  apps/backend/src/controllers/reports.controller.test.ts
  apps/backend/src/controllers/reports.controller.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/report.repository.ts
  apps/backend/src/types/filter.ts
  apps/backend/src/utils/build-filter-conditions.util.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix buildProgressMap overwriting higher-priority status across variants
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FDW integration tests for progress students report
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/test-support/factories/run-score.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix FDW integration test failures
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
