Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

remove nullable from authProvider in contract
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- converted the FirekitFacade class to use modern # private fields instead of the underscore convention
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

remove dead mock in task service test
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove dead tests and outdated comments
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add rosteringEnded back to schema
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add rosteringEnded back to schema
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add rosteringEnded to UpdateUserRequestSchema
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add rosteringEnded to controller toUserResponse
  apps/backend/src/controllers/users.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add rosteringEnded back to schema and factory
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove rosteringEnded from update data (should only be set by system)
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

adding roav-mp to launch
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

- fix interaction buffer
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

assessmentPid nullable
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fail hard when fga CLI is missing instead of silently skipping
  packages/authz/package.json
Due: none

Run FGA model tests via GitHub Action in CI
  .github/workflows/ci.yml
  packages/authz/package.json
Due: none

Fix assessmentPid type to match nullable DB column
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Standardize permission ordering and add missing CUD restrictions
  packages/authz/authorization-model.fga
Due: none

Refine permission model: remove caregiver org-level access, add family child permissions
  packages/authz/authorization-model.fga
Due: none

Update FGA tests to match refined permission model
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

Make assessmentPid nullable and add ProgressStatus enum alignment test
  apps/backend/src/enums/progress-status.enum.test.ts
  packages/api-contract/src/v1/administrations/reports/common.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add group-to-org isolation and multi-entity administration tests
  packages/authz/tests/administration-permissions.fga.yaml
Due: none

Add comprehensive FGA test coverage for edge cases
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
Due: none

address review comments:
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/test-support/repositories/school.repository.ts
  packages/api-contract/src/v1/districts/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add integration tests, fix query typing, fix object mutation, remove unused embeds, add unit tests
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
  packages/api-contract/src/v1/schools/contract.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Make assessmentPid nullable in UserResponseSchema
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix tests and linting
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/services/school/school.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix tests and lint
  apps/backend/src/test-support/repositories/school.repository.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix linting
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add tests to show that non superAdmin tiers cannot make themselves a super admin
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

additional remarks about uuid and slug lookup in task schema
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

clarify comment
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

set strict() on user update schema to prevent unknown files such as isSuperAdmin
  apps/backend/src/routes/users.integration.test.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

clarify strictness test
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add test for strictness defense-in-depth, 400 over 403
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

change expected error code in strictness test
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

check for existence of error only, rather an any specific code
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove error code checking, as ts-rest seems to be intercepting validation errors before our ApiError can intercept them
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix lint issue with getGroupTierUsers
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add test case where group admin does not have access to other groups for groups.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Bump pa to 5.0.7
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
