Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Permission fixes 2 (#717)
  src/components/CardAdministration.vue
  src/components/GroupPicker.vue
  src/components/modals/AddAdministratorModal.vue
  src/components/modals/AddGroupModal.vue
  src/composables/queries/_useSchoolsQuery.ts
  src/composables/queries/useOrgsTableQuery.ts
  src/helpers/query/orgs.js
  src/pages/CreateAssignment.vue
  src/pages/groups/ListGroups.vue
  src/pages/users/AddUsers.vue
Due: none

Fix export buttons badges and name (#1487)
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Hide empty phonics tags for practiced attempted only scores and fix missing tags for 0 correct scores
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

inverting container/presentational pattern
  apps/dashboard/src/containers/SignIn/SignIn.test.js
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/pages/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

solving copilot suggestions
  apps/dashboard/src/components/LanguageSelector.vue
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/containers/SignIn/components/SignInError/SignInError.test.js
  apps/dashboard/src/containers/SignIn/components/SignInError/SignInError.vue
  apps/dashboard/src/containers/SignIn/components/SuccessAlert/SuccessAlert.vue
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Prevent district query from running for non-districts, set loading spinner for duration of isLoadingDistrictSupportCategories
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Revert "Prevent district query from running for non-districts, set loading spinner for duration of isLoadingDistrictSupportCategories"
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Prevent district query from running for non-districts, set loading spinner for duration of isLoadingDistrictSupportCategories (#1492)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update LICENSE (#1491)
  LICENSE
Due: none

3.21.0
  package-lock.json
  package.json
Due: none

3.22.0
  package-lock.json
  package.json
Due: none

Bug #706 Super admin cohort creation fails (#721)
  src/components/modals/AddGroupModal.vue
Due: none

Permission fixes 3 (#722)
  package-lock.json
  package.json
  src/components/GroupPicker.vue
  src/components/modals/AddAdministratorModal.vue
  src/composables/mutations/useUpsertOrgMutation.ts
  src/pages/users/LinkUsers.vue
Due: none

Fix missing palabra and frase tags
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Permission Fix 4 (#724)
  src/pages/CreateAssignment.vue
  src/pages/tests/addUsers.test.js
  src/pages/users/AddUsers.vue
Due: none

Fix progress report csv export (#704)
  src/components/GameTabs.vue
  src/components/RoarDataTable.vue
  src/constants/coreTasks.ts
  src/pages/ProgressReport.vue
Due: none

hidding privacy and removing oidc from normalizeProviders
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/pages/SignIn.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating firekit
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove oidc from getProviders and update firekit to add nycps to fetchEmailAuthMethods (#1494)
  apps/dashboard/package.json
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/pages/SignIn.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Apply missing tag fix (no test questions attempted) to all percent correct tasks
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bug #718 View assignments sort broken (#723)
  src/components/CardAdministration.vue
  src/pages/HomeAdministrator.vue
Due: none

Bug #719 Assignment card progress not showing (#725)
  src/helpers/query/administrations.js
Due: none

Update apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.23.0
  package-lock.json
  package.json
Due: none

Fix: participant sidebar showing for admins (#716)
  src/App.vue
  src/assets/styles/components/navbar.scss
  src/pages/HomeParticipant.vue
  src/pages/SignIn.vue
  src/router/index.ts
  src/store/auth.ts
Due: none

fix(auth): restore automatic SSO auth on OAuth redirect
  apps/dashboard/src/containers/SignIn/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix missing tags for several games (#1493)
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Restore automatic SSO auth on OAuth redirect (#1495)
  apps/dashboard/src/containers/SignIn/SignIn.vue
  package-lock.json
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.23.1
  package-lock.json
  package.json
Due: none

Reset db schema
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/relations.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/db/schema/assessment/run-trial-interactions.ts
  apps/backend/src/db/schema/assessment/run-trials.ts
  apps/backend/src/db/schema/assessment/runs.ts
  apps/backend/src/db/schema/core/administration-agreements.ts
  apps/backend/src/db/schema/core/administration-classes.ts
  apps/backend/src/db/schema/core/administration-groups.ts
  apps/backend/src/db/schema/core/administration-orgs.ts
  apps/backend/src/db/schema/core/administration-task-variants.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/db/schema/core/agreement-versions.ts
  apps/backend/src/db/schema/core/agreements.ts
  apps/backend/src/db/schema/core/classes.ts
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/families.ts
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/orgs.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/rostering-provider-ids.ts
  apps/backend/src/db/schema/core/rostering-run-entities.ts
  apps/backend/src/db/schema/core/rostering-runs.ts
  apps/backend/src/db/schema/core/run-demographics.ts
  apps/backend/src/db/schema/core/task-bundle-variants.ts
  apps/backend/src/db/schema/core/task-bundles.ts
  apps/backend/src/db/schema/core/task-variant-parameters.ts
  apps/backend/src/db/schema/core/task-variants.ts
  apps/backend/src/db/schema/core/tasks.ts
  apps/backend/src/db/schema/core/user-agreements.ts
  apps/backend/src/db/schema/core/user-assignment-progress.ts
  apps/backend/src/db/schema/core/user-assignments.ts
  apps/backend/src/db/schema/core/user-classes.ts
  apps/backend/src/db/schema/core/user-families.ts
  apps/backend/src/db/schema/core/user-groups.ts
  apps/backend/src/db/schema/core/user-orgs.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add base config migrations
  apps/backend/migrations/assessment/0000_set_base_config.sql
  apps/backend/migrations/assessment/meta/0000_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0000_set_base_config.sql
  apps/backend/migrations/core/meta/0000_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix missing frase tooltip and palabra tag color when numAttempted = numIncorrect, where numCorrect is undefined
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove unnormed spanish tasks in assessments shown list in individual score reports
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add enums migrations
  apps/backend/migrations/assessment/0001_add_enums.sql
  apps/backend/migrations/assessment/meta/0001_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0001_add_enums.sql
  apps/backend/migrations/core/meta/0001_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/enums/agreement-type.enum.ts
  apps/backend/src/enums/assessment-stage.enum.ts
  apps/backend/src/enums/assignment-progress.enum.ts
  apps/backend/src/enums/auth-provider.enum.ts
  apps/backend/src/enums/class-type.enum.ts
  apps/backend/src/enums/frl-status.enum.ts
  apps/backend/src/enums/grade.enum.ts
  apps/backend/src/enums/group-type.enum.ts
  apps/backend/src/enums/org-type.enum.ts
  apps/backend/src/enums/rostering-entity-status.enum.ts
  apps/backend/src/enums/rostering-entity-type.enum.ts
  apps/backend/src/enums/rostering-provider.enum.ts
  apps/backend/src/enums/school-level.enum.ts
  apps/backend/src/enums/score-type.enum.ts
  apps/backend/src/enums/task-variant-status.enum.ts
  apps/backend/src/enums/trial-interaction-type.enum.ts
  apps/backend/src/enums/user-family-role.enum.ts
  apps/backend/src/enums/user-role.enum.ts
  apps/backend/src/enums/user-type.enum.ts
  apps/backend/src/enums/utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
