Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Reinstall npm
  package-lock.json
Due: none

Bump sre
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update sre getScoreValues
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add sre-es getScoreValues
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add test case for new fields
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add sre-es test
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

solving issue
  package-lock.json
Due: none

Exclude memory game and hearts and flowers from score report
  apps/dashboard/src/constants/levanteTasks.js
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update app/dashboard version in preparation for version bump
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.14.0
  package-lock.json
  package.json
Due: none

Exclude ef & survey from score exports
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add streamlined pull-json script
  package.json
  src/translations/README_CROWDIN.md
  src/translations/tools/download-and-rebuild.js
  src/translations/tools/pull-json.js
Due: none

change text for checkbox
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Replace fixed administration assertion by validating it within dropdown
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix translations (#599)
  package.json
  src/translations/consolidated/components/game-tabs-translations.csv
  src/translations/consolidated/components/navbar-translations.csv
  src/translations/consolidated/components/participant-sidebar-translations.csv
  src/translations/consolidated/components/sentry-form-translations.csv
  src/translations/consolidated/components/tasks-translations.csv
  src/translations/consolidated/dashboard-translations.csv
  src/translations/de/ch/de-CH-componentTranslations.json
  src/translations/de/de-componentTranslations.json
  src/translations/en/gh/en-GH-componentTranslations.json
  src/translations/en/us/en-US-componentTranslations.json
  src/translations/es/ar/es-AR-componentTranslations.json
  src/translations/es/co/es-CO-componentTranslations.json
  src/translations/fr/ca/fr-CA-componentTranslations.json
  src/translations/main/dashboard/components/game-tabs-translations.csv
  src/translations/main/dashboard/components/navbar-translations.csv
  src/translations/main/dashboard/components/participant-sidebar-translations.csv
  src/translations/main/dashboard/components/sentry-form-translations.csv
  src/translations/main/dashboard/components/tasks-translations.csv
  src/translations/main/dashboard/dashboard-translations.csv
  src/translations/nl/nl-componentTranslations.json
  src/translations/tools/pull-json.js
Due: none

Fix editAdministration cypress test
  apps/dashboard/cypress/e2e/super-admin/default-tests/create-administrations/editAdministration.cy.js
  apps/dashboard/src/components/modals/EditVariantDialog.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bug #595 Complete assignments should appear on past tab (#602)
  src/components/GameTabs.vue
  src/components/SideBar.vue
  src/components/assignments/AssignmentCard.vue
  src/components/tests/AssignmentCard.test.js
  src/components/tests/SideBar.test.js
  src/helpers/assignments.ts
  src/pages/HomeParticipant.vue
  src/pages/SignIn.vue
Due: none

Fix role creation and function logic
  apps/backend/migrations/core/0000_set_base_config.sql
  apps/backend/migrations/core/0004_add_get_school_level_from_grade_fn.sql
Due: none

Add enums
  apps/backend/src/enums/agreement-type.enum.ts
  apps/backend/src/enums/assignment-progress.enum.ts
  apps/backend/src/enums/auth-provider.enum.ts
  apps/backend/src/enums/class-type.enum.ts
  apps/backend/src/enums/frl-status.enum.ts
  apps/backend/src/enums/grade.enum.ts
  apps/backend/src/enums/group-type.enum.ts
  apps/backend/src/enums/org-type.enum.ts
  apps/backend/src/enums/rostering-entity-type.enum.ts
  apps/backend/src/enums/rostering-provider.enum.ts
  apps/backend/src/enums/school-level.enum.ts
  apps/backend/src/enums/trial-interaction-type.enum.ts
  apps/backend/src/enums/user-family-role.enum.ts
  apps/backend/src/enums/user-role.enum.ts
  apps/backend/src/enums/user-type.enum.ts
  apps/backend/src/enums/variant-status.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add users_orgs table
  apps/backend/migrations/core/0007_add_users_orgs_table.sql
  apps/backend/migrations/core/meta/0007_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users-orgs.ts
  apps/backend/src/db/schema/core/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add base migration, incl. extensions and roles
  apps/backend/migrations/core/0000_set_base_config.sql
  apps/backend/migrations/core/meta/0000_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add orgs table
  apps/backend/migrations/core/0005_add_orgs_table.sql
  apps/backend/migrations/core/meta/0005_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add groups table
  apps/backend/migrations/core/0008_add_groups_table.sql
  apps/backend/migrations/core/meta/0008_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Include dashboard as rostering provider
  apps/backend/migrations/core/0006_include_dashboard_as_rostering_provider.sql
  apps/backend/migrations/core/meta/0006_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/enums/rostering-provider.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add users table
  apps/backend/migrations/core/0004_add_users_table.sql
  apps/backend/migrations/core/meta/0004_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add get_school_level_from_grade fn
  apps/backend/migrations/core/0004_add_get_school_level_from_grade_fn.sql
  apps/backend/migrations/core/meta/0004_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove demo migrations
  apps/backend/migrations/app/0000_cheerful_logan.sql
  apps/backend/migrations/app/meta/0000_snapshot.json
  apps/backend/migrations/app/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix schema and migrations path
  apps/backend/drizzle.core.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add set_updated_at fn
  apps/backend/migrations/core/0001_add_set_updated_at_fn.sql
  apps/backend/migrations/core/meta/0001_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add enum migration
  apps/backend/migrations/core/0002_add_db_enums.sql
  apps/backend/migrations/core/meta/0002_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update orgType enum to match OneRoster specs
  apps/backend/migrations/core/0022_update_org_type_enum_to_match_oneroster_specs.sql
  apps/backend/migrations/core/meta/0022_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/enums/org-type.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add get_school_levels_from_grades_array fn
  apps/backend/migrations/core/0012_add_get_school_levels_from_grades_array_fn.sql
  apps/backend/migrations/core/meta/0012_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix migrations directory
  apps/backend/migrations/core/0003_add_get_school_level_from_grade_fn.sql
  apps/backend/migrations/core/meta/0003_snapshot.json
  apps/backend/migrations/core/meta/0005_snapshot.json
  apps/backend/migrations/core/meta/0006_snapshot.json
  apps/backend/migrations/core/meta/0007_snapshot.json
  apps/backend/migrations/core/meta/0008_snapshot.json
  apps/backend/migrations/core/meta/0009_snapshot.json
  apps/backend/migrations/core/meta/0010_snapshot.json
  apps/backend/migrations/core/meta/0011_snapshot.json
  apps/backend/migrations/core/meta/0012_snapshot.json
  apps/backend/migrations/core/meta/0013_snapshot.json
  apps/backend/migrations/core/meta/0014_snapshot.json
  apps/backend/migrations/core/meta/0015_snapshot.json
  apps/backend/migrations/core/meta/0016_snapshot.json
  apps/backend/migrations/core/meta/0017_snapshot.json
  apps/backend/migrations/core/meta/0018_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Drop obsolete rostering provider columns from orgs
  apps/backend/migrations/core/0021_drop_orgs_rostering_provider_details.sql
  apps/backend/migrations/core/meta/0021_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add missing triggers
  apps/backend/migrations/core/0009_add_users_groups_table.sql
  apps/backend/migrations/core/0010_add_courses_table.sql
Due: none

Add rostering_provider_ids table
  apps/backend/migrations/core/0016_add_rostering_provider_ids_table.sql
  apps/backend/migrations/core/meta/0016_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/rostering-provider-ids.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add users_classes table
  apps/backend/migrations/core/0015_add_users_classes_table.sql
  apps/backend/migrations/core/meta/0015_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users-classes.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add courses table
  apps/backend/migrations/core/0010_add_courses_table.sql
  apps/backend/migrations/core/meta/0010_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix validate_class_org_refs column ref
  apps/backend/migrations/core/0014_add_validate_class_org_refs_fn.sql
Due: none

Add classes table
  apps/backend/migrations/core/0013_add_classes_table.sql
  apps/backend/migrations/core/meta/0013_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/classes.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
