Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add flat task-variants list and agreements query composables
  apps/dashboard/src/composables/queries/useAgreementsQuery.js
  apps/dashboard/src/composables/queries/useAgreementsQuery.test.js
  apps/dashboard/src/composables/queries/useTaskVariantsListQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantsListQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

configure scoring for roar-sre
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/experiment.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/src/experiment/trials/practice.js
  apps/assessments/roar-sre/src/experiment/trials/sentence.js
  apps/assessments/roar-sre/src/index.js
  apps/assessments/roar-sre/src/sdk/sre-firekit-facade.js
  apps/assessments/roar-sre/taskVariantParameters.example.json
  apps/backend/package.json
  apps/backend/seeds/roar-sre.seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

solving lint issues
  package-lock.json
  packages/assessment-sdk/src/bootstrap.ts
Due: none

Bump roam to 1.3.10
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

wire roar-sre to dashboard and versioning
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .release-please-manifest.json
  .release-please.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add flat-to-nested task-variant adapter for the administration form picker
  apps/dashboard/src/helpers/adaptVariantsForPicker.js
  apps/dashboard/src/helpers/adaptVariantsForPicker.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix lint and format errors
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/experiment.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/dashboard/src/pages/PlayApp.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate the upsert-administration mutation to create/update endpoints
  apps/dashboard/src/composables/mutations/useUpsertAdministrationMutation.js
  apps/dashboard/src/composables/mutations/useUpsertAdministrationMutation.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Redesign ConsentPicker to select consent/assent agreements by UUID
  apps/dashboard/src/components/ConsentPicker.vue
  apps/dashboard/src/constants/agreements.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating cva and morph for clowder and norm
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire the administration form to the create/update API
  apps/dashboard/src/components/CreateAdministration.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add warning if taskVariantParameters does not exist locally
  apps/assessments/roar-sre/taskVariantParameters.example.json
  apps/backend/seeds/roar-sre.seed.ts
  assessment.Dockerfile
  scripts/assessment-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

write raw scores
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/taskVariantParameters.example.json
  packages/assessment-schema/src/roar-sre/score-entries.test.ts
  packages/assessment-schema/src/roar-sre/score-entries.ts
  packages/assessment-schema/src/roar-sre/score-names.ts
Due: none

extract theta score names into a shared constant
  packages/assessment-schema/src/constants/theta-score-names.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-sre/score-names.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: none

Parse rounded numbers as floats
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adjust score clamping in scores.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/taskVariantParameters.example.json
  packages/assessment-schema/src/roar-sre/score-entries.test.ts
Due: none

update example task parameters
  apps/assessments/roar-sre/taskVariantParameters.example.json
Due: none

refresh package-lock.json
  package-lock.json
Due: none

bootstrap API error change
  apps/assessments/roar-pa/serve/serve.js
  packages/assessment-sdk/src/bootstrap.test.ts
  packages/assessment-sdk/src/bootstrap.ts
Due: none

Seed a super-admin fixture user for the Auth emulator (#1857)
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add variant to example json
  apps/assessments/roar-sre/taskVariantParameters.example.json
Due: none

Return isSuperAdmin from the /me endpoint (#1856)
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Pre-fill consent on edit from the administration agreements endpoint
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/composables/queries/useAdministrationAgreementsQuery.js
  apps/dashboard/src/composables/queries/useAdministrationAgreementsQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement claude feedback
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-sre/cypress/e2e/default-tests/validateGameParameters.cy.js
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/src/tests/scores.integration.test.js
  packages/assessment-schema/src/constants/common-domains.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-pa/trial-types.ts
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roar-sre/score-entries.test.ts
  packages/assessment-schema/src/roar-sre/score-entries.ts
  packages/assessment-schema/src/roar-sre/score-names.ts
  packages/assessment-schema/src/roar-sre/variants.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
  packages/assessment-schema/src/score-utils.ts
  packages/assessment-schema/src/types/score-entry.type.ts
Due: none

claude feedback round 2
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/trials/practice.js
  apps/assessments/roar-sre/src/tests/scores.integration.test.js
  packages/assessment-schema/src/roar-pa/domains.ts
  packages/assessment-schema/src/roar-pa/index.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-pa/subscores.ts
  packages/assessment-schema/src/roar-sre/domains.ts
  packages/assessment-schema/src/roar-sre/index.ts
  packages/assessment-schema/src/roar-sre/score-entries.test.ts
  packages/assessment-schema/src/roar-sre/score-names.ts
  packages/assessment-schema/src/roar-swr/domains.ts
  packages/assessment-schema/src/roar-swr/index.ts
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
  packages/assessment-schema/src/roar-swr/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: none

Refactor checking unnormed scores and add info for newly normed tasks
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Seed consent/assent agreements in the local-dev test server
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

logger unsused, missing variantId, integation test failing
  package-lock.json
  packages/assessment-sdk/src/bootstrap.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: none

cypress test update
  apps/dashboard/cypress/support/helper-functions/roar-multichoice/multichoiceHelpers.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding status to variant
  packages/assessment-sdk/src/bootstrap.test.ts
  packages/assessment-sdk/src/bootstrap.ts
Due: none

report thetaSERaw
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  apps/assessments/roar-swr/src/tests/scores.integration.test.js
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/repositories/run-scores.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

write thetaSERaw as raw score, add all languages to computedScoreCallback pipeline
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  apps/assessments/roar-swr/src/tests/scores.integration.test.js
Due: none

write all scores for roar-sre and roar-pa
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  apps/assessments/roar-swr/src/tests/scores.integration.test.js
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: none

Rename inference to roar-inference keys
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update fluency-arf and calf descriptions, add new glossary pdf, link descriptions to pdf
  apps/dashboard/public/docs/roam-arfcalf-subscores-explainer.pdf
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update scores test
  apps/assessments/roar-pa/src/experiment/scores.test.js
Due: none

updating patch for multichoice
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update to new file
  apps/dashboard/public/docs/roam-arfcalf-subscores-explainer.pdf
Due: none

Use ROAR task names (Word/Sentence/Phoneme/Letter/Morphology/Syntax/Inference) and give each administration a tidy assessment set
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
