Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

`ref` Migrate `roar-survey` into Monorepo (#1934)
  apps/assessments/roar-survey/.gitignore
  apps/assessments/roar-survey/.nvmrc
  apps/assessments/roar-survey/.vscode/extensions.json
  apps/assessments/roar-survey/README.md
  apps/assessments/roar-survey/firebase.json
  apps/assessments/roar-survey/index.html
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-survey/public/lion.svg
  apps/assessments/roar-survey/src/App.vue
  apps/assessments/roar-survey/src/components/ProgressSpinner.vue
  apps/assessments/roar-survey/src/components/SurveyRunner.vue
  apps/assessments/roar-survey/src/constants/bucketBaseUrl.js
  apps/assessments/roar-survey/src/index.js
  apps/assessments/roar-survey/src/main.js
  apps/assessments/roar-survey/src/styles/standalone.css
  apps/assessments/roar-survey/src/styles/survey-runner.css
  apps/assessments/roar-survey/src/themes/survey_theme.json
  apps/assessments/roar-survey/src/themes/survey_theme_new.json
  apps/assessments/roar-survey/src/utils/surveyEventHandlers.js
  apps/assessments/roar-survey/turbo.json
  apps/assessments/roar-survey/vite.config.js
  package-lock.json
Due: none

set firebaseToolsVersion to 15.21.0 in firebase deploy action
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

explicitly set access token in workflow
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

set action-hosting-deploy to 0.11.0
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

Force node 20 in workflow
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

Force node 22 in workflow
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

adding actual descriptions
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Harden SDK integration test setup and move OpenFGA to port 4010
  apps/backend/.env.example
  apps/backend/.env.test.example
  apps/backend/seeds/index.ts
  apps/backend/src/clients/fga.client.test.ts
  apps/backend/src/clients/fga.client.ts
  apps/backend/src/test-support/fga/index.ts
  docker-compose.yml
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/vitest.d.ts
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix formatting in assessment-sdk vitest config files
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: none

Remove build: false from cypress-io/github-action v6 invocations
  .github/workflows/ci.yml
Due: none

Fix Firebase Hosting deploy auth failure caused by Node 24.17.0 bug
  .github/actions/deploy-firebase-hosting/action.yml
  .github/actions/deploy-firestore-config/action.yml
  .nvmrc
Due: none

Remove dev:setup script alias and delete unused shell scripts
  .github/CONTRIBUTING.md
  package.json
  scripts/dev-platform.sh
  scripts/setup-fdw-local.sh
Due: none

Restore setup-fdw-local.sh (still used by assessment Docker stack)
  scripts/setup-fdw-local.sh
Due: none

Use pino child loggers with msgPrefix instead of manual string prefixes
  apps/backend/seeds/index.ts
  apps/backend/src/logger.ts
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/src/test-support/firebase-emulator.ts
  apps/backend/src/test-support/mocks/logger.mock.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Log instead of silently swallowing errors in FGA store cleanup
  apps/backend/src/test-support/fga/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fail integration tests when infrastructure is unavailable instead of skipping
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/vitest.d.ts
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: none

Fix timezone-sensitive date picker test and stale useUserClaimsQuery mock
  apps/dashboard/src/components/AdministrationDatePicker/AdministrationDatePicker.test.js
  apps/dashboard/src/composables/queries/useUserClaimsQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Move dev fixture from tooling/ into seeds/fixture.ts
  apps/backend/seeds/fixture.ts
  apps/backend/seeds/index.ts
  apps/backend/tooling/index.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add roar-backend#build dependency to SDK test task
  turbo.json
Due: none

Fix Firebase Hosting deploy auth failure caused by Node 24.17.0 bug (#1939)
  .github/actions/deploy-firebase-hosting/action.yml
  .github/actions/deploy-firestore-config/action.yml
  .nvmrc
Due: none

fix firebase.json format for multichoice and survey
  apps/assessments/roar-multichoice/firebase.json
  apps/assessments/roar-survey/firebase.json
Due: none

fix firebase.json format for multichoice and survey (#1940)
  apps/assessments/roar-multichoice/firebase.json
  apps/assessments/roar-survey/firebase.json
Due: none

updating patch
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update cypress to contemplate 2 scenarios on Clever
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add firebase as peer dependency in assessment-sdk
  packages/assessment-sdk/package.json
Due: none

Update titles text and styling
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove deprecated files, lint and format
  apps/assessments/roar-levante-tasks/.eslintrc.json
  apps/assessments/roar-levante-tasks/.firebaserc
  apps/assessments/roar-levante-tasks/.github/PULL_REQUEST_TEMPLATE.md
  apps/assessments/roar-levante-tasks/.github/actions/deploy/action.yml
  apps/assessments/roar-levante-tasks/.github/workflows/create-release.yml
  apps/assessments/roar-levante-tasks/.github/workflows/cypress-tests.yml
  apps/assessments/roar-levante-tasks/.github/workflows/deploy-and-publish.yml
  apps/assessments/roar-levante-tasks/.github/workflows/firebase-deploy-preview.yml
  apps/assessments/roar-levante-tasks/.github/workflows/firebase-hosting-merge.yml
  apps/assessments/roar-levante-tasks/.github/workflows/npm-lint.yml
  apps/assessments/roar-levante-tasks/.github/workflows/publish-to-npm-create-new-release.yml
  apps/assessments/roar-levante-tasks/.github/workflows/unit-tests.yml
  apps/assessments/roar-levante-tasks/.gitignore
  apps/assessments/roar-levante-tasks/.npmignore
  apps/assessments/roar-levante-tasks/.npmrc
  apps/assessments/roar-levante-tasks/.nvmrc
  apps/assessments/roar-levante-tasks/.prettierrc.json
  apps/assessments/roar-levante-tasks/eslint.config.mjs
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/serve/firebaseConfig.js
Due: none

nits
  apps/assessments/roar-levante-tasks/.prettierignore
  apps/assessments/roar-levante-tasks/.vscode/settings.json
  apps/assessments/roar-levante-tasks/eslint.config.mjs
Due: none

dashboard wiring
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/isRoarApp.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  apps/backend/package.json
  apps/backend/seeds/roar-levante-tasks.seed.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add serve.js back to linting
  apps/assessments/roar-levante-tasks/eslint.config.mjs
  package-lock.json
Due: none

increased the makeChoiceOrContinue max tries from 800 to 1600
  apps/dashboard/cypress/support/helper-functions/roar-multichoice/multichoiceHelpers.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Adam's changes copied over to a fresh branch
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add email validation check to RegisterParent
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Emulate functioanlity from other PR
  apps/dashboard/src/helpers/isDashboardReady.js
  apps/dashboard/src/pages/HomeParticipant.vue
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Drop the firekit isEmailAvailable precheck from RegisterParent
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove url params, skip instruction trials
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/webpack.config.cjs
Due: none

Emulate functioanlity from other PR (#1943)
  apps/dashboard/src/helpers/isDashboardReady.js
  apps/dashboard/src/pages/HomeParticipant.vue
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
