Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

chore: update roar-ap to include portuguese
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add variant picker to roam-apps serve.js
  apps/assessments/roam-apps/eslint.config.mjs
  apps/assessments/roam-apps/serve/serve.js
Due: none

showing composite score column
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

set variantPicker to always show all task/variant combinations
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/shared/variantPicker.js
Due: none

set all assessments to show all of their task/variant combinations in variant picker
  apps/assessments/roar-letter/serve/serve.js
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/serve/serve.js
  package-lock.json
Due: none

Implement client-side foundational composite support level calculation (#2020)
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

claude feedback
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.test.js
  packages/assessment-schema/src/roam-apps/domains.ts
Due: none

Add JSDoc to seed configs and TaskSeedConfig type
  apps/backend/seeds/configs/roar-letter.config.ts
  apps/backend/seeds/configs/roar-levante-tasks.config.ts
  apps/backend/seeds/configs/roar-multichoice.config.ts
  apps/backend/seeds/configs/roar-pa.config.ts
  apps/backend/seeds/configs/roar-readaloud.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-survey.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/configs/roav-apps.config.ts
  apps/backend/seeds/configs/roav-ran.config.ts
  apps/backend/seeds/task-seed-configs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Type seed config sets and include seeds in backend type-check
  apps/backend/seeds/configs/roar-letter.config.ts
  apps/backend/seeds/configs/roar-levante-tasks.config.ts
  apps/backend/seeds/configs/roar-multichoice.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/configs/roav-apps.config.ts
  apps/backend/seeds/index.ts
  apps/backend/seeds/task-seed.ts
  apps/backend/tsconfig.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

chore: update roav-apps to contemplate portuguese language (#2030)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixed stopping bugs on phoneme
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add server-resolved support threshold to the score-facets response
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Merge branch 'project/backend-refactor' into enh/score-report-support-threshold
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Force rawScore to be null if raw.composite.test.numAttempted === 0 for fluency
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix merge conflict and duplicate export from cherry-pick
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add administration score-overview query composable
  apps/dashboard/src/composables/queries/useAdministrationScoreOverviewQuery.js
  apps/dashboard/src/composables/queries/useAdministrationScoreOverviewQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire the score-report overview charts to the backend overview endpoint
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix loading gate and remove dead code from score-overview feature
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Score report: add resolved support threshold to the score facets response (#2037)
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Clean up stale watch dependencies in DistributionChartOverview
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add composite score to CSV export
  apps/dashboard/src/constants/csvExport.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating phoneme to fix bug on safari and firefox
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add administration student-scores query composable
  apps/dashboard/src/composables/queries/useAdministrationScoreStudentsQuery.js
  apps/dashboard/src/composables/queries/useAdministrationScoreStudentsQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire the score-report table core scores to the backend students endpoint
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

deprecate .json scoring configs for cva/morph
  apps/backend/src/services/scoring/configs/cva.json
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/morphology.json
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix swr-es scoring version exception in tableDataWithBackendScores
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Score report: wire overview charts + swap admin metadata to useAdministrationQuery (#2038)
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/composables/queries/useAdministrationScoreOverviewQuery.js
  apps/dashboard/src/composables/queries/useAdministrationScoreOverviewQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add practice trials to run_scores for roam-apps
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.js
Due: none

document assessment monorepo migration .ai knowledge
  .ai/assessment-migration.md
  .ai/rules/README.md
  .ai/rules/assessment-integration-pattern.md
  AGENTS.md
Due: none

deprecate .json scoring configs for cva/morph (#2041)
  apps/backend/src/services/scoring/configs/cva.json
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/morphology.json
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix test
  apps/dashboard/src/composables/queries/useAdministrationScoreStudentsQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add new levante buckets to csp json
  apps/dashboard/firebase/admin/csp.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Prevent levante game tabs from being translated when switching languages
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Enable unreliable retakes for trog and roar-inference when normed
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix retake functionality
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.10
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clarify docs
  .ai/assessment-migration.md
  .ai/rules/assessment-integration-pattern.md
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
