Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Add anonymous run support to POST /runs endpoint
  apps/backend/migrations/assessment/0018_anonymous_runs_constraints.sql
  apps/backend/migrations/assessment/meta/0018_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/constants/run.ts
  apps/backend/src/db/schema/assessment/runs.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  packages/api-contract/src/v1/runs/contract.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use ANONYMOUS_RUN_ADMINISTRATION_ID constant in DB check constraint via sql.raw()
  apps/backend/migrations/assessment/meta/0018_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Delete comment, update schema variable names, fix lint & unit tests
  apps/backend/src/repositories/utils/handle-users-list.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename userRole to role key in schema
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update tsdocs in repository, service, and controller
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add test cases for handle-users-list functions and update other tests to include enrollmentStart & role in return values
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/utils/handle-users-list.test.ts
  apps/backend/src/services/class/class.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix return type for listUsers in class.service, add class.controller.test, update controller return response for listUsers
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/services/class/class.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

reset Firekit compat state on init and normalize initialization errors
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

simplify StartRunInput and add response validation in createRun
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: none

introduce StartRun command (non-idempotent) with compat integration and anonymous support
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: none

move StartRun API logic into command and pass task info via compat init
  packages/api-contract/src/v1/common/index.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fixing tests
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

apply changes for code review
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/test-support/repositories/district.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/school.repository.ts
  packages/api-contract/src/v1/districts/contract.ts
  packages/api-contract/src/v1/districts/schema.ts
  packages/api-contract/src/v1/schools/contract.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update tests to check for 403
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/school/school.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove getChildren tests
  apps/backend/src/repositories/school.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add classes contract to ApiContractV1
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating discriminated union inconsistency
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: none

Add class route, delete unused class schema
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/index.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/classes/index.ts
  packages/api-contract/src/v1/classes/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add Drizzle FDW schema definitions and local setup (#1610)
  apps/backend/migrations/assessment/0017_add_fdw_views.sql
  apps/backend/migrations/assessment/meta/0017_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0056_add_assessment_fdw_foreign_tables.sql
  apps/backend/migrations/core/meta/0056_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/assessment-fdw/run-scores.ts
  apps/backend/src/db/schema/assessment-fdw/runs.ts
  apps/backend/vitest.integration.globalSetup.ts
  scripts/setup-fdw-local.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Delete unused types and rename to align with codebase
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/utils/handle-users-list.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove body from update task variant response schema
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update error logging, status codes returned
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/enums/api-error-message.enum.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement tests
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rework tests to utilize base fixtures
  apps/backend/src/repositories/task.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update tests to match new error codes
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add taskConfig column to returned schema
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task.repository.ts
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add updatedAt to list of sort fields
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Initial implementation
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Simplify imports
  apps/backend/src/controllers/tasks.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename usersList to enrolledUsers
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/utils/handle-users-list.test.ts
  apps/backend/src/repositories/utils/handle-users-list.ts
  apps/backend/src/services/class/class.service.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename listUsersOptions to listEnrolledUsersOptions
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/utils/handle-users-list.test.ts
  apps/backend/src/repositories/utils/handle-users-list.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix tests
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/school/school.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement multi-grade filtering
  apps/backend/src/repositories/utils/handle-users-list.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename handle-users-list to handle-enrolled-users
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/utils/handle-enrolled-users.ts
  apps/backend/src/repositories/utils/handle-enrolled-users.utils.test.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix linting
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move query parsing to service
  apps/backend/src/repositories/utils/handle-enrolled-users.ts
  apps/backend/src/services/class/class.service.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

restore selectedAdministration logic
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

user destructuring and non-null assertion to simplify tasks routes
  apps/backend/src/routes/task.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
