Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating tests
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/services/run/run.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

resolving copilot comments
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/services/run/run.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add GET /administrations/:id/districts endpoint
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor administration service and add listDistricts tests
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract AuthContext to shared types file
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/types/auth-context.ts
  apps/backend/src/types/express.d.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify status parameter handling in list method
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add JSDoc to transform helpers and clarify GeoJSON coordinate order
  apps/backend/src/controllers/administrations.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update packages/assessment-sdk/src/types/update-user.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

Wrap list method body in single try/catch for consistency
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix merge conflicts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

format
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Update packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

fix build
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

Add try/catch to controller list method and declare 500 responses
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

adding complete event
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/contract.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

adding abort type
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add writeTrial type
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/repositories/run-trial-interactions.repository.test.ts
  apps/backend/src/repositories/run-trial-interactions.repository.ts
  apps/backend/src/repositories/run-trials.repository.test.ts
  apps/backend/src/repositories/run-trials.repository.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add engagementFlags type
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add `updateUser` stub (#1540)
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

update to add add-interaction stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
  packages/assessment-sdk/src/types/index.ts
Due: none

remove addinteraction alias
  packages/assessment-sdk/src/types/add-interaction.ts
Due: none

Add `AddInteraction` Stub (#1537)
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
  packages/assessment-sdk/src/types/index.ts
Due: none

add update-user stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

add write-trial stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/write-trial.ts
Due: none

fix merge conflicts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

remove changes related to updateuser:
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none

Refactor access control queries to check for enrollment boundary (#1551)
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/utils/access-controls.utils.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/is-ancestor-or-equal.utils.test.ts
  apps/backend/src/repositories/utils/is-ancestor-or-equal.utils.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.test.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
  apps/backend/src/repositories/utils/is-descendant-or-equal.utils.test.ts
  apps/backend/src/repositories/utils/is-descendant-or-equal.utils.ts
  apps/backend/src/repositories/utils/ltree.utils.ts
  apps/backend/src/repositories/utils/parse-access-control-filter.utils.test.ts
  apps/backend/src/repositories/utils/parse-access-control-filter.utils.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.test.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix integration tests for async database initialization
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/administration-task-variant.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/runs.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/test-support/db/index.ts
  apps/backend/vitest.integration.globalSetup.ts
  apps/backend/vitest.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add integration tests for listDistricts supervised role rejection
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add district authorization for GET /administrations/:id/districts
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/org.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/org.access-controls.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/utils/has-supervisory-role.util.test.ts
  apps/backend/src/utils/has-supervisory-role.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add integration test for school-level ancestor access filtering
  apps/backend/src/services/administration/administration.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
