Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Bump roav-ran to 2.1.5 inside the dashboard
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix undefined percentile and standardScore for grade 6+ PA scores
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Support scoring version in field name resolution for PA scores
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Revert to direct field access for computed scores in tooltips
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix percentile/standardScore display for grade 6+ PA scores
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Show percentile, ss, and raw score in tooltips for newly normed tasks
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add percentile, ss, and raw score columns to exported csvs for morph & cva
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add `GET /v1/users/:id/memberships` (requester-scoped) (#2055)
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.memberships.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/services/user.service.ts
  apps/backend/src/types/user.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Chore: update roar-pa to include portuguese (#2031)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Participant home: read profile from GET /users/:id off Firestore (#2056)
  apps/dashboard/src/composables/queries/useUserMembershipsQuery.js
  apps/dashboard/src/composables/queries/useUserMembershipsQuery.test.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/helpers/participantGames.js
  apps/dashboard/src/helpers/participantGames.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

feat(assessments): Enhance researcher experience with updated assessment scripts and documentation (#2054)
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/webpack.config.cjs
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  docker-compose.assessment.yml
  package-lock.json
  package.json
  scripts/assessment-common.sh
  scripts/assessment-env-build.sh
  scripts/assessment-env-down.sh
  scripts/assessment-env-up.sh
  scripts/assessment-restart.sh
  scripts/assessment-seed-tasks.sh
  scripts/assessment-setup.sh
Due: none

Pass scoringVersion to the getScoreValue function
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

lint
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

check first retake and the if it is complete
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix standard score and raw score views for new normed tasks
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update default arg to return object instead of function
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address Claude's 1st feedback round: add isTaskNormed helper method and related tests
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix missing unnormed letter individual score report cards and display percent correct info
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Hide standard score for phonics (does not exist)
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Dedupe newly normed task id arrays and use isTaskNormed
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating swr and sre and adding locales for pt
  apps/dashboard/package.json
  apps/dashboard/src/translations/exports.js
  apps/dashboard/src/translations/i18n.js
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address Claude's 1st feedback round: memoize ScoreDistributionOverview
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding routes for the portuguese language as well as indexes
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update pa to consider scoringVersion 3 as default
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete extra letter and remove items-center class
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/ProgressLegend.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Authorize guardians to read their child's administrations and agreements
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Resolve the proxy-launch participant from launchId
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Run npm run format
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding extra translations
  apps/dashboard/src/pages/PlayApp.vue
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Keep the Auth emulator default out of staging/production bundles
  apps/assessments/roar-letter/webpack.config.cjs
  apps/assessments/roar-multichoice/webpack.config.cjs
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roar-sre/webpack.config.cjs
  apps/assessments/roav-ran/webpack.config.cjs
Due: none

Tolerate probe failures in diagnose_port_conflict
  scripts/assessment-common.sh
Due: none

updating to catch both null and undefined for scoring version
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Drop the legacy pgdata volume cleanup
  scripts/assessment-env-down.sh
Due: none

Document the five-port preflight in the environment guide
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
Due: none

Mock userRepo.getUserEntityTypes to satisfy hasGuardianReadAccess call in getUserAdministrations
  apps/backend/src/services/administration/administration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add user integration tests covering guardian access to family info
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add remaining tests for admins/teachers accessing student administrations and agreements
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

removed isGameInProgress from the yellow condition and added the explicit check game.startedOn so games that haven't started don't trigger yellow anymore.
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete duplicate code
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
