Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix score handling for percent correct scores
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/helpers/getStudentGradeLevel.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add support for task descriptions for percentage correct scores
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Support parallel exports
  apps/dashboard/src/services/PdfExport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove preview mode
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix support image import path
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Extract print preview to composable
  apps/dashboard/src/composables/usePagedPreview.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/pages/scores/StudentScoreReport.vue
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Format tasks list
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.vue
  apps/dashboard/src/helpers/formatList.js
  apps/dashboard/src/helpers/formatList.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix HMR for print mode development
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Compress support-distribution graphic
  apps/dashboard/src/assets/support-distribution.png
Due: none

Improve score report page layout
  apps/dashboard/src/assets/styles/root/variables.scss
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Header/Header.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
  apps/dashboard/src/pages/StudentReport.vue
  apps/dashboard/src/pages/scores/StudentScoreReport.vue
  apps/dashboard/src/styles.css
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix support for single-document export
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/services/PdfExport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Use scoringVersion from variant instead of scores for exports
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Use scoringVersion from variant instead of scores for exports (#1391)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add hostile attribution task (#638)
  src/components/GameTabs.vue
  src/components/TaskPicker.vue
  src/translations/de/de-componentTranslations.json
  src/translations/en/us/en-US-componentTranslations.json
  src/translations/es/co/es-CO-componentTranslations.json
  src/translations/es/es-componentTranslations.json
Due: none

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.15.0
  package-lock.json
  package.json
Due: none

removing session timeout (#636)
  src/App.vue
Due: none

Permissions #3 Continued (#634)
  package-lock.json
  package.json
  src/components/PermissionGuard.vue
  src/components/modals/AddGroupModal.vue
  src/composables/usePermissions.ts
  src/constants/roles.ts
  src/pages/groups/ListGroups.vue
Due: none

Prevent build artifact deletion
  .github/actions/deploy/action.yml
Due: none

Update score card list style
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add NYCPS to sign in options on landing page
  apps/dashboard/src/pages/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix letter percentageCorrect & numCorrect when numCorrect = 0
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Prevent build artifact deletion (#1390)
  .github/actions/deploy/action.yml
Due: none

injecting a style into sentry open shadow root
  apps/dashboard/src/sentry.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

changing text for en-us
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

optimize computeAssignmentAndRunData
  apps/dashboard/src/pages/HomeParent.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

exclude readloud for retake
  apps/dashboard/src/constants/tasksExcludedFromRetake.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update tooltips, point coloring, remove score cards
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix tooltip header
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Apply suggestion from @Copilot
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add padding and update chart height
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add fallback for dataset
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

place points based on relative date position
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove height attribute from charts
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

formatting
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

make point proximity constant and add cache for x axis position lookup
  apps/dashboard/src/components/reports/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor LongitudinalChart component
  apps/dashboard/package.json
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add label for current score report
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardLongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add legend
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardLongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
