Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

integrate roav-pt into monorepo
  apps/assessments/roav-apps/src/i18n/i18n.js
  apps/assessments/roav-apps/src/i18n/locales/pt/translation.json
  apps/assessments/roav-apps/src/tasks/roav-rvp/rvp_assets.json
  apps/assessments/roav-apps/taskVariantParameters.example.json
Due: none

`ref` DB Seeding and Assessment Schema for `roav-apps` (#2003)
  .github/workflows/ci.yml
  apps/assessments/roav-apps/taskVariantParameters.example.json
  apps/backend/package.json
  apps/backend/seeds/roav-apps.seed.ts
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roav-apps/config.ts
  packages/assessment-schema/src/roav-apps/domains.ts
  packages/assessment-schema/src/roav-apps/index.ts
  packages/assessment-schema/src/roav-apps/score-entries.test.ts
  packages/assessment-schema/src/roav-apps/score-entries.ts
  packages/assessment-schema/src/roav-apps/score-names.ts
  packages/assessment-schema/src/roav-apps/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update individual score reports with new normed tasks (#1880)
  apps/dashboard/src/constants/studentScoreReportTasks.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove Firebase config from roam-apps subtree
  apps/assessments/roam-apps/.firebaserc
  apps/assessments/roam-apps/serve/firebaseConfig.js
Due: none

`ref` Assessment SDK Wiring for `roav-apps` in Monorepo (#2004)
  apps/assessments/roar-readaloud/firebase.json
  apps/assessments/roav-apps/.prettierignore
  apps/assessments/roav-apps/eslint.config.mjs
  apps/assessments/roav-apps/firebase.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/rollup.lib.config.mjs
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-apps/src/sdk/roav-apps-firekit-facade.js
  apps/assessments/roav-apps/src/sdk/roav-apps-firekit-facade.test.js
  apps/assessments/roav-apps/src/tasks/roav-mp/helpers/mp_initConfig.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/helpers/rvp_initConfig.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/firekitShim.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/firekitShim.test.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/initTrialSaving.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/initTrialSaving.test.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/runMetadata.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/runMetadata.test.js
  apps/assessments/roav-apps/webpack.config.cjs
  package-lock.json
  scripts/assessment-env-up.sh
Due: none

Delete roam CI, lint, package-lock, build-patch and use monorepo's settings
  apps/assessments/roam-apps/.eslintrc.json
  apps/assessments/roam-apps/.github/CODEOWNERS
  apps/assessments/roam-apps/.github/PULL_REQUEST_TEMPLATE.md
  apps/assessments/roam-apps/.github/workflows/deploy-firebase-test-cypress.yml
  apps/assessments/roam-apps/.github/workflows/firebase-hosting-merge.yml
  apps/assessments/roam-apps/.github/workflows/publish-to-npm-create-new-release.yml
  apps/assessments/roam-apps/.github/workflows/submit-dashboard-pr.yml
  apps/assessments/roam-apps/.nvmrc
  apps/assessments/roam-apps/package-lock.json
  apps/assessments/roam-apps/postBuildPackage.js
  apps/assessments/roam-apps/rollup.config.js
Due: none

integrate roav-pt into monorepo (#2008)
  apps/assessments/roav-apps/src/i18n/i18n.js
  apps/assessments/roav-apps/src/i18n/locales/pt/translation.json
  apps/assessments/roav-apps/src/tasks/roav-rvp/rvp_assets.json
  apps/assessments/roav-apps/taskVariantParameters.example.json
Due: none

`ref` Dashboard, Deployment, and Versioning for `roav-apps` in Monorepo (#2005)
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roav-apps/src/i18n/i18n.js
  apps/assessments/roav-apps/src/i18n/locales/pt/translation.json
  apps/assessments/roav-apps/src/tasks/roav-rvp/rvp_assets.json
  apps/assessments/roav-apps/taskVariantParameters.example.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/router/index.js
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete duplicate code
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add monorepo tooling for roam-apps
  apps/assessments/roam-apps/.env.example
  apps/assessments/roam-apps/.prettierignore
  apps/assessments/roam-apps/eslint.config.mjs
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/prettier.config.mjs
  apps/assessments/roam-apps/rollup.lib.config.mjs
  apps/assessments/roam-apps/turbo.json
Due: npx dotenvx ext precommit

commenting Letter subscore tables and making bars for district level report as well as a gray one for no scores
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add roam-apps CODEOWNERS entry
  .github/CODEOWNERS
Due: none

Update lockfile for roam-apps workspace deps
  package-lock.json
Due: none

remove cypress from roav-ran
  apps/assessments/roav-ran/cypress.config.js
  apps/assessments/roav-ran/cypress/e2e/ran-Default.cy.js
  apps/assessments/roav-ran/cypress/fixtures/example.json
  apps/assessments/roav-ran/cypress/support/commands.js
  apps/assessments/roav-ran/cypress/support/e2e.js
  apps/assessments/roav-ran/eslint.config.mjs
  apps/assessments/roav-ran/package.json
  package-lock.json
Due: none

Letter subscore tables commented out, making bars for district level report, and create a gray bar when no scores (#2009)
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create seed script and assessment-schema directory
  apps/assessments/roav-ran/taskVariantParameters.example.json
  apps/backend/package.json
  apps/backend/seeds/roav-ran.seed.ts
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roav-ran/config.ts
  packages/assessment-schema/src/roav-ran/index.ts
  packages/assessment-schema/src/roav-ran/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

gray bars on district level, and letter tooltip
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

sdk wiring
  apps/assessments/roav-ran/eslint.config.mjs
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/roav-ran/src/experiment/index.js
  apps/assessments/roav-ran/src/experiment/tasks/RAN/helpers/initConfigRAN.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/firekitShim.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/runMetadata.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/videoCapture.js
  apps/assessments/roav-ran/src/experiment/tasks/symbolSearch/helpers/initConfigSymbol.js
  apps/assessments/roav-ran/webpack.config.cjs
  package-lock.json
Due: none

fix symbolSearch task slug
  apps/assessments/roav-ran/taskVariantParameters.example.json
  packages/assessment-schema/src/roav-ran/config.ts
Due: none

pass run metadata through serve
  apps/assessments/roav-ran/serve/serve.js
Due: none

wire dashboard config and release details
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .release-please-manifest.json
  .release-please.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

claude feedback
  apps/assessments/roav-ran/firebase.json
  apps/assessments/roav-ran/package.json
Due: none

claude feedback
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/firekitShim.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/firekitShim.test.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/runMetadata.test.js
  package-lock.json
Due: none

add roav-ran to publishable workspaces
  .github/workflows/release.yml
Due: none

updating version of roar-utils for correct getAgeData
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  package-lock.json
Due: none

Fix retake functionality
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove .nvmrc for roar-word
  apps/assessments/roar-survey/.nvmrc
Due: none

update assessment env instructions
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
Due: none

Delete comment
  apps/assessments/roam-apps/serve/serve.js
Due: none

updating apps for roar-utils lastest changes
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`ref` DB Seeding and Assessment Schema for `roav-ran` (#2011)
  apps/assessments/roav-ran/taskVariantParameters.example.json
  apps/backend/package.json
  apps/backend/seeds/roav-ran.seed.ts
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roav-ran/config.ts
  packages/assessment-schema/src/roav-ran/index.ts
  packages/assessment-schema/src/roav-ran/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`ref` Assessment SDK Wiring for `roav-ran` in Monorepo (#2012)
  apps/assessments/roav-ran/eslint.config.mjs
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/roav-ran/src/experiment/index.js
  apps/assessments/roav-ran/src/experiment/tasks/RAN/helpers/initConfigRAN.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/firekitShim.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/firekitShim.test.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/runMetadata.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/helpers/runMetadata.test.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/videoCapture.js
  apps/assessments/roav-ran/src/experiment/tasks/symbolSearch/helpers/initConfigSymbol.js
  apps/assessments/roav-ran/webpack.config.cjs
  package-lock.json
Due: none

adding normed spanish assessments charts and tabs
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete roam .gitignore and logger.js
  apps/assessments/roam-apps/.gitignore
  apps/assessments/roam-apps/serve/logger.js
Due: none
