Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

use a local json file to seed ephemeral task variants
  .gitignore
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roar-swr/taskVariantParameters.example.json
  apps/backend/seeds/roar-swr.seed.ts
  docker-compose.assessment.yml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

configure roar-swr to select parameters by variant id
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roar-swr/taskVariantParameters.example.json
  apps/backend/src/controllers/task-variants.controller.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/services/task-variant/task-variant.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/assessment-sdk/src/commands/get-variant-by-id.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update snapshots
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/__snapshots__/ScoreCard.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
Due: none

Override canvas to v3 for Node 24 N-API prebuilds
  package-lock.json
  package.json
Due: none

Address review feedback: guard-throws, toSatisfy diagnostics, override docs
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

npm run format
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Give the dashboard Vite build 8 GB of heap headroom
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Skip manualChunks when compiling Cypress specs
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate task read composables to the backend API
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/composables/queries/useTasksDictionaryQuery.js
  apps/dashboard/src/composables/queries/useTasksDictionaryQuery.test.js
  apps/dashboard/src/composables/queries/useTasksQuery.js
  apps/dashboard/src/composables/queries/useTasksQuery.test.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.js
  apps/dashboard/src/containers/ManageTasks/ManageTasks.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.test.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
  apps/dashboard/src/helpers/query/tasks.js
  apps/dashboard/src/helpers/query/tasks.test.js
  apps/dashboard/src/helpers/taskIdentifiers.js
  apps/dashboard/src/helpers/taskIdentifiers.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
  apps/dashboard/src/pages/ManageTasksVariants.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address review feedback: retry policy, toggle composable tests, dead code
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/composables/queries/useTasksQuery.js
  apps/dashboard/src/composables/queries/useTasksQuery.test.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate task mutations and rewrite task forms
  apps/dashboard/src/composables/mutations/useAddTaskMutation.js
  apps/dashboard/src/composables/mutations/useAddTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.test.js
  apps/dashboard/src/constants/tasks.js
  apps/dashboard/src/containers/ManageTasks/components/CreateTaskForm.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address review feedback: preserve taskConfig keys, passthrough non-scalar values, id-keyed form seeding
  apps/dashboard/src/constants/tasks.js
  apps/dashboard/src/containers/ManageTasks/components/CreateTaskForm.vue
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfiguratorRow.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
  apps/dashboard/src/helpers/taskConfig.js
  apps/dashboard/src/helpers/taskConfig.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address PR review: vuelidate optional fields, submit guard, name-format spec fixes
  apps/dashboard/src/composables/mutations/useAddTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.test.js
  apps/dashboard/src/containers/ManageTasks/components/CreateTaskForm.vue
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfigurator.cy.js
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfiguratorRow.cy.js
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfiguratorRow.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate variant mutations and rewrite ManageVariants
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/composables/mutations/useAddTaskVariantMutation.js
  apps/dashboard/src/composables/mutations/useAddTaskVariantMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskVariantMutation.js
  apps/dashboard/src/composables/mutations/useUpdateTaskVariantMutation.test.js
  apps/dashboard/src/composables/queries/useTaskVariantsByTaskQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantsByTaskQuery.test.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.test.js
  apps/dashboard/src/constants/tasks.js
  apps/dashboard/src/helpers/taskConfig.js
  apps/dashboard/src/helpers/taskConfig.test.js
  apps/dashboard/src/pages/ManageTasksVariants.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address PR review: vuelidate optional fields
  apps/dashboard/src/components/tasks/ManageVariants.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

modify assessment-sdk writeTrial method to properly write schema fields and metadata fields
  apps/assessments/roar-swr/serve/serve.js
  apps/backend/src/services/run-event/run-event.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address PR review: vuelidate optional fields, submit guard, name-format fixes
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

write userData to runr record metadata
  apps/assessments/roar-swr/src/index.js
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/utils/camelize-keys.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

apply correct run and trial writing fixes to roar-pa
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/index.js
Due: none

Convert charts, create new component
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

migrate startTimeUnix to BIGINT
  apps/backend/migrations/assessment/0024_remarkable_garia.sql
  apps/backend/migrations/assessment/meta/0024_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/run-trials.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address independent and CI reviews: vuelidate form isolation, passthrough blacklist, diffed-body helper
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/composables/mutations/useAddTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useAddTaskVariantMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskVariantMutation.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/helpers/taskConfig.js
  apps/dashboard/src/helpers/taskConfig.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix assessment env up script to properly restart webpack server
  scripts/assessment-env-up.sh
Due: none

santize max values numbers to null in jsonb fields
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/utils/sanitize-jsonb.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

normalize test stage strings
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  package-lock.json
Due: none

add CODEOWNERS to root .github file
  .github/CODEOWNERS
Due: none

implement json based task variant seeding for roar-pa
  apps/assessments/roar-pa/taskVariantParameters.example.json
  apps/backend/seeds/roar-pa.seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

resolve lint errors
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
Due: none

Relax authorization on task variant and task bundle list endpoints
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/task-bundles.integration.test.ts
  apps/backend/src/routes/task-variants.integration.test.ts
  apps/backend/src/services/authorization/verify-platform-admin-access.test.ts
  apps/backend/src/services/authorization/verify-platform-admin-access.ts
  apps/backend/src/services/task-bundle/task-bundle.service.test.ts
  apps/backend/src/services/task-bundle/task-bundle.service.ts
  apps/backend/src/services/task-variant/task-variant.service.test.ts
  apps/backend/src/services/task-variant/task-variant.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  packages/api-contract/src/v1/task-bundles/contract.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating pa
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add mirror integration cases for hasPlatformAdminRole enrollment filters
  apps/backend/src/repositories/user.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate task bundles and cross-task variants to the backend client, retire firekit from the tasks domain
  .ai/rules/README.md
  .ai/rules/frontend-backend-api-client.md
  .ai/rules/frontend-composable-patterns.md
  apps/dashboard/cypress/e2e/smoke/tasks.cy.js
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/components/TaskBundleCard/TaskBundleCard.vue
  apps/dashboard/src/components/TaskPicker/TaskPicker.vue
  apps/dashboard/src/components/VariantCard/VariantCard.vue
  apps/dashboard/src/components/modals/EditVariantDialog.vue
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.js
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.test.js
  apps/dashboard/src/composables/queries/useTaskVariantsQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantsQuery.test.js
  apps/dashboard/src/helpers/query/tasks.js
  apps/dashboard/src/helpers/query/tasks.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address PR review: shared Cypress sign-in helper, legacy bundles test, UUID placeholder
  apps/dashboard/cypress/e2e/smoke/me.cy.js
  apps/dashboard/cypress/e2e/smoke/tasks.cy.js
  apps/dashboard/cypress/support/api-helpers.js
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Slim PR D: defer TaskPicker catalog cutover behind the administrations migration
  .ai/rules/frontend-backend-api-client.md
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/components/TaskBundleCard/TaskBundleCard.vue
  apps/dashboard/src/components/TaskPicker/TaskPicker.vue
  apps/dashboard/src/components/VariantCard/VariantCard.vue
  apps/dashboard/src/components/modals/EditVariantDialog.vue
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.js
  apps/dashboard/src/composables/queries/useTaskBundlesQuery.test.js
  apps/dashboard/src/composables/queries/useTaskVariantsQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantsQuery.test.js
  apps/dashboard/src/helpers/query/tasks.js
  apps/dashboard/src/helpers/query/tasks.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

replace all practice_response and test_response with practice and test
  apps/assessments/roar-pa/src/experiment/trials/del/practice.js
  apps/assessments/roar-pa/src/experiment/trials/del/test.js
  apps/assessments/roar-pa/src/experiment/trials/fsm/test.js
  apps/assessments/roar-pa/src/experiment/trials/lsm/test.js
  apps/assessments/roar-pa/src/experiment/trials/practice.js
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  apps/assessments/roar-swr/LICENSE
  apps/assessments/roar-swr/src/experiment/trials/stimulus.js
Due: none

Relocate TaskParametersConfigurator to shared components and split ManageVariants forms
  apps/dashboard/src/components/TaskParametersConfigurator/TaskParametersConfigurator.cy.js
  apps/dashboard/src/components/TaskParametersConfigurator/TaskParametersConfigurator.vue
  apps/dashboard/src/components/TaskParametersConfigurator/TaskParametersConfiguratorRow.cy.js
  apps/dashboard/src/components/TaskParametersConfigurator/TaskParametersConfiguratorRow.vue
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/components/tasks/components/CreateVariantForm.vue
  apps/dashboard/src/components/tasks/components/UpdateVariantForm.vue
  apps/dashboard/src/containers/ManageTasks/components/CreateTaskForm.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Temporarily re-enable report-only due to changes to the CSP
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address independent review: preserve form state across view toggles, single toast outlet
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/components/tasks/components/CreateVariantForm.vue
  apps/dashboard/src/components/tasks/components/UpdateVariantForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove data: from connect-src
  apps/dashboard/firebase/admin/csp.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
