Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

chore(assessments): update SWR and SRE to reflect legacy (#2074)
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/corpus/pt/practice.csv
  apps/assessments/roar-pa/src/experiment/config/corpus/pt/test.csv
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/i18n.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-pa/src/experiment/trials/del/practice.js
  apps/assessments/roar-pa/src/experiment/trials/practice.js
  apps/assessments/roar-pa/src/locales/pt/translation.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/parameters.json
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/corpus/en/irt_hyperparameters_sre.csv
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/dashboard/package.json
  package-lock.json
  packages/assessment-schema/src/roar-pa/trial-types.ts
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add ci diagnostic console.log
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

deleting Brasil from pt
  apps/dashboard/src/translations/i18n.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Attempt to fix scoreReports.cy.js by doubling default timeout
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add debug and increase timeout
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

cypress test for ROAM
  apps/dashboard/cypress/support/helper-functions/roam-apps/roamHelpers.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roam-apps to 1.3.19
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Reset scoreReports.cy.js to match origin/main file
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

properly emit onnix model url for ran/readaloud
  apps/assessments/roar-readaloud/rollup.lib.config.mjs
  apps/assessments/roar-readaloud/src/experiment/views/worker.js
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roav-ran/rollup.lib.config.mjs
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/eyetracking_google.onnx
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/preloadView.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/worker.js
  apps/assessments/roav-ran/webpack.config.cjs
  apps/dashboard/firebase/admin/csp.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix dashboard launch path for all assessments except mep/crowding
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update ai documentation surrounding assessment migration
  .ai/assessment-migration.md
Due: none

Attempt at fixing scoreReport.cy.js failed tests and add loggers
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/src/helpers/query/utils.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cherry-pick merge pull request #147 /change-order-magpi
  apps/assessments/roam-apps/src/i18n/locales/en/translation.json
  apps/assessments/roam-apps/src/i18n/locales/pt/translation.json
  apps/assessments/roam-apps/src/tasks/fluency/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/fluency/timeline.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/runCorpusTimeline.js
Due: none

Bump roam to 1.3.19 in monorepo
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roam-apps/package.json
  package-lock.json
Due: none

Add temporary e2e debugging
  apps/dashboard/cypress/support/e2e.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete global e2e logging and move it to scoreReports.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/cypress/support/e2e.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

nits
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete console.logs, set currRowScores[taskId] = {} instead of null, and update env-configs to match head
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/src/helpers/query/utils.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating ran versio for symbol-search updates
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav-ran to 2.1.6
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update Gametabs to handle translated Levante tasks
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add new Portuguese levante task ids
  apps/dashboard/src/constants/levanteTasks.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete unused import
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add new Portuguese routes
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Run npm run format
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/constants/levanteTasks.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding pageTittles for pt
  apps/dashboard/src/router/index.js
  apps/dashboard/src/translations/exports.js
  apps/dashboard/src/translations/pt/br/pageTitles.json
  apps/dashboard/src/translations/pt/pageTitles.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cherry pick #77 from yeatmanlab/fix/symbol-translation-loading
  apps/assessments/roav-ran/src/experiment/index.js
  apps/assessments/roav-ran/src/experiment/tasks/symbolSearch/views/enterFullScreen.html
Due: none

Delete config.firekit introduced by sync and use assessment-sdk
  apps/assessments/roam-apps/src/tasks/fluency/timeline.js
Due: none

Bump roav-ran to 2.1.6 in release-please files
  .release-please-manifest.json
  .release-please.json
Due: none

seed a default administration with launchable assessments
  .github/CONTRIBUTING.md
  apps/backend/package.json
  apps/backend/seeds/assign-variant.ts
  apps/backend/seeds/configs/roar-letter.config.ts
  apps/backend/seeds/configs/roar-pa.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/fixture-ids.ts
  apps/backend/seeds/fixture.ts
  apps/backend/seeds/index.ts
  apps/backend/seeds/seed-default-tasks.ts
  apps/backend/seeds/task-seed-configs.ts
  apps/backend/seeds/task-seed.ts
  package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(assessments): Fix dashboard launch path for current assessments (#2080)
  .ai/assessment-migration.md
  apps/assessments/roar-readaloud/rollup.lib.config.mjs
  apps/assessments/roar-readaloud/src/experiment/views/worker.js
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roav-ran/rollup.lib.config.mjs
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/eyetracking_google.onnx
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/preloadView.js
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/worker.js
  apps/assessments/roav-ran/webpack.config.cjs
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

claude feedback
  .github/CONTRIBUTING.md
  apps/backend/seeds/assign-variant.ts
  apps/backend/seeds/seed-default-tasks.ts
  apps/backend/seeds/task-seed.ts
  apps/backend/seeds/utils/assign-task-variant.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(dev): manage PostgreSQL volume teardown
  .github/CONTRIBUTING.md
  docker-compose.yml
  package.json
  scripts/dev-env-down.sh
Due: none

add description, tutorialVideo to seeded tasks
  apps/backend/seeds/configs/roar-letter.config.ts
  apps/backend/seeds/configs/roar-pa.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/task-seed-configs.ts
  apps/backend/seeds/task-seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

removed duplicated type and function
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fixed double-counting of API calls by resetting mocks after setup Added @bdelab/roar-utils mocks to prevent import errors
  apps/dashboard/src/composables/queries/useAdministrationIndividualScoreReportQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationScoreFacetsQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationScoreStudentsQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationTaskSubscoresQuery.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useReportCardData.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

mocking getStudentGradeLevel directly
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useReportCardData.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire the score-report overview charts to the backend overview endpoint
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire the score-report subscore tables to the backend subscores endpoint
  apps/dashboard/src/composables/queries/useAdministrationTaskSubscoresQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire the individual student report (parent path) to the guardian endpoint
  apps/dashboard/src/composables/queries/useGuardianStudentReportQuery.js
  apps/dashboard/src/composables/queries/useGuardianStudentReportQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
