Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

finish run
  package-lock.json
  packages/assessment-sdk/src/compat/firekit.finishRun.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/types/finish-run.ts
  packages/assessment-sdk/src/types/index.ts
Due: none

abort run
  package-lock.json
  packages/assessment-sdk/src/compat/firekit.abortRun.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/types/abort-run.ts
  packages/assessment-sdk/src/types/index.ts
Due: none

Update packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Update packages/assessment-sdk/src/types/abort-run.ts
  packages/assessment-sdk/src/types/abort-run.ts
Due: none

`fix` Properly Update roam-apps@1.3.5 (#1530)
  apps/dashboard/package.json
  package-lock.json
  package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.24.0
  package-lock.json
  package.json
Due: none

Update project/backend-refactor branch from main (#1527)
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Progress report filter and search PART 2 (#782)
  src/components/RoarDataTable.vue
  src/pages/ProgressReport.vue
Due: none

chore: ignore generated assets
  .cache/i18n-csv.hash
  .gitignore
Due: none

fix: restore primeicons assets
  src/assets/styles/primeicons.css
  src/styles.css
  vite.config.js
Due: none

Revert "Update project/backend-refactor branch from main (#1527)"
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor authorization queries to user-centric approach
  apps/backend/package.json
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/test-support/db.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  apps/backend/src/test-support/fixtures/index.ts
  apps/backend/src/test-support/index.ts
  apps/backend/vitest.integration.config.ts
  apps/backend/vitest.integration.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

changing testing file
  packages/assessment-sdk/src/compat/firekit.finishRun.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

changing testing file
  packages/assessment-sdk/src/compat/firekit.startRun.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

changing testing file
  packages/assessment-sdk/src/compat/firekit.abortRun.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

update to add add-interaction stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
  packages/assessment-sdk/src/types/index.ts
Due: none

Improve authorization repository documentation and terminology
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move authorization logic to access-controls directory
  apps/backend/src/repositories/access-controls/administration.access-controls.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/index.ts
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Restrict stats embed to super admins only
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add strict validation for access control filters and permissions
  apps/backend/src/constants/role-permissions.test.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/repositories/access-controls/access-controls.utils.test.ts
  apps/backend/src/repositories/access-controls/access-controls.utils.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/index.ts
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add clarifying comments for early returns in authorization code
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove redundant pagination defaults from administration repository
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add status filter validation in administration service
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add context object to logger calls for structured error tracing
  apps/backend/src/db/clients.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add test coverage for status filter edge cases
  apps/backend/src/services/administration/administration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add JSDoc to BaseRepository any types and controller list method
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/base.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename buildStatusFilter to getStatusFilterCondition
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract embed logic into helper methods that throw on failure
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract ltree operators into helper functions
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/index.ts
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/utils/ltree.utils.test.ts
  apps/backend/src/repositories/utils/ltree.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move access-controls utils to repositories/utils and remove unused files
  apps/backend/src/enums/resource-scope-type.enum.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/utils/access-controls.utils.test.ts
  apps/backend/src/repositories/utils/access-controls.utils.ts
  apps/backend/src/types/resource-scope.ts
  apps/backend/src/utils/resource-scope.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove integration testing infrastructure (moved to enh/1566)
  apps/backend/package.json
  apps/backend/src/test-support/db.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  apps/backend/src/test-support/fixtures/index.ts
  apps/backend/src/test-support/index.ts
  apps/backend/vitest.integration.config.ts
  apps/backend/vitest.integration.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`SDK` startRun (#1531)
  package-lock.json
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: none

adding a toggle for subtables
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

solving minor merging conflicts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

add update engagement flags stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: none

add update-user stub
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/update-user.ts
Due: none
