Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Seed Firebase Auth emulator from baseFixture in server-test
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/firebase-emulator.test.ts
  apps/backend/src/test-support/firebase-emulator.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/webpack.config.cjs
  package-lock.json
Due: npx dotenvx ext precommit

formatting
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/instructions.js
  apps/assessments/roar-pa/src/experiment/trials/getUserData.js
  apps/assessments/roar-pa/webpack.config.cjs
Due: none

add root level .prettierignore
  .prettierignore
  apps/dashboard/.prettierignore
  packages/api-contract/.prettierignore
Due: none

add monorepo build step in ci
  .github/workflows/ci.yml
Due: none

restore package-level .prettierignore files
  apps/assessments/roar-pa/.prettierignore
  apps/backend/.prettierignore
  apps/dashboard/.prettierignore
  packages/api-contract/.prettierignore
  packages/assessment-sdk/.prettierignore
Due: none

remove secret inheritance in workflows
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  .github/workflows/pr-preview-assessments.yml
Due: none

add lint dependency in roar-pa
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/turbo.json
Due: none

address lint errors
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/instructions.js
  apps/assessments/roar-pa/src/experiment/trials/getUserData.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/webpack.config.cjs
  turbo.json
Due: none

remove markdown files
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement build and deployment migration
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-staging.yml
  monorepo-example.md
  package-lock.json
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

create assessment-schema abstraction layer
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/backend/package.json
  apps/backend/src/services/scoring/configs/pa.json
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/config.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/score-names.ts
  packages/assessment-schema/src/pa/subscores.ts
  packages/assessment-schema/tsconfig.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add default export to assessment-sdk package.json
  packages/assessment-sdk/package.json
Due: none

use first publishe variant by default if not provided in url string
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix known type error in users route
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refresh package-lock.json
  package-lock.json
Due: none

handle cors locally
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/src/app.ts
  apps/backend/src/services/user/user.service.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create anonymous users in standalone mode
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/types/express.d.ts
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix import resolution errors
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/subscores.ts
  packages/assessment-schema/tsconfig.json
Due: none

implement minor nits
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/controllers/users.controller.ts
  packages/assessment-schema/src/pa/config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement various feedback fixes
  .ai/rules/sdk-layer-architecture.md
  .github/actions/build/action.yml
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/assessment-schema/src/pa/config.ts
  packages/assessment-schema/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement test suite for anonmyous user flow
  apps/backend/src/middleware/anon-token/anon-token.middleware.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/test-support/route-test.helper.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/pa/subscores.test.ts
  packages/assessment-schema/turbo.json
  packages/assessment-schema/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

split db creation and migration into separate steps
  apps/assessments/roar-pa/package.json
  apps/backend/rollup.config.mjs
  apps/backend/scripts/seed-pa.ts
  apps/dashboard/vite.config.js
  docker-compose.yml
  migrate.Dockerfile
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

setup seed script
  apps/backend/package.json
  docker-compose.yml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

lint 'n format
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/rollup.config.mjs
Due: none

add concurrently
  package-lock.json
  package.json
Due: none

create researcher local db in docker-compose
  docker-compose.yml
  scripts/init-researcher-db.sh
Due: none

implement build and deployment migration
  package-lock.json
Due: none

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  package-lock.json
Due: npx dotenvx ext precommit

re-use local fdw setup when migrating researcher db
  docker-compose.yml
Due: none

implement firekit compat
  apps/assessments/roar-pa/package.json
Due: none

implement security improvements across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

use correct task id in serve.js
  apps/assessments/roar-pa/serve/serve.js
Due: none

remove redundant alias
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add teardown script as part of researcher env up (avoids orphaned containers)
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

implement firebase emulator in researcher environment
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebase.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/rollup.config.mjs
  apps/backend/src/app.ts
  apps/backend/src/clients/firebase-core.client.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add create-test-databases bootstrap script
  apps/backend/package.json
  apps/backend/scripts/create-test-databases.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Run e2e Cypress against a seeded local backend
  .github/workflows/ci.yml
Due: none
