Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Add validate_class_org_refs fn
  apps/backend/migrations/core/0014_add_validate_class_org_refs_fn.sql
  apps/backend/migrations/core/meta/0014_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add families and users_families tables
  apps/backend/migrations/core/0019_add_family_tables.sql
  apps/backend/migrations/core/0020_add_users_families_student_active_unique_index.sql
  apps/backend/migrations/core/meta/0019_snapshot.json
  apps/backend/migrations/core/meta/0020_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/families.ts
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/users-families.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix name indexes to user lower()
  apps/backend/migrations/core/0011_fix_courses_groups_orgs_name_indexes.sql
  apps/backend/migrations/core/meta/0011_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add users_groups table
  apps/backend/migrations/core/0009_add_users_groups_table.sql
  apps/backend/migrations/core/meta/0009_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users-groups.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add rostering tables
  apps/backend/migrations/core/0018_add_rostering_run_tables.sql
  apps/backend/migrations/core/meta/0018_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/rostering-run-entities.ts
  apps/backend/src/db/schema/core/rostering-runs.ts
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/enums/rostering-entity-status.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add validate_rostering_entity_fk fn
  apps/backend/migrations/core/0017_add_validate_rostering_entity_fk_fn.sql
  apps/backend/migrations/core/meta/0017_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add task, variants and bundle tables
  apps/backend/migrations/core/0019_add_family_tables.sql
  apps/backend/migrations/core/0027_add_tasks_table.sql
  apps/backend/migrations/core/0028_add_task_variants_table.sql
  apps/backend/migrations/core/0029_add_task_variant_parameters_table.sql
  apps/backend/migrations/core/0030_add_task_bundles_table.sql
  apps/backend/migrations/core/0031_add_task_bundle_variants_table.sql
  apps/backend/migrations/core/meta/0027_snapshot.json
  apps/backend/migrations/core/meta/0028_snapshot.json
  apps/backend/migrations/core/meta/0029_snapshot.json
  apps/backend/migrations/core/meta/0030_snapshot.json
  apps/backend/migrations/core/meta/0031_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/task-bundle-variants.ts
  apps/backend/src/db/schema/core/task-bundles.ts
  apps/backend/src/db/schema/core/task-variant-parameters.ts
  apps/backend/src/db/schema/core/task-variants.ts
  apps/backend/src/db/schema/core/tasks.ts
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/enums/task-variant-status.enum.ts
  apps/backend/src/enums/variant-status.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add user assignments tables
  apps/backend/migrations/core/0038_add_user_assignments_table.sql
  apps/backend/migrations/core/0039_add_user_assignment_progress_table.sql
  apps/backend/migrations/core/meta/0038_snapshot.json
  apps/backend/migrations/core/meta/0039_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/user-assignment-progress.ts
  apps/backend/src/db/schema/core/user-assignments.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add missing user agreements rel definition
  apps/backend/src/db/schema/core/relations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add validate_org_hierarchy fn
  apps/backend/migrations/core/0023_add_validate_org_hierarchy_fn.sql
  apps/backend/migrations/core/meta/0023_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add run trial interactions table
  apps/backend/migrations/assessment/0004_add_run_trials_table.sql
  apps/backend/migrations/assessment/0005_add_run_trial_interactions_table.sql
  apps/backend/migrations/assessment/meta/0005_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/run-trial-interactions.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add score_type and assessment_stage enums
  apps/backend/migrations/assessment/0006_add_score_type_and_assessment_stage_enums.sql
  apps/backend/migrations/assessment/meta/0006_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/enums/assessment-stage.enum.ts
  apps/backend/src/enums/score-type.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add run demographics table
  apps/backend/migrations/core/0040_add_run_demographics_table.sql
  apps/backend/migrations/core/meta/0040_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/run-demographics.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add db enums
  apps/backend/migrations/assessment/0002_add_db_enums.sql
  apps/backend/migrations/assessment/meta/0002_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add set_updated_at fn
  apps/backend/migrations/assessment/0001_add_set_updated_at_fn.sql
  apps/backend/migrations/assessment/meta/0001_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Standardize join table names
  apps/backend/migrations/core/0007_add_user_orgs_table.sql
  apps/backend/migrations/core/0007_add_users_orgs_table.sql
  apps/backend/migrations/core/0009_add_user_groups_table.sql
  apps/backend/migrations/core/0009_add_users_groups_table.sql
  apps/backend/migrations/core/0015_add_user_classes_table.sql
  apps/backend/migrations/core/0015_add_users_classes_table.sql
  apps/backend/migrations/core/0019_add_family_tables.sql
  apps/backend/migrations/core/0020_add_user_families_student_active_unique_index.sql
  apps/backend/migrations/core/meta/0006_snapshot.json
  apps/backend/migrations/core/meta/0007_snapshot.json
  apps/backend/migrations/core/meta/0008_snapshot.json
  apps/backend/migrations/core/meta/0009_snapshot.json
  apps/backend/migrations/core/meta/0010_snapshot.json
  apps/backend/migrations/core/meta/0011_snapshot.json
  apps/backend/migrations/core/meta/0012_snapshot.json
  apps/backend/migrations/core/meta/0013_snapshot.json
  apps/backend/migrations/core/meta/0014_snapshot.json
  apps/backend/migrations/core/meta/0015_snapshot.json
  apps/backend/migrations/core/meta/0016_snapshot.json
  apps/backend/migrations/core/meta/0017_snapshot.json
  apps/backend/migrations/core/meta/0019_snapshot.json
  apps/backend/migrations/core/meta/0020_snapshot.json
  apps/backend/migrations/core/meta/0021_snapshot.json
  apps/backend/migrations/core/meta/0022_snapshot.json
  apps/backend/migrations/core/meta/0023_snapshot.json
  apps/backend/migrations/core/meta/0024_snapshot.json
  apps/backend/migrations/core/meta/0025_snapshot.json
  apps/backend/migrations/core/meta/0026_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/user-classes.ts
  apps/backend/src/db/schema/core/user-families.ts
  apps/backend/src/db/schema/core/user-groups.ts
  apps/backend/src/db/schema/core/user-orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update updated_at trigger to only write on update
  apps/backend/migrations/core/0004_add_users_table.sql
  apps/backend/migrations/core/0005_add_orgs_table.sql
  apps/backend/migrations/core/0007_add_user_orgs_table.sql
  apps/backend/migrations/core/0008_add_groups_table.sql
  apps/backend/migrations/core/0009_add_user_groups_table.sql
  apps/backend/migrations/core/0010_add_courses_table.sql
  apps/backend/migrations/core/0013_add_classes_table.sql
  apps/backend/migrations/core/0015_add_user_classes_table.sql
  apps/backend/migrations/core/0016_add_rostering_provider_ids_table.sql
  apps/backend/migrations/core/0019_add_family_tables.sql
  apps/backend/migrations/core/0024_add_agreements_table.sql
  apps/backend/migrations/core/0025_add_agreement_versions_table.sql
  apps/backend/migrations/core/0026_add_user_agreements_table.sql
  apps/backend/migrations/core/0027_add_tasks_table.sql
  apps/backend/migrations/core/0028_add_task_variants_table.sql
  apps/backend/migrations/core/0029_add_task_variant_parameters_table.sql
  apps/backend/migrations/core/0030_add_task_bundles_table.sql
  apps/backend/migrations/core/0031_add_task_bundle_variants_table.sql
  apps/backend/migrations/core/0032_add_administrations_table.sql
  apps/backend/migrations/core/0033_add_administration_task_variants_table.sql
  apps/backend/migrations/core/0034_add_administration_orgs_table.sql
  apps/backend/migrations/core/0035_add_administration_classes_table.sql
  apps/backend/migrations/core/0036_add_administration_groups_table.sql
  apps/backend/migrations/core/0037_add_administration_agreements_table.sql
  apps/backend/migrations/core/0038_add_user_assignments_table.sql
  apps/backend/migrations/core/0039_add_user_assignment_progress_table.sql
  apps/backend/migrations/core/0040_add_run_demographics_table.sql
Due: none

Add run trials table
  apps/backend/migrations/assessment/0004_add_run_trials_table.sql
  apps/backend/migrations/assessment/meta/0004_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/run-trials.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add administration tables
  apps/backend/migrations/core/0032_add_administrations_table.sql
  apps/backend/migrations/core/0033_add_administration_task_variants_table.sql
  apps/backend/migrations/core/0034_add_administration_orgs_table.sql
  apps/backend/migrations/core/0035_add_administration_classes_table.sql
  apps/backend/migrations/core/0036_add_administration_groups_table.sql
  apps/backend/migrations/core/0037_add_administration_agreements_table.sql
  apps/backend/migrations/core/meta/0032_snapshot.json
  apps/backend/migrations/core/meta/0033_snapshot.json
  apps/backend/migrations/core/meta/0034_snapshot.json
  apps/backend/migrations/core/meta/0035_snapshot.json
  apps/backend/migrations/core/meta/0036_snapshot.json
  apps/backend/migrations/core/meta/0037_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/administration-agreements.ts
  apps/backend/src/db/schema/core/administration-classes.ts
  apps/backend/src/db/schema/core/administration-groups.ts
  apps/backend/src/db/schema/core/administration-orgs.ts
  apps/backend/src/db/schema/core/administration-task-variants.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add agreement tables
  apps/backend/migrations/core/0024_add_agreements_table.sql
  apps/backend/migrations/core/0025_add_agreement_versions_table.sql
  apps/backend/migrations/core/0026_add_user_agreements_table.sql
  apps/backend/migrations/core/meta/0024_snapshot.json
  apps/backend/migrations/core/meta/0025_snapshot.json
  apps/backend/migrations/core/meta/0026_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreement-versions.ts
  apps/backend/src/db/schema/core/agreements.ts
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/user-agreements.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add runs table
  apps/backend/migrations/assessment/0003_add_runs_table.sql
  apps/backend/migrations/assessment/meta/0003_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add assessment database base config
  apps/backend/migrations/assessment/0000_set_base_config.sql
  apps/backend/migrations/assessment/meta/0000_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use assessment_stage enum for run trials
  apps/backend/migrations/assessment/0008_update_run_trials_to_use_stage_enum.sql
  apps/backend/migrations/assessment/meta/0008_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/run-trials.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add assessment db relations
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/relations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update core db relations
  apps/backend/src/db/schema/core/relations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add run scores table
  apps/backend/migrations/assessment/0007_add_run_scores_table.sql
  apps/backend/migrations/assessment/meta/0007_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/index.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/db/schema/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename backend cmds
  apps/backend/package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Expand score details and longitudinal details
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Replace fixed administration assertion by validating it within dropdown
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update new scoring fields for swr
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Modify old swr test cases with updated language and add new cases for new test fields
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update test name
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add subscores for individual score report
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add subscore safety checks
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add progress columns for unscored tasks in combined reports
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add es translations
  apps/dashboard/src/translations/es/es-individualScoreReport.json
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete console.log
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update headers to allow iframe rendering
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/firebase/admin/firebase.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
