Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use the correct hasOwn method (static)
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/gradeEstimateHelpers.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/trialHelpers.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialDefinitions.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.js
Due: none

Run npm run format
  apps/assessments/roam-apps/src/tasks/core-math/trials/trialHelpers.js
Due: none

chore: update roar-utils on normed roar-apps (#2016)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add licenses, fix repository url, add manual workflow step
  .github/RELEASING.md
  .github/workflows/release.yml
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/package.json
  packages/assessment-sdk/package.json
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

running npm i
  package-lock.json
Due: none

Remove firekit from roam-apps TaskLauncher
  apps/assessments/roam-apps/src/index.js
Due: none

Remove remaining firekit consumers from roam-apps task sources
  apps/assessments/roam-apps/src/tasks/core-math/helpers/initConfig.js
  apps/assessments/roam-apps/src/tasks/core-math/timeline.js
  apps/assessments/roam-apps/src/tasks/fluency/helpers/initConfig.js
  apps/assessments/roam-apps/src/tasks/fluency/timeline.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/surveyResponseModality.js
  apps/assessments/roam-apps/src/tasks/magpi/helpers/initConfig.js
  apps/assessments/roam-apps/src/tasks/magpi/timeline.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/helpers/initConfig.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTimeline.js
Due: none

Convert roam-apps initTrialSaving.js to assessment-sdk
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTrialSaving.js
Due: none

Clean up production sourcemaps for roam-apps
  apps/assessments/roam-apps/webpack.config.cjs
Due: none

Add db:seed:roam-apps script
  apps/backend/package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add roam-apps backend seed script
  apps/assessments/roam-apps/taskVariantParameters.example.json
  apps/backend/seeds/roam-apps.seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Make init-assessment-db.sh executable
  scripts/init-assessment-db.sh
Due: none

Rename roam-apps assessment_stage values to SDK format
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/timeline.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/breakScreen.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/getBonus.js
  apps/assessments/roam-apps/src/tasks/fluency/timeline.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeSplit.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/practiceExample.js
  apps/assessments/roam-apps/src/tasks/magpi/timeline.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineInstruction.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/symCompInstructions.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/timeline.js
Due: none

Add roam portuguese variants
  apps/assessments/roam-apps/taskVariantParameters.example.json
  apps/backend/seeds/roam-apps.seed.ts
  apps/backend/src/services/scoring/configs/fluency.json
  apps/backend/src/services/scoring/configs/roam-alpaca.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add proxy config in roam-apps webpack config
  apps/assessments/roam-apps/webpack.config.cjs
Due: none

Fix missing import
  apps/assessments/roam-apps/src/index.js
Due: none

npm run format
  apps/assessments/roam-apps/src/tasks/core-math/trials/breakScreen.js
Due: none

Change practice_response to practice
  apps/assessments/roam-apps/src/tasks/core-math/trials/breakScreen.js
Due: none

running npm ci
  package-lock.json
Due: none

fix merge regressions
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
  package-lock.json
Due: none

npm i
  package-lock.json
Due: none

disable locales test, fix logical and timeout error in h&f
  apps/assessments/roar-levante-tasks/cypress/e2e/hearts_and_flowers.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/task_locales.cy.js
  package-lock.json
Due: none

implement pr preview links for assessments
  .github/workflows/ci.yml
Due: none

update corpus and name for trog in example parameters
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
Due: none

add benign comment in roar-pa index.js; remove later
  apps/assessments/roar-pa/src/index.js
Due: none

Run npm run lint
  apps/assessments/roam-apps/src/tasks/fluency/trials/surveyResponseModality.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTimeline.js
Due: none

fix(roar-levante-tasks): address e2e timeouts and flakiness in task_locales and in Hearts & Flowers (#2026)
  apps/assessments/roar-levante-tasks/cypress/e2e/hearts_and_flowers.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/task_locales.cy.js
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  package-lock.json
Due: none

Set up basic facade
  apps/assessments/roam-apps/src/index.js
  apps/assessments/roam-apps/src/sdk/roam-firekit-facade.js
  apps/assessments/roam-apps/src/sdk/score-entries.js
Due: none

chore: update roar-utils on normed roar-apps 2 (#2022)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement variant picker and test with roar-pa
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/shared/variantPicker.js
Due: none

update eslint configs for assessments, minor refactor to baseUrl in serve.js
  apps/assessments/roar-letter/eslint.config.mjs
  apps/assessments/roar-letter/serve/serve.js
  apps/assessments/roar-levante-tasks/eslint.config.mjs
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-multichoice/eslint.config.mjs
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-readaloud/eslint.config.mjs
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-sre/eslint.config.mjs
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-swr/eslint.config.mjs
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-ran/eslint.config.mjs
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/shared/eslint.config.mjs
  apps/assessments/shared/package.json
  apps/assessments/shared/variantPicker.test.js
  apps/assessments/shared/vitest.config.js
  package-lock.json
Due: none

add no-op build to assessments/shared workspace
  apps/assessments/shared/package.json
Due: none

Add composite score to column
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roam to 1.3.13
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Hide practice-only tags
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add a per-task display descriptor to the score-report responses
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/phonics.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/sre.ts
  apps/backend/src/services/scoring/configs/swr-es.ts
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/scoring.types.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Properly parse score values, display correct percentile
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
