Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Remove roam-alpaca from getScoreKeys and add changes + explaination
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add backward compatibility for scoring
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor isNewScoring
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor some logic
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Simplify logic and replace undefined with nulls
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update variable names
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix isNewScoring
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add test for getScoreKeys
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Replace alpaca with roamScore
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update to be compatiable with 1.2.14
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove extra if statement
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Feat #518 Participant page redesign past assignments (#534)
  src/components/SideBar.vue
  src/components/assignments/AssignmentCard.vue
  src/components/assignments/UpcomingAssignments.vue
  src/components/tests/AssignmentCard.test.js
  src/components/tests/SideBar.test.js
  src/components/tests/UpcomingAssignments.test.js
  src/helpers/query/assignments.js
  src/pages/HomeParticipant.vue
  src/translations/de/ch/de-CH-componentTranslations.json
  src/translations/en/gh/en-GH-componentTranslations.json
  src/translations/es/ar/es-AR-componentTranslations.json
  src/translations/es/co/es-CO-componentTranslations.json
  src/translations/fr/ca/fr-CA-componentTranslations.json
Due: none

Bump roar-levante-tasks to 0.2.0
  package-lock.json
Due: none

Firebase
  apps/dashboard/firebase/admin/firebase.staging.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add remaining csp links
  apps/dashboard/firebase/admin/firebase.dev.json
  apps/dashboard/firebase/admin/firebase.production.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update ROAV-MEP
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

package.json
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add base auth middleware
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/clients/firebase-auth.clients.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/middleware/auth-guard/jwt-extractor.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/types/express.d.ts
  apps/backend/turbo.json
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix package lookup path
  apps/dashboard/cypress/support/utils.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix package lookup path (#1307)
  apps/dashboard/cypress/support/utils.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adjust individual score report logic in regards to letter and phonics, correctly use sortedArray property to retrieve scores rather than in correct formattedArray
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create separate list for hyphenated levante tasks
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clarify logic for setting the text color on game tabs
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/constants/tasksExcludedFromRetake.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove retake message for tasks that don't track validity
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create constants for levante tasks and task ids
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/constants/levanteTasks.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

modify game tabs component to exclude LEVANTE tasks from assessment re-take functions
  apps/dashboard/src/components/GameTabs.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

simplify implementsValidityChecking function
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

check for game.startedOn when turning game tab text yellow
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete isNewScoring check and format
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add error codes and fix error guard
  apps/backend/src/app.ts
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

set phonics and letter to report percent correct, clarify some tooltips
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clarify letter tooltip
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`fix` Exclude Core Tasks From Assessment Retake Functionality (#1301)
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/constants/levanteTasks.js
  apps/dashboard/src/constants/tasksExcludedFromRetake.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

handle letter tasks first when rendering individual reports
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create language for when the description on the individual task cards is shortened
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove comments, fix a translation key typo
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump to 1.2.24
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`fix` Individual Score Reports Fail to Render Scores (#1308)
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Differentiate between expired and invalid tokens
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/constants/firebase-error-codes.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/utils/get-firebase-error-code.util.ts
  package-lock.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
