Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

use array break map in roam trial block init
  apps/assessments/roam-apps/src/tasks/core-math/trials/trialHelpers.js
Due: none

add break-trial metadata for roam
  apps/assessments/roam-apps/src/tasks/core-math/trials/breakScreen.js
Due: none

use core-math instructions keys in roam keyboard practice
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionDesktop.js
Due: none

install deps
  package-lock.json
Due: none

harden trial check, remove https true flag in webpack
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoiceImage.js
  apps/assessments/roam-apps/webpack.config.cjs
Due: none

skip roam-apps cypress test (deprecated)
  apps/assessments/roam-apps/cypress/e2e/arf/playRoamGame-ARF-Default.cy.js
Due: none

maint(assessments): Migrate `roam-apps` PT changes (#2050)
  apps/assessments/roam-apps/cypress/e2e/arf/playRoamGame-ARF-Default.cy.js
  apps/assessments/roam-apps/cypress/support/roamHelpers.js
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/src/i18n/locales/en/translation.json
  apps/assessments/roam-apps/src/i18n/locales/pt/translation.json
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/breakScreen.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/endScreen.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/introduction.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoice.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoiceImage.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/preGameInstructions.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/selectDuck.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/trialHelpers.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineInstruction.js
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
  package-lock.json
Due: none

maint(infra): configure npm publishing for the monorepo (dry-run gated) (#2023)
  .github/RELEASING.md
  .github/workflows/release.yml
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-letter/rollup.lib.config.mjs
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/package.json
  packages/assessment-sdk/package.json
  packages/scoring-tables/package.json
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Hide empty subskills and fix condition checking if new fluency score
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add GET /v1/users/:id/memberships endpoint
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.memberships.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/services/user.service.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update assessment package.json with new scripts
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
Due: none

change assessment postgres to 5433
  docker-compose.assessment.yml
Due: none

add npm override for semantic-release-cli
  package-lock.json
  package.json
Due: none

create common assessment script and use in build/up/down assessment scripts
  scripts/assessment-common.sh
  scripts/assessment-env-build.sh
  scripts/assessment-env-down.sh
  scripts/assessment-env-up.sh
Due: none

create db task seeding wrapper for assessments
  scripts/assessment-seed-tasks.sh
Due: none

create setup script for assessment environment
  scripts/assessment-setup.sh
Due: none

update assessment environment documentation
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
Due: none

add assessment researcher guide with sample queries and data access
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
Due: none

remove stale references to old scripts
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-swr/webpack.config.cjs
  docker-compose.assessment.yml
  scripts/assessment-env-build.sh
  scripts/assessment-env-down.sh
  scripts/assessment-env-up.sh
Due: none

Add few more users.controller.test.ts tests
  apps/backend/src/controllers/users.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move the participant homepage profile read off Firestore onto the backend
  apps/dashboard/src/composables/queries/useUserMembershipsQuery.js
  apps/dashboard/src/composables/queries/useUserMembershipsQuery.test.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/helpers/participantGames.js
  apps/dashboard/src/helpers/participantGames.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create separate restart script with termination confirmation
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  scripts/assessment-restart.sh
Due: none

update common and down scripts, documentation, to reflect termination confirmation
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
  scripts/assessment-common.sh
  scripts/assessment-env-down.sh
Due: none

Align assessment dev environment with platform stack building blocks
  .ai/rules/assessment-integration-pattern.md
  apps/assessments/shared/firebase.json
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/vitest.integration.globalSetup.ts
  assessment.Dockerfile
  docker-compose.assessment.yml
  docker-compose.yml
  docker/firebase-auth-emulator/Dockerfile
  docker/firebase-auth-emulator/firebase.json
  docker/firebase-emulator/Dockerfile
  docker/firebase-emulator/firebase.json
  docker/firebase-emulator/storage.rules
  packages/assessment-sdk/src/compat/firekit.ts
  scripts/assessment-env-down.sh
  scripts/assessment-env-up.sh
  scripts/dev-platform.sh
  scripts/init-assessment-db.sh
  scripts/setup-fdw-local.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Persist platform Postgres and retire dev-platform.sh
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  docker-compose.yml
  scripts/dev-platform.sh
Due: none

Address Claude's 1st feedback round: move UserMembershipDetail type to shared user.ts types file
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/types/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Default assessment dev builds to the local Auth emulator
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-letter/webpack.config.cjs
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/webpack.config.cjs
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/webpack.config.cjs
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/webpack.config.cjs
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-survey/vite.config.js
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/webpack.config.cjs
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/webpack.config.cjs
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/webpack.config.cjs
  scripts/assessment-env-up.sh
Due: none

Fix dashboard .env.example API URL to match the HTTPS dev backend
  apps/dashboard/.env.example
Due: npx dotenvx ext precommit

Unify the port preflight across setup and env-up
  scripts/assessment-common.sh
  scripts/assessment-env-up.sh
  scripts/assessment-setup.sh
Due: none

Adapt seed script and guides to password auth
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
  scripts/assessment-seed-tasks.sh
Due: none

Address Claude's 1st feedback round: add additional isLoading condition, allowing user memberships request to finish beforeusers can launch tasks
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix lint error (incorrect import path)
  apps/backend/src/services/user/user.service.memberships.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.11
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Undo deleting levante game tab translations
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.11 (#2043)
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
  apps/dashboard/src/components/GameTabs.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating roar-pa to fix practice and test stopping rules
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix undefined percentile and standardScore for grade 6+ PA scores
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav-ran to 2.1.5
  package-lock.json
  package.json
Due: none

Uninstall roav-ran from root package.json
  package-lock.json
  package.json
Due: none
