Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Update apps/dashboard/src/composables/useUserType.js
  apps/dashboard/src/composables/useUserType.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

commiting suggestions
  apps/dashboard/src/composables/useUserType.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Checkout repository conditionally in deploy-firestore-config action
  .github/actions/deploy-firestore-config/action.yml
Due: none

Apply suggestion from @Emily-ejag
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Checkout repository conditionally in deploy-firestore-config action (#1333)
  .github/actions/deploy-firestore-config/action.yml
Due: none

renaming scripts for prod to deploy to work
  package.json
Due: none

Replace PrimeVue class selectors with testIds (#1332)
  apps/dashboard/cypress/e2e/parent/default-tests/addChild.spec.cy.js
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/assessments.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/legal.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/progressReports.cy.js
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/cypress/e2e/super-admin/default-tests/create-administrations/createAdministration.spec.cy.js
  apps/dashboard/cypress/e2e/super-admin/default-tests/create-administrations/editAdministration.cy.js
  apps/dashboard/cypress/e2e/super-admin/default-tests/listOrgs.spec.cy.js
  apps/dashboard/cypress/e2e/super-admin/default-tests/register-students/registerStudents.spec.cy.js
  apps/dashboard/src/components/ConsentModal.vue
  apps/dashboard/src/components/Form/DateInput/DateInput.vue
  apps/dashboard/src/components/Form/Dropdown/Dropdown.cy.js
  apps/dashboard/src/components/Form/Dropdown/Dropdown.vue
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/ListOrgs.vue
  apps/dashboard/src/components/NavBar/NavBar.cy.js
  apps/dashboard/src/components/NavBar/NavBar.vue
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.cy.js
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/components/modals/EditVariantDialog.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav-mep to 1.2.5
  package-lock.json
  package.json
Due: none

Undo install roav in outer package.json and reinstalled in dashboard
  apps/dashboard/package.json
  package-lock.json
  package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove console logs
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

formatting
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/composables/queries/useUserLongitudinalRunsQuery.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  apps/dashboard/src/helpers/query/runs.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix unit tests
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  apps/dashboard/src/helpers/query/runs.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add phonics subscores (#1318)
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove console logs
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

formatting
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bug #556 New site not visible until refresh (#558)
  src/composables/queries/useOrgsTableQuery.ts
  src/helpers/query/orgs.js
  src/pages/groups/ListGroups.vue
Due: none

add checkbox to opt in to future studies
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix submission bug
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove extraneous fx call signature
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix super admin routing for list users (#557)
  src/router/index.ts
Due: none

Bug #559 Duplicate sites on dropdown (#560)
  src/composables/queries/useDistrictsListQuery.test.ts
  src/composables/queries/useDistrictsListQuery.ts
  src/helpers/query/orgs.js
Due: none

Task #495 Migrate pinia stores to CompositionAPI (#542)
  src/App.vue
  src/components/NavBar.vue
  src/components/auth/AuthEmailLink.vue
  src/components/tasks/TaskLevante.vue
  src/components/tasks/TaskPA.vue
  src/components/tasks/TaskSRE.vue
  src/components/tasks/TaskSWR.vue
  src/components/tests/NavBar.test.js
  src/composables/queries/useAdministrationAssignmentsQuery.ts
  src/composables/queries/useSurveyResponsesQuery.test.ts
  src/composables/queries/useSurveyResponsesQuery.ts
  src/composables/queries/useUserAssignmentsQuery.ts
  src/composables/queries/useUserChildDataQuery.ts
  src/composables/queries/useUserClaimsQuery.ts
  src/composables/queries/useUserDataQuery.test.ts
  src/composables/queries/useUserDataQuery.ts
  src/composables/queries/useUserStudentDataQuery.ts
  src/composables/useSSOAccountReadinessVerification.js
  src/composables/useSSOAccountReadinessVerification.test.js
  src/composables/useSurveyResponses/useSurveyResponses.js
  src/pages/Debug.vue
  src/pages/ProgressReport.vue
  src/pages/SignIn.vue
  src/pages/tests/SignIn.test.js
  src/sentry.ts
  src/store/assignments.js
  src/store/auth.js
  src/store/scores.js
Due: none

Bug #561 Site dropdown not working after store migration (#562)
  src/composables/queries/useDistrictsListQuery.test.ts
  src/composables/queries/useDistrictsListQuery.ts
  src/composables/queries/useOrgsTableQuery.ts
  src/helpers/query/orgs.js
Due: none

Bug - Checking for user authentication (#563)
  src/composables/mutations/useCompleteAssessmentMutation.ts
  src/router/index.ts
  src/store/auth.js
Due: none

names as strings
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bug #569 Tasks not running (#570)
  src/components/auth/AuthEmailLink.vue
  src/components/tasks/TaskLevante.vue
  src/components/tasks/TaskPA.vue
  src/components/tasks/TaskSRE.vue
  src/components/tasks/TaskSWR.vue
Due: none

Bug # Firekit init error for tasks (#571)
  src/components/tasks/TaskLevante.vue
  src/components/tasks/TaskPA.vue
  src/components/tasks/TaskSRE.vue
  src/components/tasks/TaskSWR.vue
Due: none

Update apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update apps/dashboard/src/composables/queries/useUserLongitudinalRunsQuery.js
  apps/dashboard/src/composables/queries/useUserLongitudinalRunsQuery.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump to 1.2.6
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add checkbox to allow parents to opt-in to future studies (#1335)
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

names as strings (#1336)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

FIX: Being able to play a task after it's complete. (#574)
  src/components/GameTabs.vue
Due: none

fix: remove intl chip (#573)
  src/components/VariantCard.vue
  src/components/tests/VariantCard.test.js
Due: none

Fix survey and removing unused language options (#579)
  .cache/i18n-csv.hash
  src/helpers/surveyInitialization.ts
  src/pages/HomeParticipant.vue
  src/translations/i18n.ts
Due: none

Bug #555 Participants page redesign minor issues from QA [PART 1] (#572)
  src/components/GameTabs.vue
  src/components/ParticipantSidebar.vue
  src/constants/index.ts
  src/pages/HomeParticipant.vue
Due: none

Possible Cypress fix
  cypress/e2e/testTasks.cy.ts
  package-lock.json
  package.json
Due: none
