Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add updated task descriptions
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add a one-command local full-stack dev script (#1859)
  .github/CONTRIBUTING.md
  .gitignore
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  docker-compose.local-dev.yml
  package.json
  scripts/dev-local-stack.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Change individual score report types to percentile
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add tasks to list of assessments being reported
  apps/dashboard/src/constants/studentScoreReportTasks.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add raw score ranges and support category cutoffs for new normed tasks
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix ScoreReport.service.test.js and add todo note about updating tests once normed tasks are enabled
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire dashboard sign-in to the local Firebase Auth emulator (#1858)
  .github/CONTRIBUTING.md
  .gitignore
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/db/setup-fdw.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/queries/useUserClaimsQuery.js
  apps/dashboard/src/composables/usePermissions.js
  apps/dashboard/src/constants/firebase.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/firekit.js
  apps/dashboard/src/helpers/isDashboardReady.js
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/pages/HomeAdministrator.vue
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/store/auth.js
  apps/dashboard/vite.config.js
  docker-compose.local-dev.yml
  package.json
  scripts/dev-local-stack.sh
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix mismatched enum value in server-test
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  apps/backend/src/server-test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update roar-swr serve.js to use sdk bootstrap
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-swr/serve/serve.js
Due: none

add regression test for swr scoring
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

add sdk bootstrap method to serve.js
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-sre/src/experiment/scores.js
Due: none

fix default cypress test to not rely on url params
  apps/assessments/roar-sre/cypress/e2e/default-tests/playSREDefault.cy.js
  apps/assessments/roar-sre/cypress/support/commands.js
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/experiment.js
  apps/assessments/roar-sre/src/index.js
  apps/assessments/roar-sre/src/sdk/sre-firekit-facade.js
Due: none

Trim subskill strings and update how no. of Problem Types to Work On are calculated for calf
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update e2e tests
  apps/assessments/roar-sre/cypress/e2e/default-tests/playSREDefault.cy.js
  apps/assessments/roar-sre/cypress/e2e/default-tests/validateGameParameters.cy.js
  apps/assessments/roar-swr/cypress/e2e/default-tests/validateGameParameters.cy.js
Due: none

updating letter to get birthyear and birthmonth (#1860)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update dummy staging target for roar-word
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-swr/package.json
Due: none

standardize dummy hosting targets across current monorepo assessments
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
Due: none

updating SWR to get theta SE
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add GET /groups (list) and GET /groups/:groupId read endpoints
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/groups.controller.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/src/test-support/repositories/group.repository.ts
  packages/api-contract/src/v1/groups/contract.ts
  packages/api-contract/src/v1/groups/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

increase number of containers in assessment e2e tests to 2
  .github/workflows/ci.yml
Due: none

`ref` Integrate `roar-swr` Multistage Testing into Monorepo (#1855)
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-swr/cypress/e2e/default-tests/playSWRadaptiveMultiStage.cy.js
  apps/assessments/roar-swr/docs/adaptive-timing-multistage.md
  apps/assessments/roar-swr/docs/short-adaptive.md
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/parameters.json
  apps/assessments/roar-swr/src/experiment/adaptiveTimingRules.js
  apps/assessments/roar-swr/src/experiment/adaptiveTimingTimeline.js
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/assessments/roar-swr/src/experiment/experiment.js
  apps/assessments/roar-swr/src/experiment/experimentSetup.js
  apps/assessments/roar-swr/src/experiment/i18n.js
  apps/assessments/roar-swr/src/experiment/trials/stimulus.js
  apps/assessments/roar-swr/src/tests/adaptiveTimingRules.test.js
  apps/assessments/roar-swr/src/tests/adaptiveTimingTimeline.test.js
  apps/assessments/roar-swr/src/wordlist/en/item_bank_v5_easy_infinite.csv
Due: none

updating sre
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding new score to sre
  apps/assessments/roar-sre/src/experiment/corpus/en/irt_hyperparameters_sre.csv
  apps/assessments/roar-sre/src/experiment/scores.js
Due: none

npm i
  package-lock.json
Due: none

Add GET /families/:familyId read endpoint
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/controllers/families.controller.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/services/family/family.service.test.ts
  apps/backend/src/services/family/family.service.ts
  packages/api-contract/src/v1/families/contract.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Realign baseFixture to class-level student enrollment (#1878)
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add GET /classes/:classId read endpoint
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/classes/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Migrate district read composables to the ts-rest backend client
  apps/dashboard/src/composables/queries/useDistrictSchoolsQuery.js
  apps/dashboard/src/composables/queries/useDistrictSchoolsQuery.test.js
  apps/dashboard/src/composables/queries/useDistrictsListQuery.js
  apps/dashboard/src/composables/queries/useDistrictsQuery.js
  apps/dashboard/src/composables/queries/useDistrictsQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Foundational composite scoring, rebased onto SWR-scoring base
  apps/backend/src/constants/foundational-composite.ts
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/constants/run.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.integration.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.ts
  apps/backend/src/services/foundational-composite/foundational-composite.types.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/test-support/repositories/run.repository.ts
  apps/backend/src/test-support/services/foundational-composite.service.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate task mutations and rewrite task forms (#1839)
  apps/dashboard/src/composables/mutations/useAddTaskMutation.js
  apps/dashboard/src/composables/mutations/useAddTaskMutation.test.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.js
  apps/dashboard/src/composables/mutations/useUpdateTaskMutation.test.js
  apps/dashboard/src/constants/tasks.js
  apps/dashboard/src/containers/ManageTasks/components/CreateTaskForm.vue
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfigurator.cy.js
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfiguratorRow.cy.js
  apps/dashboard/src/containers/ManageTasks/components/TaskParametersConfiguratorRow.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
  apps/dashboard/src/helpers/taskConfig.js
  apps/dashboard/src/helpers/taskConfig.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate school read composables to the ts-rest backend client
  apps/dashboard/src/composables/queries/useSchoolClassesQuery.js
  apps/dashboard/src/composables/queries/useSchoolClassesQuery.test.js
  apps/dashboard/src/composables/queries/useSchoolsQuery.js
  apps/dashboard/src/composables/queries/useSchoolsQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate group and class read composables to the ts-rest backend client
  apps/dashboard/src/composables/queries/useClassesQuery.js
  apps/dashboard/src/composables/queries/useClassesQuery.test.js
  apps/dashboard/src/composables/queries/useGroupsListQuery.js
  apps/dashboard/src/composables/queries/useGroupsListQuery.test.js
  apps/dashboard/src/composables/queries/useGroupsQuery.js
  apps/dashboard/src/composables/queries/useGroupsQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

npm run format
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate useFamiliesQuery to the ts-rest backend client
  apps/dashboard/src/composables/queries/useFamiliesQuery.js
  apps/dashboard/src/composables/queries/useFamiliesQuery.test.js
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Incorporate SWR scores into the foundational composite
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.integration.test.ts
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
  packages/assessment-schema/src/roar-swr/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rewire OrgPicker org fetching onto the migrated ts-rest composables
  apps/dashboard/src/components/OrgPicker.vue
  apps/dashboard/src/helpers/mapOrg.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate OrgsList to the ts-rest backend and drop unsupported columns/tabs
  apps/dashboard/src/composables/queries/useOrgsTableQuery.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/containers/OrgsList/composables/useOrgTableColumns.js
  apps/dashboard/src/containers/OrgsList/composables/useOrgTableColumns.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add PATCH update endpoints for districts, schools, classes, and groups
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/groups.controller.ts
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  apps/backend/src/test-support/repositories/district.repository.ts
  apps/backend/src/test-support/repositories/group.repository.ts
  apps/backend/src/test-support/repositories/school.repository.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/classes/schema.ts
  packages/api-contract/src/v1/districts/contract.ts
  packages/api-contract/src/v1/districts/schema.ts
  packages/api-contract/src/v1/groups/contract.ts
  packages/api-contract/src/v1/groups/schema.ts
  packages/api-contract/src/v1/schools/contract.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Migrate org edit form (read + PATCH save) to the ts-rest backend
  apps/dashboard/src/components/EditOrgsForm.vue
  apps/dashboard/src/composables/mutations/useUpdateOrgMutation.js
  apps/dashboard/src/composables/mutations/useUpdateOrgMutation.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/helpers/parseGooglePlaceToLocation.js
  apps/dashboard/src/helpers/parseGooglePlaceToLocation.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
