Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Add route integration test helper
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add agent rules scaffold with README and AI tool configs
  .ai/rules/README.md
  .cursor/rules
  .cursorrules
  .github/copilot-instructions.md
Due: none

Update route test helper JSDoc with lazy initialization pattern
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove body: z.undefined() from DELETE administrations contract
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add rules: layer architecture, update README and existing rules
  .ai/rules/README.md
  .ai/rules/architecture-authorization-model.md
  .ai/rules/backend-authorization-pattern.md
  .ai/rules/backend-layer-architecture.md
Due: none

Add rule: authorization model
  .ai/rules/architecture-authorization-model.md
Due: none

Add rule: backend error handling
  .ai/rules/backend-error-handling.md
Due: none

Add rule: backend authorization pattern
  .ai/rules/architecture-authorization-model.md
  .ai/rules/backend-authorization-pattern.md
Due: none

Add rule: backend error message security
  .ai/rules/backend-error-message-security.md
Due: none

Add rule: backend API contract conventions
  .ai/rules/backend-api-contract-conventions.md
Due: none

Add rule: backend controller — no business logic
  .ai/rules/backend-controller-no-business-logic.md
Due: none

Add rule: backend service pattern
  .ai/rules/backend-service-pattern.md
Due: none

Add rule: backend repository pattern
  .ai/rules/backend-repository-pattern.md
Due: none

Add route integration tests for all administrations endpoints
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add rule: frontend layer architecture
  .ai/rules/frontend-layer-architecture.md
Due: none

Add rule: frontend state management
  .ai/rules/frontend-state-management.md
Due: none

Add route integration tests for districts endpoint
  apps/backend/src/routes/districts.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add rule: TypeScript strictness
  .ai/rules/quality-typescript-strictness.md
Due: none

Add rules: backend testing (unit vs integration, factory usage)
  .ai/rules/backend-testing-factory-usage.md
  .ai/rules/backend-testing-unit-vs-integration.md
Due: none

Add Dockerfile and .dockerignore for backend containerization
  .dockerignore
  apps/backend/Dockerfile
  apps/backend/rollup.config.mjs
Due: none

Add route integration tests for tasks endpoint
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for groups endpoint
  apps/backend/src/routes/groups.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for me endpoint
  apps/backend/src/routes/me.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update rule: generalize TypeScript strictness to all TS packages
  .ai/rules/quality-typescript-strictness.md
Due: none

Add GET /health endpoint for Cloud Run liveness checks
  apps/backend/src/app.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add unified backend deployment workflow with reusable actions
  .github/actions/deploy-cloud-run/action.yml
  .github/actions/migrate-database/action.yml
  .github/workflows/deploy-backend-development.yml
  .github/workflows/migrate-development.yml
Due: none

Temporarily target enh/1645/backend-deployment branch for testing
  .github/workflows/deploy-backend-development.yml
Due: none

Split deploy pipeline into build → migrate → deploy phases
  .github/actions/build-docker-image/action.yml
  .github/workflows/deploy-backend-development.yml
Due: none

Add rule: frontend composable patterns
  .ai/rules/frontend-composable-patterns.md
Due: none

Use docker/login-action for Artifact Registry auth
  .github/actions/build-docker-image/action.yml
Due: none

Add app-level route integration tests for production app wiring
  apps/backend/src/routes/index.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add rule: code style (constants, naming, logging, documentation)
  .ai/rules/quality-code-style.md
Due: none

Add rule: PR creation (branch naming, squash-merge titles, chaining)
  .ai/rules/quality-pr-creation.md
Due: none

Simplify AI tool integration to symlinks only
  .claude/rules
  .cursorrules
  .github/copilot-instructions.md
Due: none

Target project/backend-refactor branch for deployment workflow
  .github/workflows/deploy-backend-development.yml
Due: none

Clean up service unit tests and delete redundant service integration tests
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement schema for user api-contract
  packages/api-contract/src/v1/users/index.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement schema and contract for get classes users
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/classes/index.ts
  packages/api-contract/src/v1/classes/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Move user schema to common and delete users folder
  packages/api-contract/src/v1/common/users.ts
  packages/api-contract/src/v1/users/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename file
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn
