Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove obsolete completeAssessment across the platform
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/components/tasks/TaskCrowding.vue
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMEP.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/components/tasks/TaskVocab.vue
  apps/dashboard/src/pages/PlayApp.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add backend foundational composite scoring (LPW + Sentence) (#1881)
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/backend/src/constants/foundational-composite.ts
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/constants/run.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.integration.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.ts
  apps/backend/src/services/foundational-composite/foundational-composite.types.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/test-support/repositories/run.repository.ts
  apps/backend/src/test-support/services/foundational-composite.service.ts
  apps/backend/src/test-support/services/index.ts
  packages/assessment-schema/src/roar-swr/domains.ts
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
  packages/assessment-schema/src/roar-swr/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Show support categories for main score report tags
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add cva, morphology, and letter reliability
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor tooltipHeaders to return dynamic ranges
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update RoarDataTable cypress test
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Implement dynamic ranges for DistributionChartFacet graphs
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix scoringVersion prop in useLongitudinalSeries and pass scoringVersion in longitudinal runs
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add default arg value to getRawScoreThreshold and change pa scoringversion to 4
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add foundational-composite normed scoring via a shared lookup-table utility
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/experiment/scores.test.js
  apps/backend/package.json
  apps/backend/src/constants/foundational-composite.ts
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/services/foundational-composite/composite-norm-table.test.ts
  apps/backend/src/services/foundational-composite/composite-norm-table.ts
  apps/backend/src/services/foundational-composite/composite-norming.test.ts
  apps/backend/src/services/foundational-composite/composite-norming.ts
  apps/backend/src/services/foundational-composite/foundational-composite.norming.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.integration.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.ts
  apps/backend/src/services/foundational-composite/foundational-composite.types.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/utils/get-age-in-months.util.test.ts
  apps/backend/src/utils/get-age-in-months.util.ts
  assessment.Dockerfile
  package-lock.json
  packages/assessment-schema/src/foundational-composite/config.ts
  packages/assessment-schema/src/foundational-composite/index.ts
  packages/assessment-schema/src/index.ts
  packages/scoring-tables/.prettierignore
  packages/scoring-tables/eslint.config.mjs
  packages/scoring-tables/package.json
  packages/scoring-tables/prettier.config.mjs
  packages/scoring-tables/src/grade-age.test.ts
  packages/scoring-tables/src/grade-age.ts
  packages/scoring-tables/src/index.ts
  packages/scoring-tables/src/lookup.test.ts
  packages/scoring-tables/src/lookup.ts
  packages/scoring-tables/src/types.ts
  packages/scoring-tables/tsconfig.json
  packages/scoring-tables/turbo.json
  packages/scoring-tables/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove raw score ranges for tasks and scoring versions without them from main score report column tooltips
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate roar-multichoice into monorepo
  .github/CODEOWNERS
  apps/assessments/roar-multichoice/.eslintrc.json
  apps/assessments/roar-multichoice/.firebase/hosting.ZGlzdA.cache
  apps/assessments/roar-multichoice/.firebase/hosting.cHVibGlj.cache
  apps/assessments/roar-multichoice/.firebaserc
  apps/assessments/roar-multichoice/.github/CODEOWNERS
  apps/assessments/roar-multichoice/.github/PULL_REQUEST_TEMPLATE.md
  apps/assessments/roar-multichoice/.github/workflows/deploy-firebase-test-cypress.yml
  apps/assessments/roar-multichoice/.github/workflows/firebase-hosting-merge.yml
  apps/assessments/roar-multichoice/.github/workflows/publish-to-npm-create-new-release.yml
  apps/assessments/roar-multichoice/.github/workflows/submit-dashboard-pr.yml
  apps/assessments/roar-multichoice/.prettierrc.json
  apps/assessments/roar-multichoice/LICENSE
  apps/assessments/roar-multichoice/eslint.config.mjs
  apps/assessments/roar-multichoice/package-lock.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/postBuildPackage.js
  apps/assessments/roar-multichoice/prettier.config.mjs
  apps/assessments/roar-multichoice/rollup.config.js
  apps/assessments/roar-multichoice/rollup.lib.config.mjs
  apps/assessments/roar-multichoice/serve/firebaseConfig.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
  apps/assessments/roar-multichoice/turbo.json
Due: none

Remove unused orderBy in OrgsList after export migration
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate roar-sre + roar-letter onto scoring-tables; wire update scripts
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-letter/src/experiment/scores.js
  apps/assessments/roar-letter/src/experiment/scores.test.js
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/src/experiment/scores.test.js
  apps/assessments/roar-swr/package.json
  apps/backend/src/services/foundational-composite/foundational-composite.norming.test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove unused taskId locals after SDK variant-params cutover
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Mock getFamilies in /me route test
  apps/backend/src/routes/me.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix consent-agreement resolver pagination walk
  apps/dashboard/src/helpers/registration/resolveConsentAgreementVersionId.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Provide PrimeVue Toast in ListUsers test
  apps/dashboard/src/components/ListUsers.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Use throw guards instead of expect in progress-embed beforeAll
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

format
  apps/assessments/roar-multichoice/cypress.config.js
  apps/assessments/roar-multichoice/cypress/e2e/morphology/playMorphology-AppTimer.cy.js
  apps/assessments/roar-multichoice/cypress/e2e/morphology/playMorphologyDefault.cy.js
  apps/assessments/roar-multichoice/cypress/e2e/written-vocabulary/playWrittenVocabulary-AppTimer.cy.js
  apps/assessments/roar-multichoice/cypress/e2e/written-vocabulary/playWrittenVocabularyDefault.cy.js
  apps/assessments/roar-multichoice/cypress/support/e2e.js
  apps/assessments/roar-multichoice/cypress/support/multichoiceHelpers.js
  apps/assessments/roar-multichoice/rollup.lib.config.mjs
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/config/corpus.js
  apps/assessments/roar-multichoice/src/experiment/config/logger.js
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/assessments/roar-multichoice/src/experiment/helperFunctions.js
  apps/assessments/roar-multichoice/src/experiment/i18n.js
  apps/assessments/roar-multichoice/src/experiment/index.js
  apps/assessments/roar-multichoice/src/experiment/jsPsych.js
  apps/assessments/roar-multichoice/src/experiment/scores.js
  apps/assessments/roar-multichoice/src/experiment/sentry.js
  apps/assessments/roar-multichoice/src/experiment/styles/game.scss
  apps/assessments/roar-multichoice/src/experiment/trials/appTimer.js
  apps/assessments/roar-multichoice/src/experiment/trials/audioFeedback.js
  apps/assessments/roar-multichoice/src/experiment/trials/fullScreen.js
  apps/assessments/roar-multichoice/src/experiment/trials/getUserData.js
  apps/assessments/roar-multichoice/src/experiment/trials/practice.js
  apps/assessments/roar-multichoice/src/experiment/trials/setup.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
  apps/assessments/roar-multichoice/src/experiment/trials/storySupport.js
  apps/assessments/roar-multichoice/src/experiment/trials/subTask.js
  apps/assessments/roar-multichoice/webpack.config.cjs
  package-lock.json
Due: none

Fix lint errors and remove stale eslint-disable directives
  apps/assessments/roar-multichoice/cypress.config.js
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/config/corpus.js
  apps/assessments/roar-multichoice/src/experiment/config/logger.js
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/assessments/roar-multichoice/src/experiment/helperFunctions.js
  apps/assessments/roar-multichoice/src/experiment/i18n.js
  apps/assessments/roar-multichoice/src/experiment/index.js
  apps/assessments/roar-multichoice/src/experiment/scores.js
  apps/assessments/roar-multichoice/src/experiment/trials/audioFeedback.js
  apps/assessments/roar-multichoice/src/experiment/trials/setup.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
  apps/assessments/roar-multichoice/src/experiment/trials/storySupport.js
  apps/assessments/roar-multichoice/src/experiment/trials/subTask.js
  apps/assessments/roar-multichoice/webpack.config.cjs
Due: none

Add token gate + retry policy to useUserStudentDataQuery; harden race split
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.test.js
  apps/dashboard/src/helpers/mappers/mapUser.js
  apps/dashboard/src/helpers/mappers/mapUser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix DOB local-parse round-trip; cover mapper edge branches; drop console.log + dead v-model
  apps/dashboard/src/components/EditUsersForm.vue
  apps/dashboard/src/components/views/UserInfoView.vue
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Relabel org user count from Student Count to User Count
  apps/dashboard/src/components/ListUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Harden ListUsers edit-modal cleanup (password button, showPassword reset, modal-closed)
  apps/dashboard/src/components/ListUsers.test.js
  apps/dashboard/src/components/ListUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add error-path + orchestrator test coverage for org-users export
  apps/dashboard/src/containers/OrgsList/composables/useOrgExport.test.js
  apps/dashboard/src/containers/OrgsList/composables/useOrgExportOrchestrator.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

format
  apps/assessments/roar-multichoice/cypress.config.js
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/config/corpus.js
  apps/assessments/roar-multichoice/src/experiment/config/logger.js
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/assessments/roar-multichoice/src/experiment/helperFunctions.js
  apps/assessments/roar-multichoice/src/experiment/index.js
  apps/assessments/roar-multichoice/src/experiment/scores.js
  apps/assessments/roar-multichoice/src/experiment/trials/audioFeedback.js
  apps/assessments/roar-multichoice/src/experiment/trials/setup.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
  apps/assessments/roar-multichoice/src/experiment/trials/storySupport.js
  apps/assessments/roar-multichoice/src/experiment/trials/subTask.js
  apps/assessments/roar-multichoice/webpack.config.cjs
Due: none

Document intentional non-nullable userType on demographics embed schema
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add demographics-embed integration and authorization tests across org types
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/school/school.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add undefined scoringVersion runs to longitudinal reports for swr, sre, pa; reenable hasNewlyAddedNorms conditions
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete unused code
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address PR-review findings on ROAR@Home parent registration
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.js
  apps/dashboard/src/helpers/registration/mapStudentFormToAddChild.js
  apps/dashboard/src/helpers/registration/resolveConsentAgreementVersionId.js
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cover getIdsBySlugs failure path
  apps/backend/src/services/administration/administration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Seed deterministic run timestamps in canonical-runs test
  apps/backend/src/repositories/run.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix self-read per-student identity in tests/code; document re-fetch + embed coupling
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract shared toAgreementItem agreement transform
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/controllers/utils/agreement.transform.test.ts
  apps/backend/src/controllers/utils/agreement.transform.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Filter user administration agreements by target age
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add UsersController.listUserAdministrationAgreements unit tests
  apps/backend/src/controllers/users.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
