Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix README to match actual authorization model
  packages/authz/README.md
Due: none

Document that groups are standalone with no org hierarchy cascading
  packages/authz/README.md
Due: none

Add OpenFGA authorization model with granular CRUD permissions
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/package.json
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

Document intentional permission design decisions in README
  packages/authz/README.md
Due: none

Inherit roles at class level from parent school, simplify permissions
  packages/authz/authorization-model.fga
Due: none

Remove redundant supervisory_tier_group from parent_org on class can_list/can_read
  packages/authz/authorization-model.fga
Due: none

Fix administration role resolution for class-assigned admins
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
Due: none

Restrict CUD permissions to super-admin-only (app layer)
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

Restrict class and group can_list/can_read to supervisory roles only
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
Due: none

Remove permissions table from README, point to model as source of truth
  packages/authz/README.md
Due: none

Restrict org can_list/can_read to supervisory roles only
  packages/authz/authorization-model.fga
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

First steps on adding Roav-Apps
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/taskRoav.vue
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/helpers/reports.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add FGA client and local store initialization
  apps/backend/package.json
  apps/backend/src/clients/fga.client.test.ts
  apps/backend/src/clients/fga.client.ts
  package-lock.json
  packages/authz/.fga.yaml
  packages/authz/README.md
  scripts/init-openfga-store.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix FGA client tests to assert on ApiError instead of raw string
  apps/backend/src/clients/fga.client.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use ApiError for missing FGA env vars in FgaClient
  apps/backend/src/clients/fga.client.ts
  apps/backend/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Created constants for string values - Replaced implicit fallthrough with exhaustive switch statements - Added validation for assessmentStage values in the firekit compat layer
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/assessment-stage.enum.ts
  packages/assessment-sdk/src/enums/index.ts
  packages/assessment-sdk/src/enums/interaction-event.enum.ts
Due: none

- Remove reduntant enums
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/enums/assessment-stage.enum.ts
  packages/assessment-sdk/src/enums/interaction-event.enum.ts
Due: none

Update raw score ranges and support categories
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update text descriptions with replaceScoreRange
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Switch FDW foreign tables to point at assessment tables directly (#1648)
  apps/backend/migrations/core/0058_switch_fdw_to_direct_tables.sql
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/assessment-fdw/fdw-schema-sync.test.ts
  apps/backend/src/db/schema/assessment-fdw/run-scores.ts
  apps/backend/src/db/schema/assessment-fdw/runs.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

adding csp control for roar-mp and update version to 0.1.21
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
  apps/dashboard/src/router/index.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

taskRoav name to TaskRoav
  apps/dashboard/src/components/tasks/TaskRoav.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add OpenFGA local development environment (#1637)
  apps/backend/.env.example
  docker-compose.yml
  openfga-playground.nginx.conf
  scripts/setup-certs.sh
  scripts/setup-openfga-local.sh
Due: npx dotenvx ext precommit

Update ranges/bins for taskreport graphs and support categories for longitudinal
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add FGA tuple sync helpers, authorization service, and model updates
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/fga-constants.ts
  apps/backend/src/services/authorization/helpers/fga-tuples-model-validation.test.ts
  apps/backend/src/services/authorization/helpers/fga-tuples.test.ts
  apps/backend/src/services/authorization/helpers/fga-tuples.ts
  apps/backend/src/test-support/services/authorization.service.ts
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Filter out incompatible pa scores in longitudinal graphs (different scoring versions)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Skip FGA model tests in CI when fga CLI is not installed
  packages/authz/package.json
Due: none

Add active_membership condition to family parent and child relations
  packages/authz/authorization-model.fga
  packages/authz/tests/family-permissions.fga.yaml
Due: none

Add can_create/can_update to administration, expand group role model, add can_list_users
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
Due: none

Restrict can_delete on school to admin_tier only, add district educator edge case tests
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
Due: none

Fix package-lock.json to include authz workspace
  package-lock.json
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
