Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

refresh package-lock.json
  package-lock.json
Due: none

add lint dependency in roar-pa
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/turbo.json
Due: none

implement minor nits
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/controllers/users.controller.ts
  packages/assessment-schema/src/pa/config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement various feedback fixes
  .ai/rules/sdk-layer-architecture.md
  .github/actions/build/action.yml
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/assessment-schema/src/pa/config.ts
  packages/assessment-schema/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

handle cors locally
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/src/app.ts
  apps/backend/src/services/user/user.service.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

address lint errors
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/instructions.js
  apps/assessments/roar-pa/src/experiment/trials/getUserData.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/webpack.config.cjs
  turbo.json
Due: none

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roar-pa/webpack.config.cjs
Due: npx dotenvx ext precommit

use first publishe variant by default if not provided in url string
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

restore package-level .prettierignore files
  apps/assessments/roar-pa/.prettierignore
  apps/backend/.prettierignore
  apps/dashboard/.prettierignore
  packages/api-contract/.prettierignore
  packages/assessment-sdk/.prettierignore
Due: none

fix import resolution errors
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/subscores.ts
  packages/assessment-schema/tsconfig.json
Due: none

formatting
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/instructions.js
  apps/assessments/roar-pa/src/experiment/trials/getUserData.js
  apps/assessments/roar-pa/webpack.config.cjs
Due: none

implement test suite for anonmyous user flow
  apps/backend/src/middleware/anon-token/anon-token.middleware.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/test-support/route-test.helper.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/pa/subscores.test.ts
  packages/assessment-schema/turbo.json
  packages/assessment-schema/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix known type error in users route
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove markdown files
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove deployment details from this PR
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

lint 'n format
  apps/assessments/roar-pa/package.json
Due: none

Scope ROAR_API_URL turbo cache key to roar-pa only
  apps/assessments/roar-pa/turbo.json
  turbo.json
Due: none

use correct task id in serve.js
  apps/assessments/roar-pa/serve/serve.js
Due: none

Use webpack-dev-server proxy for backend requests instead of CORS
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/src/app.ts
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove deployment details from this PR
  .github/workflows/deploy-assessment.yml
  package-lock.json
Due: none

implement claude feedback
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/scripts/seed-pa.ts
  docker-compose.yml
  migrate.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix researcher-env-up.sh npm workspace inheritance issue
  apps/assessments/roar-pa/package.json
  scripts/researcher-env-up.sh
Due: none

minor nits
  scripts/init-researcher-db.sh
  scripts/researcher-env-up.sh
Due: none

implement build and deployment migration
  monorepo-example.md
  package-lock.json
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

lint 'n format
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/rollup.config.mjs
Due: none

implement security improvements across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

split db creation and migration into separate steps
  apps/backend/rollup.config.mjs
  apps/backend/scripts/seed-pa.ts
  apps/dashboard/vite.config.js
  docker-compose.yml
  migrate.Dockerfile
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove optimization-js
  package.json
Due: none

Pass FIREBASE_AUTH_EMULATOR_HOST to webpack dev server in researcher env
  scripts/researcher-env-up.sh
Due: none

Clarifying comment on migrate.Dockerfile
  migrate.Dockerfile
Due: none

create researcher local db in docker-compose
  docker-compose.yml
  scripts/init-researcher-db.sh
Due: none

implement firebase emulator in researcher environment
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebase.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/rollup.config.mjs
  apps/backend/src/app.ts
  apps/backend/src/clients/firebase-core.client.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add concurrently
  package.json
Due: none

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
Due: npx dotenvx ext precommit

setup seed script
  apps/backend/package.json
  docker-compose.yml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

move optimization-js to dev dependencies
  package.json
Due: none

remove redundant alias
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

re-use local fdw setup when migrating researcher db
  docker-compose.yml
Due: none

implement firekit compat
  apps/assessments/roar-pa/package.json
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
