Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Inherit roles at class level from parent school, simplify permissions
  packages/authz/authorization-model.fga
Due: none

Restrict CUD permissions to super-admin-only (app layer)
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

Add user_research_exclusions table and update users schema
  apps/backend/migrations/core/0059_user_research_exclusions_and_user_updates.sql
  apps/backend/migrations/core/meta/0059_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/user-research-exclusions.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add user_research_exclusions table and update users schema (#1649)
  apps/backend/migrations/core/0059_user_research_exclusions_and_user_updates.sql
  apps/backend/migrations/core/meta/0059_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/user-research-exclusions.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add subtree_supervisory_tier_group for administration ancestor access
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

Add assessmentPid to ReportUserInfoSchema
  packages/api-contract/src/v1/reports/common.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Move reports under administrations/ and nest in parent contract
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/index.ts
  packages/api-contract/src/v1/administrations/reports/common.test.ts
  packages/api-contract/src/v1/administrations/reports/common.ts
  packages/api-contract/src/v1/administrations/reports/index.ts
  packages/api-contract/src/v1/administrations/reports/progress/contract.ts
  packages/api-contract/src/v1/administrations/reports/progress/index.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/reports/progress/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename report-filter-parser to build-filter-conditions.util
  apps/backend/src/utils/build-filter-conditions.util.test.ts
  apps/backend/src/utils/build-filter-conditions.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `GET /v1/users/:userId` (#1622)
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-classifications.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/enums/auth-provider.enum.test.ts
  apps/backend/src/enums/free-reduced-lunch-status.enum.test.ts
  apps/backend/src/enums/school-level.enum.test.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/route-test.helper.ts
  apps/backend/src/test-support/services/user.service.ts
  packages/api-contract/src/v1/common/user.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/me/schema.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/index.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement contract, schema, enum checks for users endpoint
  apps/backend/src/db/schema/core/users.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix useLongitudinalSeries unit tests and add new test cases for pa handling
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

draft commit
  apps/backend/src/repositories/access-controls/user.access-controls.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create user access controls
  apps/backend/src/repositories/access-controls/user.access-controls.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create router for users with get method, implement careteaker supervisory roles and checks in user access controls
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix series of failing integration tests due rosteringEnded being added to user schema but db not migrated; adjust /me routes and controller to reflect changes in user service getById method
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/routes/me.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update user service tests
  apps/backend/src/services/user/user.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement Claude feedback
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement update service method and organize imports
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement update service method
  apps/backend/src/controllers/users.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

users schema, contract, router
  apps/backend/src/routes/users.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

user service and controller unit tests
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/services/user/user.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

comment section in test file
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

typedoc changes
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix type checks
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

user route integration tests
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add update method to UserService mock
  apps/backend/src/test-support/services/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Fix the issue by implementing a solution that handles both race conditions and network failures
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

resolve rebase conflicts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add case-insensitivity to getBySlug with test case
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implemenmt service, controller, and route logic
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/services/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

standardize pathParams field in tasks contract
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add 404 protection to prevent information disclosure, remove 403 error response, update typedocs
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/services/task.service.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove 400 and 401 responses and their tests
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add controller unit tests for getTaskVariant
  apps/backend/src/controllers/tasks.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add unit tests for getTaskVariant
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add schema and update contract with GET path in task domain
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix typo in tsdoc for getBySlug, remove dead error codes
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task.repository.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add integration tests for getTaskVariant route
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

rebase, remove rosteringEnded
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- Adding WriteTrialTrialCOmmandOutput - fix failing tests
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
