Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Clean up column properties
  apps/dashboard/src/components/ListUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding comment to explain the behavior of the bin sizes being a range or a single value
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix: update min/max and divisor for apps in facets chart (#2118)
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Merge main into project/backend-refactor with new functionalities
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Enable global search and improve exports and filters for list-orgs tables (#2117)
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Enable sort, filter, global search for list-users tables (#2114)
  apps/dashboard/src/components/ListUsers.vue
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/helpers/query/users.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Merge main into project/backend-refactor with new functionalities
  apps/dashboard/cypress/support/helper-functions/roar-syntax/languageOptions.js
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix: Extract and pass compositeFoundational data to ScoreDistributionOverview
  apps/dashboard/src/components/reports/AtAGlanceCharts.vue
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Revert ListUsers to backend-refactor version
  apps/dashboard/src/components/ListUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix district-scope charts field names and SubscoreTable prop typo
  apps/dashboard/src/components/reports/AtAGlanceCharts.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

added JSDoc for the generateScoreRangeMap function
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating pt translations for swr and sre (#2119)
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/src/locales/pt/translation.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/src/locales/pt/translation.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Validate DOB
  apps/dashboard/src/components/SubmitTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

append /v1 prefix to api base url in ci, allow vite config to use real process.env when available
  .ai/rules/frontend-backend-api-client.md
  .github/workflows/ci.yml
  apps/dashboard/.env.example
  apps/dashboard/vite.config.js
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Trim onCellEditSave inputs
  apps/dashboard/src/components/SubmitTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Validate orgIds in csv uploader
  apps/dashboard/src/components/SubmitTable.vue
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Optimize getOrgId by normalizing cache keys and inputs, fix org validations in validityCheck, and add grade validation
  apps/dashboard/src/components/SubmitTable.vue
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cache in-flight promise to prevent flood of Firestore reads when validating orgs
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix grade validation bug: check for Number.isNaN instead of falsy check
  apps/dashboard/src/components/SubmitTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add Firebase scrypt hashing util, findByEmails, and importUsers mock
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/utils/firebase-password-hash.test.ts
  apps/backend/src/services/user/utils/firebase-password-hash.ts
  apps/backend/src/test-support/mocks/firebase-admin.mock.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add POST /v1/users/import contract (bulk create/update/unenroll)
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add POST /v1/users/import service (create bin), route, and controller
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/index.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/services/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply review nits: batch Firebase getUsers, within-batch PID dedupe, comments
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/test-support/mocks/firebase-admin.mock.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Document FIREBASE_SCRYPT_* env vars for the bulk-import create bin
  apps/backend/.env.example
Due: npx dotenvx ext precommit

Add UserRepository.endAllEnrollments for the bulk-import unenroll bin
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply update-bin review fixes: reject archived users, flag membership deltas, fix nameMiddle
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement the bulk-import update bin (profile + auth fields)
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement the bulk-import unenroll bin
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply unenroll-bin review nits: fix stale test, add class-skip + groups coverage
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement update-bin membership reconciliation with FGA sync
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply reconciliation review fixes: transactional update + fail-safe FGA order
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add e2e proofs for import sign-in and reconcile→FGA against the local stack
  .github/workflows/ci.yml
  apps/dashboard/cypress/e2e/smoke/users-import.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Chore(scoring): update raw score ranges (#2104)
  apps/backend/src/services/aggregation/aggregation.service.ts
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/sre.ts
  apps/backend/src/services/scoring/configs/trog.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Switch away from firebase composables on StudentScoreReport
  apps/dashboard/src/composables/queries/useTaskVariantParametersQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantParametersQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Revert "Chore(scoring): update raw score ranges (#2104)"
  apps/backend/src/services/aggregation/aggregation.service.ts
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/sre.ts
  apps/backend/src/services/scoring/configs/trog.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

set api path prefix at the contract level and update dependent packages, including assessments and ci files
  .ai/rules/frontend-backend-api-client.md
  .github/actions/build-assessment/action.yml
  .github/workflows/ci.yml
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-letter/webpack.config.cjs
  apps/assessments/roar-levante-tasks/webpack.config.cjs
  apps/assessments/roar-multichoice/webpack.config.cjs
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roar-sre/webpack.config.cjs
  apps/assessments/roar-survey/.env.example
  apps/assessments/roar-survey/vite.config.js
  apps/assessments/roar-swr/webpack.config.cjs
  apps/assessments/roav-apps/webpack.config.cjs
  apps/assessments/roav-ran/webpack.config.cjs
  apps/backend/src/routes/index.integration.test.ts
  apps/backend/src/routes/index.ts
  apps/dashboard/.env.example
  apps/dashboard/vite.config.js
  packages/api-contract/src/v1/index.ts
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update note and run lint
  apps/backend/src/repositories/user.repository.integration.test.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix failing tests in CI
  .ai/rules/assessment-integration-pattern.md
  apps/assessments/roam-apps/.env.example
  apps/assessments/roar-letter/.env.example
  apps/assessments/roar-levante-tasks/.env.example
  apps/assessments/roar-multichoice/.env.example
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-readaloud/.env.example
  apps/assessments/roar-sre/.env.example
  apps/assessments/roar-swr/.env.example
  apps/assessments/roav-apps/.env.example
  apps/assessments/roav-ran/.env.example
  apps/assessments/shared/variantPicker.test.js
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
Due: npx dotenvx ext precommit

Implement tests for useScoringVersions util
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/composables/useScoringVersions.js
  apps/dashboard/src/containers/StudentScoreReport/composables/useScoringVersions.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
