Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

add concurrently
  package.json
Due: none

Warn that researcher-environment:down deletes data; clarify Ctrl+C preserves it
  apps/assessments/RESEARCHER_ENVIRONMENT.md
  scripts/researcher-env-down.sh
Due: none

Fix researcher-env-up.sh npm workspace inheritance issue
  apps/assessments/roar-pa/package.json
  scripts/researcher-env-up.sh
Due: none

implement claude feedback
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/scripts/seed-pa.ts
  docker-compose.yml
  migrate.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Check port 5432 is free before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

implement security improvements across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Explicitly cd into roar-pa for arm 3 of researcher-env-up.sh
  scripts/researcher-env-up.sh
Due: none

Add firebase-tools to roar-pa devDependencies
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

Clarify guide is PA-specific; note each assessment has its own researcher env script and port
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

remove deployment details from this PR
  .github/workflows/deploy-assessment.yml
  package-lock.json
Due: none

Clarifying comment on migrate.Dockerfile
  migrate.Dockerfile
Due: none

implement firebase emulator in researcher environment
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebase.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/rollup.config.mjs
  apps/backend/src/clients/firebase-core.client.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add researcher environment getting started guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

lint 'n format
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/rollup.config.mjs
Due: none

move optimization-js to dev dependencies
  package.json
Due: none

Use webpack-dev-server proxy for backend requests instead of CORS
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit

Fix sample queries: add app. schema prefix and use FDW for cross-DB joins
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

remove optimization-js
  package.json
Due: none

Pass FIREBASE_AUTH_EMULATOR_HOST to webpack dev server in researcher env
  scripts/researcher-env-up.sh
Due: none

minor nits
  scripts/init-researcher-db.sh
  scripts/researcher-env-up.sh
Due: none

Check for docker compose and java before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

remove redundant alias
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Note port 5432 requirement in researcher environment guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

implement feedback
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebaseConfig.js
  apps/backend/scripts/seed-pa.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/dashboard/.env.example
  apps/dashboard/vite.config.js
  migrate.Dockerfile
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/variants.ts
  packages/assessment-schema/src/researcher-environment.ts
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

adding scoring version and reverting unnecesary changes from merge conflicts
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/backend/src/app.ts
  turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

changing scores.js to accept different scoringversions
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/src/experiment/scores.js
Due: none

applying Elijah's suggestion
  apps/dashboard/src/pages/HomeAdministrator.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding scoring version to config
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  package-lock.json
Due: none

use script to wait for backend health check
  scripts/researcher-env-up.sh
  scripts/wait-for-port.sh
Due: none

rename ROAR_API_URL to ROAR_API_BASE_URL
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/turbo.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/dashboard/.env.example
Due: npx dotenvx ext precommit

set custom hosting fields in package.json which are dynamically injected into assessment staging deployment workflow
  .github/actions/deploy-firebase-hosting/action.yml
  .github/workflows/deploy-assessments-staging.yml
  apps/assessments/roar-pa/package.json
Due: none

implement staging deployment pipeline for assessments
  .github/actions/build-assessment/action.yml
  .github/actions/deploy-firebase-hosting/action.yml
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-assessments-staging.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/package.json
Due: none

fix linting warnings
  apps/assessments/roar-pa/turbo.json
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/group/group.service.ts
  turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use dashboard cypress project id instead of roar-pa project
  apps/assessments/roar-pa/cypress.config.js
Due: none

change actions checkout from v4 to v6
  .github/workflows/deploy-assessments-staging.yml
Due: none

add tag to assessment cypress workflow
  .github/workflows/ci.yml
Due: none

Default ROAR_API_BASE_URL to /v1
  apps/assessments/roar-pa/webpack.config.cjs
Due: none

add commit info
  .github/workflows/ci.yml
Due: none

set roar-pa staging site to roar-phoneme-monorepo
  apps/assessments/roar-pa/package.json
Due: none

add cypress project id to turbo json
  apps/assessments/roar-pa/turbo.json
Due: none
