Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename processUploadQueue to _processUploadQueue, add jsdocs, and run format
  packages/assessment-sdk/src/commands/upload-file.command.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Feat/migrate firekit upload (#1955)
  apps/assessments/shared/firebase.json
  apps/assessments/shared/storage.rules
  apps/dashboard/firebase/assessment/firebase.json
  assessment.Dockerfile
  docker-compose.assessment.yml
  package-lock.json
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/upload-file.command.test.ts
  packages/assessment-sdk/src/commands/upload-file.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/upload-file.ts
  packages/assessment-sdk/src/utils/generate-file-path.test.ts
  packages/assessment-sdk/src/utils/generate-file-path.ts
  scripts/dev-platform.sh
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating bin sizes for normed assessments
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove deprecated component
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix CSS for chart legend
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/ProgressLegend.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update label to include percentage, update header
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/plotting.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove unused imports
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Implement tests for plotting functions
  apps/dashboard/src/helpers/plotting.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add information icons for each task
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Convert charts, create new component
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Adjust labels for chart.js chart whitespace
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add rudimentary small-screen layout
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Eliminate need to call function multiple times
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update titles text and styling
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Tweaks to PDF export
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating snapshot
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/__snapshots__/Summary.test.js.snap
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add descriptions for tasks
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update text blurb for district reports
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove console log
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

configure roar-readaloud
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-readaloud/src/experiment/config/config.js
  apps/assessments/roar-readaloud/src/experiment/helperFunctions.js
  apps/assessments/roar-readaloud/src/experiment/index.js
  apps/assessments/roar-readaloud/src/experiment/views/TestView.js
  apps/assessments/roar-readaloud/src/experiment/views/calibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/configureDeviceView.js
  apps/assessments/roar-readaloud/src/experiment/views/crowdingView.js
  apps/assessments/roar-readaloud/src/experiment/views/headCalibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/assessments/roar-readaloud/taskVariantParameters.example.json
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/backend/package.json
  apps/backend/seeds/roar-readaloud.seed.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-readaloud/config.ts
  packages/assessment-schema/src/roar-readaloud/index.ts
  packages/assessment-schema/src/roar-readaloud/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

increase max write size to 1mb (roar-readaloud constraint)
  apps/backend/src/app.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

quickfix to roar-levante-tasks to write run metadata
  apps/assessments/roar-levante-tasks/src/index.ts
Due: none

BTS update tasks tabs for normed assessments (#1929)
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/__snapshots__/Summary.test.js.snap
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement pr feedback
  apps/assessments/roar-readaloud/cypress.config.js
  apps/assessments/roar-readaloud/cypress/e2e/readaloud-Default.cy.js
  apps/assessments/roar-readaloud/locales/en/translation.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/sentry.js
  apps/assessments/roar-readaloud/webpack.config.cjs
  package-lock.json
Due: none

wire upload method to readaloud, other cross-cutting changes to facilitate
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-readaloud/src/experiment/index.js
  apps/assessments/roar-readaloud/src/experiment/views/Test.js
  apps/assessments/roar-readaloud/src/experiment/views/calibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/crowding.js
  apps/assessments/roar-readaloud/src/experiment/views/headCalibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/assessments/shared/firebaseConfig.js
  docker-compose.assessment.yml
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  scripts/assessment-env-down.sh
Due: none

implement review feedback
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/src/experiment/helperFunctions.test.js
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/assessments/roar-readaloud/vitest.config.js
  apps/backend/src/app.test.ts
  package-lock.json
  packages/assessment-schema/src/roar-readaloud/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating cutoffs and adding letter
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove console.log
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`ENH` Replace Group Score Report Pie Charts (#1841)
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/ProgressLegend.vue
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/helpers/plotting.test.js
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Pin Chrome for assessment Cypress e2e to fix parallel-run grouping
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
Due: none

dashboard, deployment, versioning configuration for roar-readaloud
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

narrow csp in roar-readaloud
  apps/dashboard/firebase/admin/csp.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

BTS: updating cutoffs (#1999)
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove trailing slash in readaloud csp
  apps/dashboard/firebase/admin/csp.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update unnormed raw score ranges for comp apps (align with July 2026 - Score Report QA Draft doc) and cutoffs
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Pin Chrome for assessment Cypress e2e to fix parallel-run grouping (#2001)
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
