Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Address Claude's 1st round: fix scoringVersion coercion to 0 (want to keep null for foundational apps)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address Claude's 1st round: add optional chaining
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Translate Spanish tasks in individual score reports
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address Claude's 1st round: use test for string matching instead of match
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement assessment-schema and seeding
  apps/assessments/roav-apps/taskVariantParameters.example.json
  apps/backend/package.json
  apps/backend/seeds/roav-apps.seed.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roav-apps/config.ts
  packages/assessment-schema/src/roav-apps/domains.ts
  packages/assessment-schema/src/roav-apps/index.ts
  packages/assessment-schema/src/roav-apps/score-entries.test.ts
  packages/assessment-schema/src/roav-apps/score-entries.ts
  packages/assessment-schema/src/roav-apps/score-names.ts
  packages/assessment-schema/src/roav-apps/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix misspelling
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update es-co json file
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`ref` Configure `roar-readaloud` into Monorepo (#1997)
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-readaloud/src/experiment/config/config.js
  apps/assessments/roar-readaloud/src/experiment/helperFunctions.js
  apps/assessments/roar-readaloud/src/experiment/helperFunctions.test.js
  apps/assessments/roar-readaloud/src/experiment/index.js
  apps/assessments/roar-readaloud/src/experiment/views/TestView.js
  apps/assessments/roar-readaloud/src/experiment/views/calibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/configureDeviceView.js
  apps/assessments/roar-readaloud/src/experiment/views/crowdingView.js
  apps/assessments/roar-readaloud/src/experiment/views/headCalibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/assessments/roar-readaloud/taskVariantParameters.example.json
  apps/assessments/roar-readaloud/vitest.config.js
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/backend/package.json
  apps/backend/seeds/roar-readaloud.seed.ts
  apps/backend/src/app.test.ts
  apps/backend/src/app.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-readaloud/config.ts
  packages/assessment-schema/src/roar-readaloud/index.ts
  packages/assessment-schema/src/roar-readaloud/variants.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update es individual score report jsons
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`ref` Wire `assessment-sdk` Storage Upload to `roar-readaloud` and Update Emulator Infra (#1998)
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-readaloud/src/experiment/index.js
  apps/assessments/roar-readaloud/src/experiment/views/Test.js
  apps/assessments/roar-readaloud/src/experiment/views/calibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/crowding.js
  apps/assessments/roar-readaloud/src/experiment/views/headCalibrationView.js
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/assessments/shared/firebaseConfig.js
  docker-compose.assessment.yml
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  scripts/assessment-env-down.sh
Due: none

`ref` Dashboard, Deployment, and Versioning Configuration for `roar-readaloud` in Monorepo (#2000)
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

wire assessment-sdk
  apps/assessments/roar-readaloud/firebase.json
  apps/assessments/roav-apps/.prettierignore
  apps/assessments/roav-apps/eslint.config.mjs
  apps/assessments/roav-apps/firebase.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/rollup.lib.config.mjs
  apps/assessments/roav-apps/serve/logger.js
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-apps/src/sdk/roav-apps-firekit-facade.js
  apps/assessments/roav-apps/src/tasks/roav-mp/helpers/mp_initConfig.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/helpers/rvp_initConfig.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/firekitShim.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/initTrialSaving.js
  apps/assessments/roav-apps/webpack.config.cjs
  package-lock.json
  packages/assessment-schema/package.json
  scripts/assessment-env-up.sh
Due: none

refresh package-lock.json
  package-lock.json
Due: none

dashboard, deployment, versioning
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Potential fix for pull request finding 'CodeQL / Prototype-polluting function'
  apps/assessments/roav-apps/src/tasks/shared/helpers/loadCorpus.js
Due: none

align vitest in roar-levante-tasks
  apps/assessments/roar-levante-tasks/package.json
  package-lock.json
Due: none

formatting
  apps/assessments/roav-apps/src/tasks/shared/helpers/loadCorpus.js
Due: none

skip cypress tests for assessments without any cypress specs
  .github/workflows/ci.yml
Due: none

build config for crowding task
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/rollup.lib.config.mjs
  apps/assessments/roav-apps/src/tasks/et/et_etHelpers.js
  apps/assessments/roav-apps/src/tasks/et/et_worker.js
  apps/assessments/roav-apps/src/tasks/roav-cr/helpers/cr_initConfig.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/firekitShim.js
  apps/assessments/roav-apps/webpack.config.cjs
  package-lock.json
Due: none

align vitest in roar-levante-tasks (#2006)
  apps/assessments/roar-levante-tasks/package.json
  package-lock.json
Due: none

formatting
  apps/assessments/roav-apps/src/tasks/roav-cr/trials/cr_block.js
Due: none

Prevent levante game tabs from being translated when switching languages
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.4 and add tasks-shared to csp
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Enable unreliable retakes for trog and roar-inference when normed
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add updated package lock
  package-lock.json
Due: none

Bump roar-levante-tasks to 1.0.5
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.3
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.6
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add new levante buckets to csp json
  apps/dashboard/firebase/admin/csp.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-levante-tasks to 1.0.7
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

prune package-lock.json
  package-lock.json
Due: none

fix type error in roar-levante-tasks vitests
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.integration.test.ts
Due: none

address claude feedback
  packages/assessment-schema/package.json
  packages/assessment-schema/src/roav-apps/score-entries.test.ts
  packages/assessment-schema/src/roav-apps/score-entries.ts
Due: none

implement pr feedback
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-apps/src/sdk/roav-apps-firekit-facade.test.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/firekitShim.test.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/initTrialSaving.test.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/runMetadata.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/runMetadata.test.js
  package-lock.json
Due: none

implement pr feedback
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

align firebase version in crowding
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/src/tasks/shared/helpers/firekitShim.test.js
  package-lock.json
Due: none

Update test and add clarifying comment
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
