Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Update completedTasks translation keys
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add periods to en individual report descriptions and fix completedTasks sentence
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Style individual score report knob text
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add space between sentences in Summary.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.print.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Set dial color and text for morphology/cva individual score reports
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix support category texts for updated norms in individual score report and update relevant tests
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove failing snapshot unit test after updating text to non-interpolation in Summary.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/__snapshots__/Summary.test.js.snap
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Simplify i18n text in Summary.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.print.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixing subscore table for phonics and adding description for readaloud
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating unit test
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete export from getBorderRadii function declaration
  apps/dashboard/src/helpers/plotting.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Correct grammar mistakes in getStudentExternalId test cases, fix variable spelling in StudentScoreReport.vue, and fixspanish interpolation in individual score reports
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/helpers/getStudentExternalId.test.js
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Implement constant file for available individual score report tasks, fix comment and key
  apps/dashboard/src/constants/studentScoreReportTasks.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/translations/en/en-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

export verbose in buttons and deleting toast for export
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Center standard score dial text
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding padding to dialog footer
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

changing description for an html list
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix support category texts for updated norms in individual score report and update relevant tests (#1484)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update thetaEstimate key to gradeEstimate after renaming Firestore values
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Permission fixes 1 (#713)
  src/components/NavBar.vue
  src/components/PermissionGuard.vue
  src/components/RoarDataTable.vue
  src/components/UserActions.vue
  src/components/modals/AddAdministratorModal.vue
  src/components/modals/AddGroupModal.vue
  src/components/tests/AddGroupModal.test.js
  src/components/tests/NavBar.test.js
  src/composables/queries/useAdminsBySiteQuery.ts
  src/composables/usePermissions.ts
  src/helpers/query/administrations.js
  src/helpers/query/orgs.js
  src/pages/ManageAdministrators.vue
  src/pages/tests/ListGroups.test.js
  src/pages/users/AddUsers.vue
  src/plugins/posthog.ts
  src/router/index.ts
  src/store/auth.ts
Due: none

firekit v9.3.11
  package-lock.json
  package.json
Due: none

Refactor ScoreCard.print.vue classes with Tailwind
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating firekit
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating firekit (#1489)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove cva from individual score report blacklist
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

defaulting to data.lenght
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update LICENSE
  LICENSE
Due: none

Fixing subtables and updating phonics and readaloud tabs descriptions (#1485)
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implementing small suggestions
  apps/dashboard/public/assets/img/cute-lion.png
  apps/dashboard/src/assets/cute-lion.png
  apps/dashboard/src/assets/styles/routes/signin.scss
  apps/dashboard/src/components/LanguageSelector.vue
  apps/dashboard/src/components/auth/RegisterUser.vue
  apps/dashboard/src/containers/SignIn/components/SignInError/SignInError.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/PasswordInput.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/ScopedProviders/ScopedProviders.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/GenericProviders/GenericProviders.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/IdentifierInput.vue
  apps/dashboard/src/containers/SignIn/components/shared/ProviderButton/ProviderButton.vue
  apps/dashboard/src/containers/SignIn/components/shared/SignInEmailChip/SignInEmailChip.vue
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

merging scoped and generic providers
  apps/dashboard/src/containers/SignIn/SignIn.test.js
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/containers/SignIn/components/SignInError/SignInError.test.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/ScopedProviders/ScopedProviders.test.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/ScopedProviders/ScopedProviders.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/ScopedProviders/index.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/index.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/GenericProviders/GenericProviders.test.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/GenericProviders/GenericProviders.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/GenericProviders/index.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/IdentifierInput.test.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/index.js
  apps/dashboard/src/containers/SignIn/components/shared/ProviderButton/ProviderButton.test.js
  apps/dashboard/src/containers/SignIn/components/shared/SignInEmailChip/SignInEmailChip.test.js
  apps/dashboard/src/pages/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

merging scoped and generic providers
  apps/dashboard/src/containers/SignIn/components/identifier-step/Providers/Providers.test.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/Providers/Providers.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/Providers/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update individual score report exports (#1482)
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/constants/studentScoreReportTasks.js
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/ProgressStatsOverview.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Header/Header.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/__snapshots__/Summary.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
  apps/dashboard/src/helpers/getStudentExternalId.js
  apps/dashboard/src/helpers/getStudentExternalId.test.js
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/helpers/plotting.test.js
  apps/dashboard/src/helpers/query/assignments.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/PdfExport.service.test.js
  apps/dashboard/src/styles.css
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update phonics keys, add individual score report comments, filter out non-percent correct/subscore values for percentage correct tasks
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Clean up comment
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update english text for cva and morphology
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix spanish morphology keys
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update task blacklist test in ScoreReport.service.test.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update comment
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

removing capsOn on Primevue because there is not an elegant solution
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/PasswordInput.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
