Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Update test factories to match schema changes
  apps/backend/src/test-support/factories/administration.factory.ts
  apps/backend/src/test-support/factories/run.factory.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix database client undefined issue with dynamic app import
  apps/backend/src/db/clients.ts
  apps/backend/src/server.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix Rollup production build with dynamic imports
  apps/backend/rollup.config.mjs
Due: none

Establish schemas, contract
  packages/api-contract/src/v1/districts/contract.ts
  packages/api-contract/src/v1/districts/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement override createMany method
  apps/backend/src/repositories/task-variant-parameter.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

properly scope task service test to integration config
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix backend DB client undefined issue with dynamic app import (#1577)
  apps/backend/rollup.config.mjs
  apps/backend/src/db/clients.ts
  apps/backend/src/server.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use transaction when available in create and createMany methods
  apps/backend/src/repositories/base.repository.ts
  apps/backend/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update database schema for research exclusion and run lifecycle tracking (#1575)
  apps/backend/migrations/assessment/0012_relocate_exclude_from_research_to_administrations.sql
  apps/backend/migrations/assessment/0013_rename_best_run_to_use_for_reporting.sql
  apps/backend/migrations/assessment/0014_add_support_for_anonymous_runs.sql
  apps/backend/migrations/assessment/0015_add_abort_and_soft_delete_support_runs.sql
  apps/backend/migrations/assessment/0016_remove_run_scores_task_ids.sql
  apps/backend/migrations/assessment/meta/0012_snapshot.json
  apps/backend/migrations/assessment/meta/0013_snapshot.json
  apps/backend/migrations/assessment/meta/0014_snapshot.json
  apps/backend/migrations/assessment/meta/0015_snapshot.json
  apps/backend/migrations/assessment/meta/0016_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0053_relocate_exclude_from_research_to_administrations.sql
  apps/backend/migrations/core/0054_remove_agreement_majority_age_flag.sql
  apps/backend/migrations/core/0055_refactor_excluded_from_research_to_timestamp.sql
  apps/backend/migrations/core/meta/0053_snapshot.json
  apps/backend/migrations/core/meta/0054_snapshot.json
  apps/backend/migrations/core/meta/0055_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/db/schema/assessment/runs.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/db/schema/core/agreements.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  apps/backend/src/test-support/factories/run.factory.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

in createMany override, return the taskVariantId if available
  apps/backend/src/repositories/task-variant-parameter.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/controllers/tasks.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/base.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unncessary where clause check
  apps/backend/src/repositories/base.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

cherry pick commit c410d9
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

resolve type issues from cherry-pick
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create shared regex file with initial constants
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

create re-usable postgres errors
  apps/backend/src/enums/postgres-error-code.enum.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/errors/postgres-error.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use improved json-parse function, remove secure-json-parse package
  packages/api-contract/package.json
  packages/api-contract/src/v1/common/parse-jsonb.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

create test to check that backend enum matches equivalent api-contract enum
  apps/backend/src/enums/task-variant-status.enum.test.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove scripts files from PR (not related to invitation code endpoint)
  apps/backend/scripts/README.md
  apps/backend/scripts/disable-triggers.sh
  apps/backend/scripts/enable-triggers.sh
  apps/backend/scripts/load-all-data.sh
  apps/backend/scripts/load-assessment-data.sh
  apps/backend/scripts/load-core-data.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove a few more unncessary checks
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add role-aware task variant status filtering
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix failing test cases, introduce a drizzle error handler
  apps/backend/src/errors/drizzle-error.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix failing test by providing a parameter value only if one is not provided in parameters
  apps/backend/src/test-support/factories/task-variant-parameter.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Set up controller and service functions
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/services/district/district.service.ts
  packages/api-contract/src/v1/districts/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

refactor(pa): internationalize PA skills-to-work-on display
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

test(pa): consolidate PA service tests with content assertions
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Increase CI timeout minutes for lint and deploy jobs
  .github/workflows/ci.yml
Due: none

Update apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Increase CI timeout minutes for lint and deploy jobs (#1579)
  .github/workflows/ci.yml
Due: none

implement scaffolding for unit tests
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/mocks/logger.mock.ts
  apps/backend/src/test-support/repositories/base.repository.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
  apps/backend/src/test-support/repositories/task.repository.ts
  apps/backend/vitest.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unncessary any in base repository factory
  apps/backend/src/test-support/repositories/base.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unncessary any in task repository factory
  apps/backend/src/test-support/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

adding additional Spanish translations
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create barrel index in repositories directory, add createMany to base repository interface
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

build out task service unit tests
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fixing tests
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/__snapshots__/LongitudinalChart.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
