Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

1. Fixed vitest version inconsistencies. 2. Regenerated lockfile. 3. Wired the score path in SDK. 4. Fixed composite/composite_foundational collision.
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  apps/dashboard/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/src/pa/score-entries.ts
  packages/assessment-schema/tsconfig.json
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/config-eslint/index.js
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix: Use correct domain values for composite score groups
  apps/backend/src/constants/run-scores.ts
  packages/assessment-schema/src/pa/score-entries.test.ts
  packages/assessment-schema/src/pa/score-entries.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: Remove #Attempted score names and enable strict mode validation
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/pa/score-entries.test.ts
  packages/assessment-schema/src/pa/score-entries.ts
  packages/assessment-schema/src/pa/score-names.ts
  packages/assessment-schema/src/pa/subscores.ts
Due: none

docs: Update JSDoc to reflect computed score callback implementation
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Add comprehensive RoarScores unit tests
  packages/assessment-schema/src/pa/scores.test.ts
Due: none

Fix crc-32 runtime crash in production bundle
  apps/backend/src/utils/assessment-pid.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add macOS native-binary entries to package-lock for cross-platform npm ci
  package-lock.json
Due: none

Fix crc-32 runtime crash in production bundle (#1819)
  apps/backend/src/utils/assessment-pid.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Harden CORS middleware: fail loud in prod, log preflight, lock wiring with a test
  apps/backend/.env.example
  apps/backend/src/app.test.ts
  apps/backend/src/app.ts
  apps/backend/src/middleware/cors/cors.middleware.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.test.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Default ALLOWED_ORIGINS in the test server so it boots under NODE_ENV=production
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: Address remaining TypeScript strictness and test quality issues
  packages/assessment-schema/src/pa/score-entries.test.ts
  packages/assessment-schema/src/pa/score-entries.ts
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
Due: none

fix: Added theta fields to PA_SCORE_NAMES and emit them in toPaScoreEntries
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  packages/assessment-schema/src/pa/score-entries.test.ts
  packages/assessment-schema/src/pa/score-entries.ts
  packages/assessment-schema/src/pa/score-names.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

test: Enhance upsert test with better assertions and documentation
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
Due: none

Add compile-time type check for ComputedScoreEntry
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

Clarify architectural decision for MockRoarScores and drift detection
  packages/assessment-schema/src/pa/scores.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
Due: none

Correct JSDoc example and add strict mode error test
  packages/assessment-schema/src/pa/score-entries.test.ts
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

Introduce /me API call to frontend
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/mutations/useRecordUserAgreementMutation.js
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/SignTos/SignTos.vue
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.js
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.test.js
  apps/dashboard/src/pages/SignTos.vue
  apps/dashboard/src/router/index.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address initial-load race for /me settlement
  apps/dashboard/src/App.vue
  apps/dashboard/src/pages/GenericError.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Use http-status-codes constants and rename agreement mutation key
  apps/dashboard/src/composables/mutations/useRecordUserAgreementMutation.js
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/constants/mutationKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Consolidate meError to globalError mapping in QueryCache onError
  apps/dashboard/src/App.vue
  apps/dashboard/src/queryClient.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Validate SignTos ?next= with WHATWG URL parser
  apps/dashboard/src/containers/SignTos/SignTos.vue
  apps/dashboard/src/containers/SignTos/isInternalPath.js
  apps/dashboard/src/containers/SignTos/isInternalPath.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Drop redundant /me cache and clearMeData calls on sign-out
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove meData from auth store and gate router-view on /me settlement
  apps/dashboard/src/App.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix TOS guard loop and tighten useMeQuery gating
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Move QueryClient into a module-scoped singleton
  apps/dashboard/src/plugins.js
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/queryClient.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Replace route-name and error-type literals with named constants
  apps/dashboard/src/App.vue
  apps/dashboard/src/constants/globalErrorTypes.js
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Validate the SignTos ?next= against a strict internal-path regex
  apps/dashboard/src/containers/SignTos/SignTos.vue
  apps/dashboard/src/pages/SignTos.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Make router guard the single owner of TOS routing
  apps/dashboard/src/App.vue
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add tests for auth-tier composables (useMeQuery, useCurrentUser, agreement queries)
  apps/dashboard/src/composables/mutations/useRecordUserAgreementMutation.test.js
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.test.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/composables/useCurrentUser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Tidy auth-tier composables: use useCurrentUser in App.vue, extract pickVersionForLocale, refresh signout comment
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/composables/useCurrentUser.js
  apps/dashboard/src/containers/SignTos/composables/pickVersionForLocale.js
  apps/dashboard/src/containers/SignTos/composables/pickVersionForLocale.test.js
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add useCurrentUser composable
  apps/dashboard/src/composables/useCurrentUser.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate /me consumers to TanStack Query
  apps/dashboard/src/containers/SignTos/SignTos.vue
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.js
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.test.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Annotate legacy Firestore userClaims fetch with migration TODO
  apps/dashboard/src/App.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Improve compile-time type check for ComputedScoreEntry
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

Import live ComputedScoreEntry type and fix JSDoc example
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

fix: Use comprehensive type check for ComputedScoreEntry
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

docs: Add note about api-contract export limitation in type check
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

Add CORS and security headers middleware (#1811)
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/app.test.ts
  apps/backend/src/app.ts
  apps/backend/src/middleware/cors/cors.middleware.test.ts
  apps/backend/src/middleware/cors/cors.middleware.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.test.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.ts
  apps/backend/src/middleware/security-headers/security-headers.middleware.test.ts
  apps/backend/src/middleware/security-headers/security-headers.middleware.ts
  apps/backend/src/server-test.ts
  package-lock.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: Emit subtask theta fields with per-subtask domains to avoid collisions
  packages/assessment-schema/src/pa/score-entries.test.ts
  packages/assessment-schema/src/pa/score-entries.ts
Due: none

refresh package-lock.json
  package-lock.json
Due: none
