Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Extract and enhance global error handler
  apps/backend/src/app.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add /me endpoint
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/enums/user-type.enum.test.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/me/index.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use Set comparison in enum test
  apps/backend/src/enums/user-type.enum.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add request logger middleware
  apps/backend/eslint.config.mjs
  apps/backend/src/app.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Disable verbose query logging
  apps/backend/src/db/clients.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement structured logger
  apps/backend/package.json
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/db/clients.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/logger.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/server.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add GET /administrations endpoint with role-based access control
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/enums/resource-scope-type.enum.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/repositories/base.repository.test.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  apps/backend/src/types/resource-scope.ts
  apps/backend/src/utils/resource-scope.utils.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add basic /administrations endpoint
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/db/schema/common.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/common/query.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add common query schemas
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add embed=stats support for administrations endpoint
  apps/backend/src/constants/regex.ts
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/repositories/runs.repository.test.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/utils/is-valid-uuid.util.test.ts
  apps/backend/src/utils/is-valid-uuid.util.ts
  apps/backend/src/utils/to-postgres-uuid-array.util.test.ts
  apps/backend/src/utils/to-postgres-uuid-array.util.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix casing in user factory
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add BaseRepository for standard CRUD operations
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add administrations api-contract
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/index.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix assessment E2E current version check (#1503)
  apps/dashboard/cypress/support/utils.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add embed=tasks support for administrations endpoint
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Drop `runs.assignment_id` (#1504)
  apps/backend/migrations/assessment/0007_add_missing_run_trial_interactions_indexes.sql
  apps/backend/migrations/assessment/0008_drop_runs_assignment_id.sql
  apps/backend/migrations/assessment/meta/0007_snapshot.json
  apps/backend/migrations/assessment/meta/0008_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `invitation_codes` table (#1499)
  apps/backend/migrations/core/0042_add_invitation_codes_table.sql
  apps/backend/migrations/core/0043_fix_agreement_versions_github_commit_sha_column_type.sql
  apps/backend/migrations/core/0044_fix_agreement_versions_locale_constraint.sql
  apps/backend/migrations/core/0045_add_task_bundles_image_column.sql
  apps/backend/migrations/core/meta/0042_snapshot.json
  apps/backend/migrations/core/meta/0043_snapshot.json
  apps/backend/migrations/core/meta/0044_snapshot.json
  apps/backend/migrations/core/meta/0045_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreement-versions.ts
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/invitation-codes.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/task-bundles.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename administrations.name_internal to name
  apps/backend/migrations/core/0046_rename_administrations_name_internal_to_name.sql
  apps/backend/migrations/core/meta/0046_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/administrations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor task-related code to dedicated AdministrationTaskVariantRepository
  apps/backend/src/repositories/administration-task-variant.repository.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename administrations.name_internal to name (#1506)
  apps/backend/migrations/core/0046_rename_administrations_name_internal_to_name.sql
  apps/backend/migrations/core/meta/0046_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/administrations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add super_admin user type
  apps/backend/migrations/core/0047_add-super-admin-user-type.sql
  apps/backend/migrations/core/meta/0047_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update authorization to use super_admin for RBAC bypass
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix seasonal date presets selecting next winter
  apps/dashboard/src/components/AdministrationDatePicker/presets.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add ApiErrorCode enum and code field to ApiError
  apps/backend/src/app.ts
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/enums/api-error-code.enum.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/errors/api-error.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify error handling: remove DatabaseError, use ApiError in middleware
  apps/backend/src/enums/database-error-code.enum.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/errors/database-error.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update migrations to apply type change to both dbs
  apps/backend/migrations/assessment/0009_add_super_admin_user_type.sql
  apps/backend/migrations/assessment/meta/0009_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0047_add_super_admin_user_type.sql
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add consistent error handling across backend services
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/repositories/base.repository.test.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix contract description
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add `super_admin` user type (#1507)
  apps/backend/migrations/assessment/0009_add_super_admin_user_type.sql
  apps/backend/migrations/assessment/meta/0009_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0047_add_super_admin_user_type.sql
  apps/backend/migrations/core/meta/0047_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor authorization query and align schema with DB column rename
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

739: Update add users info and cohort check (#745)
  src/components/userInfo/AddUsersInfo.vue
  src/helpers/query/orgs.js
  src/pages/users/AddUsers.vue
Due: none

Bug #729 Site selector is not filtering assignments on home page (#731)
  src/composables/queries/useAdministrationsListQuery.ts
  src/helpers/query/administrations.js
  src/helpers/query/orgs.js
Due: none

Task #712 Replace "parent" with "caregiver" everywhere on dashboard (#747)
  src/components/VariantCard.vue
  tools/surveys/test-parent-survey-pdf.js
Due: none

[Sentry][GDPR] Removing sensitive data on the SDK level (#749)
  src/sentry.ts
Due: none

fix issue where axes were mislabelled, update tooltips
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/utils/firestore-timestamp.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

bump roam-apps to v1.3.4
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix issue where axes were mislabelled, update tooltips
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix issue where axes were mislabelled, update tooltips
  apps/dashboard/src/utils/firestore-timestamp.ts
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bug #733 Super admins cannot create sites (#734)
  package-lock.json
  package.json
  src/components/modals/AddGroupModal.vue
  src/components/tests/AddGroupModal.test.js
  src/pages/groups/ListGroups.vue
Due: none

Fix Longitudinal report graphs (#1510)
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
