Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update path for roar-utils in vitest config for roar-swr
  apps/assessments/roar-swr/vite.config.js
Due: none

set thetaEstimate and thetaSE to computed scores in test files
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
Due: none

implement claude feedback, add linting and formatting to assessment-schema package
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  package-lock.json
  packages/assessment-schema/eslint.config.mjs
  packages/assessment-schema/package.json
  packages/assessment-schema/prettier.config.mjs
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-pa/config.ts
  packages/assessment-schema/src/roar-pa/index.ts
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-pa/subscores.ts
  packages/assessment-schema/src/roar-swr/config.ts
  packages/assessment-schema/src/roar-swr/index.ts
  packages/assessment-schema/src/roar-swr/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
  packages/assessment-schema/src/roar-swr/variants.ts
  packages/assessment-schema/src/score-utils.ts
  packages/assessment-schema/src/types/score-entry.type.ts
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

refresh package-lock.json
  package-lock.json
Due: none

update stale doc, add tests for swr scoring
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
Due: none

add prettierignore for assessment-schema
  packages/assessment-schema/.prettierignore
Due: none

add tests for score utils
  packages/assessment-schema/src/score-utils.test.ts
  packages/assessment-schema/src/score-utils.ts
  packages/assessment-schema/src/types/score-entry.type.ts
Due: none

add TASK_VARIANT_PARAMETERS_FILE to tubo envs
  turbo.json
Due: none

brute force migration of multistage testing pr
  apps/assessments/roar-swr/cypress/e2e/default-tests/playSWRadaptiveMultiStage.cy.js
  apps/assessments/roar-swr/docs/adaptive-timing-multistage.md
  apps/assessments/roar-swr/docs/short-adaptive.md
  apps/assessments/roar-swr/parameters.json
  apps/assessments/roar-swr/src/experiment/adaptiveTimingRules.js
  apps/assessments/roar-swr/src/experiment/adaptiveTimingTimeline.js
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/assessments/roar-swr/src/experiment/experiment.js
  apps/assessments/roar-swr/src/experiment/experimentSetup.js
  apps/assessments/roar-swr/src/experiment/i18n.js
  apps/assessments/roar-swr/src/experiment/trials/stimulus.js
  apps/assessments/roar-swr/src/tests/adaptiveTimingRules.test.js
  apps/assessments/roar-swr/src/tests/adaptiveTimingTimeline.test.js
  apps/assessments/roar-swr/src/wordlist/en/item_bank_v5_easy_infinite.csv
Due: none

Migrate task read composables to the backend API (#1838)
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/components/tasks/ManageVariants.vue
  apps/dashboard/src/composables/queries/useTasksDictionaryQuery.js
  apps/dashboard/src/composables/queries/useTasksDictionaryQuery.test.js
  apps/dashboard/src/composables/queries/useTasksQuery.js
  apps/dashboard/src/composables/queries/useTasksQuery.test.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.js
  apps/dashboard/src/composables/useTasksVariantsToggleRegistered.test.js
  apps/dashboard/src/containers/ManageTasks/ManageTasks.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.test.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
  apps/dashboard/src/helpers/query/tasks.js
  apps/dashboard/src/helpers/query/tasks.test.js
  apps/dashboard/src/helpers/taskIdentifiers.js
  apps/dashboard/src/helpers/taskIdentifiers.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
  apps/dashboard/src/pages/ManageTasksVariants.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

simplify assessment environment scripts and update assessment readme
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-swr/package.json
Due: none

Migrate roar-sre into monorepo via git subtree
  apps/assessments/roar-sre/.env.example
  apps/assessments/roar-sre/.env.example.test
  apps/assessments/roar-sre/.eslintignore
  apps/assessments/roar-sre/.eslintrc.json
  apps/assessments/roar-sre/.firebaserc
  apps/assessments/roar-sre/.github/CODEOWNERS
  apps/assessments/roar-sre/.github/MAINTAINERS.md
  apps/assessments/roar-sre/.github/PULL_REQUEST_TEMPLATE.md
  apps/assessments/roar-sre/.github/workflows/firebase-deploy-preview.yml
  apps/assessments/roar-sre/.github/workflows/firebase-emulation-tests.yml
  apps/assessments/roar-sre/.github/workflows/firebase-hosting-merge.yml
  apps/assessments/roar-sre/.github/workflows/publish-to-npm-create-new-release.yml
  apps/assessments/roar-sre/.github/workflows/submit-dashboard-pr.yml
  apps/assessments/roar-sre/.idea/inspectionProfiles/Project_Default.xml
  apps/assessments/roar-sre/.idea/modules.xml
  apps/assessments/roar-sre/.idea/roar-sre.iml
  apps/assessments/roar-sre/.idea/vcs.xml
  apps/assessments/roar-sre/.npmignore
  apps/assessments/roar-sre/.nvmrc
  apps/assessments/roar-sre/.prettierignore
  apps/assessments/roar-sre/.prettierrc
  apps/assessments/roar-sre/cypress/support/devFirebase.js
  apps/assessments/roar-sre/cypress/support/devFirebaseConfig.js
  apps/assessments/roar-sre/eslint.config.mjs
  apps/assessments/roar-sre/package-lock.json
  apps/assessments/roar-sre/postBuildPackage.js
  apps/assessments/roar-sre/prettier.config.mjs
  apps/assessments/roar-sre/rollup.config.js
  apps/assessments/roar-sre/rollup.lib.config.mjs
  apps/assessments/roar-sre/serve/firebaseConfig.js
  apps/assessments/roar-sre/taskVariantParameters.example.json
  apps/assessments/roar-sre/turbo.json
Due: npx dotenvx ext precommit

updating letter to get birthyear and birthmonth
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove defunct Firebase emulator test infrastructure from roar-sre
  apps/assessments/roar-sre/cypress/e2e/generateVariantTests.cy.js
  apps/assessments/roar-sre/cypress/fixtures/generatedTestTemplate.js
  apps/assessments/roar-sre/cypress/support/constants.js
  apps/assessments/roar-sre/cypress/support/e2e.js
  apps/assessments/roar-sre/cypress/support/query.js
  apps/assessments/roar-sre/cypress/support/utils.js
Due: none

Apply monorepo config to roar-sre assessment
  apps/assessments/roar-sre/cypress.config.js
  apps/assessments/roar-sre/firebase.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-sre/webpack.config.cjs
Due: none

Suppress no-undef lint error in serve.js for deleted roarConfig import
  apps/assessments/roar-sre/serve/serve.js
Due: none

Remove unused eslint-disable directives from roar-sre source
  apps/assessments/roar-sre/cypress/support/commands.js
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/config/loadCorpus.js
  apps/assessments/roar-sre/src/experiment/config/logger.js
  apps/assessments/roar-sre/src/experiment/experiment.js
  apps/assessments/roar-sre/src/experiment/experimentHelpers.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/src/experiment/trials/getUserData.js
  apps/assessments/roar-sre/src/experiment/trials/practice.js
  apps/assessments/roar-sre/src/experiment/trials/sentence.js
Due: none

format
  apps/assessments/roar-sre/cypress/support/commands.js
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/config/loadCorpus.js
  apps/assessments/roar-sre/src/experiment/config/logger.js
  apps/assessments/roar-sre/src/experiment/experiment.js
  apps/assessments/roar-sre/src/experiment/experimentHelpers.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/assessments/roar-sre/src/experiment/trials/getUserData.js
  apps/assessments/roar-sre/src/experiment/trials/practice.js
  apps/assessments/roar-sre/src/experiment/trials/sentence.js
Due: none

Remove local .gitignore from roar-sre, rely on monorepo root
  apps/assessments/roar-sre/.gitignore
Due: none

Add .firebase/ to root .gitignore
  .gitignore
Due: none

Seed a super-admin fixture user for the Auth emulator
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/server-test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Wire dashboard sign-in to the local Firebase Auth emulator
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/usePermissions.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/firekit.js
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixup! Merge branch 'enh/1888/superadmin-fixture' into enh/1889/dashboard-emulator-login
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add a one-command local full-stack dev script
  .github/CONTRIBUTING.md
  .gitignore
  docker-compose.local-dev.yml
  package.json
  scripts/dev-local-stack.sh
Due: none

create bootstrap method
  apps/assessments/roar-pa/serve/serve.js
  packages/assessment-sdk/src/bootstrap.test.ts
  packages/assessment-sdk/src/bootstrap.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: none

Migrate the administrations list view to the backend API
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/composables/queries/useAdministrationsListQuery.js
  apps/dashboard/src/composables/queries/useAdministrationsListQuery.test.js
  apps/dashboard/src/composables/queries/useTaskVariantQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/pages/HomeAdministrator.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Round subPercentCorrect and rawScore for fluency-arf and calf
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate the administration org tree to the backend API
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/composables/mutations/useUpsertAdministrationMutation.js
  apps/dashboard/src/composables/mutations/useUpsertAdministrationMutation.test.js
  apps/dashboard/src/composables/queries/useAdministrationTreeQuery.js
  apps/dashboard/src/composables/queries/useAdministrationTreeQuery.test.js
  apps/dashboard/src/composables/queries/useDsgfOrgQuery.js
  apps/dashboard/src/composables/queries/useDsgfOrgQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate the delete-administration mutation to the backend API
  apps/dashboard/src/composables/mutations/useDeleteAdministrationMutation.js
  apps/dashboard/src/composables/mutations/useDeleteAdministrationMutation.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clarify comments throughout, extract common scores into constant and use where appropriate
  apps/assessments/roar-swr/src/sdk/swr-firekit-facade.js
  packages/assessment-schema/src/constants/trial-count-score-names.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-swr/score-entries.test.ts
  packages/assessment-schema/src/roar-swr/score-entries.ts
  packages/assessment-schema/src/roar-swr/score-names.ts
  packages/assessment-schema/src/score-utils.test.ts
  packages/assessment-schema/src/score-utils.ts
Due: none

Add administration detail read composables (single, assignees, task variants)
  apps/dashboard/src/composables/queries/useAdministrationAssigneesQuery.js
  apps/dashboard/src/composables/queries/useAdministrationAssigneesQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationQuery.js
  apps/dashboard/src/composables/queries/useAdministrationQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationTaskVariantsQuery.js
  apps/dashboard/src/composables/queries/useAdministrationTaskVariantsQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove roar-sre license
  apps/assessments/roar-sre/LICENSE
Due: none

update codeowners
  .github/CODEOWNERS
Due: none

configure roar-sre assessment-schema directory
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roar-sre/index.ts
  packages/assessment-schema/src/roar-sre/score-entries.test.ts
  packages/assessment-schema/src/roar-sre/score-entries.ts
  packages/assessment-schema/src/roar-sre/score-names.ts
  packages/assessment-schema/src/roar-sre/variants.ts
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
