Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

align FGA tests to authorization model, which prohibits descendent access for educators
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
Due: none

Migrate run service authorization from SQL access controls to OpenFGA (#1682)
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Bump roam-apps to 1.3.6
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate school service authorization from SQL access controls to OpenFGA (#1683)
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/services/authorization/fga-constants.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/test-support/repositories/school.repository.ts
  packages/authz/authorization-model.fga
  packages/authz/tests/org-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate group service authorization from SQL access controls to OpenFGA (#1685)
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/group/group.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate report service authorization from SQL to FGA (#1687)
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Introduce roamFluencySubtasks and implement logic handling incorrect skill count and percentCorrect values
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Show fluency-arf and fluency-calf subscore tables for non-response modality scores, update descriptions
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add recruitment props in subscore table to conditionally display roam fluency non-response modality scores
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add new subskill tooltips
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update exports for non-response modality fluency
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete console.log
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-readaloud to 1.4.0
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Rename roamFluencySubtasks to roamFluencySubskills to be consistent with roam-alpaca, add clarification comments, simplify handleSubskillToolTip
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update some comments
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-readaloud to 1.4.1
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix versions mentioned in comments
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update fga model and tests to prohibit school-level teachers from listing all classes at the school
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/services/user/user.service.ts
  packages/authz/authorization-model.fga
  packages/authz/tests/org-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add FGA tests for mix-rostering school-teacher
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

new tuple for school-teacher with direct class assignment in org-permissions.yml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

refactor getUserEntityMemberships to use EntityType enum
  apps/backend/src/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add fallback values to desc and subheaders in taskreport, change props.requirementType from optional to default argument
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

replace string literals with OrgType and EntityType where applicable
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/types/entity-type.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

replace additional string literals with EntityType members
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

migrate listDistrictSchools and listUsers to use FGA
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/test-support/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add scoringVersion to the longitudinal charts
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix test expections in districts route to match updated FGA model
  apps/backend/src/routes/districts.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix group and class users tests
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implementing integration tests
  package-lock.json
  packages/assessment-sdk/INTEGRATION_TESTS.md
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: none

add repository and unit tests, remove stale comments, add TODO to listAccessibleObjects, clarify getUnrestrictedById with comments
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add scoringVersion to the longitudinal charts (#1698)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreList.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address Claude comments: add optional operator, fix spelling in key, change an arg for replaceScoreRange & add clarification
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update roar-utils package
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Ignore subskills with no incorrect skills in tooltips
  apps/dashboard/src/components/reports/TableScoreTag.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove null skillsAssessed and bump roam to 1.3.7
  apps/dashboard/package.json
  apps/dashboard/src/components/reports/TableScoreTag.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roar-readaloud to 1.4.2
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove skills assessed column for multiplication & division (fluency-calf)
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate user service authorization to OpenFGA and refine three-tier role inheritance model (#1694)
  apps/backend/eslint.config.mjs
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/fga-constants.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/services/authorization.service.ts
  apps/backend/src/types/entity-type.ts
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update roar-utils package (#1701)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

- Changed from hardcoded UUID approach to baseFixture seeding - Documents the 5-step seeding process - Confirms shared token approach - Explains why baseFixture seeding is better
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/test.ts
  packages/assessment-sdk/INTEGRATION_TESTS.md
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
