Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Remove old code that accidentally reintroduced when resolving cherry-pick conflicts
  apps/backend/src/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Import enrolledUsers from shared types instead of api-contract in enrolled-users.transform.ts, delete t extends
  apps/backend/src/controllers/utils/enrolled-users.transform.ts
  apps/backend/src/types/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Delete unused type
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update test case in report.service.test.ts to better align with the definition of studentsWithRequiredTasks (#1707)
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove AdministrationAccessControls and dead SQL access control methods
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/test-support/repositories/administration-access-controls.repository.ts
  apps/backend/src/test-support/repositories/administration.repository.ts
  apps/backend/src/test-support/repositories/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating Roav MP to 0.2.5
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add missing integration tests for getAssignedUserCountsByAdministrationIds
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove redundant empty-array guard from buildAdministrationUserAssignmentsQuery
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix test coverage gap when counting users in administration
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unneeded db write in admin repository integration test
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

clarify comments in admin repository integration test
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Improve getAssignedUserCountsByAdministrationIds test comments for clarity
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replace 4 sub-resource endpoints with single GET /administrations/:id/assignees (#1688)
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/repositories/administration.repository.ts
  apps/backend/src/test-support/services/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove references to deleted methods in admin repo integration test
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

comment nitpick
  apps/backend/src/repositories/administration.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address Claude comment: remove stale code
  apps/backend/src/controllers/utils/enrolled-users.transform.ts
  apps/backend/src/repositories/group.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update Roav MP to 0.2.5 (#1706)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

replace inline sql with drizzle countDistinct():
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update user endpoints to use consolidated types and exclude inactive users for super admin (rebased) (#1703)
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/controllers/utils/enrolled-users.transform.test.ts
  apps/backend/src/controllers/utils/enrolled-users.transform.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/group.repository.integration.test.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/types/user.ts
  packages/api-contract/src/v1/common/user.ts
  packages/api-contract/src/v1/districts/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add getUsersBySchoolId to school repo and tests
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add listUsers to school routes
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/routes/schools.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add listUsers to school controller
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/schools.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address Kyle's feedback: delete type, update error messages
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add listUsers to school service layer
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/test-support/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address Claude comments: add defensive measure by checking for schools, edit test descriptor
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/routes/schools.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add listUsers route to school contract
  packages/api-contract/src/v1/schools/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add families contract
  packages/api-contract/src/v1/families/contract.ts
  packages/api-contract/src/v1/families/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add family repo
  apps/backend/src/repositories/family.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add family role enum test to ensure contract aligns with backend
  apps/backend/src/enums/user-family-role.enum.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update family.repo with new EnrolledFamilyUser types and refactor ListEnrolledUsersOptions interface
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename listUsers function in family repo
  apps/backend/src/repositories/family.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update family users contract and types
  packages/api-contract/src/v1/common/user.ts
  packages/api-contract/src/v1/families/contract.ts
  packages/api-contract/src/v1/families/index.ts
  packages/api-contract/src/v1/families/schema.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename variables in family contract
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Delete todo comment
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add family route
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add jsdocs to getUsersByFamilyId
  apps/backend/src/repositories/family.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement family service layer, mock repo, and tests
  apps/backend/src/services/family/family.service.test.ts
  apps/backend/src/services/family/family.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/test-support/repositories/family.repository.ts
  apps/backend/src/test-support/repositories/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix lint error
  apps/backend/src/routes/families.integration.test.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix incorrect import in user-factory
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add family repo test cases
  apps/backend/src/repositories/family.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
