Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Add app-level route integration tests for production app wiring
  apps/backend/src/routes/index.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Clean up service unit tests and delete redundant service integration tests
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Sync `project/backend-refactor` with `main` (#1597)
  apps/dashboard/package.json
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/__snapshots__/LongitudinalChart.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
  package-lock.json
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add route integration tests and clean up redundant service tests (#1596)
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/index.integration.test.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/route-test.helper.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add `POST /v1/runs` endpoint (#1552)
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-classifications.test.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/enums/run.enum.test.ts
  apps/backend/src/enums/run.enum.ts
  apps/backend/src/repositories/run-trial-interactions.repository.test.ts
  apps/backend/src/repositories/run-trial-interactions.repository.ts
  apps/backend/src/repositories/run-trials.repository.test.ts
  apps/backend/src/repositories/run-trials.repository.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/run-trial-interactions.repository.ts
  apps/backend/src/test-support/repositories/run-trials.repository.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/runs/contract.ts
  packages/api-contract/src/v1/runs/index.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add class service tests using mock class repos
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  apps/backend/src/test-support/repositories/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove trivial structural assertion test from RunsController
  apps/backend/src/controllers/runs.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add soft-delete integration tests to RunRepository
  apps/backend/src/repositories/run.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add test for soft-deleted run returning 404 in RunEventService
  apps/backend/src/services/run-event/run-event.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replace MockedObject<any> with typed mock factories in RunService tests
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/test-support/repositories/administration-access-controls.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
  apps/backend/src/test-support/services/administration.service.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add terminal state guards to completeRun and abortRun
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove redundant per-file logger mocks already covered by vitest.setup.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Exclude soft-deleted runs from all repository queries
  apps/backend/src/repositories/runs.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix broken import path in createMockRunService
  apps/backend/src/test-support/services/runs.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename RunsRepository to RunRepository for singular naming consistency
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/services/runs/index.ts
  apps/backend/src/services/runs/runs.service.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/run.repository.ts
  apps/backend/src/test-support/repositories/runs.repository.ts
  apps/backend/src/test-support/services/index.ts
  apps/backend/src/test-support/services/runs.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove spurious trialId from interaction test data to match schema
  apps/backend/src/services/run-event/run-event.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Document strict ownership in assertRunOwnedByUser
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove unused createMockRunService factory and its barrel export
  apps/backend/src/test-support/services/index.ts
  apps/backend/src/test-support/services/runs.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Pass authContext directly to verifyAdministrationAccess in RunService
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add class service integration tests
  apps/backend/src/services/class/class.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

intitial PATCH task-variants implementation using Claude
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Write documentation for new functions
  apps/backend/src/repositories/access-controls/class.access-controls.ts
  apps/backend/src/services/class/class.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add comments to class access controls
  apps/backend/src/repositories/access-controls/class.access-controls.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix ClassUsersResponseSchema
  packages/api-contract/src/v1/classes/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add route integration tests for runs endpoints and fix 409 plumbing
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run/run.service.test.ts
  packages/api-contract/src/v1/runs/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Delete comments in user.repository.ts
  apps/backend/src/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Outline getRunStatsByAdministrationTaskIds function in runRepository
  apps/backend/src/repositories/runs.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement functions to retrieve correct data in district and administration services
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

introduce StartRun command (non-idempotent) with compat integration and anonymous support
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: none

reset Firekit compat state on init and normalize initialization errors
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

simplify StartRunInput and add response validation in createRun
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/start-run.ts
Due: none

implement AbortRun command and emit abort run event
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/abort-run.ts
Due: none

address review feedback for abortRun and firekit tests
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/abort-run.ts
Due: none

Implement basic class controller
  apps/backend/src/controllers/classes.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename contract variables (Users -> UsersList) to align with naming in other files
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/services/class/class.service.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/classes/schema.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update variable name
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add integration tests for PATCH endpoint
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add unit tests for updateTaskVariant
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add controller tests for updateTaskVariant
  apps/backend/src/controllers/tasks.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add assessment SDK layer architecture rule
  .ai/knowledge-base.md
  .ai/rules/README.md
  .ai/rules/sdk-layer-architecture.md
Due: none
