Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Fix multi-variant dedup, add computedAt, add controller tests
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/services/report/report.service.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add score overview endpoint with support level aggregation
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/reports.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/test-support/repositories/report.repository.ts
  packages/api-contract/src/v1/administrations/reports/index.ts
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/index.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add missing auth imports for score overview endpoint
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add service unit and route integration tests for score overview
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FGA mock for score overview authorization integration tests
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate score overview authorization from SQL to FGA can_read_scores
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update score overview tests to use AuthorizationService mock
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove unused SQL-based auth imports after FGA migration
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Removed type cast
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

`SDK` UpdateEngagementFlags Command for engagement + reliability events (#1628)
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  packages/api-contract/src/v1/runs/schema.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/types/run-event-status.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add GET /v1/administrations/:id/reports/progress/overview endpoint
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  packages/api-contract/src/v1/administrations/reports/progress/contract.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add add-students-to-family fx
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update package
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor progress overview to SQL-level COUNT aggregation
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/test-support/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address review feedback on progress overview endpoint
  apps/backend/src/constants/progress-status.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Eliminate raw SQL duplication in student-in-scope query
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address review feedback: type safety, test isolation, schema docs
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.ts
  package-lock.json
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add both-conditions variant to fixture and cover remaining gaps
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate administration endpoints from SQL access controls to OpenFGA
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/fga-constants.ts
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating roav-apps package
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

- add jsdoc `@param` and `@returns` where needed - delete the duplicate fall-through error - adding StatusCodes instead of constants
  packages/assessment-sdk/src/commands/get-variant-id.command.test.ts
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/commands/write-trial.command.ts
Due: none

`SDK` GetVariantId Command (#1663)
  packages/assessment-sdk/src/commands/get-variant-id.command.test.ts
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/test-support/roar-api.ts
Due: none

Enable multi-status filter for progress students endpoint (#1640)
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Created ParticipantContext Type - Updated CommandContext - Updated SDK Initialization - Added ParticipantId Validation to Commands - Added Tests - Implemented ParticipantId Injection into API Paths
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/commands/finish-run.command.test.ts
  packages/assessment-sdk/src/commands/finish-run.command.ts
  packages/assessment-sdk/src/commands/start-run.command.test.ts
  packages/assessment-sdk/src/commands/start-run.command.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/commands/write-trial.command.test.ts
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/participant-context.ts
Due: none

update roav-apps package
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fixed: - Wrong error code for context validation failure - Stale JSDoc in command Stale example in index - Optional chaining on required field in roar-api
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: none

updating roav-apps version
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

make changes for review: update cypress test for consistency, useAuthStore, update email var shadowing, remove redundant if
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/StudentCardSimple.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add requirePermission to AuthorizationService and refactor administration service to use it
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/test-support/services/authorization.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address code review findings for FGA migration
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/helpers/extract-fga-object-id.helper.test.ts
  apps/backend/src/services/authorization/helpers/extract-fga-object-id.helper.ts
  apps/backend/src/test-support/services/authorization.service.ts
  packages/authz/tests/administration-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use shared ProgressStatus type and as const satisfies for priority map
  apps/backend/src/constants/progress-status.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add ancestor visibility for district can_list and can_read
  packages/authz/authorization-model.fga
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: none

Add unit tests for AuthorizationService.requirePermission
  apps/backend/src/services/authorization/authorization.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove dead SQL access control methods from AdministrationRepository
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/test-support/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add clarifying comment for listAgreements DB fetch ordering
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement getUsersByDistrictId
  apps/backend/src/repositories/district.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement getUsersByDistrictId tests
  apps/backend/src/repositories/district.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement getUserRolesForDistrict in org access-controls and its wrapper repo function
  apps/backend/src/repositories/access-controls/org.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/org.access-controls.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add getAuthorizedUsersByDistrictId in repo, listUsers in service, and createMockDistrictRepo for tests
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/test-support/repositories/district.repository.ts
  apps/backend/src/test-support/repositories/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add new listUsers route
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
