Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Fix researcher-env-up.sh npm workspace inheritance issue
  apps/assessments/roar-pa/package.json
  scripts/researcher-env-up.sh
Due: none

setup script for local assessment development against local postgres
  apps/assessments/roar-pa/package.json
  apps/backend/.env.example
  apps/backend/src/clients/firebase-core.client.ts
  scripts/dev-platform.sh
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

rebase and refresh package-lock.json
  package-lock.json
Due: none

change misleading comment in webpack config
  apps/assessments/roar-pa/webpack.config.cjs
Due: none

Enfoce CSP in staging, prod, update with URLs
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add COEP and CORP headers
  apps/dashboard/firebase/admin/firebase.template.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

`enh` Un-gate frontend deploys to named Hosting sites (#1814)
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Add health check endpoints for liveness, startup, and readiness probes (#1801)
  apps/backend/src/app.ts
  apps/backend/src/health/health-checks.test.ts
  apps/backend/src/health/health-checks.ts
  apps/backend/src/health/health-routes.test.ts
  apps/backend/src/health/health-routes.ts
  apps/backend/src/health/shutdown-state.test.ts
  apps/backend/src/health/shutdown-state.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.ts
  apps/backend/src/server.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use /health/live instead of /health
  docker-compose.assessment.yml
  scripts/dev-platform.sh
Due: none

Address review feedback for frontend deploy lanes (#1814)
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Add trailing new lines
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
Due: none

`ref` Introduce Assessment Development Environment (#1794)
  .github/actions/deploy/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/turbo.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebase.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/rollup.config.mjs
  apps/backend/seeds/pa.seed.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/turbo.json
  apps/dashboard/.env.example
  apps/dashboard/vite.config.js
  assessment.Dockerfile
  docker-compose.assessment.yml
  docker-compose.yml
  package-lock.json
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/variants.ts
  scripts/assessment-env-up.sh
  scripts/dev-platform.sh
  scripts/init-assessment-db.sh
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add staging and prod webpack build scripts for deployment purposes
  apps/assessments/roar-pa/package.json
Due: none

remove duplicate job in workflow
  .github/workflows/deploy-assessments-staging.yml
Due: none

`ref` Assessment Deployment Strategy in Monorepo (#1806)
  .github/actions/build-assessment/action.yml
  .github/actions/deploy-firebase-hosting/action.yml
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-assessments-staging.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/cypress.config.js
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/turbo.json
  apps/assessments/roar-pa/webpack.config.cjs
  package-lock.json
  turbo.json
Due: npx dotenvx ext precommit

Declare the expires input referenced by the preview deploy step (#1814)
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

harden some deployment workflows
  .github/actions/deploy-firebase-hosting/action.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/pr-preview-assessments.yml
Due: none

fixes to assessment deployment workflow
  .github/workflows/deploy-assessment.yml
  .github/workflows/pr-preview-assessments.yml
Due: none

remove pr preview workflow until a preview environment can be set up
  .github/workflows/pr-preview-assessments.yml
Due: none

remove deployment details from this PR
  .npmignore
Due: none

set up versioning pipeline
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roar-pa/package.json
  packages/assessment-schema/package.json
Due: none

implement build and deployment migration
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Move roar-pa source files from monorepo root to apps/assessments/roar-pa/
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clean up monorepo
  .npmignore
Due: none

create default export key in assessment-schema package.json
  apps/assessments/roar-pa/rollup.lib.config.mjs
  packages/assessment-schema/package.json
Due: none

target project/backend-refactor branch for release
  .github/workflows/release.yml
Due: none

fix build issues
  .github/workflows/release.yml
  .release-please.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/rollup.lib.config.mjs
  apps/assessments/roar-pa/turbo.json
  apps/dashboard/src/components/tasks/TaskPA.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

use env variable for repo name in action.yml
  .github/actions/build/action.yml
Due: none

build packages and assessments in separate steps before building dashboard in action.yml
  .github/actions/build/action.yml
  .github/workflows/ci.yml
Due: none

implement proper build script for roar-pa using rollup
  apps/assessments/roar-pa/package.json
Due: none

add build dependency to lint tasks in root turbo.json
  turbo.json
Due: none

harden some deployment workflows
  .github/workflows/pr-preview-assessments.yml
Due: none

externalize sentry in rollup bundle, add clarifying comments, set initial roar-pa version to 0.1.0
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/rollup.lib.config.mjs
Due: none

add comment in turbo.json regarding build and lint order
  turbo.json
Due: none

set assessment-schema to version 0.1.0
  packages/assessment-schema/package.json
Due: none

set assessment-schema to version 0.1.0 and pin dependencies to 0.1.0 across other packages and apps
  apps/assessments/roar-pa/package.json
  apps/backend/package.json
  apps/dashboard/package.json
  package-lock.json
  packages/assessment-sdk/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

nits
  .github/actions/detect-assessment-changes/action.yml
  .release-please.json
Due: none

remove breaking comment from release-please.json
  .release-please.json
Due: none
