Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Migrate ListUsers edit + admin password reset to PATCH /v1/users/:id (#1914)
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/dashboard/src/components/ListUsers.test.js
  apps/dashboard/src/components/ListUsers.vue
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fixing cypress test AGAIN
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate org-users CSV export to listUsers with ?embed=demographics (#1915)
  apps/dashboard/src/composables/queries/useOrgUsersQuery.js
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/containers/OrgsList/composables/useOrgExport.js
  apps/dashboard/src/containers/OrgsList/composables/useOrgExport.test.js
  apps/dashboard/src/containers/OrgsList/composables/useOrgExportOrchestrator.js
  apps/dashboard/src/containers/OrgsList/composables/useOrgExportOrchestrator.test.js
  apps/dashboard/src/helpers/mappers/mapEnrolledUserForExport.js
  apps/dashboard/src/helpers/mappers/mapEnrolledUserForExport.test.js
  apps/dashboard/src/helpers/orgUsersResolvers.js
  apps/dashboard/src/helpers/query/users.js
  apps/dashboard/src/helpers/query/users.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Map home_language in mapUser (single-user read mapper)
  apps/dashboard/src/helpers/mappers/mapUser.js
  apps/dashboard/src/helpers/mappers/mapUser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Round-trip homeLanguage through the user edit form
  apps/dashboard/src/components/EditUsersForm.vue
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Map empty gender/home_language to null in the user update body
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Correct user-administration agreements description (consent/assent, TOS excluded)
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove deploy-platform-development.yml workflow (#1927)
  .github/workflows/deploy-platform-development.yml
Due: none

Fix CI infrastructure: OpenFGA healthcheck and e2e NODE_ENV
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

Address progress-report review: doc fixes, reactive scope key, extra tests
  apps/dashboard/src/composables/queries/useAdministrationProgressOverviewQuery.js
  apps/dashboard/src/composables/queries/useAdministrationProgressOverviewQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationProgressQuery.js
  apps/dashboard/src/composables/queries/useAdministrationProgressQuery.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add ?embed=demographics to org user-list endpoints (#1916)
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/utils/enrolled-users.transform.test.ts
  apps/backend/src/controllers/utils/enrolled-users.transform.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.test.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.ts
  apps/backend/src/routes/classes.integration.test.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/group/group.service.test.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/types/user.ts
  apps/dashboard/src/components/EditUsersForm.vue
  apps/dashboard/src/helpers/mappers/mapUser.js
  apps/dashboard/src/helpers/mappers/mapUser.test.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.test.js
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Clean up CI workflow and overlap docker compose with npm ci
  .github/workflows/ci.yml
Due: none

Treat administrations with no close date as open in the Progress Report
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate ROAR@Home parent registration to the families API (#1917)
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/composables/mutations/useAddFamilyChildrenMutation.js
  apps/dashboard/src/composables/mutations/useAddFamilyChildrenMutation.test.js
  apps/dashboard/src/composables/mutations/useCreateFamilyMutation.js
  apps/dashboard/src/composables/mutations/useCreateFamilyMutation.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/containers/HomeParent/composables/useAddFamilyChildren.js
  apps/dashboard/src/containers/HomeParent/composables/useAddFamilyChildren.test.js
  apps/dashboard/src/helpers/registration/formatDobToApiDate.js
  apps/dashboard/src/helpers/registration/formatDobToApiDate.test.js
  apps/dashboard/src/helpers/registration/mapGradeToApi.js
  apps/dashboard/src/helpers/registration/mapGradeToApi.test.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.test.js
  apps/dashboard/src/helpers/registration/mapStudentFormToAddChild.js
  apps/dashboard/src/helpers/registration/mapStudentFormToAddChild.test.js
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add the caller's family memberships to GET /v1/me (#1918)
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/repositories/family.repository.integration.test.ts
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/family.repository.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Gate Cypress jobs on build to avoid wasted CI time
  .github/workflows/ci.yml
Due: none

Add administration progress embed for the student dashboard (#1920)
  apps/backend/src/constants/tasks-excluded-from-retake.ts
  apps/backend/src/controllers/utils/administration.transform.test.ts
  apps/backend/src/controllers/utils/administration.transform.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/repositories/run.repository.ts
  apps/backend/src/test-support/repositories/task.repository.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add useFamilyUsersQuery for the parent dashboard children list
  apps/dashboard/src/composables/queries/useFamilyUsersQuery.js
  apps/dashboard/src/composables/queries/useFamilyUsersQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cut the parent dashboard and add-child flow off firekit
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/StudentCardSimple.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
  apps/dashboard/src/composables/mutations/useAddFamilyChildrenMutation.js
  apps/dashboard/src/containers/HomeParent/composables/useAddFamilyChildren.js
  apps/dashboard/src/pages/HomeParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove the redundant firekit admin TOS gate from HomeSelector
  apps/dashboard/src/pages/HomeSelector.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Assert family-users invalidation in add-family-children mutation test
  apps/dashboard/src/composables/mutations/useAddFamilyChildrenMutation.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix flaky backend lint by inheriting the root ^build task dependency
  apps/backend/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Gate HomeSelector loading on /me claims instead of the Firestore user doc
  apps/dashboard/src/pages/HomeSelector.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove stale OpenFGA setup scripts
  apps/backend/package.json
  docker-compose.yml
  packages/authz/README.md
  scripts/init-openfga-store.sh
  scripts/setup-openfga-local.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add isAuthReady auth-store getter for the backend-call readiness gate
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Drop the invitation-code dropdown from the add-child form, plain text only
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Gate backend-call readiness on isAuthReady instead of firekit restConfig
  apps/dashboard/src/components/CreateAdministration.vue
  apps/dashboard/src/components/ListUsers.vue
  apps/dashboard/src/components/OrgPicker.vue
  apps/dashboard/src/components/modals/RoarModal.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/tasks/TaskCrowding.vue
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMEP.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/components/tasks/TaskVocab.vue
  apps/dashboard/src/components/views/LinkAccountsView.vue
  apps/dashboard/src/components/views/UserInfoView.vue
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/pages/AdminProfile.vue
  apps/dashboard/src/pages/HomeAdministrator.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Retire the orphaned cross-task useTaskVariantsQuery and its Firestore query helper
  apps/dashboard/src/composables/queries/useTaskVariantsQuery.js
  apps/dashboard/src/composables/queries/useTaskVariantsQuery.test.js
  apps/dashboard/src/helpers/query/tasks.js
  apps/dashboard/src/helpers/query/tasks.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Drop unused roarfirekit from task players and refresh stale readiness test mocks
  apps/dashboard/src/components/ListUsers.test.js
  apps/dashboard/src/components/tasks/TaskCrowding.vue
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMEP.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/components/tasks/TaskVocab.vue
  apps/dashboard/src/containers/Navigation/Navigation.test.js
  apps/dashboard/src/helpers/isDashboardReady.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Default the orgId prop to null and give add-child failures specific toasts
  apps/dashboard/src/components/HomeParentStudentView.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Consolidate CI env vars into .env.test.example and simplify e2e job
  .github/workflows/ci.yml
  apps/backend/.env.test.example
  apps/backend/package.json
  apps/backend/scripts/create-test-databases.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add per-student optional/assigned state to the administration tasks embed (#1921)
  apps/backend/src/controllers/utils/administration.transform.test.ts
  apps/backend/src/controllers/utils/administration.transform.ts
  apps/backend/src/repositories/administration-task-variant.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add task-subscores endpoint to the score-reports API contract
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add GET task-subscores endpoint backed by config-driven subscore columns
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/scoring/configs/fluency.json
  apps/backend/src/services/scoring/configs/letter.json
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/phonics.json
  apps/backend/src/services/scoring/configs/phonics.ts
  apps/backend/src/services/scoring/configs/roam-alpaca.json
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/subscore-columns.test.ts
  apps/backend/src/test-support/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify the HomeParticipant consent watcher: abort before gating, drop the redundant per-id reset
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove openfga-init container, write FGA IDs to .env via seed script
  apps/backend/.env.example
  apps/backend/scripts/seed-dev.ts
  apps/backend/src/server.ts
  apps/backend/src/test-support/fga/index.ts
  docker-compose.yml
  docker/openfga/Dockerfile.init
  docker/openfga/init-store.sh
  packages/assessment-sdk/vitest.integration.globalSetup.ts
  packages/authz/README.md
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move seed script from scripts/seed-dev.ts to seeds/index.ts
  .github/workflows/ci.yml
  apps/backend/.env.example
  apps/backend/.env.test.example
  apps/backend/package.json
  apps/backend/seeds/index.ts
  apps/backend/src/server.ts
  apps/backend/tooling/dev-fixture.ts
  apps/backend/vitest.integration.globalSetup.ts
  packages/api-contract/src/test-fixture.type.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Clean up seed script: rename log prefix, deduplicate fixture building
  apps/backend/seeds/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove persistent OpenFGA profile from docker-compose
  apps/backend/src/clients/fga.client.test.ts
  apps/backend/src/clients/fga.client.ts
  docker-compose.yml
  openfga-playground.nginx.conf
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Source letter subscores from roar-letter (de-provisionalize)
  apps/backend/src/services/scoring/configs/letter.json
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/subscore-columns.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
