Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

clean up monorepo
  .github/actions/deploy/action.yml
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/sentry.js
Due: none

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
Due: npx dotenvx ext precommit

consolidate dependencies
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

implement firebase emulator in researcher environment
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebase.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/rollup.config.mjs
  apps/backend/src/clients/firebase-core.client.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

setup seed script
  apps/backend/package.json
  docker-compose.yml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement firekit compat
  apps/assessments/roar-pa/package.json
Due: none

fix build errors
  package-lock.json
Due: none

add concurrently
  package.json
Due: none

remove redundant alias
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement claude feedback
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/scripts/seed-pa.ts
  docker-compose.yml
  migrate.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

lint 'n format
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/rollup.config.mjs
Due: none

Move roar-pa source files from monorepo root to apps/assessments/roar-pa/
  apps/assessments/roar-pa/src/sentry.js
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Create shared sentry config with getClient() call
  apps/assessments/roar-pa/src/sentry.js
  apps/assessments/shared/sentry.js
Due: none

remove deployment details from this PR
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/package.json
Due: none

implement build and deployment migration
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/firebase.json
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create researcher local db in docker-compose
  docker-compose.yml
  scripts/init-researcher-db.sh
Due: none

re-use local fdw setup when migrating researcher db
  docker-compose.yml
Due: none

split db creation and migration into separate steps
  apps/backend/rollup.config.mjs
  apps/backend/scripts/seed-pa.ts
  apps/dashboard/vite.config.js
  docker-compose.yml
  migrate.Dockerfile
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement security improvements across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

implement build and deployment migration
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

finish file migration
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

use correct task id in serve.js
  apps/assessments/roar-pa/serve/serve.js
Due: none

Note port 5432 requirement in researcher environment guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

Pass FIREBASE_AUTH_EMULATOR_HOST to webpack dev server in researcher env
  scripts/researcher-env-up.sh
Due: none

rename constants and other small tweaks
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/src/clients/firebase-core.client.ts
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/researcher-environment.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

restore missing resolved fields in package-lock.json
  package-lock.json
Due: none

move optimization-js to dev dependencies
  package.json
Due: none

Clarify guide is PA-specific; note each assessment has its own researcher env script and port
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

refactor researcaher env into its own container
  apps/assessments/RESEARCHER_ENVIRONMENT.md
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/firebase.json
  docker-compose.researcher.yml
  docker-compose.yml
  migrate.Dockerfile
  researcher.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
  scripts/wait-for-port.sh
Due: none

Add researcher environment getting started guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

Explicitly cd into roar-pa for arm 3 of researcher-env-up.sh
  scripts/researcher-env-up.sh
Due: none

setup script for local assessment development against local postgres
  apps/assessments/roar-pa/package.json
  apps/backend/.env.example
  apps/backend/src/clients/firebase-core.client.ts
  scripts/dev-platform.sh
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use script to wait for backend health check
  scripts/researcher-env-up.sh
  scripts/wait-for-port.sh
Due: none

Use webpack-dev-server proxy for backend requests instead of CORS
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit

Add firebase-tools to roar-pa devDependencies
  apps/assessments/roar-pa/package.json
Due: none

Clarifying comment on migrate.Dockerfile
  migrate.Dockerfile
Due: none

Check port 5432 is free before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

Fix sample queries: add app. schema prefix and use FDW for cross-DB joins
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

create /seeds directory
  apps/backend/package.json
  apps/backend/seeds/pa.seed.ts
  researcher.Dockerfile
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
