Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add OpenFGA authorization model with granular permissions (#1638)
  .github/workflows/ci.yml
  package-lock.json
  packages/api-contract/src/v1/users/schema.ts
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/package.json
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
  packages/authz/tests/hierarchy-cascading.fga.yaml
  packages/authz/tests/org-permissions.fga.yaml
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update for code review: update function types, remove obsolete response codes
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.ts
  packages/api-contract/src/v1/districts/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update for code review: change path, improve documentation, update route handler, remove embed
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/services/school/school.service.ts
  packages/api-contract/src/v1/schools/contract.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add FGA client and local store initialization
  apps/backend/package.json
  apps/backend/src/clients/fga.client.test.ts
  apps/backend/src/clients/fga.client.ts
  package-lock.json
  packages/authz/.fga.yaml
  packages/authz/README.md
  scripts/init-openfga-store.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use ApiError for missing FGA env vars in FgaClient
  apps/backend/src/clients/fga.client.ts
  apps/backend/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix FGA client tests to assert on ApiError instead of raw string
  apps/backend/src/clients/fga.client.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

respond to code review: remove business rules from repository, remove embed, update tests to single assert
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unneeded 403 test
  apps/backend/src/controllers/districts.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove district 403 test
  apps/backend/src/controllers/districts.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

in user integration test, verify that failed PATCH operations do not edit any data
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix failing user integration test
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

skip parent sign up flow tests temporarily
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add slug lookup support for tasks/:taskId route
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add slug lookup support for tasks/:taskId/variants route
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove ununsed TaskIdParamSchema
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

clean up comments and dead contract error codes
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update ai rule to clarify separation bewteen api-contract types and service layer types
  .ai/rules/backend-controller-no-business-logic.md
  .ai/rules/backend-service-pattern.md
Due: none

Progress Student Report (Contract and Infra Only) (#1632)
  apps/backend/src/enums/progress-status.enum.test.ts
  apps/backend/src/utils/build-filter-conditions.util.test.ts
  apps/backend/src/utils/build-filter-conditions.util.ts
  apps/backend/src/utils/get-grade-as-number.util.test.ts
  apps/backend/src/utils/get-grade-as-number.util.ts
  package-lock.json
  packages/api-contract/package.json
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/reports/common.test.ts
  packages/api-contract/src/v1/administrations/reports/common.ts
  packages/api-contract/src/v1/administrations/reports/index.ts
  packages/api-contract/src/v1/administrations/reports/progress/contract.ts
  packages/api-contract/src/v1/administrations/reports/progress/index.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
  packages/api-contract/src/v1/common/query.test.ts
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/tsconfig.build.types.json
  packages/api-contract/vitest.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Maint/agent rules types and shared utils (#1616)
  .ai/rules/README.md
  .ai/rules/backend-utility-placement.md
  .ai/rules/quality-typescript-strictness.md
  AGENTS.md
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/utils/to-error-response.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FGA client and local store initialization (#1639)
  apps/backend/package.json
  apps/backend/src/clients/fga.client.test.ts
  apps/backend/src/clients/fga.client.ts
  apps/backend/turbo.json
  package-lock.json
  packages/authz/.fga.yaml
  packages/authz/README.md
  scripts/init-openfga-store.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update ai rule to clarify separation bewteen api-contract types and service layer types (#1655)
  .ai/rules/backend-controller-no-business-logic.md
  .ai/rules/backend-service-pattern.md
Due: none

apply changes removing schema, respond to other review comments
  apps/backend/src/routes/schools.ts
  packages/api-contract/src/v1/schools/contract.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement coordinate validation for schools and districts locations
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/services/utils/coordinate-validation.util.test.ts
  apps/backend/src/services/utils/coordinate-validation.util.ts
  apps/backend/src/services/utils/index.ts
  package-lock.json
  packages/api-contract/src/v1/districts/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Trim leading zeros in distribution chart
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clarify lat/long in controllers
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/services/school/school.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

delete u nused postgres type
  apps/backend/src/types/postgres.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unncessary validation logic
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.ts
  apps/backend/src/services/utils/coordinate-validation.util.test.ts
  apps/backend/src/services/utils/coordinate-validation.util.ts
  apps/backend/src/services/utils/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unused comments
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

set lat/long type at the db layer instead of double cast as unknown in controller layer
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/db/schema/common.ts
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FGA tuple sync helpers, authorization service, and model updates
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/fga-constants.ts
  apps/backend/src/services/authorization/helpers/fga-tuples-model-validation.test.ts
  apps/backend/src/services/authorization/helpers/fga-tuples.test.ts
  apps/backend/src/services/authorization/helpers/fga-tuples.ts
  apps/backend/src/test-support/services/authorization.service.ts
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move backfill endpoint from /admin to /system path prefix
  packages/api-contract/src/v1/admin/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Replace duplicate BackfillResult interface with contract type BackfillFgaResponse
  apps/backend/src/controllers/admin.controller.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use specific error codes for DB vs FGA failures in backfill
  apps/backend/src/enums/api-error-code.enum.ts
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add per-promise .catch() to Promise.all for per-category error context
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FGA backfill endpoint for hydrating FGA store from Postgres
  apps/backend/src/controllers/admin.controller.test.ts
  apps/backend/src/controllers/admin.controller.ts
  apps/backend/src/routes/admin.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/authorization/fga-backfill.service.test.ts
  apps/backend/src/services/authorization/fga-backfill.service.ts
  packages/api-contract/src/v1/admin/contract.ts
  packages/api-contract/src/v1/admin/index.ts
  packages/api-contract/src/v1/admin/schema.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor FgaBackfillService into SystemService with namespaced modules
  apps/backend/src/controllers/admin.controller.test.ts
  apps/backend/src/controllers/admin.controller.ts
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
  apps/backend/src/services/system/system.service.test.ts
  apps/backend/src/services/system/system.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Make FGA backfill idempotent with onDuplicateWrites: Ignore
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Log underlying errors in per-category catch handlers before re-throwing
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename backfill-fga endpoint to sync-fga
  apps/backend/src/controllers/system.controller.test.ts
  apps/backend/src/controllers/system.controller.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/services/system/authorization/authorization.module.test.ts
  apps/backend/src/services/system/authorization/authorization.module.ts
  apps/backend/src/services/system/system.service.test.ts
  apps/backend/src/services/system/system.service.ts
  packages/api-contract/src/v1/system/contract.ts
  packages/api-contract/src/v1/system/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Exclude @openfga/sdk from rollup dev externals for ESM compat
  apps/backend/rollup.config.mjs
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
