Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

refactor(dashboard): address self-registration review feedback
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.vue
  apps/dashboard/src/containers/SelfRegistration/composables/useAccountOwnerForm.js
  apps/dashboard/src/containers/SelfRegistration/composables/useAccountOwnerForm.test.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.test.js
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.js
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.test.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

enh(tests): add `assessment-schema` version parity test (#2176)
  packages/assessment-schema/src/version-parity.test.ts
Due: none

fix(dashboard): allow guest access to self-registration
  apps/dashboard/src/router/index.js
  apps/dashboard/src/router/index.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): preserve signup branding across states
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.vue
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor(assessment-schema): separate shared vocabulary from deployment configuration (#2180)
  .ai/rules/assessment-integration-pattern.md
  packages/assessment-schema/README.md
  packages/assessment-schema/src/constants/asset-origins.test.ts
  packages/assessment-schema/src/constants/asset-origins.ts
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-schema/src/foundational-composite/config.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-letter/config.ts
  packages/assessment-schema/src/roar-levante-tasks/config.ts
  packages/assessment-schema/src/roar-multichoice/config.ts
  packages/assessment-schema/src/roar-pa/config.ts
  packages/assessment-schema/src/roar-readaloud/config.ts
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roar-swr/config.ts
  packages/assessment-schema/src/roav-apps/config.ts
Due: none

chore: set shared packages to 1.0.0 and bundle `assessment-schema` into each assessment (#2181)
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/rollup.lib.config.mjs
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-letter/rollup.lib.config.mjs
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/rollup.lib.config.mjs
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/rollup.lib.config.mjs
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/rollup.lib.config.mjs
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/rollup.lib.config.mjs
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/rollup.lib.config.mjs
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/rollup.lib.config.mjs
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/rollup.lib.config.mjs
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/rollup.lib.config.mjs
  apps/assessments/shared/package.json
  apps/backend/package.json
  apps/dashboard/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/package.json
  packages/assessment-sdk/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

localize registration page and align auth layout
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.vue
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.test.js
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.vue
  apps/dashboard/src/containers/SelfRegistration/components/RegistrationStatus.vue
  apps/dashboard/src/containers/SelfRegistration/composables/useAccountOwnerForm.js
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.js
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

localize registration page and align auth layout
  apps/dashboard/src/components/AuthPageFooter.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove the dead firekit readiness gate from SubscoreTable
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

test(dashboard): cover the auth-readiness and Groups loading states
  apps/dashboard/src/components/OrgBrowser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): replace the last raw provider literal in deletePassword
  apps/dashboard/src/components/views/LinkAccountsView.vue
  apps/dashboard/src/constants/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Guard Firebase emulator code paths against production activation
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/server.ts
  apps/backend/src/utils/assert-emulator-not-in-production.util.test.ts
  apps/backend/src/utils/assert-emulator-not-in-production.util.ts
  apps/dashboard/src/constants/firebase.js
  apps/dashboard/src/utils/emulator-guard.js
  apps/dashboard/src/utils/emulator-guard.test.js
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Surface auth bootstrap failures instead of spinning or silently resetting
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.test.js
  apps/dashboard/src/pages/HomeSelector.test.js
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/queryClient.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
  apps/dashboard/src/utils/api-errors.js
  apps/dashboard/src/utils/api-errors.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Key the emulator guard on K_SERVICE rather than NODE_ENV
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/src/utils/assert-emulator-not-in-production.util.test.ts
  apps/backend/src/utils/assert-emulator-not-in-production.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Stop roav-ran inlining the Auth emulator host into production builds
  apps/assessments/roav-ran/emulator-host-build.test.js
  apps/assessments/roav-ran/webpack.config.cjs
Due: none

Stop roar-survey inlining the Auth emulator host into deployed builds
  apps/assessments/roar-survey/vite.config.js
Due: none

Remove the dead firekit readiness gate from SubscoreTable (#2197)
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Move resolveNumericScore from report.service.ts to scoring.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move score field normalization from aggregation repo to services, passing in grade and scoring versions
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update aggregation integration tests docblock
  apps/backend/src/services/aggregation/aggregation.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Shorten function comment
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update scoring config DisplayRangeSchema
  apps/backend/src/services/scoring/scoring.config-schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update displayRanges in config to align with new schema
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/phonics.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/sre.ts
  apps/backend/src/services/scoring/configs/swr-de.ts
  apps/backend/src/services/scoring/configs/swr-es.ts
  apps/backend/src/services/scoring/configs/swr-it.ts
  apps/backend/src/services/scoring/configs/swr-pt.ts
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/configs/trog.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add missing scoring config values
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/morphology.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update comments, add resolveDisplayRange method, and fix raw score ranges minVersion for swr
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(dashboard): load organization UI without legacy claims (#2190)
  apps/dashboard/src/components/AppMessageState/AppMessageState.test.js
  apps/dashboard/src/components/AppMessageState/AppMessageState.vue
  apps/dashboard/src/components/AppMessageState/__snapshots__/AppMessageState.test.js.snap
  apps/dashboard/src/components/OrgBrowser.test.js
  apps/dashboard/src/components/OrgPicker.vue
  apps/dashboard/src/components/views/LinkAccountsView.vue
  apps/dashboard/src/components/views/PasswordView.vue
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/useCurrentUser.js
  apps/dashboard/src/composables/useCurrentUser.test.js
  apps/dashboard/src/composables/useOrgBrowser.js
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/constants/firebase.js
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/pages/AdminProfile.test.js
  apps/dashboard/src/pages/AdminProfile.vue
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Narrow the backend emulator guard to a single export
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/server.ts
  apps/backend/src/utils/assert-emulator-not-in-production.util.test.ts
  apps/backend/src/utils/assert-emulator-not-in-production.util.ts
  apps/backend/src/utils/emulator-guard.util.test.ts
  apps/backend/src/utils/emulator-guard.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Correct the rationale comment on the client-level emulator assert
  apps/backend/src/clients/firebase-core.client.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Name the real hazard in the emulator assert comment
  apps/backend/src/clients/firebase-core.client.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(dashboard): keep owner signup code-free
  apps/dashboard/src/containers/SelfRegistration/README.md
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.test.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.test.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/router/index.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Correct the failure mode described in the emulator guard doc
  apps/backend/src/utils/emulator-guard.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Correct stale doc comments on the dashboard emulator guard
  apps/dashboard/src/constants/firebase.js
  apps/dashboard/src/utils/emulator-guard.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Narrow the dashboard emulator guard to its two real entry points
  apps/dashboard/src/utils/emulator-guard.js
  apps/dashboard/src/utils/emulator-guard.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address review: single error-mapping surface, always clear the spinner
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.test.js
  apps/dashboard/src/helpers/resolveUserClaims.globalError.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Rename the missing-base-URL code to config/ and drop the stale env hint
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/queryClient.test.js
  apps/dashboard/src/utils/api-errors.js
  apps/dashboard/src/utils/api-errors.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add project-scoped agents and commands under .ai
  .ai/agents/backend-reviewer.md
  .ai/agents/code-quality-reviewer.md
  .ai/agents/frontend-reviewer.md
  .ai/agents/security-authz-reviewer.md
  .ai/agents/test-coverage-reviewer.md
  .ai/commands/commit-and-pr.md
  .ai/commands/review-pr.md
  .ai/rules/README.md
  .claude/agents
  .claude/commands
  AGENTS.md
Due: none

feat(dashboard): add research consent flow
  apps/dashboard/src/containers/SelfRegistration/README.md
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.vue
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.test.js
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.vue
  apps/dashboard/src/containers/SelfRegistration/components/ConsentModal.test.js
  apps/dashboard/src/containers/SelfRegistration/components/ConsentModal.vue
  apps/dashboard/src/containers/SelfRegistration/components/ConsentStatus.vue
  apps/dashboard/src/containers/SelfRegistration/components/index.js
  apps/dashboard/src/containers/SelfRegistration/composables/loadDefaultResearchConsent.js
  apps/dashboard/src/containers/SelfRegistration/composables/loadDefaultResearchConsent.test.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.test.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Center the bootstrap spinner and error page in the visible viewport
  apps/dashboard/src/App.vue
  apps/dashboard/src/pages/GenericError.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Subtract the navbar's real height in min-h-screen-minus-nav
  apps/dashboard/src/styles.css
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
