Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix(backend): tighten Bearer parsing and declare the auth guard's 403
  apps/backend/src/middleware/anon-token/anon-token.middleware.test.ts
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
  apps/backend/src/middleware/auth-guard/jwt-extractor.test.ts
  apps/backend/src/middleware/auth-guard/jwt-extractor.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  packages/api-contract/src/v1/agreements/contract.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/users/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

test(backend): cover agreement content caching
  apps/backend/src/services/agreement/agreement.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): cover localized agreement selection
  apps/backend/src/services/registration/registration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): enforce complete agreement service mocks
  apps/backend/src/test-support/services/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): distinguish invalid agreement cases
  apps/backend/src/services/registration/registration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

allow assessments to control their own sdk context (non-uniform apps)
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/roam-apps/src/index.js
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-sre/src/index.js
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roar-swr/src/index.js
Due: none

allow assessments to control their own assessment sdk context (special case apps)
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-readaloud/src/experiment/index.js
  apps/assessments/roar-survey/src/App.vue
  apps/assessments/roar-survey/src/components/SurveyRunner.vue
  apps/assessments/roar-survey/src/main.js
Due: none

fix(backend): correct agreement cache headers
  apps/backend/src/middleware/cache-control/immutable-public-cache-control.middleware.ts
  apps/backend/src/routes/agreements.integration.test.ts
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/routes/auth.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(api-contract): bound registration payload sizes
  packages/api-contract/src/v1/auth/schema.test.ts
  packages/api-contract/src/v1/auth/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix(backend): rate limit public registration routes
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.test.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.ts
  apps/backend/src/routes/auth.ts
  packages/api-contract/src/v1/auth/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix(backend): surface FGA compensation failures
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): cover registration agreement queries
  apps/backend/src/repositories/agreement-version.repository.integration.test.ts
  apps/backend/src/repositories/agreement-version.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(backend): centralize agreement locale fallback
  apps/backend/src/constants/registration-agreements.ts
  apps/backend/src/controllers/agreements.controller.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
  apps/backend/src/services/registration/registration.service.test.ts
  apps/backend/src/services/registration/registration.service.ts
  apps/backend/src/test-support/services/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(backend): clarify agreement validation failures
  apps/backend/src/services/registration/registration.service.test.ts
  apps/backend/src/services/registration/registration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): bound agreement content cache
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): cover registration route failures
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/routes/auth.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): honor client IPs behind ingress proxy
  apps/backend/src/app.test.ts
  apps/backend/src/app.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.test.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): preserve in-flight agreement fetches
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

docs(backend): record registration disclosure tradeoff
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Dashboard version 3.30.1
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.30.2
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.30.1
  package-lock.json
  package.json
Due: none

Update package-lock
  package-lock.json
Due: none

3.30.2
  package-lock.json
  package.json
Due: none

fix(backend): harden registration IP limiting
  apps/backend/package.json
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.test.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.ts
  apps/backend/src/routes/auth.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): bound public auth request bodies
  apps/backend/src/app.test.ts
  apps/backend/src/app.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): normalize registration emails
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): contextualize agreement validation failures
  apps/backend/src/services/registration/registration.service.test.ts
  apps/backend/src/services/registration/registration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

agreement
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

enh(dashboard): adding roav-crowding
  apps/dashboard/package.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/router/index.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): gate the first navigation on auth readiness
  apps/dashboard/src/App.test.js
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/constants/logMessages.js
  apps/dashboard/src/router/authReadyGate.test.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/router/index.test.js
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/services/AuthService.test.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): key the bootstrap spinner on the redirect result
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/services/AuthService.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(backend): harden public registration middleware
  apps/backend/src/constants/registration-rate-limits.ts
  apps/backend/src/middleware/cache-control/immutable-public-cache-control.middleware.ts
  apps/backend/src/middleware/cache-control/public-cache-control.middleware.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.test.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/routes/auth.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(backend): centralize registration rules
  apps/backend/src/constants/registration-agreements.ts
  apps/backend/src/services/registration/registration.service.test.ts
  apps/backend/src/services/registration/registration.service.ts
  packages/api-contract/src/v1/auth/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix(backend): bound agreement content reads
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): expose registration cleanup failures
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

docs(backend): document registration interfaces
  apps/backend/src/controllers/auth.controller.ts
  apps/backend/src/middleware/rate-limit/ip-rate-limit.middleware.ts
  apps/backend/src/repositories/agreement-version.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test(backend): use a real agreement content response
  apps/backend/src/routes/agreements.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(registration): remove transitional opt-in wiring
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/controllers/families.controller.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.test.js
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
  packages/api-contract/src/v1/families/schema.test.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

exclude from reporting
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
