Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Gate useAgreementVersionContentQuery on the auth access token
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.js
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add age-filter and cross-user 403 integration tests for user agreements
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Document dropped variantURL; simplify isAgreementsResolved
  apps/dashboard/src/helpers/participantGames.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix consent toast locale; tidy consent-gate watcher/guard/docs
  apps/dashboard/src/components/ConsentModal.vue
  apps/dashboard/src/composables/mutations/useRecordUserAgreementMutation.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Re-scope ROAR@Home registration: no pre-auth agreement work (TOS via /me, consent per-administration)
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/containers/HomeParent/composables/useAddFamilyChildren.js
  apps/dashboard/src/containers/HomeParent/composables/useAddFamilyChildren.test.js
  apps/dashboard/src/helpers/registration/resolveConsentAgreementVersionId.js
  apps/dashboard/src/helpers/registration/resolveConsentAgreementVersionId.test.js
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create assessment-schema abstraction layer for multichoice
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-multichoice/config.ts
  packages/assessment-schema/src/roar-multichoice/domains.ts
  packages/assessment-schema/src/roar-multichoice/index.ts
  packages/assessment-schema/src/roar-multichoice/score-entries.test.ts
  packages/assessment-schema/src/roar-multichoice/score-entries.ts
  packages/assessment-schema/src/roar-multichoice/score-names.ts
  packages/assessment-schema/src/roar-multichoice/variants.ts
Due: none

Add deterministic order + future-joinedOn exclusion test to family memberships
  apps/backend/src/repositories/family.repository.integration.test.ts
  apps/backend/src/repositories/family.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update stale completeAssessment comment in roar-pa
  apps/assessments/roar-pa/src/index.js
Due: none

implement serve and config wiring
  apps/assessments/roar-multichoice/.env.example
  apps/assessments/roar-multichoice/cypress.config.js
  apps/assessments/roar-multichoice/firebase.json
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/index.js
  apps/assessments/roar-multichoice/src/sdk/multichoice-firekit-facade.js
  apps/assessments/roar-multichoice/taskVariantParameters.example.json
  apps/assessments/roar-multichoice/webpack.config.cjs
Due: npx dotenvx ext precommit

update example task parameters
  apps/assessments/roar-multichoice/taskVariantParameters.example.json
Due: none

configure scoring
  apps/backend/package.json
  apps/backend/seeds/roar-multichoice.seed.ts
  apps/backend/src/services/scoring/configs/cva.json
  apps/backend/src/services/scoring/configs/morphology.json
  apps/backend/src/services/scoring/scoring.config-registry.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix orchestrator progress-forwarding test to capture live onProgress state
  apps/dashboard/src/containers/OrgsList/composables/useOrgExportOrchestrator.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

dashboard wiring
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix stale consent-recording comments after registration re-scope
  apps/dashboard/src/composables/mutations/useAddFamilyChildrenMutation.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

wire versioning
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .release-please-manifest.json
  .release-please.json
Due: none

Render game status icons in PvTab header
  apps/dashboard/src/components/GameTabs.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding descriptions for apps
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update multichoice
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Cut TaskLetter over to the assessment-SDK variant params (roar-letter now in-monorepo)
  apps/dashboard/src/components/tasks/TaskLetter.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate user-profile read queries to GET /v1/users/:id (#1911)
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.js
  apps/dashboard/src/composables/queries/useUserStudentDataQuery.test.js
  apps/dashboard/src/helpers/mappers/mapUser.js
  apps/dashboard/src/helpers/mappers/mapUser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

formatting and linting fixes
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/sdk/multichoice-firekit-facade.js
  package-lock.json
  packages/assessment-schema/src/roar-multichoice/config.ts
  packages/assessment-schema/src/roar-multichoice/domains.ts
  packages/assessment-schema/src/roar-multichoice/score-entries.test.ts
  packages/assessment-schema/src/roar-multichoice/score-entries.ts
  packages/assessment-schema/src/roar-multichoice/score-names.ts
  packages/assessment-schema/src/roar-multichoice/variants.ts
Due: none

refresh package-lock.json
  package-lock.json
Due: none

Use docker compose for CI test job infrastructure
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  apps/backend/tooling/dev-fixture.ts
  apps/dashboard/src/services/AuthService.js
  docker-compose.yml
  docker/firebase-auth-emulator/Dockerfile
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove deploy-platform-development.yml workflow
  .github/workflows/deploy-platform-development.yml
Due: none

implement claude feedback
  apps/assessments/roar-letter/turbo.json
  apps/assessments/roar-multichoice/.gitignore
  apps/assessments/roar-multichoice/.nvmrc
  apps/assessments/roar-multichoice/turbo.json
  apps/assessments/roar-pa/turbo.json
  apps/assessments/roar-sre/turbo.json
  apps/assessments/roar-swr/turbo.json
Due: none

Cut the Progress Report off Firestore onto the progress API
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Expose a progress scenario in the Cypress fixture and add a backend-only spec
  apps/backend/src/server-test.ts
  apps/dashboard/cypress/e2e/smoke/progressReport.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add progress-report query composables for the backend API
  apps/dashboard/src/composables/queries/useAdministrationProgressOverviewQuery.js
  apps/dashboard/src/composables/queries/useAdministrationProgressOverviewQuery.test.js
  apps/dashboard/src/composables/queries/useAdministrationProgressQuery.js
  apps/dashboard/src/composables/queries/useAdministrationProgressQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement claude feedback
  apps/assessments/roar-letter/serve/serve.js
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  packages/assessment-schema/src/roar-multichoice/score-entries.ts
  packages/assessment-schema/src/roar-multichoice/score-names.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

pass roar-multichoice without tests
  apps/assessments/roar-multichoice/package.json
Due: none

Coerce ELL/IEP status strings to booleans when loading the user edit form
  apps/dashboard/src/components/EditUsersForm.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Handle boolean status values explicitly in mapUserFormToUpdateBody
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Guard against submitting an empty user update body
  apps/dashboard/src/components/views/UserInfoView.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Enable district roll-up in the Progress Report
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix test
  apps/backend/src/services/scoring/scoring.config.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix lint error
  apps/backend/eslint.config.mjs
Due: none

disable Edge browser in cypress
  .github/workflows/deploy-assessment.yml
Due: none

Migrate admin user view + edit to GET/PATCH /v1/users/:id (#1912)
  apps/dashboard/src/components/EditUsersForm.vue
  apps/dashboard/src/components/modals/EditUsers.vue
  apps/dashboard/src/components/views/UserInfoView.vue
  apps/dashboard/src/composables/mutations/useUpdateUserMutation.js
  apps/dashboard/src/composables/mutations/useUpdateUserMutation.test.js
  apps/dashboard/src/composables/queries/useUserProfileQuery.js
  apps/dashboard/src/composables/queries/useUserProfileQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.js
  apps/dashboard/src/helpers/mappers/mapUserFormToUpdateBody.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Migrate org-scoped user lists to GET /v1/{org}/:id/users (#1913)
  apps/dashboard/src/components/ListUsers.vue
  apps/dashboard/src/composables/queries/useOrgUsersQuery.js
  apps/dashboard/src/composables/queries/useOrgUsersQuery.test.js
  apps/dashboard/src/helpers/mappers/mapEnrolledUser.js
  apps/dashboard/src/helpers/mappers/mapEnrolledUser.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
