Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

create RosterProviderIdRepository and test-support mock
  apps/backend/src/repositories/roster-provider-id.repository.ts
  apps/backend/src/test-support/repositories/roster-provider-id.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update base transaction type, properly include createWithMemberships and create methods in the same transaction
  apps/backend/src/db/clients.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/roster-provider-id.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/roster-provider-id.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

integration tests for roster-provider-id repository
  apps/backend/src/repositories/roster-provider-id.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use l-tree to resolve rootOrgId when creating a user and their associated rostering_provider_ids entry
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/roster-provider-id.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  apps/backend/src/test-support/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

clarifying comments, test case for multiple groups and families
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  apps/backend/src/test-support/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

improve test coverage, fix some type errors
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

rebase onto feature branch and incorporate l-tree repositories
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  apps/backend/src/test-support/repositories/district.repository.ts
  apps/backend/src/test-support/repositories/l-tree.repository.ts
  apps/backend/src/test-support/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

additional test coverage, allow deleteByEntityId to use a transaction
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/roster-provider-id.repository.ts
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/roster-provider-id.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test coverage
  apps/backend/src/services/user/user.service.create.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Enforce stage on raw scores and use score constants in tests
  apps/backend/migrations/assessment/0023_add_run_scores_raw_requires_stage_check.sql
  apps/backend/migrations/assessment/meta/0023_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/constants/best-run.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/repositories/run-scores.repository.integration.test.ts
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/test-support/services/run.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Recompute use_for_reporting on trial events
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/test-support/repositories/run.repository.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract BEST_RUN_TIER constants and document architecture
  apps/backend/src/repositories/run.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address PR review nits in recompute tests
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/services/user/user.service.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor resolveRootOrgProviderId to use helper functions
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Switch FGA listAccessibleObjects to streamedListObjects
  apps/backend/src/repositories/utils/fga-filter-ids.utils.test.ts
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/test-support/clients/fga.client.ts
  apps/backend/src/test-support/services/authorization.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

cheap forward-compat insurance
  .release-please.json
Due: none

updating roav-apps to 1.0.1 for rvp instructions updates
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

logging and variable renaming
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`enh` Create `rostering_provider_id` entity when creating a new user (#1739)
  apps/backend/src/db/clients.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/roster-provider-id.repository.integration.test.ts
  apps/backend/src/repositories/roster-provider-id.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/user/user.service.create.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/repositories/class.repository.ts
  apps/backend/src/test-support/repositories/district.repository.ts
  apps/backend/src/test-support/repositories/l-tree.repository.ts
  apps/backend/src/test-support/repositories/roster-provider-id.repository.ts
  apps/backend/src/test-support/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate class-domain FGA listing to streamedListObjects + temp-table join
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/fga/fga-test-tuples.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Close test coverage gaps for FGA streamed-list path
  apps/backend/src/repositories/utils/fga-filter-ids.utils.integration.test.ts
  apps/backend/src/repositories/utils/fga-filter-ids.utils.test.ts
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/helpers/collect-streamed-fga-objects.helper.test.ts
  apps/backend/src/services/authorization/helpers/collect-streamed-fga-objects.helper.ts
  apps/backend/src/test-support/clients/fga.client.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Roav RVP (#1738)
  apps/dashboard/package.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/router/index.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add RunScoresRepository with natural-key upsert (#1743)
  apps/backend/migrations/assessment/0021_add_run_scores_natural_key_unique.sql
  apps/backend/migrations/assessment/0022_add_platform_admin_to_user_role.sql
  apps/backend/migrations/assessment/meta/0021_snapshot.json
  apps/backend/migrations/assessment/meta/0022_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/repositories/run-scores.repository.integration.test.ts
  apps/backend/src/repositories/run-scores.repository.test.ts
  apps/backend/src/repositories/run-scores.repository.ts
  apps/backend/src/test-support/factories/run-score.factory.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/run-scores.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix exactOptionalPropertyTypes violations in run.service transaction threading
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Filter rostering-ended users from list, reporting, and per-user endpoints
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
  packages/api-contract/src/v1/common/exclusions.ts
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/common/query.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add tests for rostering-ended filter
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/family.repository.integration.test.ts
  apps/backend/src/repositories/group.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.test.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address review for rostering-ended filter
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/services/utils/validations.utils.ts
  packages/api-contract/src/v1/common/query.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix unit tests for rostering-ended filter
  apps/backend/src/repositories/utils/enrolled-users-query.utils.test.ts
  apps/backend/src/test-support/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use type=computed in NULL-stage upsert test
  apps/backend/src/repositories/run-scores.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address automated review for #1742
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/utils/validations.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix self-access unit test for getUserAdministrations
  apps/backend/src/services/administration/administration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move self-access rostering-ended test to service unit layer
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add admin-aware enrollment overlap to reporting (#1792)
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  packages/api-contract/src/v1/administrations/reports/common.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add includeUnenrolledStudents to controller test fixtures (#1792)
  apps/backend/src/controllers/administrations.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Upsert run-level scores from trial events (#1744)
  apps/backend/migrations/assessment/0023_add_run_scores_raw_requires_stage_check.sql
  apps/backend/migrations/assessment/meta/0023_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/constants/best-run.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/repositories/run-scores.repository.integration.test.ts
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/test-support/services/run.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Recompute use_for_reporting on trial events (#1745)
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/repositories/run.repository.integration.test.ts
  apps/backend/src/repositories/run.repository.ts
  apps/backend/src/services/run-event/run-event.service.test.ts
  apps/backend/src/services/run-event/run-event.service.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/test-support/repositories/run.repository.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Removed api-contract from linked-versions components, now only backend and dashboard are linked. Update documentation
  .github/RELEASING.md
  .github/workflows/release.yml
  .release-please.json
Due: none

Added comment explaining api-contract is independently versioned, Updated release-please to show api-contract as independently versioned, updated documentation
  .github/RELEASING.md
  .github/workflows/deploy-platform-production.yml
  .release-please.json
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
