Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update to use .value for series stroke
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix gray tags for unreliable letter scores
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix line height for apps with temporary solution
  apps/dashboard/src/styles.css
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update to disable longitudinal reportst
  apps/dashboard/src/constants/featureFlags.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update tests
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix line-height for apps and unreliable letter score tags (#1445)
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/styles.css
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Additional update to Longitudinal Charts (#1436)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/__snapshots__/LongitudinalChart.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/useLongitudinalSeries.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/__snapshots__/ScoreCard.test.js.snap
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.17.0
  package-lock.json
  package.json
Due: none

3.18.0
  package-lock.json
  package.json
Due: none

3.19.0
  package-lock.json
  package.json
Due: none

3.20.0
  package-lock.json
  package.json
Due: none

Update Support.test.js and snapshot
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete old distribution graph pictures
  apps/dashboard/src/assets/support-distribution.png
  apps/dashboard/src/assets/support-distribution.svg
Due: none

Change prop property in Support.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

trying to make styling as close as possible to figma design
  apps/dashboard/src/assets/styles/routes/signin.scss
  apps/dashboard/src/components/LanguageSelector.vue
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/containers/SignIn/components/SignInEmailInput.vue
  apps/dashboard/src/containers/SignIn/components/SignInPasswordBlock.vue
  apps/dashboard/src/containers/SignIn/components/SignInProvidersList.vue
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Create required firestore indexes
  apps/dashboard/firebase/admin/firestore.indexes.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor: use firekit getAssignmentStats instead of Firestore REST API
  apps/dashboard/firebase/admin/firestore.indexes.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix E2E
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/cypress/support/commands.js
  apps/dashboard/src/components/CardAdministration.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor(progress-report): migrate to container pattern
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressReportHeader.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/components/ViewSelector.vue
  apps/dashboard/src/containers/ProgressReport/components/index.js
  apps/dashboard/src/containers/ProgressReport/composables/index.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressFilters.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressFilters.test.js
  apps/dashboard/src/containers/ProgressReport/constants/progressReportConstants.js
  apps/dashboard/src/containers/ProgressReport/index.js
  apps/dashboard/src/pages/ProgressReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

feat: migrate to backend assignment stats API and add Firestore indexes
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.js
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.test.js
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview.vue
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/helpers/plotting.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor: centralize completion status colors in JS constants
  apps/dashboard/src/assets/styles/root/variables.scss
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/components/ParticipantSidebar.vue
  apps/dashboard/src/constants/completionStatus.js
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend.vue
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/helpers/plotting.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Task #485 Site switcher and page changes v2 (#669)
  src/assets/styles/root/container.scss
  src/components/GroupPicker.vue
  src/components/RoarDataTable.vue
  src/components/UserActions.vue
  src/components/userInfo/AddUsersInfo.vue
  src/components/userInfo/LinkUsersInfo.vue
  src/composables/queries/_useDistrictsQuery.ts
  src/composables/queries/_useSchoolsQuery.ts
  src/composables/queries/useAdministrationsListQuery.ts
  src/composables/queries/useDistrictSchoolsQuery.ts
  src/composables/queries/useDistrictsListQuery.test.ts
  src/composables/queries/useDistrictsListQuery.ts
  src/composables/queries/useOrgsTableQuery.ts
  src/helpers/query/administrations.js
  src/helpers/query/orgs.js
  src/pages/HomeAdministrator.vue
  src/pages/SignIn.vue
  src/pages/groups/ListGroups.vue
  src/pages/tests/HomeAdministrator.test.js
  src/pages/tests/ListGroups.test.js
  src/pages/tests/addUsers.test.js
  src/pages/users/AddUsers.vue
  src/pages/users/LinkUsers.vue
  src/store/auth.ts
Due: none

Add parameter validation for orgId/orgType dependency (#1447)
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.js
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix: allow duplicate group names across different sites (#682)
  src/pages/users/AddUsers.vue
Due: none

format
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wait for result in tests
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Calculate total assignments
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Simplify test file strings in Support.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address copilot comments
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Show distribution image for grade >= 6 students
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add secondary grade individual score report charts
  apps/dashboard/src/assets/en-secondary-distribution-chart-scoring-v1.webp
  apps/dashboard/src/assets/es-secondary-distribution-chart-scoring-v1.webp
Due: none

Hide charts when only unnormed es tasks are played, implement new distribution charts for grade >= 6, update relevant tests
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Delete es secondary image with typos
  apps/dashboard/src/assets/es-secondary-distribution-chart-scoring-v1.webp
Due: none

Upload fixed es secondary chart
  apps/dashboard/src/assets/es-secondary-distribution-chart-scoring-v1.webp
Due: none

refactor: create shared ReportHeader component and improve responsive layout
  apps/dashboard/src/components/ReportHeader.vue
  apps/dashboard/src/components/modals/EditVariantDialog.vue
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressReportHeader.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/components/ViewSelector.vue
  apps/dashboard/src/containers/ProgressReport/components/index.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixing readaloud
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Implement Kyle's suggestions from code review
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor(ProgressReport): restructure to follow Sign-In refactor pattern
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/ProgressLegend.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/index.js
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/index.js
  apps/dashboard/src/containers/ProgressReport/components/index.js
  apps/dashboard/src/containers/ProgressReport/constants/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fixing readaloud (#1451)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
