Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

fix(dashboard): simplify consent confirmation
  apps/dashboard/src/containers/SelfRegistration/README.md
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.vue
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.test.js
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.vue
  apps/dashboard/src/containers/SelfRegistration/components/ConsentModal.test.js
  apps/dashboard/src/containers/SelfRegistration/components/ConsentModal.vue
  apps/dashboard/src/containers/SelfRegistration/components/ConsentStatus.vue
  apps/dashboard/src/containers/SelfRegistration/components/index.js
  apps/dashboard/src/containers/SelfRegistration/composables/loadDefaultResearchConsent.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address review: retry firekit init from Try Again, dedupe bootstrap block
  apps/dashboard/src/constants/globalErrorTypes.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/pages/GenericError.test.js
  apps/dashboard/src/pages/GenericError.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Log escalated auth failures for Sentry; genericize the unmatched copy
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/pages/HomeSelector.test.js
  apps/dashboard/src/pages/HomeSelector.vue
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard,backend): guard Firebase emulator paths against production activation (#2198)
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/server.ts
  apps/backend/src/utils/emulator-guard.util.test.ts
  apps/backend/src/utils/emulator-guard.util.ts
  apps/dashboard/src/constants/firebase.js
  apps/dashboard/src/utils/emulator-guard.js
  apps/dashboard/src/utils/emulator-guard.test.js
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update displayRanges in config to align with new schema
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/configs/pa.ts
  apps/backend/src/services/scoring/configs/phonics.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/sre-es.ts
  apps/backend/src/services/scoring/configs/sre.ts
  apps/backend/src/services/scoring/configs/swr-de.ts
  apps/backend/src/services/scoring/configs/swr-es.ts
  apps/backend/src/services/scoring/configs/swr-it.ts
  apps/backend/src/services/scoring/configs/swr-pt.ts
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/configs/trog.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update scoring config DisplayRangeSchema
  apps/backend/src/services/scoring/scoring.config-schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update comments, add resolveDisplayRange method, and fix raw score ranges minVersion for swr
  apps/backend/src/services/scoring/configs/swr.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add missing scoring config values
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/letter.ts
  apps/backend/src/services/scoring/configs/morphology.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move resolveNumericScore from report.service.ts to scoring.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Shorten function comment
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move score field normalization from aggregation repo to services, passing in grade and scoring versions
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update aggregation integration tests docblock
  apps/backend/src/services/aggregation/aggregation.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Assert production defines no substitute for the emulator host
  apps/assessments/roav-ran/emulator-host-build.test.js
Due: none

Move getScoreRange and extractScoringVersion to general scoring.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Introduce dynamic raw score ranges based on variant's scoring version using buildRawBucketMaps
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor mock repos to align with main pattern in codebase
  apps/backend/src/services/aggregation/aggregation.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add aggregation service integration tests and update docblock
  apps/backend/src/services/aggregation/aggregation.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unknown parameter validation when seeding tasks into assessment env
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/backend/seeds/configs/roar-pa.config.ts
  apps/backend/seeds/configs/roar-readaloud.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/task-seed-configs.ts
  apps/backend/seeds/task-seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove stale documentation
  apps/backend/seeds/task-seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(dashboard): remove legacy parent registration flow
  apps/dashboard/cypress/e2e/parent/default-tests/addChild.spec.cy.js
  apps/dashboard/cypress/e2e/parent/default-tests/auth.cy.js
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/README.md
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.js
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.test.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

test(dashboard): verify account owner signup quality
  apps/dashboard/src/assets/styles/routes/register.scss
  apps/dashboard/src/containers/SelfRegistration/QUALITY_ASSURANCE.md
  apps/dashboard/src/containers/SelfRegistration/README.md
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.integration.test.js
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.cy.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.test.js
  apps/dashboard/src/containers/SelfRegistration/evidence/account-owner-signup-desktop.png
  apps/dashboard/src/containers/SelfRegistration/evidence/account-owner-signup-mobile.png
  apps/dashboard/src/containers/SignIn/composables/useAuth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

eplaced all chained have.attr assertions with callback assertions that preserve the input element as the subject.
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Collapse the emulator define to a value-level ternary
  apps/assessments/roar-survey/vite.config.js
Due: none

Fix SSO sign-in on the AuthService stack
  apps/dashboard/src/components/auth/AuthClassLink.vue
  apps/dashboard/src/components/auth/AuthClever.vue
  apps/dashboard/src/components/auth/AuthNycps.vue
  apps/dashboard/src/components/auth/AuthSSO.test.js
  apps/dashboard/src/components/auth/AuthSSO.vue
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.test.js
  apps/dashboard/src/containers/SignIn/composables/useSignInForm.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Handle terminal auth errors in SSO readiness polling
  apps/dashboard/src/components/auth/AuthSSO.test.js
  apps/dashboard/src/components/auth/AuthSSO.vue
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Keep auth/required retryable in SSO readiness polling
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/queryClient.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Address PR review feedback on the SSO fix
  apps/dashboard/src/components/auth/AuthSSO.vue
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor letter config to use constants defined in assessment-schema
  apps/backend/src/services/scoring/configs/letter.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Export resolveVersionedEntry
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/scoring.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add letter en to scored_task_ids, implement dynamic bucket widths based on scoring version, and update tests in aggregation service
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(assessments): Remove unknown parameter validation when seeding tasks into local assessment environment (#2210)
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/backend/seeds/configs/roar-pa.config.ts
  apps/backend/seeds/configs/roar-readaloud.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/task-seed-configs.ts
  apps/backend/seeds/task-seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Clarify schema comment
  apps/backend/src/services/scoring/scoring.config-schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update aggregation integration test
  apps/backend/src/services/aggregation/aggregation.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add tests for scoring.service.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add letter test in aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update docblocks and add tests that verify resolveDisplayRange works for sre
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/morphology.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Harden the frontend token lifecycle
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/composables/useAssessmentAuthCallbacks.js
  apps/dashboard/src/composables/useAssessmentAuthCallbacks.test.js
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(assessments): stop inlining the Auth emulator host into deployed builds (#2200)
  apps/assessments/roar-survey/vite.config.js
  apps/assessments/roav-ran/emulator-host-build.test.js
  apps/assessments/roav-ran/webpack.config.cjs
Due: none

Resolve the SSO provisioning race by sharing the /me query
  apps/dashboard/package.json
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/constants/logMessages.js
  apps/dashboard/src/helpers/resolveUserClaims.js
  apps/dashboard/src/helpers/resolveUserClaims.test.js
  apps/dashboard/src/pages/SSOAuthPage.vue
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/utils/api-errors.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add providerCheckFailed to the active locale catalogs
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
