Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, npm run lint:fix, npm run format

.lintstagedrc:

{
  "env-configs/.env*": ["npx dotenvx ext precommit"],
  "src/**/*.{js,vue}": ["npm run lint:fix", "npm run format"],
  "src/**/*.json": ["npm run format"]
}

change text
  src/translations/en/us/en-us-individualScoreReport.json
Due: npm run format

added subGroups and parentOrgType fields to OrgData interface
  src/types/index.ts
Due: none

adding subGroups to districts and parentOrgType to groups (cohorts)
  src/composables/mutations/useUpsertOrgMutation.ts
Due: none

replaced hard-coded string with existing constant
  src/composables/mutations/useUpsertOrgMutation.ts
Due: none

Update ROAM Cypress tests
  cypress/support/helper-functions/roam-apps/roamHelpers.js
Due: none

Bump ROAM version
  package-lock.json
  package.json
Due: none

feature: improve group table rendering
  src/helpers/query/administrations.js
  src/pages/groups/ListGroups.vue
Due: npm run lint:fix, npm run format

Introduce refactored score report page
  src/components/EmptyState.vue
  src/constants/routes.js
  src/containers/StudentScoreReport/StudentScoreReport.vue
  src/containers/StudentScoreReport/components/HeaderSection.vue
  src/containers/StudentScoreReport/components/ScoreCard.vue
  src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  src/containers/StudentScoreReport/components/SummarySection.vue
  src/containers/StudentScoreReport/components/SupportSection.vue
  src/helpers/getStudentDisplayName.js
  src/pages/scores/StudentScoreReport.vue
  src/router/index.js
  src/services/PdfExport.service.js
  src/services/reports/reportDataService.js
  src/styles.css
Due: npm run lint:fix, npm run format

Remove obsolete service
  src/services/reports/reportDataService.js
Due: npm run lint:fix, npm run format

Remove obsolete css
  src/containers/StudentScoreReport/components/HeaderSection.vue
Due: npm run lint:fix, npm run format

created orderByNameASC to sort assignments
  src/helpers/query/utils.js
  src/pages/HomeAdministrator.vue
Due: npm run lint:fix, npm run format

fixed failing unit tests
  src/pages/tests/HomeAdministrator.test.js
Due: npm run lint:fix, npm run format

Seperate bundle collision check into seperate function
  src/components/TaskPicker/TaskPicker.vue
Due: npm run lint:fix, npm run format

remove extra space for fluency-arf in navbar blacklist (#1258)
  src/containers/Navigation/Navigation.vue
Due: npm run lint:fix, npm run format

Remove roar-firebase-functions submodule (#1259)
  .eslintrc.json
  .gitmodules
  .prettierignore
Due: none

Add redirect sign-in (#1244)
  cypress/e2e/participant/default-tests/auth.cy.js
  cypress/support/commands.js
  src/components/auth/SignIn.vue
  src/composables/useSSOAccountReadinessVerification.js
  src/composables/useSSOAccountReadinessVerification.test.js
  src/constants/regex.js
  src/constants/routes.js
  src/helpers/redirectSignInPath.js
  src/helpers/redirectSignInPath.test.js
  src/pages/SignIn.vue
  src/router/index.js
Due: npm run lint:fix, npm run format

Filter search results for named variants when flag is set
  src/components/TaskPicker/TaskPicker.vue
Due: npm run lint:fix, npm run format

update individualscorereporttask to include phonics
  src/components/reports/IndividualScoreReportTask.vue
  src/helpers/reports.js
Due: npm run lint:fix, npm run format

add back comment
  src/components/reports/IndividualScoreReportTask.vue
Due: npm run lint:fix, npm run format

Delete logAccessEvent
  src/composables/useSentryLogging.js
  src/composables/useSentryLogging.test.js
  src/pages/HomeSelector.vue
  src/router/index.js
Due: npm run lint:fix, npm run format

Change describe text
  src/composables/useSentryLogging.test.js
Due: npm run lint:fix, npm run format

Delete logProfileEvent and replace with logAuthEvent
  src/composables/useSSOAccountReadinessVerification.js
  src/composables/useSentryLogging.js
  src/composables/useSentryLogging.test.js
  src/pages/HomeSelector.vue
Due: npm run lint:fix, npm run format

Fix data property in SSOAuth & index.js
  src/pages/SSOAuthPage.vue
  src/router/index.js
Due: npm run lint:fix, npm run format

Move setUser
  src/composables/useSSOAccountReadinessVerification.js
  src/pages/HomeSelector.vue
Due: npm run lint:fix, npm run format

Create logMessages constants and replace auth messages
  src/composables/useSSOAccountReadinessVerification.js
  src/constants/logMessages.js
  src/pages/HomeSelector.vue
Due: npm run lint:fix, npm run format

Update with navlogmessages aand replace logNavs with logAuths
  src/composables/useSentryLogging.test.js
  src/constants/logMessages.js
  src/pages/SSOAuthPage.vue
  src/router/index.js
Due: npm run lint:fix, npm run format

Add media messages
  src/components/VideoPlayer.vue
  src/constants/logMessages.js
Due: npm run lint:fix, npm run format

Add spacing
  src/composables/useSentryLogging.test.js
Due: npm run lint:fix, npm run format

Add missing support text
  src/containers/StudentScoreReport/components/SupportSection.vue
Due: npm run lint:fix, npm run format

Update tag severities
  src/constants/tags.js
  src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
Due: npm run lint:fix, npm run format

generate pdf of caregiver survey
  README_SURVEY_PDF.md
  assets/survey data/parent_survey_family.json
  src/composables/useSurveyPdfGenerator.ts
  src/examples/ParentSurveyPdfExample.vue
  src/examples/surveyPdfUsage.ts
  src/helpers/surveyPdfGenerator.ts
  src/pages/TestSurveyPdf.vue
  test-parent-survey-pdf.html
  test-parent-survey-pdf.js
Due: npm run lint:fix, npm run format

support interactive pdf
  test-parent-survey-pdf.html
Due: none

don't need local version
  assets/survey data/parent_survey_family.json
Due: none

fix add child test
  cypress/e2e/parent/default-tests/addChild.spec.cy.js
Due: none

add data-cy tag to report
  src/pages/LongitudinalReport.vue
Due: npm run lint:fix, npm run format

fix addChild cypress spec
  cypress/e2e/parent/default-tests/addChild.spec.cy.js
Due: none

Subscore Tables for ROAM (#1247)
  cypress/support/helper-functions/roam-apps/roamHelpers.js
  package-lock.json
  package.json
  src/components/reports/SubscoreTable.vue
  src/components/reports/tasks/TaskReport.vue
  src/helpers/reports.js
  src/pages/ScoreReport.vue
Due: npm run lint:fix, npm run format

formatting
  cypress/e2e/parent/default-tests/addChild.spec.cy.js
Due: none

add wrapping & section guidance
  test-parent-survey-pdf.html
Due: none

fixing missing doc path in query
  cypress/downloads/downloads.html
  src/helpers/query/assignments.js
Due: npm run lint:fix, npm run format
