Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Fix stale JSDoc in globalSetup and server-test usage
  apps/backend/src/server-test.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix TestAuthProvider comment: clarify explicit wiring, not NODE_ENV-based
  apps/backend/src/services/auth/providers/test-auth.provider.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

The test now properly sets up a family relationship
  apps/backend/src/routes/runs.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Write proper FGA tuples
  apps/backend/src/routes/runs.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Created a new helper function
  apps/backend/src/routes/runs.integration.test.ts
  apps/backend/src/test-support/fga/fga-test-tuples.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

test: implement caregiver CAN_READ_CHILD integration test for run creation
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: simplify verifyUserAccess to check CAN_READ_CHILD permission on families
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix name confusion about conditionsRequirements
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix Cypress Clever cross Origin error (#1720)
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

switch to a hasPermission-based approach
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  apps/backend/src/test-support/repositories/family.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix Cypress Clever cross Origin error (#1720) (#1721)
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add API contract for task subscores endpoint
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add subscore-table column registry + value formatter
  apps/backend/src/services/scoring/index.ts
  apps/backend/src/services/scoring/subscore-table.registry.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add report repository getTaskSubscoreStudents method
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/test-support/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add report service listTaskSubscores method
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Wire task subscores controller method and route handler
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/routes/administrations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add service unit tests for listTaskSubscores
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add controller unit tests for listTaskSubscores
  apps/backend/src/controllers/administrations.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for task subscores endpoint
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Type setupRepoDefaults pageItems as TaskSubscoreQueryRow[]
  apps/backend/src/services/report/report.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Self-review fixes for task subscores
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/subscore-table.registry.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix principal integration test assertion
  apps/backend/src/routes/reports.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`DBR` Add `GET /v1/administrations/:id/tree` endpoint (#1690)
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/test-support/repositories/administration.repository.ts
  apps/backend/src/test-support/repositories/report.repository.ts
  apps/backend/src/test-support/services/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Address review findings on task subscores
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/scoring/subscore-table.registry.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Address re-review findings on task subscores
  apps/backend/src/services/scoring/subscore-table.registry.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Drop dead nameLast fallback in task-subscores sort path
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add JSDoc to files
  apps/backend/src/services/auth/providers/test-auth.provider.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: require getBaseFixtureData() to be called before SDK initialization
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: none

Apply suggestions from code review Adam
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: none

refactor: extract shared TestFixture type to api-contract package
  apps/backend/src/server-test.ts
  packages/api-contract/package.json
  packages/api-contract/src/test-fixture.type.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Revert "refactor: extract shared TestFixture type to api-contract package"
  apps/backend/src/server-test.ts
  packages/api-contract/package.json
  packages/api-contract/src/test-fixture.type.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix: complete server-test.ts implementation with proper type guards
  apps/backend/src/server-test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove check for conflicting name
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update validations and errors thrown
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Return only ID rather than base object
  apps/backend/src/controllers/administrations.controller.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Initial Implement
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update docstring
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement Tests
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.test.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/test-support/repositories/administration.repository.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Minor comments
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
