Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Route wired
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

lint issues
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/dashboard/src/composables/queries/useDistrictSupportCategoriesQuery.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

added slugs
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/utils/administration.transform.test.ts
  apps/backend/src/repositories/administration-task-variant.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fixed dead code, duplicated composable, unused districtId paramter, documentation
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
  apps/dashboard/src/composables/queries/useAdministrationSupportCategoriesQuery.js
  apps/dashboard/src/composables/queries/useAdministrationSupportCategoriesQuery.test.js
  apps/dashboard/src/helpers/query/scores.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fixed tests
  apps/backend/src/controllers/utils/administration.transform.test.ts
  apps/backend/src/controllers/utils/administration.transform.ts
  apps/backend/src/services/administration/administration.service.test.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fixing cypress tests
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refresh package-lock.json
  package-lock.json
Due: none

Fix: Filter support-categories to active enrollments only
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Change firebase to peerdependency
  packages/assessment-sdk/package.json
Due: none

Update UploadFile command types and implement filename validation and execute
  packages/assessment-sdk/src/commands/upload-file.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/types/upload-file.ts
Due: none

adding tests
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Marked all 12 integration tests with .skip() to prevent false-passing
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`ref` Deployment and Versioning for `roar-levante-tasks` in Monorepo (#1946)
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roar-levante-tasks/cypress/e2e/helpers.js
  apps/assessments/roar-levante-tasks/cypress/e2e/hostile_attribution.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/intro.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/math.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/matrix_reasoning.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/mental_rotation_test.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/survey.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/task_locales.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/theory_of_mind.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/trog_test.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/vocab_test.cy.js
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/getMediaAssets.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  apps/assessments/roar-swr/package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refactor filename validation
  packages/assessment-sdk/src/commands/upload-file.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/upload-file.ts
  packages/assessment-sdk/src/utils/generate-file-path.test.ts
  packages/assessment-sdk/src/utils/generate-file-path.ts
Due: none

Initialize getStorage
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

follow stablished patterns
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/index.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

change assisgnemtId to administrationId, scoreType parsing, dynamic importing, and schema package score taskIds
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/index.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

SCORED_TASK_IDS Updated to Use Typed Imports
  apps/backend/src/services/aggregation/support-categories.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

AdministrationService Dynamic Import to Injected Dependency , Created Mock Factories, Removed Duplicate ScoreType Enum, Updated Administration Service Tests
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
  apps/backend/src/test-support/repositories/aggregation.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/services/aggregation.service.ts
  apps/backend/src/test-support/services/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Complete code review fixes: DI pattern, mock factories, score parsing, task IDs
  apps/backend/src/services/aggregation/support-categories.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rewrite remaining two skipped unit tests to use repository mocks
  apps/backend/src/services/aggregation/support-categories.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update upload-file command - Rename to upload-file.command.ts - Implement storeLocal for dev environment - Update upload-file types
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/upload-file.command.ts
  packages/assessment-sdk/src/types/upload-file.ts
Due: none

Reorganize fields
  packages/assessment-sdk/src/types/upload-file.ts
Due: none

fix roar-levante-tasks dummy hosting targets
  apps/assessments/roar-levante-tasks/package.json
Due: none

`ref` Provisional Scoring for Other Tasks in `roar-levante-tasks` (#1953)
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  package-lock.json
  packages/assessment-schema/src/roar-levante-tasks/config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement draft firekit compat uploadFile
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Renamed files, Deleted the barrel file, Updated imports, added jsdocs
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/aggregation.service.integration.test.ts
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
  apps/backend/src/services/aggregation/index.ts
  apps/backend/src/test-support/services/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`ref` Configure Scoring for `roar-levante-tasks` in Monorepo (#1952)
  apps/assessments/roar-levante-tasks/cypress/e2e/hearts_and_flowers.cy.js
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-levante-tasks/src/sdk/levante-firekit-facade.js
  apps/assessments/roar-levante-tasks/src/tasks/roar-inference/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.integration.test.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/trog.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-levante-tasks/config.ts
  packages/assessment-schema/src/roar-levante-tasks/domains.ts
  packages/assessment-schema/src/roar-levante-tasks/index.ts
  packages/assessment-schema/src/roar-levante-tasks/score-entries.test.ts
  packages/assessment-schema/src/roar-levante-tasks/score-entries.ts
  packages/assessment-schema/src/roar-levante-tasks/score-names.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replaced hardcoded strings with constants
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement emulator storage for dev mode
  apps/assessments/shared/firebase.json
  apps/assessments/shared/storage.rules
  assessment.Dockerfile
  docker-compose.assessment.yml
  packages/assessment-sdk/src/compat/firekit.ts
  scripts/dev-platform.sh
Due: none

BTS: Support Categories Aggregation Service (#1954)
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/utils/administration.transform.test.ts
  apps/backend/src/controllers/utils/administration.transform.ts
  apps/backend/src/repositories/administration-task-variant.repository.ts
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/aggregation.service.integration.test.ts
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
  apps/backend/src/test-support/repositories/aggregation.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/services/aggregation.service.ts
  apps/backend/src/test-support/services/index.ts
  apps/dashboard/src/composables/queries/useDistrictSupportCategoriesQuery.js
  apps/dashboard/src/composables/queries/useDistrictSupportCategoriesQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/helpers/query/scores.js
  apps/dashboard/src/helpers/query/scores.test.js
  package-lock.json
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

resolve lint and type errors
  packages/assessment-sdk/src/commands/upload-file.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/upload-file.ts
  packages/assessment-sdk/src/utils/generate-file-path.test.ts
  packages/assessment-sdk/src/utils/generate-file-path.ts
Due: none

remove local storage option when running dev
  packages/assessment-sdk/src/commands/upload-file.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/upload-file.ts
Due: none

adding comp apps tabs and graphs when scoring version
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating SRE to contemplate v5
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding tabs to the district score report
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

cypress tests
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/cypress/support/commands.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
