Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

implement phase 5 & 6 of roar-swr wiring
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/assessments/roar-swr/src/experiment/experiment.js
  apps/assessments/roar-swr/src/index.js
Due: none

implement phase 7 of roar-swr wiring
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement phase 8 of roar-swr wiring
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
Due: none

make docker compose aware of which assessment needs to be seeded
  apps/backend/package.json
  apps/backend/seeds/roar-pa.seed.ts
  apps/backend/seeds/roar-swr.seed.ts
  docker-compose.assessment.yml
  scripts/assessment-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove orphaned files, fix lint warnings and errors
  apps/assessments/roar-swr/.eslintignore
  apps/assessments/roar-swr/.eslintrc.json
  apps/assessments/roar-swr/.gitignore
  apps/assessments/roar-swr/.npmignore
  apps/assessments/roar-swr/.nvmrc
  apps/assessments/roar-swr/.prettierrc
  apps/assessments/roar-swr/cypress/e2e/generateVariantTests.cy.js
  apps/assessments/roar-swr/cypress/support/commands.js
  apps/assessments/roar-swr/cypress/support/constants.js
  apps/assessments/roar-swr/cypress/support/devFirebase.js
  apps/assessments/roar-swr/cypress/support/query.js
  apps/assessments/roar-swr/cypress/support/utils.js
  apps/assessments/roar-swr/eslint.config.mjs
  apps/assessments/roar-swr/postBuildPackage.js
  apps/assessments/roar-swr/rollup.config.js
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/assessments/roar-swr/src/experiment/config/corpus.js
  apps/assessments/roar-swr/src/experiment/config/logger.js
  apps/assessments/roar-swr/src/experiment/experiment.js
  apps/assessments/roar-swr/src/experiment/helperFunctions.js
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/experiment/trials/getUserData.js
  apps/assessments/roar-swr/src/experiment/trials/practiceFeedback.js
  apps/assessments/roar-swr/src/experiment/trials/stimulus.js
  apps/assessments/roar-swr/vitest.config.js
Due: none

re-implement parameter validation
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/src/experiment/config/config.js
  package-lock.json
Due: none

fix lingering lint and format errors
  apps/assessments/roar-swr/README.md
  apps/assessments/roar-swr/cypress/support/commands.js
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/assessments/roar-swr/src/experiment/config/corpus.js
  apps/assessments/roar-swr/src/experiment/config/logger.js
  apps/assessments/roar-swr/src/experiment/experiment.js
  apps/assessments/roar-swr/src/experiment/helperFunctions.js
  apps/assessments/roar-swr/src/experiment/scores.js
  apps/assessments/roar-swr/src/experiment/trials/getUserData.js
  apps/assessments/roar-swr/src/experiment/trials/practiceFeedback.js
  apps/assessments/roar-swr/src/experiment/trials/stimulus.js
  apps/assessments/roar-swr/src/index.js
  apps/assessments/roar-swr/src/tests/scores.integration.test.js
  apps/assessments/roar-swr/vite.config.js
  apps/dashboard/src/pages/PlayApp.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add vitest test harness to roar-pa
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/vitest.config.js
  package-lock.json
Due: none

Add RoarScores scoring and race-condition unit tests
  apps/assessments/roar-pa/src/experiment/irt-hyperparameters.test.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
Due: none

Apply suggestions from code review
  .github/workflows/ci.yml
Due: none

Use PA_SCORING_VERSION constant and tidy roar-pa scoring nits
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/irt-hyperparameters.test.js
Due: none

Roar - PA Foundational Composite [Clean] (#1808)
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/corpus.js
  apps/assessments/roar-pa/src/experiment/config/corpus/en/irt_hyperparameters.csv
  apps/assessments/roar-pa/src/experiment/config/corpus/en/phoneme_foundational_composite.csv
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/i18n.js
  apps/assessments/roar-pa/src/experiment/irt-hyperparameters.test.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-pa/vitest.config.js
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/roar-pa/config.ts
  packages/assessment-schema/src/roar-pa/index.ts
  packages/assessment-schema/src/roar-pa/trial-types.ts
Due: none

updating snapshots
  apps/backend/eslint.config.mjs
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/__snapshots__/ScoreCard.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
  package-lock.json
Due: none

test failure fixes
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-pa/subscores.ts
Due: none

fix: disable vitest/no-conditional-expect in dashboard tests
  apps/dashboard/eslint.config.mjs
Due: none

@ts-expect-error OpenFGA SDK has its own axios dependency that conflicts with the main axios version
  apps/backend/src/clients/fga.client.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Wire GET /me into app init with TOS gating and TanStack Query ownership (#1774)
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/mutations/useRecordUserAgreementMutation.js
  apps/dashboard/src/composables/mutations/useRecordUserAgreementMutation.test.js
  apps/dashboard/src/composables/mutations/useSignOutMutation.js
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.js
  apps/dashboard/src/composables/queries/useAgreementVersionContentQuery.test.js
  apps/dashboard/src/composables/queries/useMeQuery.js
  apps/dashboard/src/composables/queries/useMeQuery.test.js
  apps/dashboard/src/composables/useCurrentUser.js
  apps/dashboard/src/composables/useCurrentUser.test.js
  apps/dashboard/src/constants/globalErrorTypes.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/SignTos/SignTos.vue
  apps/dashboard/src/containers/SignTos/composables/pickVersionForLocale.js
  apps/dashboard/src/containers/SignTos/composables/pickVersionForLocale.test.js
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.js
  apps/dashboard/src/containers/SignTos/composables/useTosSigningFlow.test.js
  apps/dashboard/src/containers/SignTos/isInternalPath.js
  apps/dashboard/src/containers/SignTos/isInternalPath.test.js
  apps/dashboard/src/pages/GenericError.vue
  apps/dashboard/src/pages/SignTos.vue
  apps/dashboard/src/plugins.js
  apps/dashboard/src/queryClient.js
  apps/dashboard/src/queryClient.test.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove the // @ts-expect-error - Express v4/v5
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

readding the ts-expect-error
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add @ts-expect-error for ts-rest middleware type incompatibility
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add @ts-expect-error directives to suppress ts-rest middleware type errors
  apps/backend/src/routes/administrations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add @ts-expect-error to all nested route handlers
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add @ts-expect-error to all 6-space indented middleware
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: remove unused @ts-expect-error directives, keep only in administrations and system
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: add @ts-expect-error to all route handlers for ts-rest middleware type errors
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: clean up and properly add @ts-expect-error directives to all middleware
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove redundant MockRoarScores test
  packages/assessment-schema/src/roar-pa/scores.test.ts
Due: none

Align roar-pa to vitest ^3.2.4
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

Survey Preview tool (#932)
  package-lock.json
  package.json
  src/App.vue
  src/composables/queries/useSurveyListQuery.ts
  src/composables/queries/useSurveyQuery.ts
  src/constants/auth.ts
  src/constants/index.ts
  src/helpers/survey.ts
  src/pages/SurveyManager.vue
  src/pages/tests/SurveyManager.test.js
  src/router/index.ts
Due: none

Restore base dependency resolution; revert incidental lockfile-drift churn
  apps/backend/eslint.config.mjs
  apps/backend/src/clients/fga.client.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
  apps/dashboard/eslint.config.mjs
  package-lock.json
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Emit subtask numAttempted and composite raw counts; fix subtask score domain
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
Due: none

Clarify @ts-expect-error route comments
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Revert orphaned StudentScoreReport snapshots to base PrimeVue markup
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/__snapshots__/ScoreCard.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
Due: none

Fix comment drift from numAttempted/composite-count changes
  apps/assessments/roar-pa/src/experiment/scores.test.js
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-pa/subscores.ts
Due: none

Persist PA computed scores through the new pipeline (#1814)
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-pa/src/sdk/pa-firekit-facade.js
  apps/backend/src/constants/run-scores.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/system.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
  apps/dashboard/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/roar-pa/index.ts
  packages/assessment-schema/src/roar-pa/score-entries.test.ts
  packages/assessment-schema/src/roar-pa/score-entries.ts
  packages/assessment-schema/src/roar-pa/score-names.ts
  packages/assessment-schema/src/roar-pa/subscores.ts
  packages/assessment-schema/tsconfig.json
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/commands/get-variant-id.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/receiver/roar-api.integration.test.ts
  packages/assessment-sdk/src/receiver/roar-api.test.ts
  packages/assessment-sdk/src/types/write-trial.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/config-eslint/index.js
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating sre to 3.1.0 (#1815)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update apps/dashboard package version
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.29.0
  package-lock.json
  package.json
Due: none

add an assessment-env build script for refreshing docker images
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-swr/package.json
  scripts/assessment-env-build.sh
Due: none
