Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update comments
  packages/api-contract/src/v1/common/parse-jsonb.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

lint
  apps/backend/src/services/run/run-events.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

adjust base repository tests to reflect new return types in create()
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update tests for param ordering
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/groups.controller.ts
  apps/backend/src/repositories/invitation-code.repository.integration.test.ts
  apps/backend/src/services/invitation-code/invitation-code.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add get district by id endpoint
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/repositories/access-controls/district.access-controls.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/utils/access-controls.utils.ts
  apps/backend/src/repositories/utils/ltree.utils.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/services/district/district.service.ts
  packages/api-contract/src/v1/districts/contract.ts
  packages/api-contract/src/v1/districts/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix issue with permission structure
  apps/backend/src/repositories/access-controls/district.access-controls.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

restructure permissions, update tests suite
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/repositories/access-controls/district.access-controls.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/district/district.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: wrap getById response in data envelope and resolve routes conflict
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/routes/districts.ts
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

various logical fixes to task domain
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/services/task/task.service.ts
  package-lock.json
  package.json
  packages/api-contract/package.json
  packages/api-contract/src/v1/common/parse-jsonb.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating test
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

solving copilot comments
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(pa): use percentCorrect for PA skills-to-work-on threshold
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove unncessary where clause check
  apps/backend/src/repositories/task-variant.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

bringing back subtable and hidding skills to work on
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

basic test support for task domain
  apps/backend/src/repositories/task-variant-parameter.repository.integration.test.ts
  apps/backend/src/repositories/task-variant.repository.integration.test.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/test-support/factories/task-variant-parameter.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

simple test cases for task service
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Relocate `excludeFromResearch` field to `administrations` table
  apps/backend/migrations/assessment/0012_relocate_exclude_from_research_to_administrations.sql
  apps/backend/migrations/assessment/meta/0012_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0053_relocate_exclude_from_research_to_administrations.sql
  apps/backend/migrations/core/meta/0053_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
  apps/backend/src/db/schema/core/administrations.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename `bestRun` to `useForReporting` in runs table
  apps/backend/migrations/assessment/0013_rename_best_run_to_use_for_reporting.sql
  apps/backend/migrations/assessment/meta/0013_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `isAnonymous` column to runs table
  apps/backend/migrations/assessment/0014_add_support_for_anonymous_runs.sql
  apps/backend/migrations/assessment/meta/0014_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add abort and soft delete support to runs table
  apps/backend/migrations/assessment/0015_add_abort_and_soft_delete_support_runs.sql
  apps/backend/migrations/assessment/meta/0015_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove redundant task IDs from run_scores table
  apps/backend/migrations/assessment/0016_remove_run_scores_task_ids.sql
  apps/backend/migrations/assessment/meta/0016_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/db/schema/assessment/run-scores.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove `requiresMajorityAge` column from agreements table
  apps/backend/migrations/core/0054_remove_agreement_majority_age_flag.sql
  apps/backend/migrations/core/meta/0054_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/agreements.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

bringing back subtable and hide skills to work on (#1574)
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.25.1
  package-lock.json
  package.json
Due: none

fix integration tests for districts
  apps/backend/migrations/assessment/0012_fix_prevent_rostered_entity_delete_type_cast.sql
  apps/backend/migrations/core/0053_fix_prevent_rostered_entity_delete_type_cast.sql
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix issue with orderby parameter missing:
  apps/backend/migrations/assessment/0012_fix_prevent_rostered_entity_delete_type_cast.sql
  apps/backend/migrations/core/0053_fix_prevent_rostered_entity_delete_type_cast.sql
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix TypeScript errors in administration repository
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix build failures after getById revert
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/district/district.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove accidentally tracked root directories
  .gitignore
Due: none

Fix linting errors in invitation code service test
  apps/backend/src/services/invitation-code/invitation-code.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove Cypress example files from root directory
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: none

implement tasks controller and routes
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix invitation code integration tests
  apps/backend/src/repositories/invitation-code.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address code review comments for district repository and service
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create task service before controller definition
  apps/backend/src/controllers/tasks.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use getter functions for core/assessment dbs, use lazy loading for services in controllers
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/db/clients.test.ts
  apps/backend/src/db/clients.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/administration.access-controls.ts
  apps/backend/src/repositories/access-controls/org.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/org.access-controls.ts
  apps/backend/src/repositories/administration-task-variant.repository.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/test-support/db/cleanup.ts
  apps/backend/src/test-support/db/db.integration.test.ts
  apps/backend/src/test-support/db/index.ts
  apps/backend/src/test-support/db/migrate.ts
  apps/backend/src/test-support/factories/administration-class.factory.ts
  apps/backend/src/test-support/factories/administration-group.factory.ts
  apps/backend/src/test-support/factories/administration-org.factory.ts
  apps/backend/src/test-support/factories/administration-task-variant.factory.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  apps/backend/src/test-support/factories/class.factory.ts
  apps/backend/src/test-support/factories/group.factory.ts
  apps/backend/src/test-support/factories/org.factory.ts
  apps/backend/src/test-support/factories/run.factory.ts
  apps/backend/src/test-support/factories/task-variant-parameter.factory.ts
  apps/backend/src/test-support/factories/task-variant.factory.ts
  apps/backend/src/test-support/factories/task.factory.ts
  apps/backend/src/test-support/factories/user-class.factory.ts
  apps/backend/src/test-support/factories/user-group.factory.ts
  apps/backend/src/test-support/factories/user-org.factory.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating run-events service
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating engagement flags enum
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor `excludedFromResearch` to timestamp with audit constraint
  apps/backend/migrations/core/0055_refactor_excluded_from_research_to_timestamp.sql
  apps/backend/migrations/core/meta/0055_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/administrations.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
