Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Update .ai/rules/quality-code-review.md
  .ai/rules/quality-code-review.md
Due: none

Add multi-tag support and metadata-action to build-docker-image
  .github/actions/build-docker-image/action.yml
  .github/workflows/deploy-backend-development.yml
Due: none

Fix empty image-tag by reordering tag rules
  .github/workflows/deploy-backend-development.yml
Due: none

Use dedicated image name instead of Cloud Run service name
  .github/workflows/deploy-backend-development.yml
Due: none

Re-export metadata outputs via shell step
  .github/actions/build-docker-image/action.yml
Due: none

Add route integration tests and clean up redundant service tests (#1588)
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/index.integration.test.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/route-test.helper.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement getUserRolesForClass and test cases
  apps/backend/src/repositories/access-controls/class.access-controls.integration.test.ts
  apps/backend/src/repositories/access-controls/class.access-controls.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

changing runId to id in returns
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Commit progress
  apps/backend/src/constants/permissions.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update naming to getUnrestrictedBybId
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Revert "Add route integration tests and clean up redundant service tests (#1588)"
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/routes/districts.integration.test.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/index.integration.test.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/district/district.service.integration.test.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/route-test.helper.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix empty image-tag in deploy job by adding build to needs
  .github/workflows/deploy-backend-development.yml
Due: none

Remove temporary branch trigger from dev backend deployment workflow
  .github/workflows/deploy-backend-development.yml
Due: none

Add `GET /v1/districts/:districtId` endpoint (#1585)
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/dashboard/cypress/e2e/parent/default-tests/addChild.spec.cy.js
  packages/api-contract/src/v1/districts/contract.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update type for getUserRolesForClass, implement getUsersByClassId in class repo, add relevant tests
  apps/backend/src/repositories/access-controls/class.access-controls.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Create class service file, implement verifyClassAccess, authorizeSubResourceAccess, listUsers
  apps/backend/src/services/class/class.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix key for user search field type,add temporary value for enrollmentStart
  apps/backend/src/repositories/class.repository.ts
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update class repo functions with getAuthorizedById and add relevant tests cases
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

type abort does not write anything so doesnt need to update
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix admin dropdown cypress test by changing search target to label content
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix admin dropdown cypress test by changing search target to label content (#1598)
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add `DELETE /administrations/:id` endpoint (#1571)
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/runs.repository.integration.test.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/runs/index.ts
  apps/backend/src/services/runs/runs.service.ts
  apps/backend/src/test-support/services/index.ts
  apps/backend/src/test-support/services/runs.service.ts
  apps/backend/src/test-support/services/task.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

refactor(run-events): align with contract validation + service error conventions
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove ApiError from runs controller
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

event handler update in runs.ts route and test fixes
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/routes/runs.ts
  apps/backend/src/services/run/run-events.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

using UserRoleType, keep 422 instead of 404 for adminstration not found, and remove double-wrapping the 422 for try/catch in run.service
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating descriptions and comments in runs contract
  packages/api-contract/src/v1/runs/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update naming convention for enums in api-contract, add sync test for backedn enums and updating comments in runs schema
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/enums/run.enum.test.ts
  apps/backend/src/enums/run.enum.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

deleting changes in package-lock
  package-lock.json
Due: none

Fix admin dropdown cypress test by changing search target to label content (#1599)
  apps/dashboard/cypress/e2e/participant/default-tests/auth.cy.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add Cloud Run deployment pipeline for backend application (#1589)
  .dockerignore
  .github/actions/build-docker-image/action.yml
  .github/actions/deploy-cloud-run/action.yml
  .github/actions/migrate-database/action.yml
  .github/workflows/deploy-backend-development.yml
  .github/workflows/migrate-development.yml
  apps/backend/Dockerfile
  apps/backend/rollup.config.mjs
  apps/backend/src/app.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration test helper
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update route test helper JSDoc with lazy initialization pattern
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove body: z.undefined() from DELETE administrations contract
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add route integration tests for all administrations endpoints
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for districts endpoint
  apps/backend/src/routes/districts.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for me endpoint
  apps/backend/src/routes/me.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for groups endpoint
  apps/backend/src/routes/groups.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add route integration tests for tasks endpoint
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
