Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

claude feedback
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  apps/backend/seeds/roar-levante-tasks.seed.ts
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement versioning and deploying
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .release-please-manifest.json
  .release-please.json
Due: none

add assessments to publishable packages
  .github/workflows/release.yml
Due: none

implement assessment-schema and scoring details for trog and inference
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-levante-tasks/src/sdk/levante-firekit-facade.js
  apps/backend/src/services/scoring/configs/roar-inference.ts
  apps/backend/src/services/scoring/configs/trog.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  package-lock.json
  packages/assessment-schema/package.json
  packages/assessment-schema/src/roar-levante-tasks/config.ts
  packages/assessment-schema/src/roar-levante-tasks/domains.ts
  packages/assessment-schema/src/roar-levante-tasks/index.ts
  packages/assessment-schema/src/roar-levante-tasks/score-entries.test.ts
  packages/assessment-schema/src/roar-levante-tasks/score-entries.ts
  packages/assessment-schema/src/roar-levante-tasks/score-names.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix typo in roar-swr package.json
  apps/assessments/roar-swr/package.json
  package-lock.json
Due: none

Replace direct Cloud Run deploy with IaC repository dispatch
  .github/actions/build-docker-image/action.yml
  .github/actions/deploy-cloud-run/action.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Replace direct Cloud Run deploy with IaC repository dispatch (#1947)
  .github/actions/build-docker-image/action.yml
  .github/actions/deploy-cloud-run/action.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

fixing lint and tests
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/services/foundational-composite/foundational-composite.norming.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

change Column to AnyColumn for sort columns union for lint issue
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update seed script
  apps/backend/seeds/roar-levante-tasks.seed.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update roar-levante-tasks to 1.0.6
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roar-levante-tasks/package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

solving lint and tests issues
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

report raw scores for normed assessments, resolve scoring issue
  apps/assessments/roar-levante-tasks/src/sdk/levante-firekit-facade.js
  apps/assessments/roar-levante-tasks/src/tasks/roar-inference/timeline.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  packages/assessment-schema/src/roar-levante-tasks/score-entries.ts
  packages/assessment-schema/src/roar-levante-tasks/score-names.ts
Due: none

add updateUser passthrough
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
Due: none

adding run factory to foundational tests
  apps/backend/src/services/foundational-composite/foundational-composite.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement claude feedback
  apps/assessments/roar-levante-tasks/src/sdk/levante-firekit-facade.js
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.ts
  apps/assessments/roar-levante-tasks/src/tests/__fixtures__/inference_lookup_v1.csv
  apps/assessments/roar-levante-tasks/src/tests/__fixtures__/trog_lookup_v1.csv
  apps/assessments/roar-levante-tasks/src/tests/scoring.integration.test.js
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-levante-tasks/config.ts
  packages/assessment-schema/src/roar-levante-tasks/domains.ts
  packages/assessment-schema/src/roar-levante-tasks/score-entries.test.ts
  packages/assessment-schema/src/roar-levante-tasks/score-entries.ts
  packages/assessment-schema/src/roar-levante-tasks/score-names.ts
Due: none

deduplicate test suite
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.integration.test.ts
  apps/assessments/roar-levante-tasks/src/tests/__fixtures__/inference_lookup_v1.csv
  apps/assessments/roar-levante-tasks/src/tests/__fixtures__/trog_lookup_v1.csv
  apps/assessments/roar-levante-tasks/src/tests/scoring.integration.test.js
Due: none

adding constants
  apps/backend/src/services/foundational-composite/foundational-composite.service.test.ts
  apps/backend/src/services/foundational-composite/foundational-composite.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Copy of: Drop the firekit isEmailAvailable precheck from RegisterParent (#1944)
  apps/backend/src/repositories/task.repository.ts
  apps/dashboard/src/components/auth/RegisterParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix integration test
  apps/backend/src/services/foundational-composite/foundational-composite.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update e2e tests
  apps/assessments/roar-levante-tasks/cypress/e2e/helpers.js
  apps/assessments/roar-levante-tasks/cypress/e2e/hostile_attribution.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/intro.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/math.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/matrix_reasoning.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/mental_rotation_test.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/survey.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/task_locales.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/theory_of_mind.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/trog_test.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/vocab_test.cy.js
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/getMediaAssets.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
Due: none

add comments to skipped test specs
  apps/assessments/roar-levante-tasks/cypress/e2e/hostile_attribution.cy.js
  apps/assessments/roar-levante-tasks/cypress/e2e/survey.cy.js
Due: none

refresh package-lock.json
  package-lock.json
Due: none

solving tests issues
  apps/backend/src/repositories/run.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

provisional scoring config
  apps/backend/src/services/scoring/configs/levante-provisional.ts
  apps/backend/src/services/scoring/scoring.config-registry.ts
  apps/backend/src/services/scoring/scoring.config.test.ts
  packages/assessment-schema/src/roar-levante-tasks/config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add UploadFile command types
  packages/assessment-sdk/src/types/upload-file.ts
Due: none

Implement skeleton of upload-file
  packages/assessment-sdk/src/commands/upload-file.ts
Due: none

Use GenerateFilePathInput type
  packages/assessment-sdk/src/commands/upload-file.ts
Due: none

Formatting
  package-lock.json
  packages/assessment-schema/src/roar-levante-tasks/config.ts
Due: none

add version ovveride to hearts and flowers
  apps/assessments/roar-levante-tasks/cypress/e2e/hearts_and_flowers.cy.js
  apps/assessments/roar-levante-tasks/serve/serve.js
Due: none

`ref` Implement `assessment-sdk` Methods for `roar-levante-tasks` in Monorepo (#1945)
  apps/assessments/roar-levante-tasks/eslint.config.mjs
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/isRoarApp.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/taskVariantParameters.example.json
  apps/assessments/roar-levante-tasks/webpack.config.cjs
  apps/backend/package.json
  apps/backend/seeds/roar-levante-tasks.seed.ts
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Support Categories Aggregation Service
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/aggregation/index.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
  apps/dashboard/src/composables/queries/useAdministrationSupportCategoriesQuery.js
  apps/dashboard/src/composables/queries/useAdministrationSupportCategoriesQuery.test.js
  apps/dashboard/src/composables/queries/useDistrictSupportCategoriesQuery.test.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/helpers/query/scores.js
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Added aggregateSupportCategories handler to administrations.ts routes, Replaced the incomplete aggregation service with a minimal stub
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/aggregation/support-categories.service.integration.test.ts
  apps/backend/src/services/aggregation/support-categories.service.test.ts
  apps/backend/src/services/aggregation/support-categories.service.ts
  apps/dashboard/src/composables/queries/useDistrictSupportCategoriesQuery.test.js
  apps/dashboard/src/helpers/query/scores.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
