Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

package-lock
  package-lock.json
Due: none

Update Spanish translations
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore: restore backend-refactor package lock
  package-lock.json
Due: none

Delete unused subskill percent correct logic
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Adding pt translations: loading and other technical instructions
  apps/assessments/roav-apps/src/i18n/locales/pt/translation.json
Due: none

normalize seeded task variant fixtures (#2161)
  apps/backend/seeds/fixture.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix-freeze-audio.0
  apps/assessments/roav-apps/src/i18n/locales/en/translation.json
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-apps/src/styles/_cards.scss
  apps/assessments/roav-apps/src/tasks/roav-mp/mp_assets.json
  apps/assessments/roav-apps/src/tasks/roav-mp/trials/mp_timelineDef.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/rvp_assets.json
  apps/assessments/roav-apps/src/tasks/roav-rvp/trials/rvp_rvpTrial.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/trials/rvp_timelineDef.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/audioHelpers.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/constants.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/taskSetup.js
  apps/assessments/roav-apps/src/tasks/shared/trials/feedbackAudioVisual.js
  apps/assessments/roav-apps/src/tasks/shared/trials/instructionGeneral.js
  apps/assessments/roav-apps/src/tasks/shared/trials/instructionInputLR.js
  apps/assessments/roav-apps/src/tasks/shared/trials/mapTrials.js
  apps/assessments/roav-apps/src/tasks/shared/trials/screenHelpers.js
Due: none

updating roav-apps version
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roav-apps/package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

running format
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-apps/src/tasks/roav-mp/trials/mp_timelineDef.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/trials/rvp_rvpTrial.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/trials/rvp_timelineDef.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/audioHelpers.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/taskSetup.js
  apps/assessments/roav-apps/src/tasks/shared/trials/mapTrials.js
  apps/assessments/roav-apps/src/tasks/shared/trials/screenHelpers.js
Due: none

feat(dashboard): Accept JSON variant definitions in the create-variant form (#2160)
  apps/dashboard/src/components/tasks/components/CreateVariantForm.test.js
  apps/dashboard/src/components/tasks/components/CreateVariantForm.vue
  apps/dashboard/src/constants/tasks.js
  apps/dashboard/src/constants/toasts.js
  apps/dashboard/src/helpers/parseVariantDefinitions.js
  apps/dashboard/src/helpers/parseVariantDefinitions.test.js
  apps/dashboard/src/helpers/parseVariantParametersFile.js
  apps/dashboard/src/helpers/parseVariantParametersFile.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update target of Report an Issue button (#2166)
  apps/dashboard/src/constants/externalLinks.js
  apps/dashboard/src/sentry.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

feat(assessments): resolve the standalone default variant by name, per task (#2159)
  .github/CONTRIBUTING.md
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/roam-apps/taskVariantParameters.example.json
  apps/assessments/roar-letter/serve/serve.js
  apps/assessments/roar-levante-tasks/serve/serve.js
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/taskVariantParameters.example.json
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/taskVariantParameters.example.json
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-sre/serve/serve.js
  apps/assessments/roar-sre/taskVariantParameters.example.json
  apps/assessments/roar-survey/taskVariantParameters.example.json
  apps/assessments/roar-swr/serve/serve.js
  apps/assessments/roar-swr/taskVariantParameters.example.json
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/shared/roarDbMode.js
  apps/assessments/shared/roarDbMode.test.js
  apps/backend/seeds/assign-variant.ts
  apps/backend/seeds/configs/roar-pa.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  packages/assessment-sdk/src/bootstrap.test.ts
  packages/assessment-sdk/src/bootstrap.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update roam-apps (#2153)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update target of Report an Issue button
  apps/dashboard/src/constants/externalLinks.js
  apps/dashboard/src/sentry.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update PT lang files
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore(assessments): Sync roam-apps with PR #150 (#2139)
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/src/styles/game.scss
  apps/assessments/roam-apps/src/tasks/core-math/assets.json
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNClick.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNDrag.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoice.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoiceImage.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/numberLine.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/preGameInstructions.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/selectDuck.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/textboxResponse.js
  apps/assessments/roam-apps/src/tasks/fluency/assets.json
  apps/assessments/roam-apps/src/tasks/fluency/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/afcInstructions.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialAFC.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionMobile.js
  apps/assessments/roam-apps/src/tasks/magpi/assets.json
  apps/assessments/roam-apps/src/tasks/magpi/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineInstruction.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineSlider.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/symComp.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/symCompInstructions.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/clickSource.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/index.js
  apps/assessments/roam-apps/src/tasks/shared/trials/navigation.js
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bulk user import/update endpoint: POST /v1/users/import (#2125)
  .github/workflows/ci.yml
  apps/backend/.env.example
  apps/backend/.env.test.example
  apps/backend/seeds/fixture.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/user/index.ts
  apps/backend/src/services/user/user-import.service.test.ts
  apps/backend/src/services/user/user-import.service.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/services/user/utils/firebase-password-hash.test.ts
  apps/backend/src/services/user/utils/firebase-password-hash.ts
  apps/backend/src/test-support/factories/user-family.factory.ts
  apps/backend/src/test-support/mocks/firebase-admin.mock.ts
  apps/backend/src/test-support/repositories/user.repository.ts
  apps/backend/src/test-support/services/authorization.service.ts
  apps/backend/src/test-support/services/index.ts
  apps/backend/src/test-support/services/user-import.service.ts
  apps/backend/src/test-support/services/user.service.ts
  apps/backend/src/types/entity-type.ts
  apps/dashboard/cypress/e2e/smoke/users-import.cy.js
  apps/dashboard/src/composables/mutations/useBulkImportUsersMutation.js
  apps/dashboard/src/composables/mutations/useBulkImportUsersMutation.test.js
  apps/dashboard/src/constants/mutationKeys.js
  apps/dashboard/src/helpers/csvRowToImportRow.js
  apps/dashboard/src/helpers/csvRowToImportRow.test.js
  apps/dashboard/src/pages/RegisterStudents.vue
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.test.ts
  packages/api-contract/src/v1/users/schema.ts
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Bump roav-ran to 2.1.7 (#2157)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update package lock
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.30.1
  package-lock.json
  package.json
Due: none

Refactor validation functions, extracting them to helper files and adding tests
  apps/dashboard/src/components/SubmitTable.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
  apps/dashboard/src/helpers/userFieldValidators.js
  apps/dashboard/src/helpers/userFieldValidators.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update memory game cypress test - buttons are not enabled until audio is finished
  apps/assessments/roar-levante-tasks/cypress/e2e/memory.cy.js
Due: none

Run npm run lint and format
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/staggerButtons.ts
Due: none

Attempt 2 to fix broken memory game test
  apps/assessments/roar-levante-tasks/cypress/e2e/memory.cy.js
Due: none

Chore(assessments roav-apps): sync roav-apps with legacy for fixing ipad safari freezing bug (#2169)
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/src/i18n/locales/en/translation.json
  apps/assessments/roav-apps/src/i18n/locales/pt/translation.json
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-apps/src/styles/_cards.scss
  apps/assessments/roav-apps/src/tasks/roav-mp/mp_assets.json
  apps/assessments/roav-apps/src/tasks/roav-mp/trials/mp_timelineDef.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/rvp_assets.json
  apps/assessments/roav-apps/src/tasks/roav-rvp/trials/rvp_rvpTrial.js
  apps/assessments/roav-apps/src/tasks/roav-rvp/trials/rvp_timelineDef.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/audioHelpers.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/constants.js
  apps/assessments/roav-apps/src/tasks/shared/helpers/taskSetup.js
  apps/assessments/roav-apps/src/tasks/shared/trials/feedbackAudioVisual.js
  apps/assessments/roav-apps/src/tasks/shared/trials/instructionGeneral.js
  apps/assessments/roav-apps/src/tasks/shared/trials/instructionInputLR.js
  apps/assessments/roav-apps/src/tasks/shared/trials/mapTrials.js
  apps/assessments/roav-apps/src/tasks/shared/trials/screenHelpers.js
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update assessment env docs
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
Due: none

add 9099 troubleshooting
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
Due: none

change reference examples from roar-pa to roar-swr
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
Due: none

change from double quotes to single quotes in one isntance
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
Due: none

maint(assessments): Update assessment env docs to reflect default standalone variant selection (#2171)
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
Due: none

Enhance CSV Uploader validations (#2123)
  apps/dashboard/src/components/SubmitTable.vue
  apps/dashboard/src/components/auth/RegisterChildren.vue
  apps/dashboard/src/helpers/userFieldValidators.js
  apps/dashboard/src/helpers/userFieldValidators.test.js
  apps/dashboard/src/pages/RegisterStudents.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

create parity test for assessment-schema
  packages/assessment-schema/src/version-parity.test.ts
Due: none

fix(backend): sort tasks case-insensitively
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): sort tasks case-insensitively (#2178)
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating phoneme to delete assets folder
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactors to assessment-schema to better clarify its purpose
  .ai/rules/assessment-integration-pattern.md
  packages/assessment-schema/README.md
  packages/assessment-schema/src/constants/asset-origins.test.ts
  packages/assessment-schema/src/constants/asset-origins.ts
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-schema/src/foundational-composite/config.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/roar-letter/config.ts
  packages/assessment-schema/src/roar-levante-tasks/config.ts
  packages/assessment-schema/src/roar-multichoice/config.ts
  packages/assessment-schema/src/roar-pa/config.ts
  packages/assessment-schema/src/roar-readaloud/config.ts
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roar-swr/config.ts
  packages/assessment-schema/src/roav-apps/config.ts
Due: none

docs(assessment-schema): clarify that origin overrides are build-time only
  packages/assessment-schema/README.md
Due: none

set assessment-schema and assessment-sdk to 1.0.0 across manifests, bundle assessment-schema in each assessment
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/rollup.lib.config.mjs
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-letter/rollup.lib.config.mjs
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/rollup.lib.config.mjs
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/rollup.lib.config.mjs
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/rollup.lib.config.mjs
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-readaloud/rollup.lib.config.mjs
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/rollup.lib.config.mjs
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/rollup.lib.config.mjs
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-apps/rollup.lib.config.mjs
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/rollup.lib.config.mjs
  apps/assessments/shared/package.json
  apps/backend/package.json
  apps/dashboard/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/package.json
  packages/assessment-sdk/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

chore(assessment-schema): normalize import block spacing in task configs
  packages/assessment-schema/src/foundational-composite/config.ts
  packages/assessment-schema/src/roar-readaloud/config.ts
  packages/assessment-schema/src/roar-sre/config.ts
  packages/assessment-schema/src/roav-apps/config.ts
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
