Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Update apps/dashboard version in preparation for npm version patch
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.13.1
  package-lock.json
  package.json
Due: none

Implement backwards-compatible score field access
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/helpers/SCORE_FIELD_MIGRATION_GUIDE.md
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add jsdoc comments to see the migration guide. Also change order of input validation.
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Replace rimraf due to dep incompatibility
  apps/backend/package.json
  package-lock.json
  packages/api-contract/package.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add phonics subscores
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove unnecessary pa field and pass scores into computeTaskData
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

WIP: Add NYCPS SSO provider route and methods
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/router/index.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add the AuthNycps.vue component
  apps/dashboard/src/components/auth/AuthNycps.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove redundant fieldType check from getScoreValue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Temporarily restrict build to frontend app
  .github/actions/build/action.yml
Due: none

Add vitest
  apps/backend/package.json
  apps/backend/vitest.config.js
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Bug #503 Router keeps redirecting to home page (#511)
  src/constants/roles.ts
  src/router/index.ts
  src/types/index.ts
Due: none

Feat #537 Make all assignment cards clickable (#540)
  src/components/SideBar.vue
  src/components/assignments/AssignmentCard.vue
  src/components/tests/AssignmentCard.test.js
  src/pages/HomeParticipant.vue
Due: none

Add client tests
  apps/backend/package.json
  apps/backend/src/clients/firebase-auth.clients.test.ts
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/vitest.config.ts
  apps/backend/vitest.setup.ts
  packages/config-typescript/backend.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update scorereport service w phonics logic
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove unnecessary table row from pa
  apps/dashboard/src/components/reports/SubscoreTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add category names for phonics, update score report component
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/translations/en/en-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add phonics score table display subscore categories
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix subscore cateogires in individual score report
  apps/dashboard/src/components/reports/IndividualScoreReportTask.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

introducing educator type and checking roles instead of min orgs
  apps/dashboard/src/composables/useUserType.js
  apps/dashboard/src/constants/auth.js
  package-lock.json
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding test
  apps/dashboard/src/composables/useUserType.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove .prettierignore
  .prettierignore
Due: none

Remove firebase-target input in CI
  .github/actions/deploy/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

Use relative path for git submodules
  .gitmodules
Due: none

Add auth-guard middleware tests
  apps/backend/package.json
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/jwt-extractor.test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

need to add educator type
  apps/dashboard/src/composables/useUserType.js
  apps/dashboard/src/composables/useUserType.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Route to sign in whether we have a code or not
  apps/dashboard/src/components/auth/AuthClever.vue
  apps/dashboard/src/components/auth/AuthNycps.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add auth tests and replace manual mocks with factories
  apps/backend/package.json
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/test-support/factories/auth.factory.ts
  apps/backend/src/utils/get-firebase-error-code.util.test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use relative path for git submodules (#1322)
  .gitmodules
Due: none

Fix setup-certs cmd path
  package.json
Due: none

Automate CSP injection (#1320)
  .github/actions/deploy/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  apps/dashboard/.gitignore
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/firebase/admin/firebase.dev.json
  apps/dashboard/firebase/admin/firebase.json
  apps/dashboard/firebase/admin/firebase.production.json
  apps/dashboard/firebase/admin/firebase.staging-legacy.json
  apps/dashboard/firebase/admin/firebase.staging.json
  apps/dashboard/firebase/admin/firebase.template.json
  apps/dashboard/vite.config.js
  packages/config-eslint/vue.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav-mep
  package-lock.json
  package.json
Due: none

Remove auth-nycps button on sign in page
  apps/dashboard/src/components/auth/AuthClassLink.vue
  apps/dashboard/src/pages/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove code prop entirely
  apps/dashboard/src/components/auth/AuthClassLink.vue
  apps/dashboard/src/components/auth/AuthClever.vue
  apps/dashboard/src/components/auth/AuthNycps.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove if clause because both actions are the same
  apps/dashboard/src/pages/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update firekit
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav
  package-lock.json
  package.json
Due: none

updating notes and checking roles
  apps/dashboard/src/composables/useUserType.js
  apps/dashboard/src/constants/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update apps/dashboard/src/composables/useUserType.js
  apps/dashboard/src/composables/useUserType.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
