Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

test plan
  .github/RELEASE_PLEASE_TEST.md
  .github/workflows/release.yml
Due: none

update sha
  .release-please.json
Due: none

chore: remove stale manifest to allow release-please to regenerate
  .release-please-manifest.json
Due: none

chore: recreate manifest with correct initial versions
  .release-please-manifest.json
Due: none

chore: clear manifest to bootstrap from release-as
  .release-please-manifest.json
Due: none

use release-as in the component
  .release-please.json
Due: none

fix: remove node-workspace plugin causing incorrect version bumps
  .release-please.json
Due: none

setting manifest
  .release-please-manifest.json
Due: none

update Documentation
  .github/RELEASING.md
Due: none

Harden admin-aware enrollment overlap
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  packages/api-contract/src/v1/administrations/reports/common.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Extract toReportAdminWindow helper and pin pagination × toggle
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address automated review
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Make admin parameter required in buildStudentInScopeQuery
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address re-review
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use `streamedListObjects` in `AuthorizationService.listAccessibleObjects` (#1772)
  apps/backend/src/repositories/utils/fga-filter-ids.utils.integration.test.ts
  apps/backend/src/repositories/utils/fga-filter-ids.utils.test.ts
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/authorization/helpers/collect-streamed-fga-objects.helper.test.ts
  apps/backend/src/services/authorization/helpers/collect-streamed-fga-objects.helper.ts
  apps/backend/src/test-support/clients/fga.client.ts
  apps/backend/src/test-support/services/authorization.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Migrate class-domain FGA listing to streamedListObjects + temp-table (#1773)
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/fga/fga-test-tuples.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`SDK` Changelog Strategy (#1734)
  .github/RELEASING.md
  .github/workflows/deploy-platform-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
Due: none

Add POST /v1/families endpoint (ROAR@Home caretaker registration)
  apps/backend/migrations/core/0063_add_families_created_by.sql
  apps/backend/migrations/core/meta/0063_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/controllers/families.controller.ts
  apps/backend/src/db/schema/core/families.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/errors/postgres-error.ts
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/family/family.service.ts
  apps/backend/src/test-support/factories/family.factory.ts
  apps/backend/src/test-support/repositories/family.repository.ts
  packages/api-contract/src/v1/families/contract.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Address review feedback on POST /v1/families
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/services/family/family.service.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Tighten FGA-compensation unit test coverage
  apps/backend/src/services/family/family.service.create.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use EXTERNAL_SERVICE_FAILED for Firebase / FGA error paths
  apps/backend/src/services/family/family.service.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Lock the EXTERNAL_SERVICE_FAILED code on the FGA-failure unit tests
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/user/user.service.create.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add POST /v1/families/:familyId/users endpoint (add children to family)
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/controllers/families.controller.ts
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/repositories/invitation-code.repository.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/services/family/family.service.add-children.test.ts
  apps/backend/src/services/family/family.service.ts
  apps/backend/src/test-support/repositories/family.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/invitation-code.repository.ts
  packages/api-contract/src/v1/families/contract.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add logger assertion for cumulative Firebase rollback compensation failure
  apps/backend/src/services/family/family.service.add-children.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Switch addChildren authorization from SQL to FGA
  apps/backend/src/repositories/family.repository.ts
  apps/backend/src/services/authorization/fga-constants.ts
  apps/backend/src/services/family/family.service.add-children.test.ts
  apps/backend/src/services/family/family.service.ts
  apps/backend/src/test-support/repositories/family.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rewrite backend-authorization-pattern rule for the FGA-first reality
  .ai/rules/backend-authorization-pattern.md
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address re-review of POST /v1/families/:familyId/users
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/services/family/family.service.add-children.test.ts
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Make addChildren rosteringEnded checks temporal (matches class/school)
  apps/backend/src/services/family/family.service.add-children.test.ts
  apps/backend/src/services/family/family.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Lock EXTERNAL_SERVICE_FAILED on the two remaining Firebase fall-through paths
  apps/backend/src/services/family/family.service.add-children.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Enforce rosteringEnded hard boundary (#1781)
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/family.repository.integration.test.ts
  apps/backend/src/repositories/group.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.test.ts
  apps/backend/src/repositories/utils/enrolled-users-query.utils.ts
  apps/backend/src/repositories/utils/enrollment.utils.test.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/services/utils/validations.utils.ts
  apps/backend/src/test-support/factories/user.factory.ts
  apps/backend/src/test-support/repositories/report.repository.ts
  packages/api-contract/src/v1/administrations/reports/progress/schema.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
  packages/api-contract/src/v1/common/exclusions.ts
  packages/api-contract/src/v1/common/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add score distribution facets contract and schema
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Change getScoreDistributions success response to new schema
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rename ScoreDistribution to ScoreFacet, add details to getScoreFacets description
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update schema and types: schoolName is mandatory and school-level fields are nullable for getScoreFacet
  apps/backend/src/services/report/report.types.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Change supportLevelByGrade and supportLevelBySchool fields to type array
  apps/backend/src/services/report/report.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement getScoreFacets service, repository, route, and tests
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/test-support/repositories/report.repository.ts
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Address review findings and hoist score field constants
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address automated review
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.ts
  apps/backend/src/services/report/report.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Apply additional in-PR review fixes
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/services/report/report.service.test.ts
  apps/backend/src/services/report/report.service.ts
  packages/api-contract/src/v1/administrations/reports/scores/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn
