Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

feat(write-trial): buffer firekit interactions and flush on writeTrial
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
Due: none

- More accurate error message for uninitialized - Buffer clearing verification in tests
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

add a clarifying comment to explain why trial: 1 is hardcoded
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

- Empty buffer issue fixed - Weak test assertion fixed
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Implement controller tests
  apps/backend/src/controllers/tasks.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Copilot comments
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/routes/task.integration.test.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Properly detect when initFirekitCompat() hasn't been called, giving users the correct error message instead of the misleading "requires an active run" message.
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Added test for addInteraction called before startRun
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

update for code review: remove 403 for list all, add types, update query parameters
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/routes/schools.integration.test.ts
  apps/backend/src/services/school/school.service.ts
  packages/api-contract/src/v1/schools/contract.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Optimize fetching parameters for variants
  apps/backend/src/repositories/task-variant-parameter.repository.integration.test.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement service tests
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix tests/lint
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/services/school/school.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix unintentional scoping in integration tests
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

feat(assessment-sdk): add engagement flags command with full test coverage
  apps/backend/src/services/run-event/run-event.service.test.ts
  packages/api-contract/src/v1/runs/schema.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix(assessment-sdk): implement engagement flags with proper type mapping and test coverage
  apps/backend/src/services/run-event/run-event.service.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement listUser controller method for groups
  apps/backend/src/controllers/groups.controller.test.ts
  apps/backend/src/controllers/groups.controller.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Boolean values: Engagement flags correctly map to true instead of string names - Key name mapping - Backend test data - Type alignment
  apps/backend/src/controllers/runs.controller.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- Constant extracted with JSDoc - Type definitions updated - Command implementation improved - Stale runId issue fixed in firekit.ts - Exports added to types index
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/abort-run.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/run-event-status.ts
Due: none

- Type cast removed by narrowing status codes
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

No type cast - using TypeScript's automatic narrowing instead
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
Due: none

remove 403 test
  apps/backend/src/controllers/schools.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`SDK` AbortRun command (#1606)
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/abort-run.command.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/test-support/roar-api.ts
  packages/assessment-sdk/src/types/abort-run.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/src/types/run-event-status.ts
Due: none

clarify which status code for test
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
Due: none

reoving duplicated import
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

clarify parsed json values in task schema, handle ambiguous types in task variant parameters, allow name and description to be null when updating task-variants
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/common/parse-jsonb.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove misleading comment
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update comment
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Suggestions for `enh/1530/get-tasks-variants` (#1631)
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/common/parse-jsonb.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

changing ok to RUN_EVENT_STATUS_OK
  packages/assessment-sdk/src/commands/finish-run.command.ts
Due: none

changing ok to RUN_EVENT_STATUS_OK
  packages/assessment-sdk/src/types/finish-run.ts
Due: none

Add `GET /tasks/{taskId}/variants` endpoint (#1627)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task-variant-parameter.repository.integration.test.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
  packages/api-contract/src/v1/common/parse-jsonb.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- Fixed error handling in finish-run.command.ts - Added runId cleanup after finishRun - Refactored firekit test to reduce duplication
  packages/assessment-sdk/src/commands/finish-run.command.test.ts
  packages/assessment-sdk/src/commands/finish-run.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/abort-run.ts
  packages/assessment-sdk/src/types/finish-run.ts
  packages/assessment-sdk/src/types/run-event-status.ts
Due: none

Initial Implementation
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

- Test Refactoring - Error Code Verification - RunId Cleanup Test - StatusCodes Constants
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

- Error Handling Pattern - Comprehensive Tests - Firekit Integration
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/run-event-status.ts
  packages/assessment-sdk/src/types/write-trial.ts
Due: none

- Replaced double command.execute(input) calls with single invocation using .catch()
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/finish-run.command.test.ts
Due: none

- use the dedicated if clause pattern for StatusCodes.BAD_REQUEST, matching the pattern that was applied to finish-run command - update to add facade
  packages/assessment-sdk/src/commands/write-trial.command.test.ts
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

- Transform engagement flags correctly -Verify SDKError is thrown with correct code - Modified error handling
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/run-event-status.ts
  packages/assessment-sdk/src/types/update-engagement-flags.ts
Due: none

changing harcoded status codes
  packages/assessment-sdk/src/compat/firekit.test.ts
Due: none

- Deleted the problematic line that cleared the runId - Added a regression test 'allows multiple trials to be written in sequence without clearing runId' to prevent this bug from reoccurring
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none
