Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

put percentCorrect to cva and morph instead of rawOnly
  apps/backend/src/services/scoring/configs/cva.ts
  apps/backend/src/services/scoring/configs/morphology.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add support for the correctIncorrectDifference display type tp the schema validation
  apps/backend/src/services/scoring/scoring.config-schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Updated the test expectation to match the actual config behavior. The swr-es v0 config uses percentCorrect
  apps/backend/src/services/scoring/scoring.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Added 'correctIncorrectDifference' to the union type of display score types and also to the case handler
  apps/backend/src/services/scoring/scoring.service.ts
  apps/backend/src/services/scoring/scoring.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix: mismatch was that DisplayScoreType in scoring.types.ts already included 'correctIncorrectDifference
  apps/backend/src/services/report/report.types.ts
  apps/backend/src/services/scoring/scoring.config-schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add correcIncorrectDifference to schema
  packages/api-contract/src/v1/administrations/reports/scores/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove administration matching in task components
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

standardize launchId in task components
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement useMeQuery in task component logixc
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

clarifying comments surrounding task slug resolution in task components and participantGames helper
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/helpers/participantGames.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Gate TaskPA on isAuthReady instead of legacy isFirekitInit
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Extract participant identity resolution into useParticipantId
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskLevante.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  apps/dashboard/src/components/tasks/TaskRoam.vue
  apps/dashboard/src/components/tasks/TaskRoav.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/components/tasks/TaskSurvey.vue
  apps/dashboard/src/composables/useParticipantId.js
  apps/dashboard/src/composables/useParticipantId.test.js
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore: resolve conflicts between main and project/backend-refactor (#2121)
  apps/dashboard/cypress.config.cjs
  apps/dashboard/cypress/fixtures/component/roar-data-table/props/columns.js
  apps/dashboard/cypress/support/helper-functions/roar-syntax/languageOptions.js
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/package.json
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.cy.js
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/AtAGlanceCharts.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/components/reports/SubscoreTable.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/constants/levanteTasks.js
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/PlayApp.vue
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/exports.js
  apps/dashboard/src/translations/i18n.js
  apps/dashboard/src/translations/pt/br/pageTitles.json
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
  apps/dashboard/src/translations/pt/pageTitles.json
  apps/dashboard/src/translations/pt/pt-componentTranslations.json
  package-lock.json
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding tests
  apps/dashboard/src/components/tasks/TaskSRE.test.js
  apps/dashboard/src/router/index.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Restored TaskSRE.vue back to the base-branch behavior in favor of 2133.
  apps/dashboard/src/components/tasks/TaskSRE.test.js
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

test coverage for roam, sre, survey
  apps/dashboard/src/components/tasks/TaskRoam.test.js
  apps/dashboard/src/components/tasks/TaskSRE.test.js
  apps/dashboard/src/components/tasks/TaskSurvey.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update test coverage for roam, sre, survey
  apps/dashboard/src/components/tasks/TaskRoam.test.js
  apps/dashboard/src/components/tasks/TaskSRE.test.js
  apps/dashboard/src/components/tasks/TaskSurvey.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

feat(dashboard): enable child proxy-launch task runs (#2135)
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/router/index.js
  apps/dashboard/src/router/index.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

I deleted TaskMEP.vue and TaskCrowding.vue, then removed their launcher wiring
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskCrowding.vue
  apps/dashboard/src/components/tasks/TaskMEP.vue
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/router/index.js
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

synced with roam-apps PR #150; added back SimpleKeyboard
  apps/assessments/roam-apps/src/styles/game.scss
  apps/assessments/roam-apps/src/tasks/core-math/assets.json
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNClick.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNDrag.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoice.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoiceImage.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/numberLine.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/preGameInstructions.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/selectDuck.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/textboxResponse.js
  apps/assessments/roam-apps/src/tasks/fluency/assets.json
  apps/assessments/roam-apps/src/tasks/fluency/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/afcInstructions.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialAFC.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionMobile.js
  apps/assessments/roam-apps/src/tasks/magpi/assets.json
  apps/assessments/roam-apps/src/tasks/magpi/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineInstruction.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineSlider.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/symComp.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/symCompInstructions.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/clickSource.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/index.js
  apps/assessments/roam-apps/src/tasks/shared/trials/navigation.js
Due: none

updated roam version in all jsons
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roam-apps/package.json
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionMobile.js
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update test coverage for all task components
  apps/dashboard/src/components/tasks/TaskLetter.test.js
  apps/dashboard/src/components/tasks/TaskLevante.test.js
  apps/dashboard/src/components/tasks/TaskMultichoice.test.js
  apps/dashboard/src/components/tasks/TaskPA.test.js
  apps/dashboard/src/components/tasks/TaskRan.test.js
  apps/dashboard/src/components/tasks/TaskReadAloud.test.js
  apps/dashboard/src/components/tasks/TaskRoav.test.js
  apps/dashboard/src/components/tasks/TaskSRE.test.js
  apps/dashboard/src/components/tasks/TaskSWR.test.js
  apps/dashboard/src/components/tasks/TaskSurvey.test.js
  apps/dashboard/src/test-support/taskProxyLaunch.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

resolve lingering merge conflicts
  apps/dashboard/src/components/tasks/TaskLetter.test.js
  apps/dashboard/src/components/tasks/TaskLevante.test.js
  apps/dashboard/src/components/tasks/TaskMultichoice.test.js
  apps/dashboard/src/components/tasks/TaskPA.test.js
  apps/dashboard/src/components/tasks/TaskRan.test.js
  apps/dashboard/src/components/tasks/TaskReadAloud.test.js
  apps/dashboard/src/components/tasks/TaskRoam.test.js
  apps/dashboard/src/components/tasks/TaskRoav.test.js
  apps/dashboard/src/components/tasks/TaskSRE.test.js
  apps/dashboard/src/components/tasks/TaskSWR.test.js
  apps/dashboard/src/components/tasks/TaskSurvey.test.js
  apps/dashboard/src/test-support/taskProxyLaunch.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating pa for random mode and freezing bug
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor(auth): retire firekit from magic-link sign-in (#2137)
  apps/dashboard/src/components/auth/AuthEmailLink.test.js
  apps/dashboard/src/components/auth/AuthEmailLink.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

refactor allowed origins parsing logic
  apps/backend/.env.example
  apps/backend/src/app.test.ts
  apps/backend/src/middleware/cors/cors.middleware.test.ts
  apps/backend/src/middleware/cors/cors.middleware.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.test.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.ts
  apps/backend/src/middleware/cors/parse-preview-origins.test.ts
  apps/backend/src/middleware/cors/parse-preview-origins.ts
  turbo.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

guard against null origin in allowed origins parsing
  apps/backend/src/middleware/cors/parse-allowed-origins.test.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.ts
  apps/backend/src/middleware/cors/parse-preview-origins.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

guard against null literal in allowed origins parsing
  apps/backend/src/middleware/cors/parse-allowed-origins.ts
  apps/backend/src/middleware/cors/parse-preview-origins.test.ts
  apps/backend/src/middleware/cors/parse-preview-origins.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

docs(cors): update two references left behind by the rename
  apps/backend/src/middleware/cors/cors.middleware.test.ts
  apps/backend/src/middleware/cors/cors.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Deprecate TaskMEP.vue and TaskCrowding.vue, then removed their launcher wiring (#2138)
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskCrowding.vue
  apps/dashboard/src/components/tasks/TaskMEP.vue
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/router/index.js
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding checks for audio
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(cors): reject consecutive hyphens in the preview site portion
  apps/backend/src/middleware/cors/parse-preview-origins.test.ts
  apps/backend/src/middleware/cors/parse-preview-origins.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Chore: resolve conflicts between main and project backend refactor part 2 (#2140)
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSyntax.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-HighLatency.cy.js
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/containers/OrgsList/OrgsList.vue
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/router/index.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore: fix formatting for sync branch
  apps/assessments/roam-apps/src/tasks/shared/trials/getUserData.js
  apps/assessments/roar-letter/src/experiment/trials/getUserData.js
  apps/assessments/roar-multichoice/src/experiment/trials/getUserData.js
  apps/assessments/roar-swr/src/experiment/trials/getUserData.js
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Revert "chore: fix formatting for sync branch"
  apps/assessments/roam-apps/src/tasks/shared/trials/getUserData.js
  apps/assessments/roar-letter/src/experiment/trials/getUserData.js
  apps/assessments/roar-multichoice/src/experiment/trials/getUserData.js
  apps/assessments/roar-swr/src/experiment/trials/getUserData.js
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create .firebaserc for assessments and update hosting targets across assessments
  .firebaserc
  .github/actions/deploy-firebase-hosting/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/deploy-assessments-staging.yml
  apps/assessments/roam-apps/firebase.json
  apps/assessments/roar-letter/firebase.json
  apps/assessments/roar-levante-tasks/firebase.json
  apps/assessments/roar-multichoice/firebase.json
  apps/assessments/roar-pa/firebase.json
  apps/assessments/roar-readaloud/firebase.json
  apps/assessments/roar-sre/firebase.json
  apps/assessments/roar-survey/firebase.json
  apps/assessments/roar-swr/firebase.json
  apps/assessments/roav-apps/firebase.json
  apps/assessments/roav-ran/firebase.json
Due: none

add guard against incorrect assessment deploy target in action.yml
  .github/actions/deploy-firebase-hosting/action.yml
Due: none

Remove hosting sites from assessment package.json and update relevant docs
  .ai/assessment-migration.md
  .ai/rules/assessment-integration-pattern.md
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
Due: none

Update bucket for assessment upload artifacts
  apps/assessments/shared/storage.rules
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

patched the iPad startup path so it should not enter the assessment with a locked/silent AudioContext
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn
