Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

intitial PATCH task-variants implementation using Claude
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove unncessary checks in task service
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

simplify route body
  apps/backend/src/routes/task.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add request validation failure to api error message enum
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add controller tests for updateTaskVariant
  apps/backend/src/controllers/tasks.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

clean up tasks schema
  apps/backend/src/routes/task.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

rename types in task schema to better reflect separation of concerns
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Initial implementation
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Rework tests to utilize base fixtures
  apps/backend/src/repositories/task.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update tests to match new error codes
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify imports
  apps/backend/src/controllers/tasks.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update createSortQuerySchema
  packages/api-contract/src/v1/common/query.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Tighten typing on ListTasksOptions
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement ability to change default sortOrder
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add taskConfig column to returned schema
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/repositories/task.repository.ts
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update search pattern to escape characters in search string
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update error logging, status codes returned
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/enums/api-error-message.enum.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement tests
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add updatedAt to list of sort fields
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Additional typing
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Include 401 in possible responses
  packages/api-contract/src/v1/tasks/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update tests for special characters in search
  apps/backend/src/repositories/task.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

maint/agent-rules (#1587)
  .ai/commands.md
  .ai/knowledge-base.md
  .ai/rules/README.md
  .ai/rules/architecture-authorization-model.md
  .ai/rules/backend-api-contract-conventions.md
  .ai/rules/backend-authorization-pattern.md
  .ai/rules/backend-controller-no-business-logic.md
  .ai/rules/backend-error-handling.md
  .ai/rules/backend-error-message-security.md
  .ai/rules/backend-layer-architecture.md
  .ai/rules/backend-repository-pattern.md
  .ai/rules/backend-service-pattern.md
  .ai/rules/backend-testing-factory-usage.md
  .ai/rules/backend-testing-unit-vs-integration.md
  .ai/rules/ci-check-failures.md
  .ai/rules/culture-leverage-ai.md
  .ai/rules/frontend-composable-patterns.md
  .ai/rules/frontend-layer-architecture.md
  .ai/rules/frontend-state-management.md
  .ai/rules/performance-avoid-quadratic.md
  .ai/rules/quality-code-review.md
  .ai/rules/quality-code-style.md
  .ai/rules/quality-no-followup-prs.md
  .ai/rules/quality-pr-creation.md
  .ai/rules/quality-typescript-strictness.md
  .ai/rules/testing-coverage-expectations.md
  .claude/rules
  .cursor/rules
  AGENTS.md
  CLAUDE.md
Due: none

clean previous rebase
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix tests
  apps/backend/src/routes/schools.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix linting
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.test.ts
  apps/backend/src/services/school/school.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `GET v1/tasks` list endpoint (#1612)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/enums/api-error-message.enum.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/repositories/task.repository.ts
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Address review feedback on SDK layer architecture rule
  .ai/rules/sdk-layer-architecture.md
Due: none

Potential fix for pull request finding
  .ai/rules/sdk-layer-architecture.md
Due: none

Initial Implementation
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix tests
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/repositories/district.repository.integration.test.ts
  apps/backend/src/repositories/school.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Expand getBySlug to fallback on UUID
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update tests to include id fallback
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

change Error for SDKError
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

change sort field generation style
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Only query by id if provided string is a valid UUID
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove support for slugs on this endpoint
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Change test cases to reflect change in functionality
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update remaining docstrings
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
