Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

adding placeholders
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implementing copilot changes and tittle styling
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

introducing new pattern
  apps/dashboard/src/assets/styles/routes/register.scss
  apps/dashboard/src/assets/styles/routes/signin.scss
  apps/dashboard/src/containers/SignIn/SignIn.vue
  apps/dashboard/src/containers/SignIn/components/SignInEmailInput.vue
  apps/dashboard/src/containers/SignIn/components/SignInHeaderCopy.vue
  apps/dashboard/src/containers/SignIn/components/SignInMagicLinkBackButton.vue
  apps/dashboard/src/containers/SignIn/components/SignInPasswordBlock.vue
  apps/dashboard/src/containers/SignIn/components/SignInProvidersList.vue
  apps/dashboard/src/containers/SignIn/components/SignedInEmailChip.vue
  apps/dashboard/src/pages/SignIn.vue
  apps/dashboard/src/translations/en/en-componentTranslations.json
  apps/dashboard/src/translations/en/us/en-us-componentTranslations.json
  apps/dashboard/src/translations/es/co/es-co-componentTranslations.json
  apps/dashboard/src/translations/es/es-componentTranslations.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

introducing new pattern
  apps/dashboard/src/containers/SignIn/components/SignInCard/SignInCard.vue
  apps/dashboard/src/containers/SignIn/components/SignInCard/index.js
  apps/dashboard/src/containers/SignIn/components/SignInError/SignInError.vue
  apps/dashboard/src/containers/SignIn/components/SignInError/index.js
  apps/dashboard/src/containers/SignIn/components/SignInHeader/SignInHeader.vue
  apps/dashboard/src/containers/SignIn/components/SignInHeader/index.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/MagicLinkBackButton/MagicLinkBackButton.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/MagicLinkBackButton/index.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/MagicLinkSuccess/MagicLinkSuccess.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/MagicLinkSuccess/index.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/PasswordInput.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/index.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/ScopedProviders/ScopedProviders.vue
  apps/dashboard/src/containers/SignIn/components/authentication-step/ScopedProviders/index.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/index.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/GenericProviders/GenericProviders.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/GenericProviders/index.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/IdentifierInput.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/index.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/index.js
  apps/dashboard/src/containers/SignIn/components/index.js
  apps/dashboard/src/containers/SignIn/components/shared/ProviderButton/ProviderButton.vue
  apps/dashboard/src/containers/SignIn/components/shared/ProviderButton/index.js
  apps/dashboard/src/containers/SignIn/components/shared/SignInEmailChip/SignInEmailChip.vue
  apps/dashboard/src/containers/SignIn/components/shared/SignInEmailChip/index.js
  apps/dashboard/src/containers/SignIn/components/shared/index.js
  apps/dashboard/src/containers/SignIn/composables/useAuth.js
  apps/dashboard/src/containers/SignIn/composables/useCapsLock.js
  apps/dashboard/src/containers/SignIn/composables/useProviders.js
  apps/dashboard/src/containers/SignIn/composables/useSignInForm.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implementing copilot suggestions
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/PasswordInput.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/IdentifierInput.vue
  apps/dashboard/src/pages/SignIn.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Task #644 - Refactor create/edit assignments functions (#685)
  src/components/CardAdministration.vue
  src/router/index.ts
Due: none

Refactor Progress Reporting to container pattern (#1446)
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
  apps/dashboard/cypress/support/commands.js
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/src/assets/styles/root/variables.scss
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/components/ParticipantSidebar.vue
  apps/dashboard/src/components/ReportHeader.vue
  apps/dashboard/src/components/modals/EditVariantDialog.vue
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.js
  apps/dashboard/src/composables/queries/useAdministrationsStatsQuery.test.js
  apps/dashboard/src/constants/completionStatus.js
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/ProgressLegend.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/index.js
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/ProgressStatsOverview.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressStatsOverview/index.js
  apps/dashboard/src/containers/ProgressReport/components/index.js
  apps/dashboard/src/containers/ProgressReport/composables/index.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressColumns.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressData.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressExport.test.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressFilters.js
  apps/dashboard/src/containers/ProgressReport/composables/useProgressFilters.test.js
  apps/dashboard/src/containers/ProgressReport/constants/index.js
  apps/dashboard/src/containers/ProgressReport/constants/progressReportConstants.js
  apps/dashboard/src/containers/ProgressReport/index.js
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/helpers/plotting.test.js
  apps/dashboard/src/pages/ProgressReport.vue
  apps/dashboard/src/pages/ScoreReport.vue
  package-lock.json
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

enable longitudinal reports
  apps/dashboard/src/constants/featureFlags.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update distribution chart images and add Spanish versions (#1437)
  apps/dashboard/src/assets/en-all-grades-distribution-chart-no-cutoffs.webp
  apps/dashboard/src/assets/en-elementary-distribution-chart-scoring-v1.webp
  apps/dashboard/src/assets/en-elementary-distribution-chart-scoring-v2.webp
  apps/dashboard/src/assets/en-secondary-distribution-chart-scoring-v1.webp
  apps/dashboard/src/assets/es-all-grades-distribution-chart-no-cutoffs.webp
  apps/dashboard/src/assets/es-elementary-distribution-chart-scoring-v1.webp
  apps/dashboard/src/assets/es-elementary-distribution-chart-scoring-v2.webp
  apps/dashboard/src/assets/es-secondary-distribution-chart-scoring-v1.webp
  apps/dashboard/src/assets/support-distribution.png
  apps/dashboard/src/assets/support-distribution.svg
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Rename variables and handle edge case where admins are have mix of normed & unnormed tasks
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix missing subscore tables in non-districts
  apps/dashboard/src/components/reports/DistributionChartSupport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

removing extra mention on chart header
  apps/dashboard/src/helpers/reports.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Use primeflex classes for app spinner
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Revert to old progress report colors
  apps/dashboard/src/constants/completionStatus.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix max x value in stacked bar charts
  apps/dashboard/src/helpers/plotting.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix Progress Report UI Regressions (#1454)
  apps/dashboard/src/constants/completionStatus.js
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/helpers/plotting.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump apps/dashboard version in preparation for deployment
  apps/dashboard/package.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.21.0
  package-lock.json
  package.json
Due: none

button styling and graph color
  apps/dashboard/src/components/CardAdministration.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/pages/ScoreReport.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Fix: remove tag optional field (#690)
  src/components/modals/AddGroupModal.vue
Due: none

fixing spanish issues on individual score report
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

taking out the A from the unit test
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

finishing spanish
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

solving tests
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add filePath.js with new distribution charts paths
  apps/dashboard/src/constants/filePaths.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update getDIstributionChart logic and test cases with new files
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update Support.test.js and snapshot
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/__snapshots__/Support.test.js.snap
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Rename distribution chart files and move to public/assets/img
  apps/dashboard/public/assets/img/distribution-chart-elementary-v1-en.webp
  apps/dashboard/public/assets/img/distribution-chart-elementary-v1-es.webp
  apps/dashboard/public/assets/img/distribution-chart-elementary-v2-en.webp
  apps/dashboard/public/assets/img/distribution-chart-elementary-v2-es.webp
  apps/dashboard/public/assets/img/distribution-chart-no-cutoffs-en.webp
  apps/dashboard/public/assets/img/distribution-chart-no-cutoffs-es.webp
  apps/dashboard/public/assets/img/distribution-chart-secondary-v1-en.webp
  apps/dashboard/public/assets/img/distribution-chart-secondary-v1-es.webp
Due: none

Add page related events for posthog (#684)
  src/App.vue
  src/composables/usePageEventTracking.ts
Due: none

Add German translation updates from Luise (#681)
  package-lock.json
  package.json
  src/translations/TRANSLATION_SAFETY.md
  src/translations/consolidated/components/game-tabs-translations.csv
  src/translations/consolidated/components/navbar-translations.csv
  src/translations/consolidated/components/participant-sidebar-translations.csv
  src/translations/consolidated/components/sentry-form-translations.csv
  src/translations/consolidated/components/tasks-translations.csv
  src/translations/consolidated/dashboard-translations.csv
  src/translations/de/ch/de-CH-componentTranslations.json
  src/translations/de/de-componentTranslations.json
  src/translations/es/ar/es-AR-componentTranslations.json
  src/translations/es/es-componentTranslations.json
  src/translations/fr/ca/fr-CA-componentTranslations.json
  src/translations/main/dashboard/components/game-tabs-translations.csv
  src/translations/main/dashboard/components/navbar-translations.csv
  src/translations/main/dashboard/components/participant-sidebar-translations.csv
  src/translations/main/dashboard/components/sentry-form-translations.csv
  src/translations/main/dashboard/components/tasks-translations.csv
  src/translations/main/dashboard/dashboard-translations.csv
  src/translations/nl/nl-componentTranslations.json
  src/translations/tools/pull-json.js
  src/translations/tools/translation-safety-check.js
Due: none

adding chart o for spanish
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Support/Support.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix: prevent PrimeVue icons from staying fixed when cards expand
  apps/dashboard/src/components/CardAdministration.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Refine error handling for getDistributionChartPath and add related tests
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Permissions - replacing user query with creatorName on administrations. (#687)
  .cache/i18n-csv.hash
  src/components/CardAdministration.vue
  src/helpers/query/administrations.js
  src/helpers/query/assignments.js
  src/pages/CreateAssignment.vue
  src/pages/HomeAdministrator.vue
  src/pages/ProgressReport.vue
Due: none

Bump roam-apps to 1.2.26
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Task #644 Refactor create and edit assignments functions PART 2 (#689)
  src/components/CardAdministration.vue
  src/pages/CreateAssignment.vue
  src/pages/HomeAdministrator.vue
  src/plugins.ts
Due: none

Show raw score in score report and update tooltips for response modality roam
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implementing suggestions and fixing unit tests
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

changing text to match suggestions
  apps/dashboard/src/pages/ScoreReport.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add fallback check using minimalOrgs when populating state data for districts,schools,classes,groups,families arrays
  apps/dashboard/src/components/CreateAdministration.vue
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
