Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement ability to change default sortOrder
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Move handle-enrolled-users to backend root utils
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/utils/handle-enrolled-users.ts
  apps/backend/src/utils/handle-enrolled-users.utils.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address copilot comments
  apps/backend/src/services/class/class.service.ts
  packages/api-contract/src/v1/classes/contract.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix linting error in handle-enrolled-users.utils.test.ts
  apps/backend/src/utils/handle-enrolled-users.utils.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify class.integration.test.ts, removing potentially redundanttest cases
  apps/backend/src/repositories/class.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix RunService.create JSDoc to reflect anonymous run behavior
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Reject anonymous runs that include an administrationId
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Default isAnonymous to false in CreateRunRequestBody schema
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update RunService.create JSDoc steps to cover anonymous run path
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use destructuring for isAnonymous to match surrounding style
  apps/backend/src/services/run/run.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add isAnonymous to controller test fixtures for type compatibility
  apps/backend/src/controllers/runs.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update for PR review: extract postgres point type, remove bare strings, fix orderBy, sortColumn
  apps/backend/src/controllers/districts.controller.ts
  apps/backend/src/controllers/schools.controller.ts
  apps/backend/src/enums/sort-order.enum.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/types/postgres.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove more bare strings in tests file
  apps/backend/src/controllers/districts.controller.test.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/school/school.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update search pattern to escape characters in search string
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update createSortQuerySchema
  packages/api-contract/src/v1/common/query.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Tighten typing on ListTasksOptions
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor task service tests to properly reflect implementation logic
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refator updateTaskVariant logic to return early if no updates are needed
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

allow for empty parameters in task service, and only begin transaction if parameters are present
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update tests for special characters in search
  apps/backend/src/repositories/task.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Additional typing
  apps/backend/src/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

make changes in response to copilot
  apps/dashboard/src/components/HomeParentStudentView.vue
  apps/dashboard/src/components/StudentCardSimple.vue
  apps/dashboard/src/pages/HomeParent.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add `PATCH /v1/tasks/:taskId/variants/:variantId` (#1601)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/enums/api-error-message.enum.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/routes/task.integration.test.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update .ai/rules/backend-error-handling.md
  .ai/rules/backend-error-handling.md
Due: none

Update .ai/rules/architecture-authorization-model.md
  .ai/rules/architecture-authorization-model.md
Due: none

Support anonymous runs in `POST /runs` endpoint (#1611)
  apps/backend/migrations/assessment/0018_anonymous_runs_constraints.sql
  apps/backend/migrations/assessment/meta/0018_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/src/constants/run.ts
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/db/schema/assessment/runs.ts
  apps/backend/src/services/run/run.service.test.ts
  apps/backend/src/services/run/run.service.ts
  packages/api-contract/src/v1/runs/contract.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add uuid-ossp extension to core and assessment database migrations
  apps/backend/migrations/assessment/0019_enable_uuid_ossp.sql
  apps/backend/migrations/assessment/meta/0019_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0057_enable_uuid_ossp.sql
  apps/backend/migrations/core/meta/0057_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor grade params validation using superRefine, update dob schema field to nullable date value instead of datetime
  apps/backend/src/services/class/class.service.ts
  apps/backend/src/utils/handle-enrolled-users.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Delete unused contract enums (frlStatus, schoolLevel, and authProvider and respective backend/enum tests
  apps/backend/src/enums/auth-provider.enum.test.ts
  apps/backend/src/enums/frl-status.enum.test.ts
  apps/backend/src/enums/school-level.enum.test.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add enum tests in backend to ensure they align with contract enums in api-contract
  apps/backend/src/enums/auth-provider.enum.test.ts
  apps/backend/src/enums/frl-status.enum.test.ts
  apps/backend/src/enums/grade.enum.test.ts
  apps/backend/src/enums/school-level.enum.test.ts
  apps/backend/src/enums/user-role.enum.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replace 'asc' | 'desc' with SortOrder enum and reorganize import order
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/repositories/class.repository.ts
  apps/backend/src/utils/handle-enrolled-users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Replace 'asc' | 'desc' with SortOrder enum and reorganize import order pt 2
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/controllers/classes.controller.ts
  apps/backend/src/repositories/class.repository.integration.test.ts
  apps/backend/src/services/class/class.service.integration.test.ts
  apps/backend/src/services/class/class.service.test.ts
  apps/backend/src/services/class/class.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Delete redundant controller tests (behavior already tested in handle-enrolled-users)
  apps/backend/src/controllers/classes.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update to delete sort-order enum
  apps/backend/src/controllers/schools.controller.test.ts
  apps/backend/src/enums/sort-order.enum.ts
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/district/district.service.test.ts
  apps/backend/src/services/school/school.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove createdAt/updatedAt fields from sort fields, countQuery optimization, explicit types
  apps/backend/src/repositories/district.repository.ts
  apps/backend/src/repositories/school.repository.ts
  apps/backend/src/services/district/district.service.ts
  apps/backend/src/services/school/school.service.ts
  packages/api-contract/src/v1/districts/schema.ts
  packages/api-contract/src/v1/schools/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add integration tests
  apps/backend/src/routes/schools.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Delete extra service test and add comment clarifying a test
  apps/backend/src/controllers/classes.controller.test.ts
  apps/backend/src/services/class/class.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add uuid-ossp extension to core and assessment database migrations (#1613)
  apps/backend/migrations/assessment/0019_enable_uuid_ossp.sql
  apps/backend/migrations/assessment/meta/0019_snapshot.json
  apps/backend/migrations/assessment/meta/_journal.json
  apps/backend/migrations/core/0057_enable_uuid_ossp.sql
  apps/backend/migrations/core/meta/0057_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update tests to expect 204 status
  apps/backend/src/services/task/task.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

change PATCH response to 204
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
