Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix API description in me/contract.ts
  packages/api-contract/src/v1/me/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Extract and enhance global error handler
  apps/backend/src/app.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add /me endpoint
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/enums/user-type.enum.test.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/me/index.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use Set comparison in enum test
  apps/backend/src/enums/user-type.enum.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix test cmd dependency
  turbo.json
Due: none

Remove initial /users test route
  apps/backend/src/controllers/index.ts
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/users.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/index.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix error response for not found users
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove barrel exports
  apps/backend/src/controllers/index.ts
  apps/backend/src/repositories/index.ts
  apps/backend/src/repositories/interfaces/index.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Introduce `/me` endpoint (#1501)
  apps/backend/src/app.ts
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/enums/user-type.enum.test.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/repositories/index.ts
  apps/backend/src/repositories/interfaces/index.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/repositories/user.repository.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/me.test.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/me/contract.ts
  packages/api-contract/src/v1/me/index.ts
  packages/api-contract/src/v1/me/schema.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/schema.ts
  turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Implement structured logger
  apps/backend/package.json
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/db/clients.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/logger.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/server.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add request logger middleware
  apps/backend/eslint.config.mjs
  apps/backend/src/app.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Rename BLACKLISTED_ROUTES to EXCLUDED_ROUTES
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Disable verbose query logging
  apps/backend/src/db/clients.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Implement structured logger and request logging middleware (#1502)
  apps/backend/eslint.config.mjs
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/db/clients.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/logger.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.ts
  apps/backend/src/server.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add common query schemas
  packages/api-contract/src/v1/common/index.ts
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add embed=tasks support for administrations endpoint
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/middleware/request-logger/request-logger.middleware.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add GET /administrations endpoint with role-based access control
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/enums/resource-scope-type.enum.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/repositories/base.repository.test.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  apps/backend/src/types/resource-scope.ts
  apps/backend/src/utils/resource-scope.utils.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add consistent error handling across backend services
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/repositories/base.repository.test.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix contract description
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add basic /administrations endpoint
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/db/schema/common.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/common/query.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add BaseRepository for standard CRUD operations
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/user.repository.test.ts
  apps/backend/src/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor authorization query and align schema with DB column rename
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/test-support/factories/administration.factory.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Fix casing in user factory
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Refactor task-related code to dedicated AdministrationTaskVariantRepository
  apps/backend/src/repositories/administration-task-variant.repository.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add embed=stats support for administrations endpoint
  apps/backend/src/constants/regex.ts
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/authorization.repository.test.ts
  apps/backend/src/repositories/authorization.repository.ts
  apps/backend/src/repositories/runs.repository.test.ts
  apps/backend/src/repositories/runs.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/utils/is-valid-uuid.util.test.ts
  apps/backend/src/utils/is-valid-uuid.util.ts
  apps/backend/src/utils/to-postgres-uuid-array.util.test.ts
  apps/backend/src/utils/to-postgres-uuid-array.util.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add administrations api-contract
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/index.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/index.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update authorization to use super_admin for RBAC bypass
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/services/authorization/authorization.service.test.ts
  apps/backend/src/services/authorization/authorization.service.ts
  apps/backend/src/test-support/factories/user.factory.ts
  packages/api-contract/src/v1/me/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add ApiErrorCode enum and code field to ApiError
  apps/backend/src/app.ts
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/enums/api-error-code.enum.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/errors/api-error.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify error handling: remove DatabaseError, use ApiError in middleware
  apps/backend/src/enums/database-error-code.enum.ts
  apps/backend/src/error-handler.test.ts
  apps/backend/src/error-handler.ts
  apps/backend/src/errors/database-error.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Feat #648 Move task start button up (#732)
  src/components/GameTabs.vue
Due: none

Add autoscroll to selected tasks (#761)
  src/components/TaskPicker.vue
Due: none

Align column order in progress report (#760)
  src/pages/ProgressReport.vue
Due: none

Skeleton sdk mapping setup (#1515)
  package-lock.json
  packages/assessment-sdk/eslint.config.mjs
  packages/assessment-sdk/package.json
  packages/assessment-sdk/prettier.config.mjs
  packages/assessment-sdk/rollup.config.mjs
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/command/index.ts
  packages/assessment-sdk/src/command/invoker.test.ts
  packages/assessment-sdk/src/command/invoker.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/errors/sdk-error.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/assessment-sdk/tsconfig.json
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.setup.ts
Due: none

Revert "Skeleton sdk mapping setup (#1515)"
  package-lock.json
  packages/assessment-sdk/eslint.config.mjs
  packages/assessment-sdk/package.json
  packages/assessment-sdk/prettier.config.mjs
  packages/assessment-sdk/rollup.config.mjs
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/command/index.ts
  packages/assessment-sdk/src/command/invoker.test.ts
  packages/assessment-sdk/src/command/invoker.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/errors/sdk-error.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/assessment-sdk/tsconfig.json
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.setup.ts
Due: none

add fallback value for grade slicing
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore(release): prepare version 3.3.0
  package-lock.json
  package.json
Due: none

Sdk mapping setup skeleton (#1519)
  package-lock.json
  packages/assessment-sdk/eslint.config.mjs
  packages/assessment-sdk/package.json
  packages/assessment-sdk/prettier.config.mjs
  packages/assessment-sdk/rollup.config.mjs
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/command/index.ts
  packages/assessment-sdk/src/command/invoker.test.ts
  packages/assessment-sdk/src/command/invoker.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/errors/sdk-error.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/assessment-sdk/tsconfig.json
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.setup.ts
Due: none

Revert "Skeleton sdk mapping setup (#1515)" (#1518)
  package-lock.json
  packages/assessment-sdk/eslint.config.mjs
  packages/assessment-sdk/package.json
  packages/assessment-sdk/prettier.config.mjs
  packages/assessment-sdk/rollup.config.mjs
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/command/index.ts
  packages/assessment-sdk/src/command/invoker.test.ts
  packages/assessment-sdk/src/command/invoker.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/compat/index.ts
  packages/assessment-sdk/src/errors/sdk-error.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/receiver/index.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/types/index.ts
  packages/assessment-sdk/tsconfig.build.types.json
  packages/assessment-sdk/tsconfig.json
  packages/assessment-sdk/vitest.config.ts
  packages/assessment-sdk/vitest.setup.ts
Due: none

Replace user claims with roles for super admins check (#763)
  src/store/auth.ts
Due: none

add fallback value for grade slicing (#1520)
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
