Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

format and lint
  apps/backend/src/repositories/utils/enrollment.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/routes/users.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add integration tests for user controller GET method
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

draft commit
  apps/backend/src/constants/permissions.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

undo changes to getById
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create router for users with get method, implement careteaker supervisory roles and checks in user access controls
  apps/backend/src/constants/role-classifications.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
  apps/backend/src/routes/users.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement verifySupervisoryAccess in user service
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add getAuthorizedById method
  apps/backend/src/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement Claude feedback
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/backend/src/test-support/services/user.service.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add 500 response to me contract
  packages/api-contract/src/v1/me/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/services/user/user.service.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add tests for users controller
  apps/backend/src/controllers/users.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix series of failing integration tests due rosteringEnded being added to user schema but db not migrated; adjust /me routes and controller to reflect changes in user service getById method
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/routes/me.ts
  apps/backend/src/services/user/user.service.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

use additional table aliases in user access controls for better readability
  apps/backend/src/repositories/access-controls/user.access-controls.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

rename verifySupervisoryAccess --> verifyUserAccess
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

clean up some typedoc strings and comments
  apps/backend/src/controllers/users.controller.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add issue tracking to some user domain TODO items
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/routes/users.integration.test.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

set user reponses to return empty array if authProvider column is not set in database
  apps/backend/src/controllers/users.controller.test.ts
  apps/backend/src/controllers/users.controller.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add id to TierUser interface to facilitate database lookups in integration tests
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/test-support/route-test.helper.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add unified platform deployment workflows (#1630)
  .github/actions/deploy-cloud-run/action.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

Implement claude's accessibleClasses subquery suggestion
  apps/backend/src/repositories/group.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add created_at to FDW views for runs and run_scores
  apps/backend/migrations/assessment/0020_add_created_at_to_fdw_views.sql
  apps/backend/migrations/assessment/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix Prettier formatting in user-research-exclusions schema
  apps/backend/src/db/schema/core/user-research-exclusions.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add user_research_exclusions table, FDW created_at, nullable assessment_pid, rostering_ended
  apps/backend/migrations/core/0058_add_user_research_exclusions_table.sql
  apps/backend/migrations/core/0059_add_created_at_to_fdw_foreign_tables.sql
  apps/backend/migrations/core/0060_make_assessment_pid_nullable.sql
  apps/backend/migrations/core/0061_add_rostering_ended_to_users.sql
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/assessment-fdw/run-scores.ts
  apps/backend/src/db/schema/assessment-fdw/runs.ts
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/user-research-exclusions.ts
  apps/backend/src/db/schema/core/users.ts
  packages/api-contract/src/v1/common/user.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Regenerate migrations via drizzle-kit and fix FDW ALTER approach
  apps/backend/migrations/core/0058_add_user_research_exclusions_and_user_columns.sql
  apps/backend/migrations/core/0058_add_user_research_exclusions_table.sql
  apps/backend/migrations/core/0059_add_created_at_to_fdw_foreign_tables.sql
  apps/backend/migrations/core/0060_make_assessment_pid_nullable.sql
  apps/backend/migrations/core/0061_add_rostering_ended_to_users.sql
  apps/backend/migrations/core/meta/0058_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/user-research-exclusions.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Drop FDW views from assessment database
  apps/backend/migrations/assessment/0020_drop_fdw_views.sql
  apps/backend/migrations/assessment/meta/_journal.json
  scripts/benchmark-fdw.ts
  scripts/setup-fdw-local.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove benchmark script from PR
  scripts/benchmark-fdw.ts
Due: none

Add OpenFGA local development environment
  apps/backend/.env.example
  docker-compose.yml
  scripts/setup-certs.sh
  scripts/setup-openfga-local.sh
Due: npx dotenvx ext precommit

Fix OpenFGA playground with nginx reverse proxy
  apps/backend/.env.example
  docker-compose.yml
  openfga-playground.nginx.conf
Due: npx dotenvx ext precommit

Drop FDW views from assessment database (#1647)
  apps/backend/migrations/assessment/0020_drop_fdw_views.sql
  apps/backend/migrations/assessment/meta/_journal.json
  scripts/setup-fdw-local.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add FDW schema sync tests
  apps/backend/src/db/schema/assessment-fdw/fdw-schema-sync.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add cross-reference comments between assessment and FDW schema files
  apps/backend/src/db/schema/assessment-fdw/run-scores.ts
  apps/backend/src/db/schema/assessment-fdw/runs.ts
  apps/backend/src/db/schema/assessment/run-scores.ts
  apps/backend/src/db/schema/assessment/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Switch FDW foreign tables to point at assessment tables directly
  apps/backend/migrations/core/0058_switch_fdw_to_direct_tables.sql
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/assessment-fdw/run-scores.ts
  apps/backend/src/db/schema/assessment-fdw/runs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Enable HTTPS and custom ports for OpenFGA local environment
  apps/backend/.env.example
  docker-compose.yml
  openfga-playground.nginx.conf
Due: npx dotenvx ext precommit

Fix package-lock.json to include authz workspace
  package-lock.json
Due: none

Add active_membership condition to family parent and child relations
  packages/authz/authorization-model.fga
  packages/authz/tests/family-permissions.fga.yaml
Due: none

Restrict can_delete on school to admin_tier only, add district educator edge case tests
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
Due: none

Add can_create/can_update to administration, expand group role model, add can_list_users
  packages/authz/README.md
  packages/authz/authorization-model.fga
  packages/authz/tests/administration-permissions.fga.yaml
  packages/authz/tests/class-permissions.fga.yaml
  packages/authz/tests/enrollment-dates.fga.yaml
  packages/authz/tests/family-permissions.fga.yaml
  packages/authz/tests/group-permissions.fga.yaml
Due: none

Skip FGA model tests in CI when fga CLI is not installed
  packages/authz/package.json
Due: none
