Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add tests that verify data returned is scoped to target user, not requester
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify tests using Claude's suggestion
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Move userId declaration up and gate me query with props.launchId
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update main score report with new normed tasks (#1910)
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
  apps/dashboard/src/components/GameTabs.vue
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.cy.js
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
  apps/dashboard/src/components/reports/DistributionChartFacet.vue
  apps/dashboard/src/components/reports/DistributionChartOverview.vue
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/components/reports/TableScoreTag.vue
  apps/dashboard/src/components/reports/tasks/TaskReport.vue
  apps/dashboard/src/constants/csvExport.js
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
  apps/dashboard/src/containers/ProgressReport/components/ProgressLegend/ProgressLegend.vue
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.print.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/Summary.vue
  apps/dashboard/src/containers/StudentScoreReport/components/Summary/__snapshots__/Summary.test.js.snap
  apps/dashboard/src/helpers/plotting.js
  apps/dashboard/src/helpers/plotting.test.js
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating phoneme so scoringVersion must be passed or should be null
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating SWR and SRE to must passing scoringVersion or null
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding routes and indexes for ROAM apps
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Wire can_read_child into the two administration read endpoints (#2069)
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updatinf roam to contemplate Brazil changes
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Child proxy-launch: resolve participant identity from launchId (#2071)
  apps/dashboard/src/components/tasks/TaskLetter.vue
  apps/dashboard/src/components/tasks/TaskMultichoice.vue
  apps/dashboard/src/components/tasks/TaskPA.vue
  apps/dashboard/src/components/tasks/TaskSRE.vue
  apps/dashboard/src/components/tasks/TaskSWR.vue
  apps/dashboard/src/pages/HomeParticipant.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roam to 1.3.18
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump roav-ran to 2.1.5 (#2061)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating swr and sre so they must pass scoringVersion
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding routes and indexes for ROAV APPS
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding pr-BR locale
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/translations/exports.js
  apps/dashboard/src/translations/i18n.js
  apps/dashboard/src/translations/pt/br/pt-componentTranslations.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding symbol-search indexes and routes
  apps/dashboard/firebase/admin/firestore.indexes.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating swr and sre so they must pass scoringVersion (#2073)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore(dashboard): Update Phoneme to consider scoringVersion 3 as default (#2068)
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

sync roar-sre to reflect legacy
  .release-please-manifest.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-sre/parameters.json
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/corpus/en/irt_hyperparameters_sre.csv
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Show score report and subscore table tags for numAttempted === 0 only if timed out for fluency games
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Hide tags when no test questions have been attempted and the assessment isn't considered completed (scenarios include timing out)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

sync roar-swr to reflect legacy
  .release-please-manifest.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roar-swr/src/experiment/config/config.js
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove unnecessary toLowerCase for progress.status (always lowercase)
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

sync roar-pa to reflect legacy
  .release-please-manifest.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/corpus/pt/practice.csv
  apps/assessments/roar-pa/src/experiment/config/corpus/pt/test.csv
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/i18n.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/trials/del/practice.js
  apps/assessments/roar-pa/src/experiment/trials/practice.js
  apps/assessments/roar-pa/src/locales/pt/translation.json
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/scores.js
  apps/dashboard/package.json
  package-lock.json
  packages/assessment-schema/src/roar-pa/trial-types.ts
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

running lint
  apps/assessments/roar-sre/src/experiment/config/config.js
  apps/assessments/roar-sre/src/experiment/scores.js
Due: none

Sync roar-levante-tasks from v1.0.6 to v1.0.11
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-levante-tasks/src/tasks/hearts-and-flowers/timeline.js
  apps/assessments/roar-levante-tasks/src/tasks/hearts-and-flowers/trials/instructions.js
  apps/assessments/roar-levante-tasks/src/tasks/roar-inference/trials/instructions.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/clowderSetup.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/config.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.integration.test.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/scoringHandler.ts
  apps/assessments/roar-levante-tasks/src/tasks/shared/helpers/trialSaving.ts
  apps/assessments/roar-levante-tasks/src/tasks/taskSetup.ts
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Sync roam-apps from v1.3.13 to v1.3.18
  apps/assessments/roam-apps/package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Sync roav-ran from v2.0.1 to v2.1.5
  apps/assessments/roav-ran/package.json
  apps/assessments/roav-ran/src/experiment/tasks/shared/views/configureDevice.html
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update .release-please-manifest.json and .release-please.json with newest ran version
  .release-please-manifest.json
  .release-please.json
Due: none

Update .release-please-manifest.json and .release-please.json with newest roar-levante-tasks version
  .release-please-manifest.json
  .release-please.json
Due: none

Update .release-please-manifest.json and .release-please.json with newest roam-apps version
  .release-please-manifest.json
  .release-please.json
Due: none

adding extra step for version 4
  apps/assessments/roar-sre/src/experiment/scores.js
Due: none

solve roar-pa tests
  apps/assessments/roar-pa/src/experiment/scores.test.js
Due: none

fixing lint
  apps/assessments/roar-pa/src/experiment/scores.test.js
Due: none

navbar blacklist symbol-search
  apps/dashboard/src/containers/Navigation/Navigation.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update roam cypress helpers to handle missing participant id block in fluency games
  apps/dashboard/cypress/support/helper-functions/roam-apps/roamHelpers.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding version to release-please
  .release-please.json
Due: none

update release-please
  .release-please.json
Due: none

Attempt at fixing scoreReport.cy.js failed tests
  apps/dashboard/cypress/e2e/partner-admin/default-tests/scoreReports.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

chore(assessments): update PA to reflect legacy (#2075)
  .release-please-manifest.json
  .release-please.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/corpus/pt/practice.csv
  apps/assessments/roar-pa/src/experiment/config/corpus/pt/test.csv
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/i18n.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/src/experiment/scores.test.js
  apps/assessments/roar-pa/src/experiment/trials/del/practice.js
  apps/assessments/roar-pa/src/experiment/trials/practice.js
  apps/assessments/roar-pa/src/locales/pt/translation.json
  apps/dashboard/package.json
  package-lock.json
  packages/assessment-schema/src/roar-pa/trial-types.ts
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
