Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Drop the unnecessary UserFamilyFactory import alias
  apps/backend/src/routes/users.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Style the CLI's zero-dependency fallback UI
  packages/assessment-cli/src/commands/setup.mjs
  packages/assessment-cli/src/ui.mjs
Due: none

Rename the CLI to assessment-dev-cli and re-exec setup on first run
  .ai/rules/assessment-integration-pattern.md
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  docker-compose.assessment.yml
  package-lock.json
  packages/assessment-cli/src/index.mjs
  packages/assessment-dev-cli/eslint.config.mjs
  packages/assessment-dev-cli/package.json
  packages/assessment-dev-cli/prettier.config.mjs
  packages/assessment-dev-cli/src/commands/predev.mjs
  packages/assessment-dev-cli/src/commands/rebuild.mjs
  packages/assessment-dev-cli/src/commands/restart.mjs
  packages/assessment-dev-cli/src/commands/seed-tasks.mjs
  packages/assessment-dev-cli/src/commands/setup.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/commands/stop.mjs
  packages/assessment-dev-cli/src/context.mjs
  packages/assessment-dev-cli/src/context.test.mjs
  packages/assessment-dev-cli/src/docker.mjs
  packages/assessment-dev-cli/src/help.mjs
  packages/assessment-dev-cli/src/index.mjs
  packages/assessment-dev-cli/src/net.mjs
  packages/assessment-dev-cli/src/proc.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Quiet the setup install and build output
  packages/assessment-dev-cli/src/commands/setup.mjs
  packages/assessment-dev-cli/src/index.mjs
Due: none

Collapse subcommand output into live task logs
  packages/assessment-dev-cli/src/commands/rebuild.mjs
  packages/assessment-dev-cli/src/commands/setup.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/docker.mjs
  packages/assessment-dev-cli/src/proc.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Rephrase the CLI copy for its researcher audience
  packages/assessment-dev-cli/src/commands/rebuild.mjs
  packages/assessment-dev-cli/src/commands/seed-tasks.mjs
  packages/assessment-dev-cli/src/commands/setup.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/commands/stop.mjs
  packages/assessment-dev-cli/src/docker.mjs
  packages/assessment-dev-cli/src/help.mjs
Due: none

Own the CLI rendering: prompt-language glyphs, united boxes, one renderer
  packages/assessment-dev-cli/src/commands/predev.mjs
  packages/assessment-dev-cli/src/commands/rebuild.mjs
  packages/assessment-dev-cli/src/commands/seed-tasks.mjs
  packages/assessment-dev-cli/src/commands/setup.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/commands/stop.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Bold the step counters and box titles
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Implement the 401 token-refresh retry in both API clients
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/receiver/roar-api.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Run the assessment and platform dev environments in parallel
  .github/workflows/ci.yml
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/ASSESSMENT_RESEARCH_GUIDE.md
  apps/assessments/roam-apps/.env.example
  apps/assessments/roar-levante-tasks/.env.example
  apps/assessments/roar-multichoice/.env.example
  apps/assessments/roar-survey/vite.config.js
  apps/assessments/shared/devEmulatorHost.cjs
  apps/assessments/shared/devEmulatorWebpackConfig.cjs
  apps/assessments/shared/emulatorHostBuild.test.js
  docker-compose.assessment.yml
  packages/assessment-dev-cli/src/commands/predev.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/context.mjs
  packages/assessment-dev-cli/src/context.test.mjs
  packages/assessment-dev-cli/src/docker.mjs
  packages/assessment-dev-cli/src/ui.mjs
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: npx dotenvx ext precommit

State the Node requirement only on failure
  packages/assessment-dev-cli/src/commands/setup.mjs
Due: none

Test the receiver through real ts-rest parsing instead of shape mocks
  apps/dashboard/src/clients/roar-api/index.test.js
  packages/assessment-sdk/src/receiver/roar-api.test.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Quiet the dev-server handoff
  apps/assessments/roam-apps/webpack.config.cjs
  apps/assessments/roar-letter/webpack.config.cjs
  apps/assessments/roar-levante-tasks/webpack.config.cjs
  apps/assessments/roar-multichoice/webpack.config.cjs
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/roar-readaloud/webpack.config.cjs
  apps/assessments/roar-sre/webpack.config.cjs
  apps/assessments/roar-swr/webpack.config.cjs
  apps/assessments/roav-apps/webpack.config.cjs
  apps/assessments/roav-ran/webpack.config.cjs
  apps/assessments/shared/devEmulatorWebpackConfig.cjs
  apps/assessments/shared/devWebpackConfig.cjs
  packages/assessment-dev-cli/src/commands/start.mjs
Due: none

Stream the dev server through the gutter
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Show a service summary block when the environment is up
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Share the refreshable auth error codes via the api-contract
  .ai/rules/sdk-layer-architecture.md
  apps/backend/src/enums/api-error-code.enum.test.ts
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/utils/api-errors.js
  packages/api-contract/src/v1/response.ts
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/receiver/roar-api.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Focus the running summary on what researchers use
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Let npm stop keep the database
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  packages/assessment-dev-cli/src/commands/stop.mjs
  packages/assessment-dev-cli/src/ui.mjs
Due: none

Parse the error envelope through a shared contract helper
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/utils/api-errors.js
  packages/api-contract/src/v1/response.ts
  packages/assessment-sdk/src/receiver/roar-api.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Seed on every start and name the data volume explicitly
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  docker-compose.assessment.yml
  packages/assessment-dev-cli/src/commands/seed-tasks.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/commands/stop.mjs
Due: none

Fix the cross-stack wiring gaps the full-PR review surfaced
  apps/assessments/roar-multichoice/.env.example
  apps/assessments/roar-survey/vite.config.js
  apps/assessments/shared/devWebpackConfig.cjs
  apps/assessments/shared/emulatorHostBuild.test.js
  package-lock.json
  packages/assessment-dev-cli/package.json
  packages/assessment-dev-cli/src/commands/predev.mjs
  packages/assessment-dev-cli/src/commands/start.mjs
  packages/assessment-dev-cli/src/commands/stop.mjs
  packages/assessment-dev-cli/src/context.mjs
  packages/assessment-dev-cli/src/docker.mjs
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: npx dotenvx ext precommit

Alias progress and score report sort
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Keep retry policy in the clients and parse the envelope via the contract schema
  .ai/rules/sdk-layer-architecture.md
  apps/backend/src/enums/api-error-code.enum.test.ts
  apps/dashboard/src/utils/api-errors.js
  packages/api-contract/src/v1/response.ts
  packages/assessment-sdk/src/receiver/roar-api.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

enh(backend): add research contact opt-in column
  apps/backend/migrations/core/0064_add_users_optin_research_contact.sql
  apps/backend/migrations/core/meta/0064_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/test-support/factories/user.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

enh(backend): persist registration research opt-in
  apps/backend/src/controllers/families.controller.test.ts
  apps/backend/src/controllers/families.controller.ts
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/services/family/family.service.create.test.ts
  apps/backend/src/services/family/family.service.ts
  packages/api-contract/src/v1/families/schema.test.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix(dashboard): include research opt-in in registration
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.test.js
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Preserve compatibility for registration opt-ins
  apps/backend/src/routes/families.integration.test.ts
  apps/backend/src/services/family/family.service.ts
  apps/dashboard/src/components/auth/RegisterParent.vue
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.js
  apps/dashboard/src/helpers/registration/mapParentFormToCreateFamily.test.js
  packages/api-contract/src/v1/families/schema.test.ts
  packages/api-contract/src/v1/families/schema.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Drop the stale custom-fetch mention from the createClient JSDoc
  packages/assessment-sdk/src/receiver/roar-api.ts
Due: none

maint: add project-scoped reviewer agents and commands (#2205)
  .ai/agents/backend-reviewer.md
  .ai/agents/code-quality-reviewer.md
  .ai/agents/frontend-reviewer.md
  .ai/agents/security-authz-reviewer.md
  .ai/agents/test-coverage-reviewer.md
  .ai/commands/commit-and-pr.md
  .ai/commands/review-pr.md
  .ai/rules/README.md
  .claude/agents
  .claude/commands
  .github/workflows/claude.yml
  AGENTS.md
Due: none

Apply computed composite filters to report paths and refactor aggregation score fetch
  apps/backend/src/repositories/aggregation.repository.ts
  apps/backend/src/repositories/report.repository.integration.test.ts
  apps/backend/src/repositories/report.repository.ts
  apps/backend/src/routes/reports.integration.test.ts
  apps/backend/src/services/aggregation/aggregation.service.test.ts
  apps/backend/src/services/aggregation/aggregation.service.ts
  apps/backend/src/services/scoring/scoring.service.test.ts
  apps/backend/src/test-support/factories/run-score.factory.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): scope registration agreements by locale
  apps/backend/src/repositories/agreement-version.repository.ts
  apps/backend/src/routes/auth.integration.test.ts
  apps/backend/src/services/agreement/agreement.service.test.ts
  apps/backend/src/services/agreement/agreement.service.ts
  apps/backend/src/services/registration/registration.service.test.ts
  apps/backend/src/services/registration/registration.service.ts
  apps/backend/src/test-support/repositories/agreement-version.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix(backend): scope the TOS requirement to the users who must sign it (#2227)
  apps/backend/src/controllers/me.controller.test.ts
  apps/backend/src/controllers/me.controller.ts
  apps/backend/src/routes/me.integration.test.ts
  apps/backend/src/routes/users.integration.test.ts
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/services/user/user.service.ts
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address Claude's feedback: renaming constant fields and updating jsdocs
  apps/backend/src/repositories/report.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

allow assessments to control their own sdk context (uniform set)
  apps/assessments/roar-letter/serve/serve.js
  apps/assessments/roar-letter/src/experiment/index.js
  apps/assessments/roar-multichoice/serve/serve.js
  apps/assessments/roar-multichoice/src/experiment/index.js
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/index.js
  apps/assessments/roav-apps/serve/serve.js
  apps/assessments/roav-apps/src/index.js
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/roav-ran/src/experiment/index.js
Due: none

test(backend): cover agreement error classification
  apps/backend/src/services/agreement/agreement.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix: implement the 401 token-refresh retry in both API clients (#2228)
  .ai/rules/sdk-layer-architecture.md
  apps/dashboard/src/clients/roar-api/index.js
  apps/dashboard/src/clients/roar-api/index.test.js
  apps/dashboard/src/utils/api-errors.js
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/receiver/roar-api.test.ts
  packages/assessment-sdk/src/receiver/roar-api.ts
  packages/assessment-sdk/src/test-support/sdk-test-helper.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(backend): guard findByAuthId against blank authId lookups
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Reject blank uids in the auth guard and pin the repository guard in a unit test
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/repositories/user.repository.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor(backend): inject the auth provider and type-check route middleware
  apps/backend/src/middleware/auth-guard/as-ts-rest-middleware.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/routes/agreements.ts
  apps/backend/src/routes/classes.ts
  apps/backend/src/routes/districts.ts
  apps/backend/src/routes/families.ts
  apps/backend/src/routes/groups.ts
  apps/backend/src/routes/schools.ts
  apps/backend/src/routes/task-bundles.ts
  apps/backend/src/routes/task-variants.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/auth/auth-provider.interface.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
