Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

`SDK` FinishRun Command (#1623)
  packages/assessment-sdk/src/commands/abort-run.command.test.ts
  packages/assessment-sdk/src/commands/finish-run.command.test.ts
  packages/assessment-sdk/src/commands/finish-run.command.ts
  packages/assessment-sdk/src/commands/index.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/enums/sdk-error-code.enum.ts
  packages/assessment-sdk/src/types/abort-run.ts
  packages/assessment-sdk/src/types/finish-run.ts
  packages/assessment-sdk/src/types/run-event-status.ts
Due: none

- dded imports for SDKError and SdkErrorCode - Modified three error handling tests to verify both the error message AND the SDKError.code property
  packages/assessment-sdk/src/commands/write-trial.command.test.ts
Due: none

- Added a specific if clause for StatusCodes.BAD_REQUEST that extracts the error message from the typed response body
  packages/assessment-sdk/src/commands/update-engagement-flags.command.test.ts
  packages/assessment-sdk/src/commands/update-engagement-flags.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

- Updated validation errors - Simplified the cast
  packages/assessment-sdk/src/commands/write-trial.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

- Replaced _getInteractionBuffer() with _drainInteractionBuffer()
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/types/add-interaction.ts
  packages/assessment-sdk/src/types/write-trial.ts
Due: none

- Created a new helper function initializeFirekitAndStartRun() that combines the two repetitive steps - adding error code
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Use createSortQuerySchema, Drizzle and(), and improve filter tests
  apps/backend/src/utils/report-filter-parser.test.ts
  apps/backend/src/utils/report-filter-parser.ts
  packages/api-contract/src/v1/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add progress students report contract and shared utilities
  apps/backend/src/utils/get-grade-as-number.util.test.ts
  apps/backend/src/utils/get-grade-as-number.util.ts
  apps/backend/src/utils/report-filter-parser.test.ts
  apps/backend/src/utils/report-filter-parser.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/reports/common.ts
  packages/api-contract/src/v1/reports/index.ts
  packages/api-contract/src/v1/reports/progress/contract.ts
  packages/api-contract/src/v1/reports/progress/index.ts
  packages/api-contract/src/v1/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Guard empty in-values and escape backslashes in contains filter
  apps/backend/src/utils/report-filter-parser.test.ts
  apps/backend/src/utils/report-filter-parser.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Validate filter field names at the contract level
  apps/backend/src/utils/report-filter-parser.ts
  packages/api-contract/src/v1/reports/common.ts
  packages/api-contract/src/v1/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor filter schema to use idiomatic Zod ctx.addIssue pattern
  packages/api-contract/src/v1/reports/common.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use generic error message for invalid grade range filter
  apps/backend/src/utils/report-filter-parser.test.ts
  apps/backend/src/utils/report-filter-parser.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove dead code and add createFilterQuerySchema unit tests
  apps/backend/src/utils/create-filter-query-schema.test.ts
  apps/backend/src/utils/report-filter-parser.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add dynamic field pattern support for progress task status sort/filter
  apps/backend/src/utils/create-dynamic-sort-query-schema.test.ts
  apps/backend/src/utils/create-filter-query-schema.test.ts
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/reports/common.ts
  packages/api-contract/src/v1/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add empty grade range test and generalize dynamic field error hints
  apps/backend/src/utils/report-filter-parser.test.ts
  packages/api-contract/src/v1/common/query.ts
  packages/api-contract/src/v1/reports/common.ts
  packages/api-contract/src/v1/reports/progress/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add unified platform deployment workflows
  .github/actions/deploy-cloud-run/action.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

Move contract schema tests from backend to api-contract package
  package-lock.json
  packages/api-contract/package.json
  packages/api-contract/src/v1/common/query.test.ts
  packages/api-contract/src/v1/reports/common.test.ts
  packages/api-contract/tsconfig.build.types.json
  packages/api-contract/vitest.config.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Update packages/api-contract/src/v1/reports/progress/contract.ts
  packages/api-contract/src/v1/reports/progress/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

npm run format
  packages/api-contract/src/v1/reports/progress/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Use platform:development environment, disable frontend deploy
  .github/workflows/deploy-platform-development.yml
Due: none

Add enh/1645/backend-prod-deployment branch trigger to dev deploy workflow
  .github/workflows/deploy-platform-development.yml
Due: none

Rename secrets for consistency in dev deploy workflow
  .github/workflows/deploy-platform-development.yml
Due: none

Use platform:staging environment, rename secrets, disable frontend deploy
  .github/workflows/deploy-platform-staging.yml
Due: none

Use platform:production environment, rename secrets, disable frontend deploy
  .github/workflows/deploy-platform-production.yml
Due: none

Remove test branch triggers from dev/staging, disable tag verification on production
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Consolidate platform deploy workflows: rename secrets, update environments, clean up comments
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Remove test branch trigger from production deploy, add TODO comments for tag guards
  .github/workflows/deploy-platform-production.yml
Due: none

Lowercase 'backend' in Docker image build job names
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Address copilot comments: updated comments and add res.status check
  apps/backend/src/repositories/group.repository.integration.test.ts
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/services/group/group.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Address claude comments 2-5
  apps/backend/src/repositories/group.repository.ts
  apps/backend/src/routes/groups.integration.test.ts
  apps/backend/src/services/group/group.service.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

- add a comment to explain trade off - solved lint issue
  packages/assessment-sdk/src/compat/firekit.ts
Due: none

Address claude comment 1: refactor accessControl check for users.list and add comments
  apps/backend/src/repositories/group.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Update apps/backend/src/repositories/utils/supervisory-roles.utils.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix type checks
  apps/backend/src/routes/me.ts
  apps/backend/src/routes/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement contract, schema, enum checks for users endpoint
  apps/backend/src/db/schema/core/users.ts
  apps/backend/src/enums/auth-provider.enum.test.ts
  apps/backend/src/enums/free-reduced-lunch-status.enum.test.ts
  apps/backend/src/enums/school-level.enum.test.ts
  packages/api-contract/src/v1/common/user.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/me/schema.ts
  packages/api-contract/src/v1/users/contract.ts
  packages/api-contract/src/v1/users/index.ts
  packages/api-contract/src/v1/users/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement getById in user service
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update user service tests
  apps/backend/src/services/user/user.service.test.ts
  apps/backend/src/test-support/repositories/user.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create user access controls
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/utils/enrollment.utils.ts
  apps/backend/src/repositories/utils/is-authorized-membership.utils.ts
  apps/backend/src/services/user/user.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement users controller
  apps/backend/src/controllers/users.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add integration tests for user controller GET method
  apps/backend/src/constants/role-classifications.ts
  apps/backend/src/repositories/access-controls/user.access-controls.ts
  apps/backend/src/repositories/utils/supervisory-roles.utils.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn
