Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove siteKey from firebase config
  apps/assessments/shared/firebaseConfig.js
Due: none

disable all cypress tests involving assessments
  apps/assessments/roar-pa/cypress/e2e/playPADefault.cy.js
  apps/assessments/roar-pa/cypress/e2e/playPAStoryOption.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/assessments.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playARF.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playCALF.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playCVA.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playLetter.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playMorphology.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playOptionalGames.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playPA.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSRE.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSWR.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSyntax.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playVocab.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playARF-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playARF-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playCALF-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playCALF-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-letter/playLetter-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-letter/playLetter-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-morphology/playMorphology-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-vocab/playVocab-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-vocab/playVocab-HighLatency.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add clarifying comment to assessment preview workflow
  .github/workflows/pr-preview-assessments.yml
Due: none

comment on deploy-assessment timeout
  .github/workflows/deploy-assessment.yml
Due: none

remove deployment details from this PR
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  .github/workflows/pr-preview-assessments.yml
  .npmignore
  apps/assessments/roar-pa/package.json
Due: none

implement build and deployment migration
  .github/workflows/deploy-platform-staging.yml
  monorepo-example.md
  package-lock.json
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

revert actions and workflow files
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

formatting
  apps/assessments/roar-pa/package.json
Due: none

implement feedback
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/assessments.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playARF.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playCALF.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playCVA.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playLetter.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playMorphology.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playOptionalGames.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playPA.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSRE.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSWR.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playSyntax.cy.js
  apps/dashboard/cypress/e2e/participant/default-tests/assessments/playVocab.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playARF-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playARF-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playCALF-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roam-fluency/playCALF-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-letter/playLetter-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-letter/playLetter-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-morphology/playMorphology-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-pa/playPA-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-sre/playSRE-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-2G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-swr/playSWR-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-syntax/playSyntax-HighLatency.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-vocab/playVocab-3G.cy.js
  apps/dashboard/cypress/e2e/participant/network-tests/roar-vocab/playVocab-HighLatency.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/index.js
Due: npx dotenvx ext precommit

handle cors locally
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/app.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

create anonymous users in standalone mode
  apps/assessments/roar-pa/serve/serve.js
Due: none

remove markdown files
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

use first publishe variant by default if not provided in url string
  apps/assessments/roar-pa/serve/serve.js
Due: none

refresh package-lock.json
  package-lock.json
Due: none

address lint errors
  apps/assessments/roar-pa/src/index.js
  turbo.json
Due: none

add lint dependency in roar-pa
  apps/assessments/roar-pa/src/index.js
  tickets/1818-assessment-versioning-strategy.md
  tickets/assessment-deployment-ci-cd.md
Due: none

add root level .prettierignore
  .prettierignore
Due: none

restore package-level .prettierignore files
  apps/backend/.prettierignore
Due: none

implement various feedback fixes
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

implement minor nits
  apps/assessments/roar-pa/serve/serve.js
Due: none

implement test suite for anonmyous user flow
  package-lock.json
Due: none

Scope ROAR_API_URL turbo cache key to roar-pa only
  turbo.json
Due: none

implement feedback
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/backend/src/app.ts
  apps/backend/src/middleware/anon-token/anon-token.middleware.ts
  packages/assessment-sdk/package.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

update .gitignore
  tickets/1818-assessment-versioning-strategy.md
  tickets/assessment-deployment-ci-cd.md
Due: none

implement build and deployment migration
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

remove require and default exports, remove unused constant
  packages/assessment-sdk/package.json
Due: none

use correct task id in serve.js
  apps/assessments/roar-pa/serve/serve.js
Due: none

clean up monorepo
  .github/actions/deploy/action.yml
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/sentry.js
Due: none

Create shared sentry config with getClient() call
  apps/assessments/roar-pa/src/sentry.js
  apps/assessments/shared/sentry.js
Due: none

add concurrently
  package.json
Due: none

implement firekit compat
  apps/assessments/roar-pa/package.json
Due: none

setup seed script
  apps/backend/package.json
  docker-compose.yml
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove redundant alias
  apps/dashboard/vite.config.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add default export back
  packages/assessment-sdk/package.json
Due: none

remove deployment details from this PR
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/package.json
Due: none

implement security improvements across workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-assessment.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
Due: none

Move roar-pa source files from monorepo root to apps/assessments/roar-pa/
  apps/assessments/roar-pa/src/sentry.js
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
