Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

finish file migration
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

lint 'n format
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/rollup.config.mjs
Due: none

implement build and deployment migration
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/firebase.json
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
Due: npx dotenvx ext precommit

create researcher local db in docker-compose
  docker-compose.yml
  scripts/init-researcher-db.sh
Due: none

re-use local fdw setup when migrating researcher db
  docker-compose.yml
Due: none

split db creation and migration into separate steps
  apps/backend/rollup.config.mjs
  apps/backend/scripts/seed-pa.ts
  apps/dashboard/vite.config.js
  docker-compose.yml
  migrate.Dockerfile
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fix build errors
  package-lock.json
Due: none

implement firebase emulator in researcher environment
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebase.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/rollup.config.mjs
  apps/backend/src/clients/firebase-core.client.ts
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

consolidate dependencies
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

Add firebase-tools to roar-pa devDependencies
  apps/assessments/roar-pa/package.json
Due: none

Fix sample queries: add app. schema prefix and use FDW for cross-DB joins
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

lint 'n format
  apps/assessments/roar-pa/turbo.json
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Check for docker compose and java before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

implement feedback
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebaseConfig.js
  apps/backend/scripts/seed-pa.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/dashboard/.env.example
  apps/dashboard/vite.config.js
  migrate.Dockerfile
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/variants.ts
  packages/assessment-schema/src/researcher-environment.ts
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Warn that researcher-environment:down deletes data; clarify Ctrl+C preserves it
  apps/assessments/RESEARCHER_ENVIRONMENT.md
  scripts/researcher-env-down.sh
Due: none

formatting
  apps/assessments/roar-pa/firebase.json
  package-lock.json
Due: none

Use webpack-dev-server proxy for backend requests instead of CORS
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit

Add researcher environment getting started guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

implement claude feedback
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/scripts/seed-pa.ts
  docker-compose.yml
  migrate.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove optimization-js
  package.json
Due: none

move optimization-js to dev dependencies
  package.json
Due: none

minor nits
  scripts/init-researcher-db.sh
  scripts/researcher-env-up.sh
Due: none

remove markdown files
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add 60 s timout to firebase emulator startup in dev-platform.sh
  apps/assessments/roar-pa/package.json
  scripts/dev-platform.sh
Due: none

rename constants and other small tweaks
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/src/clients/firebase-core.client.ts
  packages/assessment-schema/src/firebase-emulator.ts
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/researcher-environment.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Pass FIREBASE_AUTH_EMULATOR_HOST to webpack dev server in researcher env
  scripts/researcher-env-up.sh
Due: none

rename researcher environment to assessment environment
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/firebaseConfig.js
  apps/backend/seeds/pa.seed.ts
  assessment.Dockerfile
  docker-compose.assessment.yml
  scripts/assessment-env-up.sh
  scripts/init-assessment-db.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Clarify guide is PA-specific; note each assessment has its own researcher env script and port
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

use script to wait for backend health check
  scripts/researcher-env-up.sh
  scripts/wait-for-port.sh
Due: none

implement claude feedback
  apps/assessments/roar-pa/package.json
  package-lock.json
  scripts/dev-platform.sh
  scripts/researcher-env-up.sh
Due: none

Note port 5432 requirement in researcher environment guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

create /seeds directory
  apps/backend/package.json
  apps/backend/seeds/pa.seed.ts
  researcher.Dockerfile
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

refactor researcaher env into its own container
  apps/assessments/RESEARCHER_ENVIRONMENT.md
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/firebase.json
  docker-compose.researcher.yml
  docker-compose.yml
  migrate.Dockerfile
  researcher.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
  scripts/wait-for-port.sh
Due: none

remove deployment details from this PR
  .github/workflows/deploy-assessment.yml
Due: none

Explicitly cd into roar-pa for arm 3 of researcher-env-up.sh
  scripts/researcher-env-up.sh
Due: none

Check port 5432 is free before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

restore missing resolved fields in package-lock.json
  package-lock.json
Due: none

Clarifying comment on migrate.Dockerfile
  migrate.Dockerfile
Due: none

add comment to docker-compose.researcher.yml regarding demo firebase project
  docker-compose.researcher.yml
Due: none
