Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating tests
  apps/backend/src/controllers/runs.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

adding error 500 and updating tests
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

updating controller
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

build task controller tests
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
  apps/backend/src/test-support/repositories/task.repository.ts
  apps/backend/vitest.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove global logger mock
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/mocks/logger.mock.ts
  apps/backend/vitest.setup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

updating schema controller and tests
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

update service try/catch
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

`enh` Unit Test Scaffolding (#1580)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/test-support/repositories/base.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
  apps/backend/src/test-support/repositories/task.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `POST /v1/tasks/:taskId/variants` endpoint (#1560)
  apps/backend/src/controllers/tasks.controller.test.ts
  apps/backend/src/controllers/tasks.controller.ts
  apps/backend/src/enums/api-error-message.enum.ts
  apps/backend/src/enums/postgres-error-code.enum.ts
  apps/backend/src/enums/task-variant-status.enum.test.ts
  apps/backend/src/errors/drizzle-error.ts
  apps/backend/src/errors/index.ts
  apps/backend/src/errors/postgres-error.ts
  apps/backend/src/repositories/base.repository.integration.test.ts
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/repositories/task-variant-parameter.repository.integration.test.ts
  apps/backend/src/repositories/task-variant-parameter.repository.ts
  apps/backend/src/repositories/task-variant.repository.integration.test.ts
  apps/backend/src/repositories/task-variant.repository.ts
  apps/backend/src/repositories/task.repository.integration.test.ts
  apps/backend/src/repositories/task.repository.ts
  apps/backend/src/repositories/user.repository.integration.test.ts
  apps/backend/src/routes/index.ts
  apps/backend/src/routes/task.ts
  apps/backend/src/services/task/task.service.integration.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/test-support/factories/task-variant-parameter.factory.ts
  apps/backend/src/test-support/repositories/base.repository.ts
  apps/backend/src/test-support/repositories/index.ts
  apps/backend/src/test-support/repositories/task-variant-parameter.repository.ts
  apps/backend/src/test-support/repositories/task-variant.repository.ts
  apps/backend/src/test-support/repositories/task.repository.ts
  apps/backend/vitest.config.ts
  package-lock.json
  packages/api-contract/src/v1/common/parse-jsonb.ts
  packages/api-contract/src/v1/common/regex.ts
  packages/api-contract/src/v1/index.ts
  packages/api-contract/src/v1/tasks/contract.ts
  packages/api-contract/src/v1/tasks/index.ts
  packages/api-contract/src/v1/tasks/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

solving merging conflicts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

correcting test
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Default task-variants sort order to ascending
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add GET /v1/administrations/:id/task-variants endpoint
  apps/backend/src/controllers/administrations.controller.test.ts
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/routes/administrations.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Add resource-specific permissions for sub-resource endpoints
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-permissions.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Filter task-variants to only return published status
  apps/backend/src/repositories/administration.repository.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Include task and conditions in task-variants response
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor task-variants to return raw data from repository
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/administration/administration.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add eligibility filtering for students on task-variants endpoint
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/services/task/task.types.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Clean up eligibility filtering implementation
  apps/backend/src/controllers/administrations.controller.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/task/task.service.ts
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor eligibility filtering tests to use base fixture
  apps/backend/src/services/administration/administration.service.integration.test.ts
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix grade normalization to match reference implementation
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix grade mapping to match reference implementation
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix task-variants endpoint description
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Centralize task variant eligibility evaluation in TaskService
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Simplify TaskService to only export evaluateTaskVariantEligibility
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Extract getGradeAsNumber to reusable util
  apps/backend/src/services/task/task.service.ts
  apps/backend/src/utils/get-grade-as-number.util.test.ts
  apps/backend/src/utils/get-grade-as-number.util.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add unit tests for listTaskVariants controller method
  apps/backend/src/controllers/administrations.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Use string grade values in test fixture conditions for consistency
  apps/backend/src/test-support/fixtures/base.fixture.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Default handleSubResourceResponse mapItem to toIdName
  apps/backend/src/controllers/administrations.controller.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add role-aware task variant status filtering
  apps/backend/src/repositories/administration.repository.integration.test.ts
  apps/backend/src/repositories/administration.repository.ts
  apps/backend/src/services/administration/administration.service.test.ts
  apps/backend/src/services/administration/administration.service.ts
  packages/api-contract/src/v1/administrations/contract.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Enforce mutual exclusivity in task variant conditions schema
  packages/api-contract/src/v1/administrations/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Remove redundant grade conversion in mapUserToConditionData
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add type-safe Condition schema for task variant conditions
  apps/backend/src/controllers/administrations.controller.ts
  packages/api-contract/src/v1/administrations/schema.ts
  packages/api-contract/src/v1/common/condition.ts
  packages/api-contract/src/v1/common/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

create aoperations returning id
  apps/backend/src/repositories/base.repository.ts
  apps/backend/src/repositories/interfaces/base.repository.interface.ts
  apps/backend/src/services/task/task.service.test.ts
  apps/backend/src/services/task/task.service.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

fixing lint
  apps/backend/src/controllers/tasks.controller.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

use parseJson on schema
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Refactor PA skills-to-work-on logic to use percentCorrect when available (#1573)
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/__snapshots__/LongitudinalChart.test.js.snap
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/ScoreCard.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
  apps/dashboard/src/translations/en/us/en-us-individualScoreReport.json
  apps/dashboard/src/translations/es/co/es-co-individualScoreReport.json
  apps/dashboard/src/translations/es/es-individualScoreReport.json
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Remove the Administrators.READ permission. It is unused
  apps/backend/src/constants/permissions.ts
  apps/backend/src/constants/role-permissions.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

add integration tests back
  apps/backend/src/services/district/district.service.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add `POST /v1/runs/runId/event` endpoint `type:"engagement"` (#1557)
  apps/backend/src/controllers/runs.controller.test.ts
  apps/backend/src/controllers/runs.controller.ts
  apps/backend/src/services/run/run-events.service.test.ts
  apps/backend/src/services/run/run-events.service.ts
  packages/api-contract/src/v1/runs/schema.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
