Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Delete unused logger files from assessments
  apps/assessments/roar-letter/src/experiment/config/logger.js
  apps/assessments/roar-multichoice/src/experiment/config/logger.js
  apps/assessments/roar-pa/src/experiment/config/logger.js
  apps/assessments/roar-readaloud/src/experiment/config/logger.js
  apps/assessments/roar-sre/src/experiment/config/logger.js
  apps/assessments/roar-swr/src/experiment/config/logger.js
Due: none

`ref` Dashboard, Deployment, and Versioning for `roav-ran` in Monorepo (#2013)
  .github/actions/detect-assessment-changes/action.yml
  .github/workflows/deploy-assessments-production.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  .release-please.json
  apps/assessments/ASSESSMENT_ENVIRONMENT.md
  apps/assessments/roar-survey/.nvmrc
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/vite.config.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding tooltips for spanish
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Uninstall roarr from assessments
  apps/assessments/roam-apps/package.json
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
  package-lock.json
Due: none

updating tooltip
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

adding tooltip for Frase on the Datatable
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Provide task scoring versions to RoarDataTable component
  apps/dashboard/src/containers/ProgressReport/ProgressReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating version of roar-utils for correct getAgeData (#2015)
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  package-lock.json
Due: none

mirroing lastest changes on multichoice
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update roar-letter to mirror legacy
  apps/assessments/roar-letter/package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

use updateEngagementFlags
  apps/assessments/roar-multichoice/src/experiment/experiment.js
Due: none

running format
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
Due: none

Show key and dropdown info for newly normed tasks
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.test.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/ScoreCard/LongitudinalChart/LongitudinalChart.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.js
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreList/useScoreListData.test.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/services/ScoreReport.service.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update package-lock.json
  package-lock.json
Due: none

update roar-letter to mirror legacy (#2019)
  apps/assessments/roar-letter/package.json
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update CODEOwners and roav-ran package.json hosting targets
  .github/CODEOWNERS
  apps/assessments/roav-ran/package.json
Due: none

Implement client-side foundational composite support level calculation
  apps/dashboard/src/components/reports/ScoreDistributionOverview.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/helpers/reports.test.js
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

changing config.firekit.run.started to config.runStarted
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/experiment.js
Due: none

chore: Mirroing latest changes on multichoice (#2018)
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-multichoice/src/experiment/config/config.js
  apps/assessments/roar-multichoice/src/experiment/experiment.js
  apps/assessments/roar-multichoice/src/experiment/experimentSetup.js
  apps/assessments/roar-multichoice/src/experiment/trials/stimulus.js
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

lint
  apps/dashboard/src/pages/ScoreReport.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Align seed configs with original seed scripts
  apps/backend/package.json
  apps/backend/seeds/configs/roar-letter.config.ts
  apps/backend/seeds/configs/roar-levante-tasks.config.ts
  apps/backend/seeds/configs/roar-multichoice.config.ts
  apps/backend/seeds/configs/roar-sre.config.ts
  apps/backend/seeds/configs/roar-swr.config.ts
  apps/backend/seeds/index.ts
  apps/backend/seeds/task-seed-configs.ts
  apps/backend/seeds/task-seed.ts
  apps/backend/src/app.test.ts
  apps/backend/src/test-support/factories/user-class.factory.ts
  apps/backend/src/test-support/factories/user-group.factory.ts
  apps/backend/src/test-support/factories/user-org.factory.ts
  docker-compose.assessment.yml
  package.json
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

adding tooltips for comp
  apps/dashboard/src/components/RoarDataTable/RoarDataTable.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Run npm run lint:fix
  apps/assessments/roam-apps/cypress.config.js
  apps/assessments/roam-apps/src/index.js
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/timeline.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/getBonus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNClick.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNDrag.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoice.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoiceImage.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/numberLine.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/selectDuck.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/textboxResponse.js
  apps/assessments/roam-apps/src/tasks/fluency/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/fluency/timeline.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/surveyResponseModality.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialAFC.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialDefinitions.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialSwipe.js
  apps/assessments/roam-apps/src/tasks/magpi/timeline.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTimeline.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTrialSaving.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/parseHelpers.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/shuffleArray.js
  apps/assessments/roam-apps/webpack.config.cjs
Due: none

Manual lint fix 1
  apps/assessments/roam-apps/src/tasks/fluency/helpers/luresCalf.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/gameBreak.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardInstructions.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeMobile.js
Due: none

Manual lint fix 2
  apps/assessments/roam-apps/serve/serve.js
  apps/assessments/roam-apps/src/index.js
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNClick.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNDrag.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/gradeEstimateHelpers.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionDesktop.js
Due: none

Undo deleting downloadCSV in fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
Due: none

updating half of the apps
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

updating roar-utils in the other half of the apps
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Manual lint fix 3
  apps/assessments/roam-apps/src/tasks/core-math/helpers/updateCountDown.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/breakScreen.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionDesktop.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/fractionInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/keyboardInstructionMobile.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/selectDuck.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/runCorpusTimeline.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionMobile.js
Due: none

Manual lint fix 4
  apps/assessments/roam-apps/src/tasks/core-math/trials/textboxResponse.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/trialHelpers.js
  apps/assessments/roam-apps/src/tasks/fluency/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/fluency/helpers/initStore.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/keyboardPracticeMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialAFC.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialDefinitions.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionMobile.js
  apps/assessments/roam-apps/src/tasks/magpi/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/magpi/timeline.js
Due: none

Manual lint fix 5
  apps/assessments/roam-apps/src/tasks/shared/helpers/createPreloadTrials.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/downloadCSV.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/getMediaAssets.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTimeline.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/parseHelpers.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/scores.js
  apps/assessments/roam-apps/src/tasks/taskSetup.js
Due: none

Manual lint fix 6
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineInstruction.js
  apps/assessments/roam-apps/src/tasks/magpi/trials/numberLineSlider.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/timeline.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/trials/instructions.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/trials/responseTimeBlock.js
  apps/assessments/roam-apps/src/tasks/responseModalityStudy/trials/trialDefinitions.js
Due: none

Install papaparse as dependency instead of relying on a different dependency. Firekit is temporary and will be removed in the next PR
  apps/assessments/roam-apps/package.json
  package-lock.json
Due: none

setup npm publishing pipeline
  .github/RELEASING.md
  .github/workflows/release.yml
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-levante-tasks/package.json
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-readaloud/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-survey/package.json
  apps/assessments/roar-swr/package.json
  apps/assessments/roav-apps/package.json
  apps/assessments/roav-ran/package.json
  package-lock.json
  packages/api-contract/package.json
  packages/assessment-schema/package.json
  packages/assessment-sdk/package.json
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

Npm run format
  apps/assessments/roam-apps/cypress.config.js
  apps/assessments/roam-apps/src/index.js
  apps/assessments/roam-apps/src/tasks/core-math/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/core-math/timeline.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/getBonus.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNClick.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/giveNDrag.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoice.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/multiChoiceImage.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/numberLine.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/selectDuck.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/textboxResponse.js
  apps/assessments/roam-apps/src/tasks/core-math/trials/trialHelpers.js
  apps/assessments/roam-apps/src/tasks/fluency/helpers/fetchAndParseCorpus.js
  apps/assessments/roam-apps/src/tasks/fluency/timeline.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/surveyResponseModality.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialAFC.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialDefinitions.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionDesktop.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialProductionMobile.js
  apps/assessments/roam-apps/src/tasks/fluency/trials/trialSwipe.js
  apps/assessments/roam-apps/src/tasks/magpi/timeline.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTimeline.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/initTrialSaving.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/parseHelpers.js
  apps/assessments/roam-apps/src/tasks/shared/helpers/shuffleArray.js
  apps/assessments/roam-apps/webpack.config.cjs
Due: none

Delete ROAM license
  apps/assessments/roam-apps/LICENSE
Due: none

Update firebase.json to align with other assessment firebase.json files
  apps/assessments/roam-apps/firebase.json
Due: none

updating getRawScoreRange
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

move scoring-tables to dev dependencies, implement workflow_run release path
  .github/RELEASING.md
  .github/workflows/release.yml
  apps/assessments/roar-letter/package.json
  apps/assessments/roar-letter/rollup.lib.config.mjs
  apps/assessments/roar-multichoice/package.json
  apps/assessments/roar-pa/package.json
  apps/assessments/roar-sre/package.json
  apps/assessments/roar-swr/package.json
  package-lock.json
  packages/scoring-tables/package.json
Due: none

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
