Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

add test for sdk context passing, sdk contect check for levante apps
  apps/assessments/roar-levante-tasks/src/index.ts
  apps/assessments/roar-pa/src/index.test.js
Due: none

fix(dashboard): apply the auth readiness boot state to the store only once
  apps/dashboard/src/router/index.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): gate the first navigation on auth readiness
  apps/dashboard/src/App.test.js
  apps/dashboard/src/App.vue
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.js
  apps/dashboard/src/composables/useSSOAccountReadinessVerification.test.js
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/constants/logMessages.js
  apps/dashboard/src/router/authReadyGate.test.js
  apps/dashboard/src/router/index.js
  apps/dashboard/src/router/index.test.js
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/services/AuthService.test.js
  apps/dashboard/src/store/auth.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): keep auth readiness from rejecting on a token failure
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/services/AuthService.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): resolve the access token as part of auth readiness
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/services/AuthService.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): key the bootstrap spinner on the redirect result
  apps/dashboard/src/services/AuthService.js
  apps/dashboard/src/services/AuthService.test.js
  apps/dashboard/src/store/auth.js
  apps/dashboard/src/store/auth.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): gate on the store readiness action so the token write is ordered
  apps/dashboard/src/router/authReadyGate.test.js
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): create the AuthService before the router installs
  apps/dashboard/src/App.test.js
  apps/dashboard/src/App.vue
  apps/dashboard/src/setup.js
  apps/dashboard/src/setup.test.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): point .env.example API base URL at https
  apps/dashboard/.env.example
Due: npx dotenvx ext precommit

refactor: self registration architecture (#2194)
  apps/dashboard/src/components/Form/CheckboxInput/CheckBoxInput.test.js
  apps/dashboard/src/components/Form/CheckboxInput/CheckboxInput.vue
  apps/dashboard/src/components/Form/CheckboxInputLegacy/CheckboxInputLegacy.cy.js
  apps/dashboard/src/components/Form/CheckboxInputLegacy/CheckboxInputLegacy.test.js
  apps/dashboard/src/components/Form/CheckboxInputLegacy/CheckboxInputLegacy.vue
  apps/dashboard/src/components/Form/CheckboxInputLegacy/index.js
  apps/dashboard/src/components/Form/PasswordInput/PasswordInput.test.js
  apps/dashboard/src/components/Form/PasswordInput/PasswordInput.vue
  apps/dashboard/src/components/Form/PasswordInput/index.js
  apps/dashboard/src/components/Form/TextInput/TextInput.test.js
  apps/dashboard/src/components/Form/TextInputLegacy/TextInputLegacy.cy.js
  apps/dashboard/src/components/Form/TextInputLegacy/TextInputLegacy.test.js
  apps/dashboard/src/components/Form/TextInputLegacy/TextInputLegacy.vue
  apps/dashboard/src/components/Form/TextInputLegacy/index.js
  apps/dashboard/src/components/Form/form-controls.scss
  apps/dashboard/src/components/TaskParametersConfigurator/TaskParametersConfiguratorRow.vue
  apps/dashboard/src/components/tasks/components/CreateVariantForm.test.js
  apps/dashboard/src/components/tasks/components/CreateVariantForm.vue
  apps/dashboard/src/components/tasks/components/UpdateVariantForm.vue
  apps/dashboard/src/constants/auth.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.js
  apps/dashboard/src/containers/FamilyRegistration/composables/useFamilyRegistration.test.js
  apps/dashboard/src/containers/ManageTasks/components/CreateTaskForm.vue
  apps/dashboard/src/containers/ManageTasks/components/UpdateTaskForm.vue
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.test.js
  apps/dashboard/src/containers/SelfRegistration/SelfRegistration.vue
  apps/dashboard/src/containers/SelfRegistration/components/AccountOwnerForm.vue
  apps/dashboard/src/containers/SelfRegistration/components/index.js
  apps/dashboard/src/containers/SelfRegistration/composables/useAccountOwnerForm.js
  apps/dashboard/src/containers/SelfRegistration/composables/useAccountOwnerForm.test.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.js
  apps/dashboard/src/containers/SelfRegistration/composables/useResearchConsent.test.js
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.js
  apps/dashboard/src/containers/SelfRegistration/composables/useSelfRegistration.test.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/PasswordInput.test.js
  apps/dashboard/src/containers/SignIn/components/authentication-step/PasswordInput/PasswordInput.vue
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/IdentifierInput.test.js
  apps/dashboard/src/containers/SignIn/components/identifier-step/IdentifierInput/IdentifierInput.vue
  apps/dashboard/src/pages/RegisterFamilyUsers.vue
  apps/dashboard/src/router/index.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

add test for roar-levante-tasks logger
  apps/assessments/roar-levante-tasks/src/index.test.ts
Due: none

excluding roav-rc form score report
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

update test coverage and use safe language in survey response
  apps/assessments/roar-survey/src/components/SurveyRunner.test.js
  apps/assessments/roar-survey/src/components/SurveyRunner.vue
Due: none

align roar-swr vitest with rest of monorepo assessments (#2241)
  apps/assessments/roar-swr/package.json
  package-lock.json
Due: none

Fix lint issue
  apps/backend/src/repositories/report.repository.integration.test.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

enh(dashboard): roav-crowding (#2235)
  apps/dashboard/firebase/admin/csp.template.json
  apps/dashboard/package.json
  apps/dashboard/src/constants/routes.js
  apps/dashboard/src/containers/Navigation/Navigation.vue
  apps/dashboard/src/helpers/reports.js
  apps/dashboard/src/router/index.js
  package-lock.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

shared prettier config
  apps/assessments/shared/.prettierignore
  apps/assessments/shared/package.json
  apps/assessments/shared/prettier.config.mjs
  apps/assessments/shared/roarDbMode.test.js
  apps/assessments/shared/sentry.js
  package-lock.json
Due: none

shared prettier config (#2248)
  apps/assessments/shared/.prettierignore
  apps/assessments/shared/package.json
  apps/assessments/shared/prettier.config.mjs
  apps/assessments/shared/roarDbMode.test.js
  apps/assessments/shared/sentry.js
  package-lock.json
Due: none

refactor assessment-sdk to use host supplied upload function
  .ai/assessment-migration.md
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/shared/devWebpackConfig.cjs
  apps/assessments/shared/firebaseConfig.js
  apps/assessments/shared/package.json
  apps/assessments/shared/recordingUploader.js
  apps/assessments/shared/recordingUploader.test.js
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  package-lock.json
  packages/assessment-schema/README.md
  packages/assessment-sdk/package.json
  packages/assessment-sdk/src/command/command.ts
  packages/assessment-sdk/src/commands/upload-file.command.test.ts
  packages/assessment-sdk/src/commands/upload-file.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
  packages/assessment-sdk/src/index.ts
  packages/assessment-sdk/src/types/upload-file.ts
  turbo.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Dashboard package 3.30.3
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

3.30.3
  package-lock.json
  package.json
Due: none

implement claude feedback
  .ai/rules/sdk-layer-architecture.md
  apps/assessments/roar-readaloud/src/experiment/views/videoCapture.js
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  packages/assessment-sdk/src/commands/upload-file.command.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove dob parsing in RAN/Readloud (deferred), update test files and comments
  apps/assessments/roar-readaloud/serve/serve.js
  apps/assessments/roav-ran/serve/serve.js
  apps/assessments/shared/recordingUploader.js
  apps/assessments/shared/recordingUploader.test.js
  apps/dashboard/src/components/tasks/TaskRan.vue
  apps/dashboard/src/components/tasks/TaskReadAloud.vue
  packages/assessment-schema/README.md
  packages/assessment-sdk/src/commands/upload-file.command.ts
  packages/assessment-sdk/src/compat/firekit.test.ts
  packages/assessment-sdk/src/compat/firekit.ts
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(dashboard): skip video.js init if VideoPlayer unmounts while loading
  apps/dashboard/src/components/VideoPlayer.test.js
  apps/dashboard/src/components/VideoPlayer.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
