Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

fix: fix class query (#580)
  src/composables/mutations/useUpsertOrgMutation.ts
Due: none

Change working-directory for deploy-firestore-config action
  .github/actions/deploy-firestore-config/action.yml
Due: none

Add test workflow
  .github/workflows/dev-deploy-firestore-config.yml
Due: none

Add debug steps
  .github/actions/build/action.yml
  .github/actions/deploy-firestore-config/action.yml
Due: none

Fix build and deploy path
  .github/actions/build/action.yml
  .github/actions/deploy-firestore-config/action.yml
  .github/workflows/dev-deploy-firestore-config.yml
Due: none

Fixing user type detection (#1321)
  apps/dashboard/src/composables/useUserType.js
  apps/dashboard/src/composables/useUserType.test.js
  package-lock.json
  package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Run npm i and edit package-lock.json
  package-lock.json
Due: none

Exclude survey from scored tasks
  apps/dashboard/src/helpers/reports.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add base auth middleware
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/clients/firebase-auth.clients.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/middleware/auth-guard/jwt-extractor.ts
  apps/backend/src/routes/users.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/types/express.d.ts
  apps/backend/turbo.json
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add error codes and fix error guard
  apps/backend/src/app.ts
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Differentiate between expired and invalid tokens
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/constants/api-error-codes.ts
  apps/backend/src/constants/firebase-error-codes.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.ts
  apps/backend/src/utils/get-firebase-error-code.util.ts
  package-lock.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add vitest
  apps/backend/package.json
  apps/backend/vitest.config.js
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add client tests
  apps/backend/package.json
  apps/backend/src/clients/firebase-auth.clients.test.ts
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/vitest.config.ts
  apps/backend/vitest.setup.ts
  packages/config-typescript/backend.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add auth-guard middleware tests
  apps/backend/package.json
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/middleware/auth-guard/jwt-extractor.test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add auth tests and replace manual mocks with factories
  apps/backend/package.json
  apps/backend/src/clients/firebase-core.client.test.ts
  apps/backend/src/middleware/auth-guard/auth-guard.middleware.test.ts
  apps/backend/src/services/auth/auth.service.test.ts
  apps/backend/src/services/auth/auth.service.ts
  apps/backend/src/services/auth/auth.types.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.test.ts
  apps/backend/src/services/auth/providers/firebase-auth.provider.ts
  apps/backend/src/test-support/factories/auth.factory.ts
  apps/backend/src/utils/get-firebase-error-code.util.test.ts
  package-lock.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Longitudinal Reports (#1331)
  apps/dashboard/src/components/reports/LongitudinalChart.vue
  apps/dashboard/src/composables/queries/useUserLongitudinalRunsQuery.js
  apps/dashboard/src/constants/queryKeys.js
  apps/dashboard/src/containers/StudentScoreReport/StudentScoreReport.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCard.vue
  apps/dashboard/src/containers/StudentScoreReport/components/ScoreCardsListSection.vue
  apps/dashboard/src/helpers/query/runs.js
  apps/dashboard/src/services/ScoreReport.service.js
  apps/dashboard/src/translations/en/en-individualScoreReport.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Update paths
  .github/actions/build/action.yml
Due: none

Apply changes and remove dev workflow
  .github/actions/build/action.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/dev-deploy-firestore-config.yml
Due: none

add longitudinalchart test
  apps/dashboard/cypress/e2e/partner-admin/default-tests/longitudinalChart.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

move ids to cypress config
  apps/dashboard/cypress.config.cjs
  apps/dashboard/cypress/e2e/partner-admin/default-tests/longitudinalChart.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

fix(): Removing the circular objects and sending explicit arguments (#584)
  src/router/index.ts
Due: none

Update outdated navbar component (#583)
  src/components/GroupPicker.vue
  src/components/NavBar.vue
  src/pages/ManageTasksVariants.vue
  src/pages/groups/ListGroups.vue
  src/pages/tests/ListGroups.test.js
Due: none

update env variable names
  apps/dashboard/cypress.config.cjs
  apps/dashboard/cypress/e2e/partner-admin/default-tests/longitudinalChart.cy.js
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump pa
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Bump sre
  apps/dashboard/package.json
  package-lock.json
Due: prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add users_classes table
  apps/backend/migrations/core/0015_add_users_classes_table.sql
  apps/backend/migrations/core/meta/0015_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users-classes.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Remove demo migrations
  apps/backend/migrations/app/0000_cheerful_logan.sql
  apps/backend/migrations/app/meta/0000_snapshot.json
  apps/backend/migrations/app/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add users_orgs table
  apps/backend/migrations/core/0007_add_users_orgs_table.sql
  apps/backend/migrations/core/meta/0007_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/relations.ts
  apps/backend/src/db/schema/core/users-orgs.ts
  apps/backend/src/db/schema/core/users.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add set_updated_at fn
  apps/backend/migrations/core/0001_add_set_updated_at_fn.sql
  apps/backend/migrations/core/meta/0001_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Include dashboard as rostering provider
  apps/backend/migrations/core/0006_include_dashboard_as_rostering_provider.sql
  apps/backend/migrations/core/meta/0006_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/enums.ts
  apps/backend/src/enums/rostering-provider.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add classes table
  apps/backend/migrations/core/0013_add_classes_table.sql
  apps/backend/migrations/core/meta/0013_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/classes.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix name indexes to user lower()
  apps/backend/migrations/core/0011_fix_courses_groups_orgs_name_indexes.sql
  apps/backend/migrations/core/meta/0011_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/orgs.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add missing triggers
  apps/backend/migrations/core/0009_add_users_groups_table.sql
  apps/backend/migrations/core/0010_add_courses_table.sql
Due: none

Add get_school_level_from_grade fn
  apps/backend/migrations/core/0004_add_get_school_level_from_grade_fn.sql
  apps/backend/migrations/core/meta/0004_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add groups table
  apps/backend/migrations/core/0008_add_groups_table.sql
  apps/backend/migrations/core/meta/0008_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/groups.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add rostering_provider_ids table
  apps/backend/migrations/core/0016_add_rostering_provider_ids_table.sql
  apps/backend/migrations/core/meta/0016_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/index.ts
  apps/backend/src/db/schema/core/rostering-provider-ids.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add base migration, incl. extensions and roles
  apps/backend/migrations/core/0000_set_base_config.sql
  apps/backend/migrations/core/meta/0000_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add enums
  apps/backend/src/enums/agreement-type.enum.ts
  apps/backend/src/enums/assignment-progress.enum.ts
  apps/backend/src/enums/auth-provider.enum.ts
  apps/backend/src/enums/class-type.enum.ts
  apps/backend/src/enums/frl-status.enum.ts
  apps/backend/src/enums/grade.enum.ts
  apps/backend/src/enums/group-type.enum.ts
  apps/backend/src/enums/org-type.enum.ts
  apps/backend/src/enums/rostering-entity-type.enum.ts
  apps/backend/src/enums/rostering-provider.enum.ts
  apps/backend/src/enums/school-level.enum.ts
  apps/backend/src/enums/trial-interaction-type.enum.ts
  apps/backend/src/enums/user-family-role.enum.ts
  apps/backend/src/enums/user-role.enum.ts
  apps/backend/src/enums/user-type.enum.ts
  apps/backend/src/enums/variant-status.enum.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix schema and migrations path
  apps/backend/drizzle.core.config.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Add courses table
  apps/backend/migrations/core/0010_add_courses_table.sql
  apps/backend/migrations/core/meta/0010_snapshot.json
  apps/backend/migrations/core/meta/_journal.json
  apps/backend/src/db/schema/core/courses.ts
  apps/backend/src/db/schema/core/index.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Path conditions:
  npx dotenvx ext precommit: any of: **/.env*
  eslint --config apps/dashboard/eslint.config.mjs --fix: any of: **/dashboard/**/*.{js,vue}
  prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn: any of: apps/dashboard/**/*.{js,ts,vue,json,css,md}
  eslint --config apps/backend/eslint.config.mjs --fix: any of: apps/backend/**/*.{js,ts,json,md}
  prettier --config apps/backend/prettier.config.mjs --write --log-level=warn: any of: apps/backend/**/*.{js,ts,json,md}
  eslint --config packages/api-contract/eslint.config.mjs --fix: any of: packages/api-contract/**/*.{js,ts,json,md}
  prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn: any of: packages/api-contract/**/*.{js,ts,json,md}
