Repository yeatmanlab/roar-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn, eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

.lintstagedrc:

{
  "**/.env*": ["npx dotenvx ext precommit"],
  "**/dashboard/**/*.{js,vue}": [
    "eslint --config apps/dashboard/eslint.config.mjs --fix"
  ],
  "apps/dashboard/**/*.{js,ts,vue,json,css,md}": [
    "prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn"
  ],
  "apps/backend/**/*.{js,ts,json,md}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --config apps/backend/prettier.config.mjs --write --log-level=warn"
  ],
  "packages/api-contract/**/*.{js,ts,json,md}": [
    "eslint --config packages/api-contract/eslint.config.mjs --fix",
    "prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn"
  ]
}

Warn that researcher-environment:down deletes data; clarify Ctrl+C preserves it
  apps/assessments/RESEARCHER_ENVIRONMENT.md
  scripts/researcher-env-down.sh
Due: none

minor nits
  scripts/init-researcher-db.sh
  scripts/researcher-env-up.sh
Due: none

remove deployment details from this PR
  .github/workflows/deploy-assessment.yml
Due: none

Fix researcher-env-up.sh npm workspace inheritance issue
  apps/assessments/roar-pa/package.json
  scripts/researcher-env-up.sh
Due: none

Check for docker compose and java before starting researcher environment
  scripts/researcher-env-up.sh
Due: none

implement claude feedback
  apps/assessments/roar-pa/package.json
  package-lock.json
  scripts/dev-platform.sh
  scripts/researcher-env-up.sh
Due: none

lint 'n format
  apps/assessments/roar-pa/turbo.json
  apps/backend/src/repositories/utils/fga-filter-ids.utils.ts
  apps/backend/src/services/group/group.service.ts
  apps/backend/turbo.json
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

remove optimization-js
  package.json
Due: none

remove markdown files
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement feedback
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
  apps/assessments/shared/firebaseConfig.js
  apps/backend/scripts/seed-pa.ts
  apps/backend/src/clients/firebase-core.client.ts
  apps/dashboard/.env.example
  apps/dashboard/vite.config.js
  migrate.Dockerfile
  packages/assessment-schema/src/index.ts
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/variants.ts
  packages/assessment-schema/src/researcher-environment.ts
  scripts/researcher-env-up.sh
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

formatting
  apps/assessments/roar-pa/firebase.json
  package-lock.json
Due: none

add 60 s timout to firebase emulator startup in dev-platform.sh
  apps/assessments/roar-pa/package.json
  scripts/dev-platform.sh
Due: none

Formatting
  apps/assessments/roar-pa/src/experiment/config/config.js
Due: none

adding serve parameters
  apps/assessments/roar-pa/serve/serve.js
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/experiment.js
  apps/assessments/roar-pa/src/experiment/scores.js
Due: none

lint 'n format
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
Due: none

Update roar-pa experiment code: scoring version, foundational composite corpus, i18n, helpers
  apps/assessments/roar-pa/src/experiment/config/config.js
  apps/assessments/roar-pa/src/experiment/config/corpus.js
  apps/assessments/roar-pa/src/experiment/config/corpus/en/phoneme_foundational_composite.csv
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  apps/assessments/roar-pa/src/experiment/i18n.js
  apps/assessments/roar-pa/src/experiment/scores.js
  apps/assessments/roar-pa/turbo.json
Due: none

Add CORS and security headers middleware
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/app.ts
  apps/backend/src/middleware/cors/cors.middleware.test.ts
  apps/backend/src/middleware/cors/cors.middleware.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.test.ts
  apps/backend/src/middleware/cors/parse-allowed-origins.ts
  apps/backend/src/middleware/security-headers/security-headers.middleware.test.ts
  apps/backend/src/middleware/security-headers/security-headers.middleware.ts
  package-lock.json
Due: npx dotenvx ext precommit, eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Fix SDK integration test health check URL to use startup probe
  packages/assessment-sdk/vitest.integration.globalSetup.ts
Due: none

Apply code review fixes to health check endpoints
  apps/backend/src/health/health-checks.test.ts
  apps/backend/src/health/health-checks.ts
  apps/backend/src/health/health-routes.test.ts
  apps/backend/src/health/health-routes.ts
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Class autoselect on group creation only works when first navigating to class tab (#940)
  src/components/modals/AddGroupModal.vue
  src/pages/groups/ListGroups.vue
Due: none

Change filter for ROAR tasks/task picker filter language display (#939)
  src/components/TaskPicker.vue
Due: none

moving const values to asseesment-schema
  apps/assessments/roar-pa/src/experiment/config/corpus.js
  apps/assessments/roar-pa/src/experiment/scores.js
  packages/assessment-schema/src/pa/index.ts
  packages/assessment-schema/src/pa/trial-types.ts
Due: none

Extracted to assessment-schema:
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
  packages/assessment-schema/src/pa/trial-types.ts
Due: none

applying format
  apps/assessments/roar-pa/src/experiment/experimentHelpers.js
Due: none

use PA_TASK_ID in place of pa string literal in TaskPA.vue
  apps/dashboard/package.json
  apps/dashboard/src/components/tasks/TaskPA.vue
  packages/assessment-schema/package.json
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

implement build and deployment migration
  monorepo-example.md
  packages/api-contract/src/v1/families/post-families-ticket.md
  versioning-strategy.md
Due: eslint --config packages/api-contract/eslint.config.mjs --fix, prettier --config packages/api-contract/prettier.config.mjs --write --log-level=warn

implement build and deployment migration
  .github/actions/deploy/action.yml
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/firebase.json
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: npx dotenvx ext precommit, eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Move roar-pa source files from monorepo root to apps/assessments/roar-pa/
  apps/assessments/roar-pa/src/sentry.js
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

remove deployment details from this PR
  .github/workflows/deploy-platform-development.yml
  .github/workflows/deploy-platform-production.yml
  .github/workflows/deploy-platform-staging.yml
  apps/assessments/roar-pa/package.json
Due: none

Create shared sentry config with getClient() call
  apps/assessments/roar-pa/src/sentry.js
  apps/assessments/shared/sentry.js
Due: none

implement firekit compat
  apps/assessments/roar-pa/.env.example
  apps/assessments/roar-pa/webpack.config.cjs
Due: npx dotenvx ext precommit

clean up monorepo
  .github/actions/deploy/action.yml
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
  apps/assessments/shared/sentry.js
Due: none

consolidate dependencies
  apps/assessments/roar-pa/eslint.config.mjs
  apps/assessments/roar-pa/package.json
  package-lock.json
Due: none

fix build errors
  package-lock.json
Due: none

finish file migration
  apps/dashboard/src/components/tasks/TaskPA.vue
Due: eslint --config apps/dashboard/eslint.config.mjs --fix, prettier --config apps/dashboard/prettier.config.mjs --write --log-level=warn

Add researcher environment getting started guide
  apps/assessments/RESEARCHER_ENVIRONMENT.md
Due: none

implement claude feedback
  apps/assessments/roar-pa/webpack.config.cjs
  apps/backend/scripts/seed-pa.ts
  docker-compose.yml
  migrate.Dockerfile
  scripts/researcher-env-down.sh
  scripts/researcher-env-up.sh
Due: eslint --config apps/backend/eslint.config.mjs --fix, prettier --config apps/backend/prettier.config.mjs --write --log-level=warn

Clarifying comment on migrate.Dockerfile
  migrate.Dockerfile
Due: none

Add firebase-tools to roar-pa devDependencies
  apps/assessments/roar-pa/package.json
Due: none
